<app-loading *ngIf="loading"></app-loading>

<div class="wrapper wrapper-full-page">
    <div class="page-header lock-page header-filter" style="background-image: url('./assets/img/background_box.png'); background-size: cover; background-position: top center;">
        <!--   you can change the color of the filter page using: data-color="blue | green | orange | red | purple" -->
        <div class="container">
            <form ngNativeValidate #cuentaForm="ngForm" (ngSubmit)="recordarCuenta(cuentaForm)" class="form" method="" action="">
                <div class="row">
                    <div class="col-md-4 ml-auto mr-auto">
                        <div class="card card-profile text-center card-hidden">
                            <div class="card-header ">
                                <div class="card-avatar">
                                    <a href="#pablo">
                                        <img class="img" src="./assets/img/faces/avatar.png">
                                    </a>
                                </div>
                            </div>
                            <div class="card-body ">
                                <h4 class="card-title">Ingrese su dirección de correo</h4>
                                <div class="example-full-width">
                                    <input type="email" class="form-control" placeholder="Correo electrónico" name="correo" #correo="ngModel" [(ngModel)]="cuentaModel.correo" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                                </div>
                            </div>
                            <div class="card-footer justify-content-center">
                                <button type="submit" class="btn btn-rose btn-round">Recordar cuenta</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <footer class="footer ">
        <div class="container">
            <div class="copyright pull-left">
                &copy; {{test | date: 'yyyy'}}, Desarrollado por: <i class="material-icons">directions_car</i> OL Gaviria SCS
            </div>
            <div class="copyright pull-right">
                <i class="material-icons">biotech</i> {{version}}
            </div>
        </div>
    </footer>
</div>