<app-loading *ngIf="loading"></app-loading>

<div class="main-content pt-0">
	<div class="container-fluid">

		<div class="row justify-content-center mb-3">
			<div class="col-md-10">
				<h2 class="font-weight-bolder text-break text-center mb-5">TABLERO DISPONIBILIDAD DE ASESORES</h2>
				<p class="text-center text-silver d-flex">
					<span class="material-icons text-silver pointer p-1 ml-auto" matTooltip="Ayuda"
						[matTooltipPosition]="'before'">help</span>
					<span class="py-1 mr-auto">Asesores disponibles actualmente</span>
				</p>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-md-12">
				<div class="card card-optimus py-1">
					<div class="card-header">
						<h4 class="card-title d-flex">
							<i class="material-icons p-1 text-success">stop_circle</i>
							<span class="py-1 text-uppercase">Asesores Disponibles</span>
						</h4>
					</div>
					<div *ngIf="ventanaAsesoresDisponibles; else noExisteDatosOpc1">
						<div class="row justify-content-center">
							<div class="col-md-3" *ngFor="let row of asesorDisponibilidadArray">
								<div class="col-lg-12 cards">
									<div class="card card-pricing card-raised">
										<div class="card-body">
											<div class="card-icon icon-verde">
												<i class="material-icons">account_circle</i>
											</div>
											<h4 class="card-title">{{row?.nombre}}</h4>
											<p class="card-description">
												Asesor Disponible
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<ng-template #noExisteDatosOpc1>
						<div class="row justify-content-center py-4">
							<h3 class="text-center text-break font-weight-bolder my-5">No existen asesores disponibles</h3>
						</div>
					</ng-template>
				</div>
			</div>
		</div>
		<div class="row justify-content-center py-3">
			<div class="col-md-12">
				<div class="card card-optimus py-1">
					<div class="card-header">
						<h4 class="card-title d-flex">
							<i class="material-icons p-1 text-danger">stop_circle</i>
							<span class="py-1 text-uppercase">Asesores Ocupados</span>
						</h4>
					</div>
					<div *ngIf="ventanaAsesoresOcupados; else noExisteDatosOpc2">
						<div class="row justify-content-center">
							<div class="col-md-3" *ngFor="let row of asesorOcupadosArray">
								<div class="col-lg-12 cards">
									<div class="card card-pricing card-raised">
										<div class="card-body">
											<div class="card-icon icon-rojo">
												<i class="material-icons">account_circle</i>
											</div>
											<h4 class="card-title">{{row?.nombre | uppercase}}</h4>
											<p class="card-description">
												Asesor Ocupado
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<ng-template #noExisteDatosOpc2>
						<div class="row justify-content-center py-4">
							<h3 class="text-center text-break font-weight-bolder my-5">No hay datos para mostrar</h3>
						</div>
					</ng-template>
				</div>
			</div>
		</div>
	</div>
</div>