.card-icon.icon-verde {
	color: #04bd29;
}
.card-pricing .card-body {
	background: #ebfdfd;
}
.card-icon.icon-rojo {
	color: #ff3c3c;
}
.card-body1 {
	background: #ebfdaa;
}
.card-description {
	color: #575555;
}
