<app-loading *ngIf="loading"></app-loading>

<div class="main-content">
    <div class="container-fluid">
        <div class="row col-12 justify-content-md-center mb-4">
            <div class="col-md-12 mb-0 pb-0 text-center">
                <img class="my-0 img-fluid" src="./assets/img/optimus-crm.png" alt="sistema-crm" width="150px" />
                <img class="my-0 img-fluid" [src]="imgNombreEmpresa" alt="empresa" width="150px" />
            </div>
        </div>
    </div>
</div>