<app-loading *ngIf="loading"></app-loading>
<div class="main-content">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center text-md-left pb-md-4 pb-3">
				<button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresar()">
					<i class="material-icons">arrow_back</i> Regresar
				</button>
			</div>
		</div>

		<div class="row justify-content-center pt-3">
			<div class="col-md-10">
				<div class="card card-optimus py-1">
					<div class="card-header">
						<h4 class="card-title d-flex">
							<i class="material-icons p-1">mark_chat_read</i>
							<span class="py-1 text-uppercase">Ticket</span>
						</h4>
					</div>
					<div class="container my-2">
						<h3 class="text-center py-2 mt-2"><strong>{{ticketUsuario.categoriaSolicitud}}</strong></h3>
						<div class="row justify-content-center text-center py-0">
							<div class="col-md-6 text-center">
								<div class="row justify-content-center text-left">
									<div class="col-3 col-md-2 mr-md-2 col-sm-3">
										<i class="material-icons py-2 mx-1 font-size-icono">contact_page</i>
									</div>
									<div class="col-9 col-md-9 col-sm-9">
										<strong class="d-block py-1">Consecutivo Ticket:</strong>
										<span class="d-block py-1">
											{{ticketUsuario.consecutivo}}
										</span>
									</div>
								</div>
								<div class="row justify-content-center text-left">
									<div class="col-3 col-md-2 mr-md-2 col-sm-3">
										<i class="material-icons py-2 mx-1 font-size-icono">person</i>
									</div>
									<div class="col-9 col-md-9 col-sm-9">
										<strong class="d-block py-1">Solicitado Por:</strong>
										<span class="d-block py-1">
											{{ticketUsuario.solicitadoPor}}
										</span>
									</div>
								</div>
								<div class="row justify-content-center text-left">
									<div class="col-3 col-md-2 mr-md-2 col-sm-3">
										<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
									</div>
									<div class="col-9 col-md-9 col-sm-9">
										<strong class="d-block py-1">Fecha de Solicitud:</strong>
										<span class="d-block py-1">
											{{ticketUsuario.fechaSolicitud | date:"short"}}
										</span>
									</div>
								</div>
								<div class="row justify-content-center text-left">
									<div class="col-3 col-md-2 mr-md-2 col-sm-3">
										<i class="material-icons py-2 mx-1 font-size-icono">note_add</i>
									</div>
									<div class="col-9 col-md-9 col-sm-9">
										<strong class="d-block py-1">Anexo:</strong>
										<span class="d-block py-1">
											<ng-container *ngIf="(ticketUsuario.anexo != ''); else bloqueDescargarArchivo">
												<button mat-raised-button class="btn btn-fill btn-optimus-green"
													(click)="descargarAnexoTicket()">Descargar</button>
											</ng-container>
											<ng-template #bloqueDescargarArchivo>
												- - -
											</ng-template>
										</span>
									</div>
								</div>
								<div class="row justify-content-center pt-2">
									<div class="col-md-10 col-sm-10 text-center mx-3 mx-lg-4 border-bottom">
										<p class="text-justify" [innerHTML]="ticketUsuario.descripcionSolicitud"></p>
									</div>
								</div>
							</div>
							<div class="col-md-6 text-center">
								<div class="row justify-content-center text-left">
									<div class="col-3 col-md-2 mr-md-2 col-sm-3">
										<i class="material-icons py-2 mx-1 font-size-icono">view_agenda</i>
									</div>
									<div class="col-9 col-md-9 col-sm-9">
										<strong class="d-block pt-1">Estado: </strong>
										<span class="badge badge-{{ticketUsuario.colorEstado}} text-center mb-2 pb-2">
											<span class="py-1 d-block" [innerHTML]="ticketUsuario.estado"></span>
										</span>
									</div>
								</div>
								<div class="row justify-content-center text-left">
									<div class="col-3 col-md-2 mr-md-2 col-sm-3">
										<i class="material-icons py-2 mx-1 font-size-icono">person</i>
									</div>
									<div class="col-9 col-md-9 col-sm-9">
										<strong class="d-block py-1">Contestado Por:</strong>
										<span class="d-block py-1">
											{{ticketUsuario.aprobadoPor}}
										</span>
									</div>
								</div>
								<div class="row justify-content-center text-left">
									<div class="col-3 col-md-2 mr-md-2 col-sm-3">
										<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
									</div>
									<div class="col-9 col-md-9 col-sm-9">
										<strong class="d-block py-1">Fecha de Contestación:</strong>
										<span class="d-block py-1">
											{{ticketUsuario.fechaAprobacion == '- - -' ? ' - - -' :
											ticketUsuario.fechaAprobacion | date:"short"}}
										</span>
									</div>
								</div>
								<div class="row justify-content-center text-left">
									<div class="col-3 col-md-2 mr-md-2 col-sm-3">
										<i class="material-icons py-2 mx-1 font-size-icono">person</i>
									</div>
									<div class="col-9 col-md-9 col-sm-9">
										<strong class="d-block py-1">Asignado a:</strong>
										<span class="d-block py-1">
											{{ticketUsuario.asignadoA | uppercase}}
										</span>
									</div>
								</div>
								<div class="row justify-content-center pt-2">
									<div class="col-md-10 col-sm-10 text-center mx-3 mx-lg-4 border-bottom">
										<strong class="ml-1 py-1">Descripción de la Contestación </strong>
										<p class="text-justify" [innerHTML]="ticketUsuario.descripcionAprobacion"></p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<ng-container *ngIf="mostraBotonContestacion">
						<div class="row justify-content-center my-3">
							<ng-container *ngIf="estadoTicket">
								<div class="col-md-12 text-center mt-3">
									<button mat-raised-button class="btn btn-fill btn-optimus-green"
										(click)="responderTicket()">Contestar</button>
									<button mat-raised-button class="btn btn-fill btn-optimus-black"
										*ngIf="botonCerrarTicket" (click)="reasignarTicket()">Reasignar</button>
								</div>
							</ng-container>
							<ng-container *ngIf="botonCerrarTicket && ticketUsuario.estadoValor == 'aprobadoT'">
								<div class="col-md-12 text-center mt-3">
									<button mat-raised-button class="btn btn-fill btn-optimus-green"
										(click)="cerrarTicket()">Cerrar Ticket</button>
								</div>
							</ng-container>
						</div>
					</ng-container>
				</div>
			</div>
		</div>

	</div>
</div>

<!-- Modal responder tickets -->
<div class="modal fade bg-modal" id="modalResponder" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div>
				<!-- responder tickets -->
				<div class="modal-header color-header">
					<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Solicitud de Cambios</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="mt-3" ngNativeValidate [formGroup]="contestarTicketUsuarioForm"
						(ngSubmit)="onSubmitContestarTicketsUsuario()" autocomplete="off">
						<div class="card-body ">
							<div class="row justify-content-center">
								<div class="col-sm-12 mb-2 text-center">
									<label for="estado">Contestación *</label><br>
									<mat-radio-group class="radio-group" placeholder="Contestación" id="estado"
										name="estado" formControlName="estado" required>
										<mat-radio-button class="radio-button" type="radio" name="estado"
											value="aprobadoT" matTooltip="Aprobado" [matTooltipPosition]="'below'">
											<i class="material-icons p-2">check</i>
											<!-- <span class="py-1 text-uppercase">Aprobado</span> -->
										</mat-radio-button>
										<mat-radio-button class="radio-button" type="radio" name="estado"
											value="rechazadoT" matTooltip="Rechazado" [matTooltipPosition]="'below'">
											<i class="material-icons p-2">close</i>
											<!-- <span class="py-1 text-uppercase">Rechazado</span> -->
										</mat-radio-button>
										<mat-error
											*ngIf="contestarTicketUsuarioForm.get('estado').hasError('required') && contestarTicketUsuarioForm.get('estado').touched">
											El campo estado es <strong>requerido</strong>
										</mat-error>
									</mat-radio-group>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-sm-12 mb-2">
									<mat-form-field class="example-full-width">
										<textarea matInput formControlName="descripcionContestacion"
											placeholder="Descripción de la Contestación" name="descripcionContestacion"
											id="descripcionContestacion"></textarea>
										<mat-error
											*ngIf="contestarTicketUsuarioForm.get('descripcionContestacion').hasError('required') && contestarTicketUsuarioForm.get('descripcionContestacion').touched">
											El campo descripción es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-md-6 text-center mt-3">
									<button mat-raised-button [disabled]="contestarTicketUsuarioForm.invalid"
										class="btn btn-fill btn-optimus-black">Guardar</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal responder tickets -->

<!-- Modal Mirar Observación -->
<div class="modal fade bg-modal" id="modalObservacion" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Descripción Detallada</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<div class="container">
					<p class="text-justify" [innerHTML]="textoExtendido"></p>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Mirar Observación -->

<!-- Modal Reasignar Ticket -->
<div class="modal fade bg-modal" id="modalReasignarTicket" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Reasignar Ticket</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<div class="row justify-content-center py-3">
					<div class="col-md-10 text-center ">
						<mat-form-field class="example-full-width">
							<mat-select [compareWith]="compararDato" placeholder="Rol del usuario" name="rolUsuario"
								id="rolUsuario" [(ngModel)]="buscarRol.rolUsuario" #rolUsuario="ngModel" required>
								<mat-option *ngFor="let tipo of rolesExistentes" [value]="tipo.valor"
									(click)="onSubmitBuscarUsuariosFiltros()">
									{{ tipo.nombre }}
								</mat-option>
							</mat-select>
							<mat-error *ngIf="!rolUsuario.valid && rolUsuario.touched">
								El rol es <strong>requerido</strong>
							</mat-error>
						</mat-form-field>
					</div>
				</div>
				<div class="row justify-content-center py-3">
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="Usuario" name="usuarioReaginacion"
							#usuarioReaginacion="ngModel" [(ngModel)]="reasignacionT.nombresUsuario"
							id="usuarioReaginacion" (keyup)="filtroUsuarios($event)" (click)="selectListarUsuarios()"
							required>
						<div id="myDropdown" class="dropdown-content scrollUsuarios">
							<a *ngFor="let item of usuarioArray" (click)="seleccionarUsuario(item)"
								class="pointer">{{item.nombres}}</a>
						</div>
						<small class="text-danger" *ngIf="!usuarioReaginacion.valid && usuarioReaginacion.touched">
							El usuario es <strong>requerido</strong>
						</small>
					</div>
				</div>
				<div class="row justify-content-center py-3">
					<div class="col-md-10 text-center">
						<textarea class="form-control" placeholder="Descripción" name="descripcionReasignacion"
							id="descripcionReasignacion" #descripcionReasignacion="ngModel" row="3"
							[(ngModel)]="reasignacionT.descripcionReasignacion"></textarea>
					</div>
				</div>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-6 text-center my-3">
							<button mat-raised-button [disabled]="!buscarRol.rolUsuario || !reasignacionT.idUsuario"
								(click)="onSubmitReasignarTicket()" class="btn btn-optimus-black">Guardar</button>
						</div>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Reasignar Ticket -->