<app-loading *ngIf="loading"></app-loading>

<div class="main-content pt-0">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center text-md-left pb-md-4 pb-3">
				<button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresar()">
					<i class="material-icons">arrow_back</i> Regresar
				</button>
			</div>
		</div>
		<div class="row justify-content-center mb-3">
			<div class="col-md-10">
				<h2 class="font-weight-bolder text-break text-center mb-5">{{mensaje}}</h2>
				<p class="mb-4 mb-md-5">
					Modifica los datos y guarda cambios
				</p>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="card card-optimus py-1">
					<div class="card-header">
						<h4 class="card-title d-flex">
							<i class="material-icons p-1">view_list</i>
							<span class="py-1 text-uppercase">Actualización de datos</span>
						</h4>
					</div>

					<ng-container [ngSwitch]="mostrarActualizarVentana">

						<!-- Actualizar cliente -->
						<div *ngSwitchCase="1">

							<div class="card-body ">
								<form class="mt-4" ngNativeValidate [formGroup]="actualizarClienteForm"
									(ngSubmit)="actualizarCliente()">
									<div class="row justify-content-center">
										<div class="col-sm-5 mb-2 text-center">
											<mat-form-field>
												<mat-select [compareWith]="compararDato" placeholder="Tipo documento"
													name="tipoDoc" formControlName="tipoDoc" required>
													<mat-option *ngFor="let tipo of tipoDocumentosArray"
														[value]="tipo.valor">
														{{ tipo.nombre }}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
										<div class="col-sm-5 mb-2 text-center">
											<mat-form-field class="example-full-width">
												<input matInput formControlName="documento" placeholder="Documento"
													name="documento" type="text" required>
												<mat-error
													*ngIf="actualizarClienteForm.get('documento').hasError('required')">
													El campo documento es <strong>requerido</strong>
												</mat-error>
												<mat-error
													*ngIf="actualizarClienteForm.get('documento').hasError('pattern')">
													El documento debe tener el siguiente formato <strong>Ejm:
														1085100100</strong>
												</mat-error>
											</mat-form-field>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-sm-5 mb-2 text-center">
											<mat-form-field class="example-full-width">
												<input matInput formControlName="nombres" placeholder="Nombres"
													name="nombres" type="text" required>
												<mat-error
													*ngIf="actualizarClienteForm.get('nombres').hasError('required')">
													El campo nombres es <strong>requerido</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-sm-5 mb-2 text-center">
											<mat-form-field class="example-full-width">
												<input matInput formControlName="apellidos" placeholder="Apellidos"
													name="apellidos" type="text" required>
												<mat-error
													*ngIf="actualizarClienteForm.get('apellidos').hasError('required')">
													El campo apellidos es <strong>requerido</strong>
												</mat-error>
											</mat-form-field>
										</div>
									</div>
									<div class="row justify-content-center" *ngIf="ocultarEdicionCampos">
										<div class="col-sm-5 mb-2 text-center">
											<mat-form-field class="example-full-width">
												<input matInput formControlName="usuario" placeholder="Usuario"
													name="usuario" type="text" required>
												<mat-error
													*ngIf="actualizarClienteForm.get('usuario').hasError('required')">
													El campo usuario es <strong>requerido</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-sm-5 mb-2 text-center">
											<mat-form-field>
												<mat-select [compareWith]="compararDato" placeholder="Roles" name="rol"
													formControlName="rol" required>
													<mat-option *ngFor="let item of rolesExistentes"
														[value]="item.valor">
														{{ item.nombre }}
													</mat-option>
												</mat-select>
												<mat-error
													*ngIf="actualizarClienteForm.get('rol').hasError('required')">
													El campo Rol es <strong>requerido</strong>
												</mat-error>
											</mat-form-field>
										</div>
									</div>
									<div class="row justify-content-center" *ngIf="ocultarEdicionCampos">
										<div class="col-sm-5 mb-2 text-center">
											<mat-form-field>
												<mat-select [compareWith]="compararDato" placeholder="Estado"
													name="estado" formControlName="estado" required>
													<mat-option *ngFor="let item of estadosArray" [value]="item.valor">
														{{ item.nombre }}
													</mat-option>
												</mat-select>
												<mat-error
													*ngIf="actualizarClienteForm.get('estado').hasError('required')">
													El campo estado es <strong>requerido</strong>
												</mat-error>
											</mat-form-field>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-md-6 text-center my-3">
											<button mat-raised-button [disabled]="actualizarClienteForm.invalid"
												class="btn btn-fill btn-optimus-black">
												<i class="material-icons">edit</i> Guardar
											</button>
										</div>
									</div>
								</form>
							</div>

						</div>

						<!-- Actualizar información personal -->
						<div *ngSwitchCase="2">

							<div class="card-body ">
								<form class="mt-4" ngNativeValidate [formGroup]="actualizarInformacionPersonalForm"
									(ngSubmit)="actualizarInformacionPersonal()">
									<div class="row justify-content-center">
										<div class="col-sm-5 mb-2 text-center">
											<mat-form-field>
												<input matInput placeholder="Fecha de nacimiento"
													[matDatepicker]="picker1" (click)="picker1.open()"
													formControlName="fechaNacimiento" name="fechaNacimiento">
												<mat-datepicker-toggle matSuffix [for]="picker1">
												</mat-datepicker-toggle>
												<mat-datepicker #picker1></mat-datepicker>
											</mat-form-field>
										</div>
										<div class="col-sm-5 mb-2 text-center">
											<mat-form-field class="example-full-width">
												<input matInput formControlName="contactoPrincipal"
													placeholder="Contacto Principal" name="contactoPrincipal"
													type="text">
											</mat-form-field>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-sm-5 mb-2 text-center">
											<mat-form-field class="example-full-width">
												<input matInput formControlName="contactoSecundario"
													placeholder="Contacto Secundario" name="contactoSecundario"
													type="text">
											</mat-form-field>
										</div>
										<div class="col-sm-5 mb-2 text-center">
											<mat-form-field class="example-full-width">
												<input matInput formControlName="correo"
													placeholder="Correo electrónico" name="correo" type="email">
											</mat-form-field>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-sm-5 mb-2 text-center">
											<mat-form-field class="example-full-width">
												<input matInput formControlName="lugarResidencia"
													placeholder="Lugar de residencia" name="lugarResidencia"
													type="text">
											</mat-form-field>
										</div>
										<div class="col-sm-5 mb-2 text-center">
											<mat-form-field class="example-full-width">
												<input matInput formControlName="direccion" placeholder="Dirección"
													name="direccion" type="text">
											</mat-form-field>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-sm-5 mb-2 text-center">
											<mat-form-field>
												<mat-select [compareWith]="compararDato" placeholder="Test Drive"
													name="testDrive" formControlName="testDrive">
													<mat-option *ngFor="let item of testDriveArray"
														[value]="item.valor">
														{{ item.nombre }}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
										<div class="col-sm-5 mb-2 text-center">
											<mat-form-field>
												<mat-select [compareWith]="compararDato" placeholder="Color favorito"
													name="color" formControlName="color">
													<mat-option *ngFor="let item of coloresArray" [value]="item.valor">
														{{ item.nombre }}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-sm-5 mb-2 text-center">
											<mat-form-field>
												<mat-select [compareWith]="compararDato" placeholder="Hobby 1"
													name="hobby1" formControlName="hobby1">
													<mat-option *ngFor="let item of hobbyArray" [value]="item.valor">
														{{ item.nombre }}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
										<div class="col-sm-5 mb-2 text-center">
											<mat-form-field>
												<mat-select [compareWith]="compararDato" placeholder="Hobby 2"
													name="hobby2" formControlName="hobby2">
													<mat-option *ngFor="let item of hobbyArray" [value]="item.valor">
														{{ item.nombre }}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-sm-5 mb-2 text-center">
											<mat-form-field>
												<mat-select [compareWith]="compararDato" placeholder="Profesión"
													name="profesion" formControlName="profesion">
													<mat-option *ngFor="let item of profesionArray"
														[value]="item.valor">
														{{ item.nombre }}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
										<div class="col-sm-5 mb-2 text-center">
											<mat-form-field>
												<mat-select [compareWith]="compararDato" placeholder="Género"
													name="genero" formControlName="genero">
													<mat-option *ngFor="let item of generoArray" [value]="item.valor">
														{{ item.nombre }}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-sm-6 my-3 text-center">
											<button mat-raised-button class="btn btn-fill btn-optimus-green mx-3"
												(click)="regresar()">
												<i class="material-icons">cancel_presentation</i> Cancelar
											</button>
											<button mat-raised-button class="btn btn-fill btn-optimus-black mx-3">
												<i class="material-icons">edit</i> Guardar
											</button>
										</div>
									</div>
								</form>
							</div>

						</div>

						<div *ngSwitchCase="3">
							<div class="card-body">

								<form class="mt-4" ngNativeValidate [formGroup]="actualizarInformacionGeneralForm"
									(ngSubmit)="actualizarInformacionGeneral()" autocomplete="off">
									<div class="row justify-content-center">
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field class="example-full-width">
												<input matInput formControlName="correo" placeholder="Correo"
													name="correo" id="correo" type="email" required>
												<mat-error
													*ngIf="actualizarInformacionGeneralForm.get('correo').hasError('required') && actualizarInformacionGeneralForm.get('correo').touched">
													El campo correo es <strong>requerido</strong>
												</mat-error>
												<mat-error
													*ngIf="actualizarInformacionGeneralForm.get('correo').hasError('pattern')">
													El campo correo debe tener el siguiente formato:
													<strong>ejemplo@gmail.com</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field>
												<input matInput placeholder="Fecha de expedición documento"
													[matDatepicker]="picker1" (click)="picker1.open()"
													formControlName="fechaExpedicion" name="fechaExpedicion"
													id="fechaExpedicion" required>
												<mat-datepicker-toggle matSuffix [for]="picker1">
												</mat-datepicker-toggle>
												<mat-datepicker #picker1></mat-datepicker>
												<mat-error
													*ngIf="actualizarInformacionGeneralForm.get('fechaExpedicion').hasError('required') && actualizarInformacionGeneralForm.get('fechaExpedicion').touched">
													El campo fecha expedición es <strong>requerido</strong>
												</mat-error>
											</mat-form-field>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field>
												<input matInput placeholder="Fecha de nacimiento"
													[matDatepicker]="picker2" (click)="picker2.open()"
													formControlName="fechaNacimiento" name="fechaNacimiento"
													id="fechaNacimiento">
												<mat-datepicker-toggle matSuffix [for]="picker2">
												</mat-datepicker-toggle>
												<mat-datepicker #picker2></mat-datepicker>
											</mat-form-field>
										</div>
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field class="example-full-width">
												<input matInput formControlName="direccion" placeholder="Dirección"
													name="direccion" id="direccion" type="text">
											</mat-form-field>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field class="example-full-width">
												<input matInput formControlName="lugarResidencia"
													placeholder="Lugar de residencia" name="lugarResidencia"
													id="lugarResidencia" type="text">
											</mat-form-field>
										</div>
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field class="example-full-width">
												<input matInput formControlName="telefonoFijo"
													placeholder="Teléfono Fijo" name="telefonoFijo" id="telefonoFijo"
													type="text">
											</mat-form-field>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field class="example-full-width">
												<input matInput formControlName="celular" placeholder="No. Celular"
													name="celular" id="celular" type="number" required>
												<mat-error
													*ngIf="actualizarInformacionGeneralForm.get('celular').hasError('required') && actualizarInformacionGeneralForm.get('celular').touched">
													El campo celular es <strong>requerido</strong>
												</mat-error>
												<mat-error
													*ngIf="actualizarInformacionGeneralForm.get('celular').hasError('pattern')">
													El celular debe tener el siguiente formato <strong>Ejm:
														3152785656</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field>
												<mat-select [compareWith]="compararDato" placeholder="Estado civil"
													name="estadoCivil" id="estadoCivil" formControlName="estadoCivil">
													<mat-option *ngFor="let tipo of estadoCivilArray"
														[value]="tipo.valor">
														{{ tipo.nombre }}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field class="example-full-width">
												<input matInput formControlName="aniosExperienciaLaboral"
													placeholder="Experiencia laboral (Años)"
													name="aniosExperienciaLaboral" id="aniosExperienciaLaboral"
													type="text">
											</mat-form-field>
										</div>
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field class="example-full-width">
												<input matInput formControlName="tarjetaProfesional"
													placeholder="No. Tarjeta Profesional" name="tarjetaProfesional"
													id="tarjetaProfesional" type="text">
											</mat-form-field>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field>
												<mat-select [compareWith]="compararDato" placeholder="Grupo Sanguíneo"
													name="grupoSanguineo" id="grupoSanguineo"
													formControlName="grupoSanguineo">
													<mat-option *ngFor="let item of grupoSanguineoArray"
														[value]="item.valor">
														{{ item.nombre }}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field>
												<mat-select [compareWith]="compararDato" placeholder="Color favorito"
													name="color" id="color" formControlName="color">
													<mat-option *ngFor="let item of colorPreferidoArray"
														[value]="item.valor">
														{{ item.nombre }}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field>
												<mat-select [compareWith]="compararDato" placeholder="Hobby 1"
													name="hobby1" id="hobby1" formControlName="hobby1">
													<mat-option *ngFor="let item of hobbyArray" [value]="item.valor">
														{{ item.nombre }}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field>
												<mat-select [compareWith]="compararDato" placeholder="Hobby 2"
													name="hobby2" id="hobby2" formControlName="hobby2">
													<mat-option *ngFor="let item of hobbyArray" [value]="item.valor">
														{{ item.nombre }}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field>
												<mat-select [compareWith]="compararDato" placeholder="Profesión"
													name="profesion" id="profesion" formControlName="profesion">
													<mat-option *ngFor="let item of profesionArray"
														[value]="item.valor">
														{{ item.nombre }}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field>
												<mat-select [compareWith]="compararDato" placeholder="Género"
													name="genero" id="genero" formControlName="genero">
													<mat-option *ngFor="let item of generoArray" [value]="item.valor">
														{{ item.nombre }}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>
									<!-- Campos dependientes -->
									<div class="row justify-content-center">
										<div class="col-sm-5 text-left my-sm-2 my-md-2 my-3">
											<label for="tieneLibretaMilitar">¿Tiene libreta militar?
												*</label>
											<mat-radio-group class="radio-group" placeholder="Libreta militar"
												id="tieneLibretaMilitar" name="tieneLibretaMilitar"
												formControlName="tieneLibretaMilitar" required>
												<mat-radio-button class="radio-button" type="radio"
													name="tieneLibretaMilitar" value="Si"
													(click)="ocultarInput('libreta', 1)">Sí
												</mat-radio-button>
												<mat-radio-button class="radio-button" type="radio"
													name="tieneLibretaMilitar" value="No"
													(click)="ocultarInput('libreta', 2)">No
												</mat-radio-button>
												<mat-error
													*ngIf="actualizarInformacionGeneralForm.get('tieneLibretaMilitar').hasError('required')">
													El campo libreta militar es <strong>requerido</strong>
												</mat-error>
											</mat-radio-group>
										</div>
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3"
											*ngIf="tenerLibretaMilitar">
											<mat-form-field class="example-full-width">
												<input matInput formControlName="libretaMilitar"
													placeholder="No. Libreta Militar" name="libretaMilitar"
													id="libretaMilitar" type="text">
											</mat-form-field>
										</div>
									</div>
									<div class="row justify-content-center" *ngIf="tenerLibretaMilitar">
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field>
												<mat-select [compareWith]="compararDato"
													placeholder="Clase libreta militar" name="claseLibretaMilitar"
													id="claseLibretaMilitar" formControlName="claseLibretaMilitar">
													<mat-option *ngFor="let item of claseLibretaMilitarArray"
														[value]="item.valor">
														{{ item.nombre }}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field class="example-full-width">
												<input matInput formControlName="distritoLibretaMilitar"
													placeholder="Distrito Militar" name="distritoLibretaMilitar"
													id="distritoLibretaMilitar" type="text">
											</mat-form-field>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-sm-5 text-left my-sm-2 my-md-2 my-3">
											<label for="tieneLicenciaConduccion">¿Tiene licencia de
												conducción? *</label>
											<mat-radio-group class="radio-group" placeholder="Licencia conducción"
												id="tieneLicenciaConduccion" name="tieneLicenciaConduccion"
												formControlName="tieneLicenciaConduccion" required>
												<mat-radio-button class="radio-button" type="radio"
													name="tieneLicenciaConduccion" value="Si"
													(click)="ocultarInput('licencia', 1)">Sí
												</mat-radio-button>
												<mat-radio-button class="radio-button" type="radio"
													name="tieneLicenciaConduccion" value="No"
													(click)="ocultarInput('licencia', 2)">No
												</mat-radio-button>
												<mat-error
													*ngIf="actualizarInformacionGeneralForm.get('tieneLicenciaConduccion').hasError('required')">
													El campo licencia de conducción es
													<strong>requerido</strong>
												</mat-error>
											</mat-radio-group>
										</div>
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3" *ngIf="tenerLicencia">
											<mat-form-field class="example-full-width">
												<input matInput formControlName="licenciaConduccion"
													placeholder="No. Licencia de conducción" name="licenciaConduccion"
													id="licenciaConduccion" type="text">
											</mat-form-field>
										</div>
									</div>
									<div class="row justify-content-center" *ngIf="tenerLicencia">
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field>
												<mat-select [compareWith]="compararDato"
													placeholder="Categoría licencia" name="categoriaLicencia"
													id="categoriaLicencia" formControlName="categoriaLicencia">
													<mat-option *ngFor="let item of categoriaLicenciaArray"
														[value]="item.valor">
														{{ item.nombre }}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<div></div>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-sm-6 my-3 text-center">
											<button mat-raised-button class="btn btn-fill btn-optimus-green mx-3"
												(click)="regresar()">
												<i class="material-icons">cancel_presentation</i> Cancelar
											</button>
											<button mat-raised-button class="btn btn-fill btn-optimus-black mx-3">
												<i class="material-icons">edit</i> Guardar
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>

						<div *ngSwitchDefault>
							por defecto
						</div>

					</ng-container>

				</div>
			</div>
		</div>
	</div>
</div>