<app-loading *ngIf="loading"></app-loading>

<div class="main-content pt-0">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center text-md-left pb-md-4 pb-3">
				<button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresar()">
					<i class="material-icons">arrow_back</i> Regresar
				</button>
			</div>
		</div>
		<div class="row justify-content-center mb-1">
			<div class="col-md-10">
				<h2 class="font-weight-bolder text-break text-center mb-2">{{tituloPagina}} DE EMPLEADOS</h2>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-md-10">

				<div class="wizard-container">
					<div class="card card-wizard" data-color="warning" id="wizardProfile">
						<div class="card-header text-center">
							<h2 class="card-title">
								Hoja de Vida
							</h2>
							<p class="text-center text-silver d-flex pb-2">
								<span class="material-icons text-silver p-1 ml-auto pointer" matTooltip="Ayuda"
									[matTooltipPosition]="'below'">help</span>
								<span class="py-1 mr-auto">Por favor ingrese la información del empleado. Recuerde que los campos marcados con
								asterisco * son obligatorios.</span>
							</p>
						</div>
						<!-- <div class="row justify-content-md-end justify-content-center">
							<div class="col-md-4 mx-2">
								<button mat-raised-button class="btn btn-optimus-black" (click)="isLinear = !isLinear" id="toggle-linear">
									{{isLinear ? 'Habilitar Edición Secuencial' : 'Deshabilitar Edición Secuencial'}}
								</button>
							</div>
						</div> -->
						<mat-vertical-stepper [linear]="isLinear" #stepper>

							<!-- Informacion personal -->
							<mat-step [stepControl]="infoPersonalFormGroup">
								<div class="card card-optimus py-1">
									<div class="card-header">
										<h4 class="card-title d-flex">
											<i class="material-icons p-1">person_pin</i>
											<span class="py-1 text-uppercase">Registrar
											Información Personal</span>
										</h4>
									</div>
									<div class="mt-3" class="card-body">
										<form ngNativeValidate [formGroup]="infoPersonalFormGroup" autocomplete="off"
											(ngSubmit)="onSubmitCrearEmpleados(opcionVentana, 'infoPersonal')">
											<ng-template matStepLabel>Información Personal</ng-template>
											<div class="card-body">
												<div class="row justify-content-center">
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field>
															<mat-select [compareWith]="compararDato"
																placeholder="Tipo documento" name="tipoDoc" id="tipoDoc"
																formControlName="tipoDoc" required>
																<mat-option *ngFor="let tipo of tipoDocumentosArray"
																	[value]="tipo.valor">
																	{{ tipo.nombre }}
																</mat-option>
															</mat-select>
															<mat-error
																*ngIf="infoPersonalFormGroup.get('tipoDoc').hasError('required') && infoPersonalFormGroup.get('tipoDoc').touched">
																El campo tipo documento es <strong>requerido</strong>
															</mat-error>
														</mat-form-field>
													</div>
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="documento"
																placeholder="No. Documento" name="documento"
																id="documento" type="number" required>
															<mat-error
																*ngIf="infoPersonalFormGroup.get('documento').hasError('required') && infoPersonalFormGroup.get('documento').touched">
																El campo documento es <strong>requerido</strong>
															</mat-error>
															<mat-error
																*ngIf="infoPersonalFormGroup.get('documento').hasError('pattern')">
																El documento debe tener el siguiente formato
																<strong>Ejm: 1085100100</strong>
															</mat-error>
														</mat-form-field>
													</div>
												</div>
												<div class="row justify-content-center">
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="nombres"
																placeholder="Nombres" name="nombres" id="nombres"
																type="text" required>
															<mat-error
																*ngIf="infoPersonalFormGroup.get('nombres').hasError('required') && infoPersonalFormGroup.get('nombres').touched">
																El campo nombre es <strong>requerido</strong>
															</mat-error>
														</mat-form-field>
													</div>
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="apellidos"
																placeholder="Apellidos" name="apellidos" id="apellidos"
																type="text" required>
															<mat-error
																*ngIf="infoPersonalFormGroup.get('apellidos').hasError('required') && infoPersonalFormGroup.get('apellidos').touched">
																El apellido es <strong>requerido</strong>
															</mat-error>
														</mat-form-field>
													</div>
												</div>

											</div>
											<ng-container *ngIf="(opcionVentana == 1); else bloqueBotonGuardar">
												<div class="row justify-content-center">
													<div class="col-md-12 text-center">
														<button mat-button matStepperNext
															[disabled]="infoPersonalFormGroup.invalid"
															class="btn btn-optimus-green">Siguiente</button>
													</div>
												</div>
											</ng-container>
											<ng-template #bloqueBotonGuardar>
												<div class="row justify-content-center">
													<div class="col-md-12 text-center">
														<button mat-button [disabled]="infoPersonalFormGroup.invalid"
															class="btn btn-optimus-black">Guardar</button>
													</div>
												</div>
											</ng-template>
										</form>
									</div>
								</div>
							</mat-step>

							<!-- Informacion general -->
							<mat-step [stepControl]="infoGeneralFormGroup">
								<div class="card card-optimus py-1">
									<div class="card-header">
										<h4 class="card-title d-flex">
											<i class="material-icons p-1">account_box</i>
											<span class="py-1 text-uppercase">Registrar
												Información General</span>
										</h4>
									</div>
									<div class="card-body">
										<form class="mt-3" ngNativeValidate [formGroup]="infoGeneralFormGroup" autocomplete="off"
											(ngSubmit)="onSubmitCrearEmpleados(opcionVentana, 'infoGeneral')">
											<ng-template matStepLabel>Información General</ng-template>
											<div class="card-body">
												<div class="row justify-content-center">
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="correo"
																placeholder="Correo" name="correo" id="correo"
																type="email" required>
															<mat-error
																*ngIf="infoGeneralFormGroup.get('correo').hasError('required') && infoGeneralFormGroup.get('correo').touched">
																El campo correo es <strong>requerido</strong>
															</mat-error>
															<mat-error
																*ngIf="infoGeneralFormGroup.get('correo').hasError('pattern')">
																El campo correo debe tener el siguiente formato:
																<strong>ejemplo@gmail.com</strong>
															</mat-error>
														</mat-form-field>
													</div>
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field>
															<input matInput placeholder="Fecha de expedición documento"
																[matDatepicker]="picker1" (click)="picker1.open()"
																formControlName="fechaExpedicion" name="fechaExpedicion"
																id="fechaExpedicion" required>
															<mat-datepicker-toggle matSuffix [for]="picker1">
															</mat-datepicker-toggle>
															<mat-datepicker #picker1></mat-datepicker>
															<mat-error
																*ngIf="infoGeneralFormGroup.get('fechaExpedicion').hasError('required') && infoGeneralFormGroup.get('fechaExpedicion').touched">
																El campo fecha expedición es <strong>requerido</strong>
															</mat-error>
														</mat-form-field>
													</div>
												</div>
												<div class="row justify-content-center">
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field>
															<input matInput placeholder="Fecha de nacimiento"
																[matDatepicker]="picker2" (click)="picker2.open()"
																formControlName="fechaNacimiento" name="fechaNacimiento"
																id="fechaNacimiento">
															<mat-datepicker-toggle matSuffix [for]="picker2">
															</mat-datepicker-toggle>
															<mat-datepicker #picker2></mat-datepicker>
														</mat-form-field>
													</div>
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="direccion"
																placeholder="Dirección" name="direccion" id="direccion"
																type="text">
														</mat-form-field>
													</div>
												</div>
												<div class="row justify-content-center">
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="lugarResidencia"
																placeholder="Lugar de residencia" name="lugarResidencia"
																id="lugarResidencia" type="text">
														</mat-form-field>
													</div>
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="telefonoFijo"
																placeholder="Teléfono Fijo" name="telefonoFijo"
																id="telefonoFijo" type="text">
														</mat-form-field>
													</div>
												</div>
												<div class="row justify-content-center">
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="celular"
																placeholder="No. Celular" name="celular" id="celular"
																type="number" required>
															<mat-error
																*ngIf="infoGeneralFormGroup.get('celular').hasError('required') && infoGeneralFormGroup.get('celular').touched">
																El campo celular es <strong>requerido</strong>
															</mat-error>
															<mat-error
																*ngIf="infoGeneralFormGroup.get('celular').hasError('pattern')">
																El celular debe tener el siguiente formato <strong>Ejm:
																	3152785656</strong>
															</mat-error>
														</mat-form-field>
													</div>
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field>
															<mat-select [compareWith]="compararDato"
																placeholder="Estado civil" name="estadoCivil"
																id="estadoCivil" formControlName="estadoCivil">
																<mat-option *ngFor="let tipo of estadoCivilArray"
																	[value]="tipo.valor">
																	{{ tipo.nombre }}
																</mat-option>
															</mat-select>
														</mat-form-field>
													</div>
												</div>
												<div class="row justify-content-center">
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="aniosExperienciaLaboral"
																placeholder="Experiencia laboral (Años)"
																name="aniosExperienciaLaboral"
																id="aniosExperienciaLaboral" type="text">
														</mat-form-field>
													</div>
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="tarjetaProfesional"
																placeholder="No. Tarjeta Profesional"
																name="tarjetaProfesional" id="tarjetaProfesional"
																type="text">
														</mat-form-field>
													</div>
												</div>
												<div class="row justify-content-center">
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field>
															<mat-select [compareWith]="compararDato"
																placeholder="Grupo Sanguíneo" name="grupoSanguineo"
																id="grupoSanguineo" formControlName="grupoSanguineo">
																<mat-option *ngFor="let item of grupoSanguineoArray"
																	[value]="item.valor">
																	{{ item.nombre }}
																</mat-option>
															</mat-select>
														</mat-form-field>
													</div>
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field>
															<mat-select [compareWith]="compararDato"
																placeholder="Color favorito" name="color" id="color"
																formControlName="color">
																<mat-option *ngFor="let item of colorPreferidoArray"
																	[value]="item.valor">
																	{{ item.nombre }}
																</mat-option>
															</mat-select>
														</mat-form-field>
													</div>
												</div>
												<div class="row justify-content-center">
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field>
															<mat-select [compareWith]="compararDato"
																placeholder="Hobby 1" name="hobby1" id="hobby1"
																formControlName="hobby1">
																<mat-option *ngFor="let item of hobbyArray"
																	[value]="item.valor">
																	{{ item.nombre }}
																</mat-option>
															</mat-select>
														</mat-form-field>
													</div>
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field>
															<mat-select [compareWith]="compararDato"
																placeholder="Hobby 2" name="hobby2" id="hobby2"
																formControlName="hobby2">
																<mat-option *ngFor="let item of hobbyArray"
																	[value]="item.valor">
																	{{ item.nombre }}
																</mat-option>
															</mat-select>
														</mat-form-field>
													</div>
												</div>
												<div class="row justify-content-center">
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field>
															<mat-select [compareWith]="compararDato"
																placeholder="Profesión" name="profesion" id="profesion"
																formControlName="profesion">
																<mat-option *ngFor="let item of profesionArray"
																	[value]="item.valor">
																	{{ item.nombre }}
																</mat-option>
															</mat-select>
														</mat-form-field>
													</div>
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field>
															<mat-select [compareWith]="compararDato"
																placeholder="Género" name="genero" id="genero"
																formControlName="genero">
																<mat-option *ngFor="let item of generoArray"
																	[value]="item.valor">
																	{{ item.nombre }}
																</mat-option>
															</mat-select>
														</mat-form-field>
													</div>
												</div>
												<!-- Campos dependientes -->
												<div class="row justify-content-center">
													<div class="col-sm-6 text-left my-sm-2 my-md-2 my-3">
														<label for="tieneLibretaMilitar">¿Tiene libreta militar?
															*</label>
														<mat-radio-group class="radio-group"
															placeholder="Libreta militar" id="tieneLibretaMilitar"
															name="tieneLibretaMilitar"
															formControlName="tieneLibretaMilitar" required>
															<mat-radio-button class="radio-button" type="radio"
																name="tieneLibretaMilitar" value="Si"
																(click)="ocultarInput('libreta', 1)">Sí
															</mat-radio-button>
															<mat-radio-button class="radio-button" type="radio"
																name="tieneLibretaMilitar" value="No"
																(click)="ocultarInput('libreta', 2)">No
															</mat-radio-button>
															<mat-error
																*ngIf="infoGeneralFormGroup.get('tieneLibretaMilitar').hasError('required')">
																El campo libreta militar es <strong>requerido</strong>
															</mat-error>
														</mat-radio-group>
													</div>
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3"
														*ngIf="tenerLibretaMilitar">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="libretaMilitar"
																placeholder="No. Libreta Militar" name="libretaMilitar"
																id="libretaMilitar" type="text">
														</mat-form-field>
													</div>
												</div>
												<div class="row justify-content-center" *ngIf="tenerLibretaMilitar">
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field>
															<mat-select [compareWith]="compararDato"
																placeholder="Clase libreta militar"
																name="claseLibretaMilitar" id="claseLibretaMilitar"
																formControlName="claseLibretaMilitar">
																<mat-option
																	*ngFor="let item of claseLibretaMilitarArray"
																	[value]="item.valor">
																	{{ item.nombre }}
																</mat-option>
															</mat-select>
														</mat-form-field>
													</div>
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="distritoLibretaMilitar"
																placeholder="Distrito Militar"
																name="distritoLibretaMilitar"
																id="distritoLibretaMilitar" type="text">
														</mat-form-field>
													</div>
												</div>
												<div class="row justify-content-center">
													<div class="col-sm-6 text-left my-sm-2 my-md-2 my-3">
														<label for="tieneLicenciaConduccion">¿Tiene licencia de
															conducción? *</label>
														<mat-radio-group class="radio-group"
															placeholder="Licencia conducción"
															id="tieneLicenciaConduccion" name="tieneLicenciaConduccion"
															formControlName="tieneLicenciaConduccion" required>
															<mat-radio-button class="radio-button" type="radio"
																name="tieneLicenciaConduccion" value="Si"
																(click)="ocultarInput('licencia', 1)">Sí
															</mat-radio-button>
															<mat-radio-button class="radio-button" type="radio"
																name="tieneLicenciaConduccion" value="No"
																(click)="ocultarInput('licencia', 2)">No
															</mat-radio-button>
															<mat-error
																*ngIf="infoGeneralFormGroup.get('tieneLicenciaConduccion').hasError('required')">
																El campo licencia de conducción es
																<strong>requerido</strong>
															</mat-error>
														</mat-radio-group>
													</div>
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3"
														*ngIf="tenerLicencia">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="licenciaConduccion"
																placeholder="No. Licencia de conducción"
																name="licenciaConduccion" id="licenciaConduccion"
																type="text">
														</mat-form-field>
													</div>
												</div>
												<div class="row justify-content-start" *ngIf="tenerLicencia">
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field>
															<mat-select [compareWith]="compararDato"
																placeholder="Categoría licencia"
																name="categoriaLicencia" id="categoriaLicencia"
																formControlName="categoriaLicencia">
																<mat-option *ngFor="let item of categoriaLicenciaArray"
																	[value]="item.valor">
																	{{ item.nombre }}
																</mat-option>
															</mat-select>
														</mat-form-field>
													</div>
												</div>
											</div>
											<ng-container *ngIf="(opcionVentana == 1); else bloqueBotonGuardar">
												<div class="row justify-content-center">
													<div class="col-md-12 text-center">
														<button mat-button matStepperPrevious
															class="btn btn-optimus-green mx-2">Atrás</button>
														<button mat-button matStepperNext
															[disabled]="infoGeneralFormGroup.invalid"
															class="btn btn-optimus-green mx-2">Siguiente</button>
													</div>
												</div>
											</ng-container>
											<ng-template #bloqueBotonGuardar>
												<div class="row justify-content-center">
													<div class="col-md-12 text-center">
														<button mat-button [disabled]="infoGeneralFormGroup.invalid"
															class="btn btn-optimus-black">Guardar</button>
													</div>
												</div>
											</ng-template>
										</form>
									</div>
								</div>
							</mat-step>

							<!-- Informacion empleado -->
							<mat-step [stepControl]="infoEmpleadoFormGroup">
								<div class="card card-optimus py-1">
									<div class="card-header">
										<h4 class="card-title d-flex">
											<i class="material-icons p-1">contacts</i>
											<span class="py-1 text-uppercase">Registrar
												Información Empleado</span>
										</h4>
									</div>
									<div class="card-body">
										<form class="mt-3" ngNativeValidate [formGroup]="infoEmpleadoFormGroup" autocomplete="off"
											(ngSubmit)="onSubmitCrearEmpleados(opcionVentana, 'infoEmpleado')">
											<ng-template matStepLabel>Información Empleado</ng-template>
											<div class="card-body">
												<div class="row justify-content-start">
													<div class="col-sm-6 text-left my-sm-2 my-md-2 my-3">
														<label for="trabajaActualmente">¿Trabaja actualmente? *</label>
														<mat-radio-group class="radio-group"
															placeholder="Trabaja actualmente" id="trabajaActualmente"
															name="trabajaActualmente"
															formControlName="trabajaActualmente" required>
															<mat-radio-button class="radio-button" type="radio"
																name="trabajaActualmente" value="Si"
																(click)="ocultarInput('trabaja', 1)">Sí
															</mat-radio-button>
															<mat-radio-button class="radio-button" type="radio"
																name="trabajaActualmente" value="No"
																(click)="ocultarInput('trabaja', 2)">No
															</mat-radio-button>
															<mat-error
																*ngIf="infoEmpleadoFormGroup.get('trabajaActualmente').hasError('required')">
																El campo trabajo actual es <strong>requerido</strong>
															</mat-error>
														</mat-radio-group>
													</div>
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3"
														*ngIf="tenerTrabajoActual">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="empresaActual"
																placeholder="Empresa actual" name="empresaActual"
																id="empresaActual" type="text">
															<mat-error
																*ngIf="infoEmpleadoFormGroup.get('empresaActual').hasError('required')">
																El campo empresa actual es <strong>requerido</strong>
															</mat-error>
														</mat-form-field>
													</div>
													<!-- Validacion de campos para que se muestren de forma ordenada (tener Trabajo Actual) -->
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3"
														*ngIf="!tenerTrabajoActual">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="empleoAntes"
																placeholder="Nombre del empleo anterior"
																name="empleoAntes" id="empleoAntes" type="text">
														</mat-form-field>
													</div>
													<!-- Validacion de campos para que se muestren de forma ordenada (tener Trabajo Actual) -->
												</div>
												<div class="row justify-content-center" *ngIf="tenerTrabajoActual">
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field>
															<mat-select [compareWith]="compararDato"
																placeholder="Tipo de empleado" name="tipoEmpleado"
																id="tipoEmpleado" formControlName="tipoEmpleado">
																<mat-option *ngFor="let item of tipoEmpleadoArray"
																	[value]="item.valor">
																	{{ item.nombre }}
																</mat-option>
															</mat-select>
														</mat-form-field>
													</div>
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field>
															<mat-select [compareWith]="compararDato"
																placeholder="Tipo de contrato" name="tipoContrato"
																id="tipoContrato" formControlName="tipoContrato">
																<mat-option *ngFor="let item of tipoContratoArray"
																	[value]="item.valor">
																	{{ item.nombre }}
																</mat-option>
															</mat-select>
														</mat-form-field>
													</div>
												</div>
												<!-- Validacion de campos para que se muestren de forma ordenada (tener Trabajo Actual) -->
												<div class="row justify-content-start" *ngIf="tenerTrabajoActual">
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="trabajoEmpresa"
																placeholder="Nombre del trabajo actual de la empresa"
																name="trabajoEmpresa" id="trabajoEmpresa" type="text">
														</mat-form-field>
													</div>
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="empleoAntes"
																placeholder="Nombre del empleo anterior"
																name="empleoAntes" id="empleoAntes" type="text">
														</mat-form-field>
													</div>
												</div>
												<!-- Validacion de campos para que se muestren de forma ordenada (tener Trabajo Actual) -->
												<div class="row justify-content-center">
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field>
															<input matInput placeholder="Fecha del empleo anterior"
																[matDatepicker]="picker3" (click)="picker3.open()"
																formControlName="fechaEmpleoAntes"
																name="fechaEmpleoAntes">
															<mat-datepicker-toggle matSuffix [for]="picker3">
															</mat-datepicker-toggle>
															<mat-datepicker #picker3></mat-datepicker>
														</mat-form-field>
													</div>
													<div class="col-sm-6 text-left my-sm-2 my-md-2 my-3">
														<label for="recomendado">¿Lo recomienda alguien de esta empresa?
															*</label>
														<mat-radio-group class="radio-group" placeholder="Recomedado"
															id="recomendado" name="recomendado"
															formControlName="recomendado" required>
															<mat-radio-button class="radio-button" type="radio"
																name="recomendado" value="Si"
																(click)="ocultarInput('recomendado', 1)">Sí
															</mat-radio-button>
															<mat-radio-button class="radio-button" type="radio"
																name="recomendado" value="No"
																(click)="ocultarInput('recomendado', 2)">No
															</mat-radio-button>
															<mat-error
																*ngIf="infoEmpleadoFormGroup.get('recomendado').hasError('required')">
																El campo recomendado es <strong>requerido</strong>
															</mat-error>
														</mat-radio-group>
													</div>
												</div>
												<div class="row justify-content-center" *ngIf="esRecomendado">
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="nombreRecomendado"
																placeholder="Nombre de quién recomienda"
																name="nombreRecomendado" id="nombreRecomendado"
																type="text">
														</mat-form-field>
													</div>
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="dependenciaRecomendado"
																placeholder="Dependencia de quién recomienda"
																name="dependenciaRecomendado"
																id="dependenciaRecomendado" type="text">
														</mat-form-field>
													</div>
												</div>
												<div class="row justify-content-start">
													<div class="col-sm-6 text-left my-sm-2 my-md-2 my-3">
														<label for="parientesEmpresa">¿Tiene parientes que trabajan en
															esta empresa? *</label>
														<mat-radio-group class="radio-group" placeholder="Recomedado"
															id="parientesEmpresa" name="parientesEmpresa"
															formControlName="parientesEmpresa" required>
															<mat-radio-button class="radio-button" type="radio"
																name="parientesEmpresa" value="Si"
																(click)="ocultarInput('pariente', 1)">Sí
															</mat-radio-button>
															<mat-radio-button class="radio-button" type="radio"
																name="parientesEmpresa" value="No"
																(click)="ocultarInput('pariente', 2)">No
															</mat-radio-button>
															<mat-error
																*ngIf="infoEmpleadoFormGroup.get('parientesEmpresa').hasError('required')">
																El campo parientes es <strong>requerido</strong>
															</mat-error>
														</mat-radio-group>
													</div>
													<!-- Validacion de campos para que se muestren de forma ordenada (tener parientes) -->
													<!-- <ng-container *ngIf="campoConocimientoVacante">
													<div class="col-sm-6 text-left my-sm-2 my-md-2 my-3" *ngIf="!tieneParientes">
														<div class="row">
															<label class="col-sm-10 col-form-label">¿Cómo tuvo conocimiento de la existencia de la vacante?</label>
														</div>
														<div class="row">
															<div class="col-sm-10 text-left">
																<div class="form-check form-check-inline" *ngFor="let item of opcionesVacanteArray">
																	<label class="form-check-label">
																		<input class="form-check-input" type="checkbox" (change)="onChangeVacantes(item.valor, $event.target.checked)">
																		{{ item.nombre }}
																		<span class="form-check-sign">
																			<span class="check"></span>
																		</span>
																	</label>
																</div>
															</div>
														</div>
													</div>
												</ng-container> -->
													<ng-container *ngIf="campoConocimientoVacante">
														<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3"
															*ngIf="!tieneParientes">
															<mat-form-field>
																<mat-select [compareWith]="compararDato"
																	placeholder="¿Cómo tuvo conocimiento de la existencia de la vacante?"
																	name="conocimientoVacante" id="conocimientoVacante"
																	formControlName="conocimientoVacante">
																	<mat-option
																		*ngFor="let item of opcionesVacanteArray"
																		[value]="item.valor">
																		{{ item.nombre }}
																	</mat-option>
																</mat-select>
															</mat-form-field>
														</div>
													</ng-container>
													<!-- Validacion de campos para que se muestren de forma ordenada (tener parientes) -->
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3"
														*ngIf="tieneParientes">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="nombrePariente"
																placeholder="Nombre del pariente" name="nombrePariente"
																id="nombrePariente" type="text">
														</mat-form-field>
													</div>
													<!-- Validacion de campos para que se muestren de forma ordenada (tener parientes) -->
												</div>
												<div class="row justify-content-start">
													<!-- Validacion de campos para que se muestren de forma ordenada (tener parientes) -->
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3"
														*ngIf="tieneParientes">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="dependenciaPariente"
																placeholder="Dependencia del pariente"
																name="dependenciaPariente" id="dependenciaPariente"
																type="text">
														</mat-form-field>
													</div>
													<!-- Validacion de campos para que se muestren de forma ordenada (tener parientes) -->
													<!-- <ng-container *ngIf="campoConocimientoVacante">
													<div class="col-sm-6 text-left my-sm-2 my-md-2 my-3" *ngIf="tieneParientes">
														<div class="row">
															<label class="col-sm-10 col-form-label">¿Cómo tuvo conocimiento de la existencia de la vacante?</label>
														</div>
														<div class="row">
															<div class="col-sm-10 text-left">
																<div class="form-check form-check-inline" *ngFor="let item of opcionesVacanteArray">
																	<label class="form-check-label">
																		<input class="form-check-input" type="checkbox" (change)="onChangeVacantes(item.valor, $event.target.checked)">
																		{{ item.nombre }}
																		<span class="form-check-sign">
																			<span class="check"></span>
																		</span>
																	</label>
																</div>
															</div>
														</div>
													</div>
												</ng-container> -->
													<ng-container *ngIf="campoConocimientoVacante">
														<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3"
															*ngIf="tieneParientes">
															<mat-form-field>
																<mat-select [compareWith]="compararDato"
																	placeholder="¿Cómo tuvo conocimiento de la existencia de la vacante?"
																	name="conocimientoVacante" id="conocimientoVacante"
																	formControlName="conocimientoVacante">
																	<mat-option
																		*ngFor="let item of opcionesVacanteArray"
																		[value]="item.valor">
																		{{ item.nombre }}
																	</mat-option>
																</mat-select>
															</mat-form-field>
														</div>
													</ng-container>
												</div>
												<div class="row justify-content-center">
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="ciudadVivido"
																placeholder="Ciudad donde vivió" name="ciudadVivido"
																id="ciudadVivido" type="text">
														</mat-form-field>
													</div>
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="ciudadesTrabajado"
																placeholder="Ciudad donde trabajó"
																name="ciudadesTrabajado" id="ciudadesTrabajado"
																type="text">
														</mat-form-field>
													</div>
												</div>
												<div class="row justify-content-center">
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="trabajoOtraCiudad"
																placeholder="¿En qué ciudades o regiones del país ha trabajado?"
																name="trabajoOtraCiudad" id="trabajoOtraCiudad"
																type="text">
														</mat-form-field>
													</div>
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field>
															<mat-select [compareWith]="compararDato"
																placeholder="Tipo de vivienda" name="tipoVivienda"
																id="tipoVivienda" formControlName="tipoVivienda">
																<mat-option *ngFor="let item of tipoViviendaArray"
																	[value]="item.valor"
																	(click)="ocultarInput('vivienda', item.valor)">
																	{{ item.nombre }}
																</mat-option>
															</mat-select>
														</mat-form-field>
													</div>
												</div>
												<div class="row justify-content-center" *ngIf="viviendaAlquilada">
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="nombreArrendador"
																placeholder="Nombre del arrendador"
																name="nombreArrendador" id="nombreArrendador"
																type="text">
														</mat-form-field>
													</div>
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="telefonoArrendador"
																placeholder="Teléfono del arrendador"
																name="telefonoArrendador" id="telefonoArrendador"
																type="text">
														</mat-form-field>
													</div>
												</div>
												<div class="row justify-content-center">
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="tiempoVivienda"
																placeholder="¿Hace cuánto recide en este lugar?"
																name="tiempoVivienda" id="tiempoVivienda" type="text">
														</mat-form-field>
													</div>
													<div class="col-sm-6 text-left my-sm-2 my-md-2 my-3">
														<label for="tieneIngresosAdicionales">¿Actualmente tiene algún
															ingreso adicional? *</label>
														<mat-radio-group class="radio-group"
															placeholder="¿Ingreso Adicional?"
															id="tieneIngresosAdicionales"
															name="tieneIngresosAdicionales"
															formControlName="tieneIngresosAdicionales" required>
															<mat-radio-button class="radio-button" type="radio"
																name="tieneIngresosAdicionales" value="Si"
																(click)="ocultarInput('ingresoAdicional', 1)">Sí
															</mat-radio-button>
															<mat-radio-button class="radio-button" type="radio"
																name="tieneIngresosAdicionales" value="No"
																(click)="ocultarInput('ingresoAdicional', 2)">No
															</mat-radio-button>
															<mat-error
																*ngIf="infoEmpleadoFormGroup.get('tieneIngresosAdicionales').hasError('required')">
																El campo ingreso adicional es <strong>requerido</strong>
															</mat-error>
														</mat-radio-group>
													</div>
												</div>
												<div class="row justify-content-center" *ngIf="tenerIngresoAdicional">
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="ingresosAdicionales"
																placeholder="Ingresos adicionales"
																name="ingresosAdicionales" id="ingresosAdicionales"
																type="text">
														</mat-form-field>
													</div>
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="valorIngresosAdicionales"
																placeholder="Valor ingresos adicionales"
																name="valorIngresosAdicionales"
																id="valorIngresosAdicionales" type="text">
															<span matPrefix>$&nbsp;</span>
															<span matSuffix>.00</span>
															<mat-error
																*ngIf="infoEmpleadoFormGroup.get('valorIngresosAdicionales').hasError('required') && infoEmpleadoFormGroup.get('valorIngresosAdicionales').touched">
																El campo valor ingresos adicionales es
																<strong>requerido</strong>
															</mat-error>
															<mat-error
																*ngIf="infoEmpleadoFormGroup.get('valorIngresosAdicionales').hasError('pattern')">
																El campo valor ingresos adicionales tiene el siguiente
																formato <strong>Ejm: 100000</strong>
															</mat-error>
														</mat-form-field>
													</div>
												</div>
												<div class="row justify-content-center">
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="valorObligaciones"
																placeholder="Valor obligaciones"
																name="valorObligaciones" id="valorObligaciones"
																type="text">
															<span matPrefix>$&nbsp;</span>
															<span matSuffix>.00</span>
															<mat-error
																*ngIf="infoEmpleadoFormGroup.get('valorObligaciones').hasError('required') && infoEmpleadoFormGroup.get('valorObligaciones').touched">
																El campo valor obligaciones es
																<strong>requerido</strong>
															</mat-error>
															<mat-error
																*ngIf="infoEmpleadoFormGroup.get('valorObligaciones').hasError('pattern')">
																El campo valor obligaciones tiene el siguiente formato
																<strong>Ejm: 100000</strong>
															</mat-error>
														</mat-form-field>
													</div>
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="conceptoObligaciones"
																placeholder="Concepto por obligaciones"
																name="conceptoObligaciones" id="conceptoObligaciones"
																type="text">
														</mat-form-field>
													</div>
												</div>
												<div class="row justify-content-center">
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="aspiracionSalarial"
																placeholder="Aspiración salarial"
																name="aspiracionSalarial" id="aspiracionSalarial"
																type="text">
															<span matPrefix>$&nbsp;</span>
															<span matSuffix>.00</span>
															<mat-error
																*ngIf="infoEmpleadoFormGroup.get('aspiracionSalarial').hasError('required') && infoEmpleadoFormGroup.get('aspiracionSalarial').touched">
																El campo aspiración salarial es
																<strong>requerido</strong>
															</mat-error>
															<mat-error
																*ngIf="infoEmpleadoFormGroup.get('aspiracionSalarial').hasError('pattern')">
																El campo aspiración salarial tiene el siguiente formato
																<strong>Ejm: 100000</strong>
															</mat-error>
														</mat-form-field>
													</div>
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="reconocimientos"
																placeholder="Reconocimientos Laborales" name="reconocimientos"
																id="reconocimientos" type="text">
														</mat-form-field>
													</div>
												</div>
												<div class="row justify-content-center">
													<div class="col-sm-6 text-left my-sm-2 my-md-2 my-3">
														<label for="tenerGrupoPertenece">¿Pertenece a algún tipo de
															asociación comunicataria, deportiva, cultural, etc.?
															*</label>
														<mat-radio-group class="radio-group"
															placeholder="pertenece grupo" id="tenerGrupoPertenece"
															name="tenerGrupoPertenece"
															formControlName="tenerGrupoPertenece" required>
															<mat-radio-button class="radio-button" type="radio"
																name="tenerGrupoPertenece" value="Si"
																(click)="ocultarInput('grupoPertenecer', 1)">Sí
															</mat-radio-button>
															<mat-radio-button class="radio-button" type="radio"
																name="tenerGrupoPertenece" value="No"
																(click)="ocultarInput('grupoPertenecer', 2)">No
															</mat-radio-button>
															<mat-error
																*ngIf="infoEmpleadoFormGroup.get('tenerGrupoPertenece').hasError('required')">
																El campo ingreso adicional es <strong>requerido</strong>
															</mat-error>
														</mat-radio-group>
													</div>
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3"
														*ngIf="pertenecerGrupo">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="perteneceGrupo"
																placeholder="¿A cuales grupos pertenece?"
																name="perteneceGrupo" id="perteneceGrupo" type="text">
														</mat-form-field>
													</div>
													<!-- <div class="col-sm-6 text-center my-sm-2 my-md-2 my-3"
														*ngIf="!pertenecerGrupo">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="hobbies"
																placeholder="Hobbies" name="hobbies" id="hobbies"
																type="text">
														</mat-form-field>
													</div> -->
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3" *ngIf="!pertenecerGrupo">
														<mat-form-field>
															<mat-select [compareWith]="compararDato" placeholder="Deportes" name="deportes" id="deportes"
																formControlName="deportes">
																<mat-option *ngFor="let item of tipoDeportesArray" [value]="item.valor">
																	{{ item.nombre }}
																</mat-option>
															</mat-select>
														</mat-form-field>
													</div>
												</div>
												<div class="row justify-content-start">
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3" *ngIf="pertenecerGrupo">
														<mat-form-field>
															<mat-select [compareWith]="compararDato"
																placeholder="Deportes" name="deportes" id="deportes"
																formControlName="deportes">
																<mat-option *ngFor="let item of tipoDeportesArray"
																	[value]="item.valor">
																	{{ item.nombre }}
																</mat-option>
															</mat-select>
														</mat-form-field>
													</div>
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<textarea matInput formControlName="expectativas"
																placeholder="Expectativas" name="expectativas"
																id="expectativas"></textarea>
														</mat-form-field>
													</div>
												</div>
												<!-- <div class="row justify-content-start" *ngIf="pertenecerGrupo">
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="hobbies"
																placeholder="Hobbies" name="hobbies" id="hobbies"
																type="text">
														</mat-form-field>
													</div>
												</div> -->
											</div>
											<ng-container *ngIf="(opcionVentana == 1); else bloqueBotonGuardar">
												<div class="row justify-content-center">
													<div class="col-md-12 text-center">
														<button mat-button matStepperPrevious
															class="btn btn-optimus-green mx-2">Atrás</button>
														<button mat-button matStepperNext
															[disabled]="infoEmpleadoFormGroup.invalid"
															class="btn btn-optimus-green mx-2">Siguiente</button>
													</div>
												</div>
											</ng-container>
											<ng-template #bloqueBotonGuardar>
												<div class="row justify-content-center">
													<div class="col-md-12 text-center">
														<button mat-button [disabled]="infoEmpleadoFormGroup.invalid"
															class="btn btn-optimus-black">Guardar</button>
													</div>
												</div>
											</ng-template>
										</form>
									</div>
								</div>
							</mat-step>

							<!-- Informacion familiar -->
							<mat-step [stepControl]="infoFamiliarFormGroup">
								<div class="card card-optimus py-1">
									<div class="card-header">
										<h4 class="card-title d-flex">
											<i class="material-icons p-1">family_restroom</i>
											<span class="py-1 text-uppercase">Registrar
												Información Familiar</span>
										</h4>
									</div>
									<div class="card-body">
										<form class="mt-3" ngNativeValidate [formGroup]="infoFamiliarFormGroup" autocomplete="off"
											(ngSubmit)="onSubmitCrearEmpleados(opcionVentana, 'infoFamiliar')">
											<ng-template matStepLabel>Información Familiar</ng-template>
											<div class="card-body">
												<div class="row justify-content-center">
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="nombrePareja"
																placeholder="Nombre de la pareja" name="nombrePareja"
																id="nombrePareja" type="text">
														</mat-form-field>
													</div>
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field>
															<mat-select [compareWith]="compararDato"
																placeholder="Profesión de la pareja"
																name="profesionPareja" id="profesionPareja"
																formControlName="profesionPareja">
																<mat-option *ngFor="let item of profesionArray"
																	[value]="item.valor">
																	{{ item.nombre }}
																</mat-option>
															</mat-select>
														</mat-form-field>
													</div>
												</div>
												<div class="row justify-content-center">
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="empresaPareja"
																placeholder="Empresa donde trabaja" name="empresaPareja"
																id="empresaPareja" type="text">
														</mat-form-field>
													</div>
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="cargoActualPareja"
																placeholder="Cargo actual" name="cargoActualPareja"
																id="cargoActualPareja" type="text">
														</mat-form-field>
													</div>
												</div>
												<div class="row justify-content-center">
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="direccionF"
																placeholder="Dirección" name="direccionF" id="direccionF"
																type="text">
														</mat-form-field>
													</div>
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="contacto"
																placeholder="Teléfono" name="contacto" id="contacto"
																type="text">
														</mat-form-field>
													</div>
												</div>
												<div class="row justify-content-center">
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="ciudad"
																placeholder="Ciudad" name="ciudad" id="ciudad"
																type="text">
														</mat-form-field>
													</div>
													<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="numHermanos"
																placeholder="Numero de personas a cargo"
																name="numHermanos" id="numHermanos" type="number"
																required>
															<mat-error
																*ngIf="infoFamiliarFormGroup.get('numHermanos').hasError('required') && infoFamiliarFormGroup.get('numHermanos').touched">
																El campo parientes es <strong>requerido</strong>
															</mat-error>
															<mat-error
																*ngIf="infoFamiliarFormGroup.get('numHermanos').hasError('pattern')">
																El campo número de hermanos debe tener el siguiente
																formato <strong>Ejm: 1</strong>
															</mat-error>
														</mat-form-field>
													</div>
												</div>
											</div>
											<ng-container *ngIf="(opcionVentana == 1); else bloqueBotonGuardar">
												<div class="row justify-content-center">
													<div class="col-md-12 text-center">
														<button mat-button matStepperPrevious
															class="btn btn-optimus-green mx-2">Atrás</button>
														<button mat-button matStepperNext
															[disabled]="infoFamiliarFormGroup.invalid"
															class="btn btn-optimus-green mx-2">Siguiente</button>
													</div>
												</div>
											</ng-container>
											<ng-template #bloqueBotonGuardar>
												<div class="row justify-content-center">
													<div class="col-md-12 text-center">
														<button mat-button [disabled]="infoFamiliarFormGroup.invalid"
															class="btn btn-optimus-black">Guardar</button>
													</div>
												</div>
											</ng-template>
										</form>
									</div>
								</div>
							</mat-step>

							<!-- Informacion educacion -->
							<mat-step [stepControl]="infoEducacionFormGroup">
								<ng-template matStepLabel>Educación</ng-template>
								<!-- Formulario para agregar cursos, diplomados, seminarios a la seccion educacion -->
								<div class="card card-optimus py-1">
									<div class="card-header">
										<h4 class="card-title d-flex">
											<i class="material-icons p-1">school</i>
											<span class="py-1 text-uppercase">Registrar Títulos
											Educativos</span>
										</h4>
									</div>
									<div class="card-body">
										<div class="row justify-content-start">
											<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
												<mat-form-field>
													<mat-select [compareWith]="compararDato"
														placeholder="Tipo de estudio" name="tipoEstudio"
														#tipoEstudio="ngModel" [(ngModel)]="tituloEducacion.tipoEstudio"
														required>
														<mat-option *ngFor="let tipo of tipoEstudiosArray"
															[value]="tipo.valor"
															(click)="tipoEstudioCursoValidar('tipoEstudioValor', tipo.valor)">
															{{ tipo.nombre }}
														</mat-option>
													</mat-select>
													<small class="text-danger"
														*ngIf="!tipoEstudio.valid && tipoEstudio.touched">
														El tipo de estudio no es <strong>válido</strong>
													</small>
												</mat-form-field>
											</div>
											<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
												<mat-form-field>
													<input matInput [(ngModel)]="tituloEducacion.tituloObtenido"
														type="text" placeholder="Título obtenido">
												</mat-form-field>
											</div>
										</div>
										<div class="row justify-content-center">
											<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
												<mat-form-field>
													<input matInput [(ngModel)]="tituloEducacion.institucion"
														type="text" placeholder="Nombre de la Institución">
												</mat-form-field>
											</div>
											<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
												<mat-form-field>
													<input matInput [(ngModel)]="tituloEducacion.ciudad" type="text"
														placeholder="Ciudad">
												</mat-form-field>
											</div>
										</div>
										<div class="row justify-content-center" *ngIf="estudiosBasicos">
											<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
												<mat-form-field>
													<input matInput [(ngModel)]="tituloEducacion.anioFinalizacion"
														type="text" placeholder="Año de finalización">
												</mat-form-field>
											</div>
											<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
												<mat-form-field>
													<input matInput [(ngModel)]="tituloEducacion.aniosCursados"
														type="text" placeholder="Años cursados">
												</mat-form-field>
											</div>
										</div>
										<div class="row justify-content-start">
											<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3"
												*ngIf="estadoCursoOpc">
												<mat-form-field>
													<input matInput [(ngModel)]="tituloEducacion.intensidadHoraria"
														type="text" placeholder="Intensidad horaria">
												</mat-form-field>
											</div>
											<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3"
												*ngIf="estadoCursoOpc">
												<mat-form-field>
													<mat-select [compareWith]="compararDato"
														placeholder="Tipo del curso" name="estadoCurso"
														#estadoCurso="ngModel" [(ngModel)]="tituloEducacion.estadoCurso"
														required>
														<mat-option *ngFor="let tipo of tipoCursosArray"
															[value]="tipo.valor"
															(click)="tipoEstudioCursoValidar('tipoCursosValor', tipo.valor)">
															{{ tipo.nombre }}
														</mat-option>
													</mat-select>
													<small class="text-danger"
														*ngIf="!estadoCurso.valid && estadoCurso.touched">
														El tipo del curso no es <strong>válido</strong>
													</small>
												</mat-form-field>
											</div>
										</div>
										<div class="row justify-content-star">
											<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3"
												*ngIf="estadoCursoOpc && duracionMesesVisible">
												<mat-form-field>
													<input matInput [(ngModel)]="tituloEducacion.duracionMeses"
														type="text" placeholder="Duración en meses">
												</mat-form-field>
											</div>
											<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3"
												*ngIf="estadoCursoOpc && duracionMesesVisible">
												<mat-form-field>
													<input matInput [(ngModel)]="tituloEducacion.anioSemestreCursa"
														type="text" placeholder="Año / Semestre que cursa">
												</mat-form-field>
											</div>
										</div>
										<div class="row justify-content-center">
											<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
												<mat-form-field>
													<input matInput [(ngModel)]="tituloEducacion.observacion"
														type="text" placeholder="Observación">
												</mat-form-field>
											</div>
											<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
												<button mat-raised-button class="btn btn-optimus-black"
													(click)="agregarTituloAlArrayEducacion()">Agregar título</button>
											</div>
										</div>
									</div>
								</div>

								<!-- Seccion que muestra los cursos, diplomados, seminarios conforme se vayan agregando -->
								<ng-container *ngIf="mostrarTiposEducacion">
									<div class="card-body px-0">
										<mat-accordion class="accord-headers-align">
											<mat-expansion-panel hideToggle>
												<mat-expansion-panel-header>
													<mat-panel-title>
														<strong>Títulos Académicos</strong>
													</mat-panel-title>
													<mat-panel-description class="">
														Dar clic
													</mat-panel-description>
													<mat-icon>keyboard_arrow_down</mat-icon>
												</mat-expansion-panel-header>
												<div class="my-4 p-0 p-sm-1 p-md-1 p-lg-1"
													*ngFor="let item of infoEducacionTempArray; let i=index;">
													<div class="container-fluid my-2">
														<div class="border rounded" style="border-color: #ddd;">
															<div class="row justify-content-center">
																<div class="col-sm-5">
																	<span class="d-flex p-2">
																		<strong>Tipo de estudio: &nbsp;</strong>
																		{{item?.tipoEstudio}}
																	</span>
																</div>
																<div class="col-sm-5">
																	<span class="d-flex p-2">
																		<strong>Año de finalización: &nbsp;</strong>
																		{{item?.anioFinalizacion}}
																	</span>
																</div>
															</div>
															<div class="row justify-content-center">
																<div class="col-sm-5">
																	<span class="d-flex p-2">
																		<strong>Años cursados: &nbsp;</strong>
																		{{item?.aniosCursados}}
																	</span>
																</div>
																<div class="col-sm-5">
																	<span class="d-flex p-2">
																		<strong>Duración en meses: &nbsp;</strong>
																		{{item?.duracionMeses}}
																	</span>
																</div>
															</div>
															<div class="row justify-content-center">
																<div class="col-sm-5">
																	<span class="d-flex p-2">
																		<strong>Título obtenido: &nbsp;</strong>
																		{{item?.tituloObtenido}}
																	</span>
																</div>
																<div class="col-sm-5">
																	<span class="d-flex p-2">
																		<strong>Nombre de la Institución:
																			&nbsp;</strong> {{item?.institucion}}
																	</span>
																</div>
															</div>
															<div class="row justify-content-center">
																<div class="col-sm-5">
																	<span class="d-flex p-2">
																		<strong>Ciudad: &nbsp;</strong> {{item?.ciudad}}
																	</span>
																</div>
																<div class="col-sm-5">
																	<span class="d-flex p-2">
																		<strong>Intensidad horaria: &nbsp;</strong>
																		{{item?.intensidadHoraria}}
																	</span>
																</div>
															</div>
															<div class="row justify-content-center">
																<div class="col-sm-5">
																	<span class="d-flex p-2">
																		<strong>Estado del curso: &nbsp;</strong>
																		{{item?.estadoCurso}}
																	</span>
																</div>
																<div class="col-sm-5">
																	<span class="d-flex p-2">
																		<strong>Año / Semestre que cursa:
																			&nbsp;</strong> {{item?.anioSemestreCursa}}
																	</span>
																</div>
															</div>
															<div class="row justify-content-center">
																<div class="col-sm-10">
																	<span class="d-block p-2">
																		<strong>Observación: &nbsp;</strong>
																		{{item?.observacion}}
																	</span>
																</div>
															</div>
															<div class="row justify-content-center">
																<div class="col-sm-5 text-center pb-2">
																	<button mat-raised-button class="btn btn-optimus-green"
																		(click)="onSubmitEliminarTituloEducacion(item?.id, i)">
																		<span
																			class="material-icons">delete</span>Eliminar
																	</button>
																</div>
																<div class="col-sm-5 text-center pb-2">
																	<button mat-raised-button
																		class="btn btn-optimus-black"
																		(click)="modificarTituloEducacionColocar(item)">
																		<span class="material-icons">create</span>
																		Modificar
																	</button>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="my-4 p-0 p-sm-1 p-md-1 p-lg-1"
													*ngFor="let item of infoEducacionArray; let i=index;">
													<div class="container-fluid my-2">
														<div class="border rounded" style="border-color: #ddd;">
															<div class="row justify-content-center">
																<div class="col-sm-5">
																	<span class="d-flex p-2">
																		<strong>Tipo de estudio: &nbsp;</strong>
																		{{item?.tipoEstudio}}
																	</span>
																</div>
																<div class="col-sm-5">
																	<span class="d-flex p-2">
																		<strong>Año de finalización: &nbsp;</strong>
																		{{item?.anioFinalizacion}}
																	</span>
																</div>
															</div>
															<div class="row justify-content-center">
																<div class="col-sm-5">
																	<span class="d-flex p-2">
																		<strong>Años cursados: &nbsp;</strong>
																		{{item?.aniosCursados}}
																	</span>
																</div>
																<div class="col-sm-5">
																	<span class="d-flex p-2">
																		<strong>Duración en meses: &nbsp;</strong>
																		{{item?.duracionMeses}}
																	</span>
																</div>
															</div>
															<div class="row justify-content-center">
																<div class="col-sm-5">
																	<span class="d-flex p-2">
																		<strong>Título obtenido: &nbsp;</strong>
																		{{item?.tituloObtenido}}
																	</span>
																</div>
																<div class="col-sm-5">
																	<span class="d-flex p-2">
																		<strong>Nombre de la Institución:
																			&nbsp;</strong> {{item?.institucion}}
																	</span>
																</div>
															</div>
															<div class="row justify-content-center">
																<div class="col-sm-5">
																	<span class="d-flex p-2">
																		<strong>Ciudad: &nbsp;</strong> {{item?.ciudad}}
																	</span>
																</div>
																<div class="col-sm-5">
																	<span class="d-flex p-2">
																		<strong>Intensidad horaria: &nbsp;</strong>
																		{{item?.intensidadHoraria}}
																	</span>
																</div>
															</div>
															<div class="row justify-content-center">
																<div class="col-sm-5">
																	<span class="d-flex p-2">
																		<strong>Estado del curso: &nbsp;</strong>
																		{{item?.estadoCurso}}
																	</span>
																</div>
																<div class="col-sm-5">
																	<span class="d-flex p-2">
																		<strong>Año / Semestre que cursa:
																			&nbsp;</strong> {{item?.anioSemestreCursa}}
																	</span>
																</div>
															</div>
															<div class="row justify-content-center">
																<div class="col-sm-10">
																	<span class="d-block p-2">
																		<strong>Observación: &nbsp;</strong>
																		{{item?.observacion}}
																	</span>
																</div>
															</div>
															<div class="row justify-content-center">
																<div class="col-sm-10 text-center pb-2">
																	<button mat-raised-button class="btn btn-optimus-green mx-2"
																		focusable="false"
																		(click)="borrarFilaalArrayEducacion(i)">
																		Eliminar
																	</button>
																</div>
															</div>
														</div>
													</div>
												</div>
											</mat-expansion-panel>
										</mat-accordion>
									</div>
								</ng-container>
								<div class="container">
									<h3 class="text-center">{{mensajeNuevotituloAcademico}}</h3>
								</div>

								<ng-container *ngIf="botonNuevoTituloAcademico; else bloqueGuardarNuevoTituloAcademico">
									<form class="mt-3" ngNativeValidate [formGroup]="infoEducacionFormGroup" class="my-5 pt-4"
										(ngSubmit)="onSubmitCrearEmpleados(opcionVentana, 'infoEducacion')"
										autocomplete="off">
										<div class="row justify-content-center">
											<div class="col-md-12 text-center">
												<button mat-button matStepperPrevious
													class="btn btn-optimus-green mx-2">Atrás</button>
												<button mat-button matStepperNext
													[disabled]="infoEducacionFormGroup.invalid"
													class="btn btn-optimus-black mx-2">Guardar</button>
											</div>
										</div>
									</form>
								</ng-container>
								<ng-template #bloqueGuardarNuevoTituloAcademico>
									<div class="row justify-content-center">
										<div class="col-md-12 text-center">
											<button mat-button [disabled]="(infoEducacionArray.length == 0)"
												(click)="onSubmitCreartitulosAcademicos()"
												class="btn btn-optimus-black">Guardar Título Académico</button>
										</div>
									</div>
								</ng-template>
							</mat-step>

							<!-- Finalizar -->
							<mat-step>
								<ng-template matStepLabel>Listo</ng-template>
								<div class="card-header text-center">
									<h3 class="card-title">
										{{mensajeRespuesta}}
									</h3>
								</div>

								<div class="row justify-content-center">
									<div class="col-md-3">
										<button mat-button matStepperNext [disabled]="botonFinalizar"
											class="btn btn-next btn-fill btn-optimus-black"
											(click)="regresar()">Finalizar</button>
									</div>
								</div>
							</mat-step>

						</mat-vertical-stepper>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<!-- Modal Actualizar educacion-->
<div class="modal fade bg-modal" id="modalEducacion" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Actualizar Título Académico</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<!-- Formulario solo modificar cursos, diplomados, seminarios a la seccion educacion -->
				<div class="card card-optimus py-1" id="cardFormTituloEducativo">
					<div class="card-header">
						<h4 class="card-title d-flex">
							<i class="material-icons p-1">school</i>
							<span class="py-1 text-uppercase">Registrar Títulos Educativos</span>
						</h4>
					</div>
					<div class="card-body">
						<div class="row justify-content-start">
							<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Tipo de estudio"
										name="tipoEstudio" #tipoEstudio="ngModel"
										[(ngModel)]="tituloEducacionModificar.tipoEstudio" required>
										<mat-option *ngFor="let tipo of tipoEstudiosArray" [value]="tipo.valor"
											(click)="tipoEstudioCursoValidar('tipoEstudioValor', tipo.valor)">
											{{ tipo.nombre }}
										</mat-option>
									</mat-select>
									<small class="text-danger" *ngIf="!tipoEstudio.valid && tipoEstudio.touched">
										El tipo de estudio no es <strong>válido</strong>
									</small>
								</mat-form-field>
							</div>
							<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
								<mat-form-field>
									<input matInput [(ngModel)]="tituloEducacionModificar.tituloObtenido" type="text"
										placeholder="Título obtenido">
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
								<mat-form-field>
									<input matInput [(ngModel)]="tituloEducacionModificar.institucion" type="text"
										placeholder="Nombre de la Institución">
								</mat-form-field>
							</div>
							<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
								<mat-form-field>
									<input matInput [(ngModel)]="tituloEducacionModificar.ciudad" type="text"
										placeholder="Ciudad">
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center" *ngIf="estudiosBasicos">
							<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
								<mat-form-field>
									<input matInput [(ngModel)]="tituloEducacionModificar.anioFinalizacion" type="text"
										placeholder="Año de finalización">
								</mat-form-field>
							</div>
							<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
								<mat-form-field>
									<input matInput [(ngModel)]="tituloEducacionModificar.aniosCursados" type="text"
										placeholder="Años cursados">
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-start">
							<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3" *ngIf="estadoCursoOpc">
								<mat-form-field>
									<input matInput [(ngModel)]="tituloEducacionModificar.intensidadHoraria" type="text"
										placeholder="Intensidad horaria">
								</mat-form-field>
							</div>
							<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3" *ngIf="estadoCursoOpc">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Tipo del curso"
										name="estadoCurso" #estadoCurso="ngModel"
										[(ngModel)]="tituloEducacionModificar.estadoCurso" required>
										<mat-option *ngFor="let tipo of tipoCursosArray" [value]="tipo.valor"
											(click)="tipoEstudioCursoValidar('tipoCursosValor', tipo.valor)">
											{{ tipo.nombre }}
										</mat-option>
									</mat-select>
									<small class="text-danger" *ngIf="!estadoCurso.valid && estadoCurso.touched">
										El tipo del curso no es <strong>válido</strong>
									</small>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-star">
							<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3"
								*ngIf="estadoCursoOpc && duracionMesesVisible">
								<mat-form-field>
									<input matInput [(ngModel)]="tituloEducacionModificar.duracionMeses" type="text"
										placeholder="Duración en meses">
								</mat-form-field>
							</div>
							<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3"
								*ngIf="estadoCursoOpc && duracionMesesVisible">
								<mat-form-field>
									<input matInput [(ngModel)]="tituloEducacionModificar.anioSemestreCursa" type="text"
										placeholder="Año / Semestre que cursa">
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
								<mat-form-field>
									<input matInput [(ngModel)]="tituloEducacionModificar.observacion" type="text"
										placeholder="Observación">
								</mat-form-field>
							</div>
							<div class="col-sm-6 text-center my-sm-2 my-md-2 my-3">
								<button mat-raised-button class="btn btn-optimus-black"
									(click)="onSubmitModificarTituloEducacionEmpleado()">Modificar Título</button>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Actualizar educacion-->