<app-loading *ngIf="loading"></app-loading>

<div class="main-content pt-0">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center text-md-left pb-md-4 pb-3">
				<button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresar()">
					<i class="material-icons">arrow_back</i> Regresar
				</button>
			</div>
		</div>

		<ng-container [ngSwitch]="tipoSeguimiento">
			<div *ngSwitchCase="'EC'">
				<div class="row justify-content-center mb-2">
					<div class="col-md-10">
						<h2 class="font-weight-bolder text-break text-center mb-5">ESTUDIO DE CRÉDITOS CLIENTE</h2>
						<p class="mb-4 mb-md-5">
							A continuación se listan los estudios de crédito realizados por el cliente. En caso de
							requerir un
							nuevo estudio de crédito, por favor presione el botón "Nuevo Estudio de crédito"
						</p>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-10">
						<div class="card card-optimus py-1">
							<div class="card-header">
								<h4 class="card-title d-flex">
									<i class="material-icons p-1">person</i>
									<span class="py-1 text-uppercase">Cliente</span>
								</h4>
							</div>
							<div class="container my-2">
								<div class="row justify-content-center">
									<div class="col-md-5">
										<span class="d-flex border rounded p-2 my-2 my-md-3"
											style="border-color: #ccc;">
											<strong>Nombres: &nbsp;</strong> {{datosCliente.nombres | uppercase}}
										</span>
									</div>
									<div class="col-md-5">
										<span class="d-flex border rounded p-2 my-2 my-md-3"
											style="border-color: #ccc;">
											<strong>CC: &nbsp;</strong>{{datosCliente.documento}}
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-10">
						<div class="card card-optimus py-1">
							<div class="card-header">
								<h4 class="card-title d-flex">
									<i class="material-icons p-1">edit</i>
									<span class="py-1 text-uppercase">Modificar Estudio de Crédito</span>
								</h4>
							</div>

							<form class="my-4" ngNativeValidate [formGroup]="actualizarEstudioCreditosForm"
								(ngSubmit)="onSubmitActualizarEstudioCreditos()" autocomplete="off">
								<div class="card-body ">
									<div class="row justify-content-center">
										<div class="col-sm-5 mb-2">
											<mat-form-field>
												<input matInput placeholder="Fecha Radicado" [matDatepicker]="picker1"
													(click)="picker1.open()" formControlName="fechaRadicado"
													name="fechaRadicado" id="fechaRadicado"
													[disabled]="[disabledIconoEC[0]]">
												<mat-datepicker-toggle matSuffix [for]="picker1">
												</mat-datepicker-toggle>
												<mat-datepicker #picker1></mat-datepicker>
											</mat-form-field>
										</div>
										<div class="col-sm-5 mb-2">
											<mat-form-field>
												<input matInput placeholder="Fecha de Contestación"
													[matDatepicker]="picker2" (click)="picker2.open()"
													formControlName="fechaContestacion" name="fechaContestacion"
													id="fechaContestacion" [disabled]="[disabledIconoEC[1]]">
												<mat-datepicker-toggle matSuffix [for]="picker2">
												</mat-datepicker-toggle>
												<mat-datepicker #picker2></mat-datepicker>
											</mat-form-field>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-sm-5 mb-2">
											<mat-form-field>
												<mat-select [compareWith]="compararDato" placeholder="Contestación"
													name="contestacion" id="contestacion" formControlName="contestacion"
													required>
													<mat-option *ngFor="let tipo of contestacionArray"
														[value]="tipo.valor">
														{{ tipo.nombre }}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
										<div class="col-sm-5 mb-2">
											<mat-form-field>
												<mat-select [compareWith]="compararDato" placeholder="Bancos"
													name="banco" id="banco" formControlName="banco" required>
													<mat-option *ngFor="let tipo of bancosArray" [value]="tipo.valor">
														{{ tipo.nombre }}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-sm-5 mb-2">
											<mat-form-field>
												<mat-select [compareWith]="compararDato" placeholder="Planes"
													name="plan" id="plan" formControlName="plan" required>
													<mat-option *ngFor="let tipo of planArray" [value]="tipo.valor">
														{{ tipo.nombre }}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
										<div class="col-sm-5 mb-2">
											<mat-form-field class="example-full-width">
												<textarea matInput formControlName="observacion"
													placeholder="Observación" name="observacion"
													id="observacion"></textarea>
											</mat-form-field>
										</div>
									</div>
									<div class="row justify-content-center">
										<ng-container *ngIf="campoContestacion">
											<div class="col-sm-5 mb-2">
												<mat-form-field>
													<input matInput placeholder="Fecha Desembolso" [matDatepicker]="picker3"
														(click)="picker3.open()" formControlName="fechaDesembolso"
														name="fechaDesembolso" id="fechaDesembolso"
														[disabled]="[disabledIconoEC[2]]">
													<mat-datepicker-toggle matSuffix [for]="picker3">
													</mat-datepicker-toggle>
													<mat-datepicker #picker3></mat-datepicker>
												</mat-form-field>
											</div>
											<div class="col-sm-5 mb-2">
												<div class="form-check">
													<label class="form-check-label">
														<input class="form-check-input" id="checkDesembolso"
															name="checkDesembolso" type="checkbox"
															formControlName="checkDesembolso"
															(change)="cambiarADesembolso($event)">
														<span class="form-check-sign">
															<span class="check"></span>
														</span>
														Desembolsado
													</label>
												</div>
											</div>
										</ng-container>
									</div>
									<div class="row justify-content-center">
										<div class="col-sm-8 mb-2 text-center">
											<strong>Observaciones</strong>
											<p class="text-left" [innerHTML]="observacionEstudioCredito"></p>
										</div>
									</div>
								</div>

								<div class="container">
									<div class="row justify-content-center">
										<div class="col-md-6 text-center my-3">
											<button mat-raised-button
												class="btn btn-fill btn-optimus-black">Guardar</button>
										</div>
									</div>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
			<div *ngSwitchCase="'PV'">
				<div class="row justify-content-center mb-1">
					<div class="col-md-10">
						<h2 class="font-weight-bolder text-break text-center mb-5">SEGUIMIENTO DE VENTA</h2>
						<p class="mb-4 mb-md-5">
							A continuación se lista el seguimiento de fechas de venta. Por favor, actualice la fecha de
							cada
							información conforme vaya realizando las solicitudes y obtenga las respecivas respuestas.
							Para el
							registro de fechas, modifique las que sean necesarias y luego presione modificar.
						</p>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-10">
						<div class="card card-optimus py-1">
							<div class="card-header">
								<h4 class="card-title d-flex">
									<i class="material-icons p-1">person</i>
									<span class="py-1 text-uppercase">Cliente</span>
								</h4>
							</div>
							<div class="container my-2">
								<div class="row justify-content-center">
									<div class="col-md-5">
										<span class="d-flex border rounded p-2 my-2 my-md-3"
											style="border-color: #ccc;">
											<strong>Nombres: &nbsp;</strong> {{datosCliente.nombres | uppercase}}
										</span>
									</div>
									<div class="col-md-5">
										<span class="d-flex border rounded p-2 my-2 my-md-3"
											style="border-color: #ccc;">
											<strong>CC: &nbsp;</strong>{{datosCliente.documento}}
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-10">
						<div class="card card-optimus py-1">
							<div class="card-header">
								<h4 class="card-title d-flex">
									<i class="material-icons p-1">edit</i>
									<span class="py-1 text-uppercase">Modificar Proceso de Venta</span>
								</h4>
							</div>

							<form class="mt-4" ngNativeValidate [formGroup]="procesoVentasForm"
								(ngSubmit)="guardarDatosProcesoVentas()" autocomplete="off">
								<div class="row justify-content-center">
									<div class="col-sm-5 mb-2">
										<mat-form-field>
											<input matInput placeholder="Fecha de Facturación" [matDatepicker]="picker1"
												(click)="picker1.open()" formControlName="fechaFacturacion"
												name="fechaFacturacion" id="fechaFacturacion"
												[disabled]="[disabledIconoPV[0]]">
											<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
											<mat-datepicker #picker1></mat-datepicker>
										</mat-form-field>
									</div>
									<div class="col-sm-5 mb-2">
										<mat-form-field>
											<input matInput placeholder="Fecha de envío de Matrícula"
												[matDatepicker]="picker2" (click)="picker2.open()"
												formControlName="fechaEnvioMatricula" name="fechaEnvioMatricula"
												id="fechaEnvioMatricula" [disabled]="[disabledIconoPV[1]]">
											<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
											<mat-datepicker #picker2></mat-datepicker>
										</mat-form-field>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-sm-5 mb-2">
										<mat-form-field>
											<input matInput placeholder="Fecha de recepción de matrícula"
												[matDatepicker]="picker3" (click)="picker3.open()"
												formControlName="fechaRecepcionMatricula" name="fechaRecepcionMatricula"
												id="fechaRecepcionMatricula" [disabled]="[disabledIconoPV[2]]">
											<mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
											<mat-datepicker #picker3></mat-datepicker>
										</mat-form-field>
									</div>
									<div class="col-sm-5 mb-2">
										<mat-form-field>
											<input matInput placeholder="Fecha del SOAT" [matDatepicker]="picker4"
												(click)="picker4.open()" formControlName="fechaSoat" name="fechaSoat"
												id="fechaSoat" [disabled]="[disabledIconoPV[3]]">
											<mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
											<mat-datepicker #picker4></mat-datepicker>
										</mat-form-field>
									</div>
								</div>
								<div class="row justify-content-center">
									<ng-container *ngIf="camposProcesoVentasChevy">
										<div class="col-sm-5 mb-2">
											<mat-form-field>
												<input matInput placeholder="Fecha de Activación Chevystar / OnStar"
													[matDatepicker]="picker5" (click)="picker5.open()"
													formControlName="fechaActivacionChevy" name="fechaActivacionChevy"
													id="fechaActivacionChevy" [disabled]="[disabledIconoPV[4]]">
												<mat-datepicker-toggle matSuffix [for]="picker5">
												</mat-datepicker-toggle>
												<mat-datepicker #picker5></mat-datepicker>
											</mat-form-field>
										</div>
									</ng-container>
									<div class="col-sm-5 mb-2">
										<mat-form-field>
											<input matInput placeholder="Fecha de entrega" [matDatepicker]="picker6"
												(click)="picker6.open()" formControlName="fechaEntrega"
												name="fechaEntrega" id="fechaEntrega" [disabled]="[disabledIconoPV[5]]">
											<mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
											<mat-datepicker #picker6></mat-datepicker>
										</mat-form-field>
									</div>
									<div class="col-sm-5 mb-2">
										<div class="row"></div>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-sm-5 mb-2">
										<mat-form-field>
											<input matInput placeholder="Fecha firma contrato" [matDatepicker]="picker7"
												(click)="picker7.open()" formControlName="fechaFirmaContrato"
												name="fechaFirmaContrato" id="fechaFirmaContrato"
												[disabled]="[disabledIconoPV[6]]">
											<mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
											<mat-datepicker #picker7></mat-datepicker>
										</mat-form-field>
									</div>
									<div class="col-sm-5 mb-2">
										<mat-form-field>
											<input matInput placeholder="Fecha de Consignación"
												[matDatepicker]="picker8" (click)="picker8.open()"
												formControlName="fechaConsignacion" name="fechaConsignacion"
												id="fechaConsignacion" [disabled]="[disabledIconoPV[7]]">
											<mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
											<mat-datepicker #picker8></mat-datepicker>
										</mat-form-field>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-sm-5 mb-2">
										<mat-form-field class="example-full-width">
											<input matInput formControlName="precioFinalVenta"
												placeholder="Precio final de la venta" name="precioFinalVenta"
												id="precioFinalVenta" type="text">
											<span matPrefix>$&nbsp;</span>
											<span matSuffix>.00</span>
											<mat-error
												*ngIf="procesoVentasForm.get('precioFinalVenta').hasError('pattern') && procesoVentasForm.get('precioFinalVenta').touched">
												El precio final debe tener el siguiente formato <strong>Ejm: $
													50200300</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col-sm-5 mb-2">
										<mat-form-field class="example-full-width">
											<input matInput formControlName="placa" placeholder="Placa" name="placa"
												id="placa" (keyup)="mayusculas($event)" type="text">
											<mat-error
												*ngIf="procesoVentasForm.get('placa').hasError('pattern') && procesoVentasForm.get('placa').touched">
												La placa debe tener el siguiente formato <strong>Ejm: ABC12A</strong>
											</mat-error>
										</mat-form-field>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-sm-5 mb-2">
										<mat-form-field class="example-full-width">
											<input matInput formControlName="vin" placeholder="VIN" name="vin" id="vin"
												type="text">
										</mat-form-field>
									</div>
									<div class="col-sm-5 mb-2">
										<mat-form-field class="">
											<input matInput formControlName="kilometraje" placeholder="Kilometraje"
												name="kilometraje" id="kilometraje" type="text">
											<span matSuffix> KM</span>
											<mat-error
												*ngIf="procesoVentasForm.get('kilometraje').hasError('pattern') && procesoVentasForm.get('kilometraje').touched">
												El kilometraje debe tener el siguiente formato <strong>Ejm:
													1000</strong>
											</mat-error>
										</mat-form-field>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-sm-5 mb-2">
										<mat-form-field class="example-full-width">
											<input matInput formControlName="observacion" placeholder="Observación"
												name="observacion" id="observacion" type="text">
										</mat-form-field>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-md-6 text-center my-3">
										<button mat-raised-button class="btn btn-fill btn-optimus-black"
											[disabled]="procesoVentasForm.get('precioFinalVenta').hasError('pattern')">
											<i class="material-icons">edit</i> Guardar
										</button>
									</div>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
			<div *ngSwitchCase="'R'">
				<div class="row justify-content-center mb-1">
					<div class="col-md-10">
						<h2 class="font-weight-bolder text-break text-center mb-5">RECONSIDERADO</h2>
						<!-- <p class="mb-4 mb-md-5">
							A continuación se lista el seguimiento de fechas de venta. Por favor, actualice la fecha de cada
							información conforme vaya realizando las solicitudes y obtenga las respecivas respuestas. Para el
							registro de fechas, modifique las que sean necesarias y luego presione modificar.
						</p> -->
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-10">
						<div class="card card-optimus py-1">
							<div class="card-header">
								<h4 class="card-title d-flex">
									<i class="material-icons p-1">person</i>
									<span class="py-1 text-uppercase">Cliente</span>
								</h4>
							</div>
							<div class="container my-2">
								<div class="row justify-content-center">
									<div class="col-md-5">
										<span class="d-flex border rounded p-2 my-2 my-md-3"
											style="border-color: #ccc;">
											<strong>Nombres: &nbsp;</strong> {{datosCliente.nombres | uppercase}}
										</span>
									</div>
									<div class="col-md-5">
										<span class="d-flex border rounded p-2 my-2 my-md-3"
											style="border-color: #ccc;">
											<strong>CC: &nbsp;</strong>{{datosCliente.documento}}
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-10">
						<div class="card card-optimus py-1">
							<div class="card-header">
								<h4 class="card-title d-flex">
									<i class="material-icons p-1">fact_check</i>
									<span class="py-1 text-uppercase">Reconsiderado</span>
								</h4>
							</div>
							<form class="mt-4" ngNativeValidate [formGroup]="datosReconsideradoForm"
								(ngSubmit)="guardarDatosReconsiderado()" autocomplete="off">
								<div class="card-body ">
									<div class="row justify-content-center">
										<div class="col-sm-5 mb-2">
											<mat-form-field>
												<mat-select [compareWith]="compararDato" placeholder="Reconsiderado"
													name="reconsiderado" formControlName="reconsiderado" required>
													<mat-option *ngFor="let tipo of tipoReconsideradoArray"
														[value]="tipo.valor">
														{{ tipo.nombre }}
													</mat-option>
												</mat-select>
												<mat-error
													*ngIf="datosReconsideradoForm.get('reconsiderado').hasError('required') && datosReconsideradoForm.get('reconsiderado').touched">
													El campo reconsiderado es <strong>requerido</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-sm-5 mb-2">
											<mat-form-field class="example-full-width">
												<textarea matInput rows="2" formControlName="observacion"
													placeholder="Observación" name="observacion" id="observacion"
													type="text" type="text"></textarea>
											</mat-form-field>
										</div>
									</div>
								</div>
								<div class="container">
									<div class="row justify-content-center">
										<div class="col-md-6 text-center my-3">
											<button mat-raised-button [disabled]="datosReconsideradoForm.invalid"
												class="btn btn-fill btn-optimus-black">Guardar</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div *ngSwitchDefault>
				<h3 class="text-center">No Existe datos</h3>
			</div>
		</ng-container>

	</div>
</div>