<app-loading *ngIf="loading"></app-loading>
<div class="main-content">
	<div class="container-fluid">

		<div class="row justify-content-center mb-3">
			<div class="col-md-10">
				<h2 class="font-weight-bolder text-break text-center mb-5">GESTIÓN CARGOS</h2>
				<p class="text-center text-silver d-flex pb-2">
					<span class="material-icons text-silver p-1 ml-auto" matTooltip="Ayuda"
						[matTooltipPosition]="'below'">help</span>
					<span class="py-1 mr-auto">En esta sección encuentrará los cargos disponibles en la empresa</span>
				</p>
			</div>
		</div>

		<div class="row justify-content-center mb-3">
			<div class="col-md-10">
				<div class="card card-optimus py-1">
					<div class="card-header">
						<h4 class="card-title d-flex">
							<i class="material-icons p-1">engineering</i>
							<span class="py-1 text-uppercase">Nuevo Cargo</span>
						</h4>
					</div>
					<form class="mt-3" ngNativeValidate [formGroup]="crearCargoFormGroup"
						(ngSubmit)="onSubmitCrearCargo()">
						<div class="card-body ">
							<div class="row justify-content-center">
								<div class="col-sm-5 mb-2">
									<mat-form-field class="example-full-width">
										<input matInput formControlName="nombre" placeholder="Nombre" name="nombre"
											id="nombre" type="text" required>
										<mat-error
											*ngIf="crearCargoFormGroup.get('nombre').hasError('required') && crearCargoFormGroup.get('nombre').touched">
											El campo nombre es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
								<div class="col-sm-5 mb-2">
									<mat-form-field>
										<mat-select [compareWith]="compararDato" placeholder="Área" name="area"
											id="area" formControlName="area" required>
											<mat-option *ngFor="let tipo of areasArray" [value]="tipo.valor" (click)="cargarDependenciasArea(tipo.valor)">
												{{ tipo.nombre }}
											</mat-option>
										</mat-select>
										<mat-error
											*ngIf="crearCargoFormGroup.get('area').hasError('required') && crearCargoFormGroup.get('area').touched">
											El campo área es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-sm-5 mb-2">
									<mat-form-field>
										<mat-select [compareWith]="compararDato" placeholder="Dependencia"
											name="dependencia" id="dependencia" formControlName="dependencia" required>
											<mat-option *ngFor="let tipo of dependenciasArray" [value]="tipo.valor">
												{{ tipo.nombre }}
											</mat-option>
										</mat-select>
										<mat-error
											*ngIf="crearCargoFormGroup.get('dependencia').hasError('required') && crearCargoFormGroup.get('dependencia').touched">
											El campo dependencia es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
								<div class="col-sm-5 mb-2">
									<mat-form-field>
										<mat-select [compareWith]="compararDato" placeholder="Periodo de pago"
											name="periodoPago" id="periodoPago" formControlName="periodoPago" required>
											<mat-option *ngFor="let tipo of periodoPagoArray" [value]="tipo.valor">
												{{ tipo.nombre }}
											</mat-option>
										</mat-select>
										<mat-error
											*ngIf="crearCargoFormGroup.get('periodoPago').hasError('required') && crearCargoFormGroup.get('periodoPago').touched">
											El campo periodo de pago es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-sm-5 mb-2">
									<mat-form-field>
										<mat-select [compareWith]="compararDato" placeholder="Número de cargos"
											name="numCargos" id="numCargos" formControlName="numCargos" required>
											<mat-option *ngFor="let tipo of numeroCargosArray" [value]="tipo.valor">
												{{ tipo.nombre }}
											</mat-option>
										</mat-select>
										<mat-error
											*ngIf="crearCargoFormGroup.get('numCargos').hasError('required') && crearCargoFormGroup.get('numCargos').touched">
											El campo número de cargos es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
								<div class="col-sm-5 mb-2">
									<mat-form-field>
										<mat-select [compareWith]="compararDato" placeholder="Ubicación organigrama"
											name="ubicacionOrganigrama" id="ubicacionOrganigrama" formControlName="ubicacionOrganigrama" required>
											<mat-option *ngFor="let tipo of ubicacionOrganigramaArray" [value]="tipo">
												{{ tipo }}
											</mat-option>
										</mat-select>
										<mat-error
											*ngIf="crearCargoFormGroup.get('ubicacionOrganigrama').hasError('required') && crearCargoFormGroup.get('ubicacionOrganigrama').touched">
											El campo ubicación organigrama es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-sm-10 mb-3">
									<mat-form-field class="example-full-width">
										<textarea matInput rows="4" formControlName="mision" placeholder="Misión"
											name="mision" id="mision" type="text" required></textarea>
										<mat-error
											*ngIf="crearCargoFormGroup.get('mision').hasError('required') && crearCargoFormGroup.get('mision').touched">
											El campo misión es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-md-5 col-sm-5 text-center">
									<button mat-raised-button class="btn btn-fill btn-optimus-green mx-2"
										(click)="limpiarFormulario()">
										<i class="material-icons">delete</i> Limpiar
									</button>
									<button mat-raised-button [disabled]="crearCargoFormGroup.invalid"
										class="btn btn-fill btn-optimus-black mx-2">
										<i class="material-icons">edit</i> Guardar
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="mat-elevation-z8">
					<div class="card">
						<div class="card-body m-0 p-0">
							<div class="table-responsive">
								<table class="table table-hover table-bordered table-optimus">
									<thead>
										<tr>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[0] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[1] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[2] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[3] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[4] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[5] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[6] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[7] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[8] }}
											</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let row of dataTable.dataRows; let i=index">
											<th scope="row" class="text-center">{{i+1}}</th>
											<td class="text-left">{{row?.nombre | uppercase}}</td>
											<td class="text-center">{{row?.area.nombre | uppercase}}</td>
											<td class="text-center">{{row?.dependencia.nombre | uppercase}}</td>
											<td class="text-center">{{row?.periodoPago.nombre | uppercase}}</td>
											<td class="text-center">{{row?.numCargos}}</td>
											<td class="text-center">{{row?.ubicacionOrganigrama | uppercase}}</td>
											<td class="text-center">
												<button class="btn btn-link btn-optimus-green"
													(click)="observarTexto(row?.mision)">
													Ver más
												</button>
											</td>
											<td class="text-center">
												<button class="btn btn-link btn-info btn-just-icon edit"
													(click)="actualizarCargo(row)" matTooltip="Actualizar cargo"
													[matTooltipPosition]="'below'">
													<i class="material-icons text-green">edit</i>
												</button>
												<button
													class="btn btn-link btn-warning btn-just-icon format_list_bulleted"
													(click)="listarFuncionesCargo(row?.id)" matTooltip="Ver Funciones"
													[matTooltipPosition]="'below'">
													<i class="material-icons text-yellow">format_list_bulleted</i>
												</button>
											</td>
										</tr>
										<tr *ngIf="(dataTable.dataRows.length === 0)">
											<td colspan="9" class="text-center">
												<ng-container
													*ngIf="consultaVaciaCargarSpinner; else bloqueCargaDatosRCA">
													No hay datos para mostrar
												</ng-container>
												<ng-template #bloqueCargaDatosRCA>
													<app-loading-spinner></app-loading-spinner>
												</ng-template>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="container text-muted">
							<div class="row justify-content-center">
								<div class="col-md-7">
									<div
										class="pt-2 ml-0 ml-sm-3 ml-md-3 ml-lg-3 text-center text-sm-left text-md-left text-lg-left text-silver">
										Total Registros: {{total_item_count}}
									</div>
								</div>
								<div class="col-md-4 text-center text-silver">
									<nav aria-label="..." class="align-items-center">
										<ul class="pagination align-items-center">
											<li class="page-item">
												<p class="mx-4 my-2">Página {{page_actual}} de {{total_pages}}</p>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Primera página"
													[matTooltipPosition]="'below'" (click)="listarCargos(1, 1)">
													<i class="material-icons">first_page</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Atrás"
													[matTooltipPosition]="'below'" (click)="listarCargos(1, page_prev)">
													<i class="material-icons">navigate_before</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Siguiente"
													[matTooltipPosition]="'below'" (click)="listarCargos(1, page_next)">
													<i class="material-icons">navigate_next</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Última página"
													[matTooltipPosition]="'below'"
													(click)="listarCargos(1, total_pages)">
													<i class="material-icons">last_page</i>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
						<!-- end content-->
					</div>
					<!--  end card  -->
				</div>
			</div>
			<!-- end col-md-12 -->
		</div>
		<!-- end row -->
	</div>
</div>

<!-- Modal Actualizar cargos-->
<div class="modal fade bg-modal" id="modalCargos" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Actualizar Cargo</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<form class="mb-4" ngNativeValidate [formGroup]="actualizarCargoFormGroup"
					(ngSubmit)="onSubmitActualizarCargo()">
					<div class="card-body ">
						<div class="row justify-content-center">
							<div class="col-sm-5 mb-2">
								<mat-form-field class="example-full-width">
									<input matInput formControlName="nombre" placeholder="Nombre" name="nombre"
										id="nombre" type="text" required>
									<mat-error
										*ngIf="actualizarCargoFormGroup.get('nombre').hasError('required') && actualizarCargoFormGroup.get('nombre').touched">
										El campo nombre es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col-sm-5 mb-2">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Área" name="area" id="area"
										formControlName="area" required>
										<mat-option *ngFor="let tipo of areasArray" [value]="tipo.valor" (click)="cargarDependenciasArea(tipo.valor)">
											{{ tipo.nombre }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="actualizarCargoFormGroup.get('area').hasError('required') && actualizarCargoFormGroup.get('area').touched">
										El campo área es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-5 mb-2">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Dependencia"
										name="dependencia" id="dependencia" formControlName="dependencia" required>
										<mat-option *ngFor="let tipo of dependenciasArray" [value]="tipo.valor">
											{{ tipo.nombre }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="actualizarCargoFormGroup.get('dependencia').hasError('required') && actualizarCargoFormGroup.get('dependencia').touched">
										El campo dependencia es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col-sm-5 mb-2">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Periodo de pago"
										name="periodoPago" id="periodoPago" formControlName="periodoPago" required>
										<mat-option *ngFor="let tipo of periodoPagoArray" [value]="tipo.valor">
											{{ tipo.nombre }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="actualizarCargoFormGroup.get('periodoPago').hasError('required') && actualizarCargoFormGroup.get('periodoPago').touched">
										El campo periodo de pago es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-5 mb-2">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Número de cargos"
										name="numCargos" id="numCargos" formControlName="numCargos" required>
										<mat-option *ngFor="let tipo of numeroCargosArray" [value]="tipo.valor">
											{{ tipo.nombre }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="actualizarCargoFormGroup.get('numCargos').hasError('required') && actualizarCargoFormGroup.get('numCargos').touched">
										El campo número de cargos es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col-sm-5 mb-2">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Ubicación organigrama" name="ubicacionOrganigrama"
										id="ubicacionOrganigrama" formControlName="ubicacionOrganigrama" required>
										<mat-option *ngFor="let tipo of ubicacionOrganigramaArray" [value]="tipo">
											{{ tipo }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="actualizarCargoFormGroup.get('ubicacionOrganigrama').hasError('required') && actualizarCargoFormGroup.get('ubicacionOrganigrama').touched">
										El campo ubicación organigrama es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-10 mb-3">
								<mat-form-field class="example-full-width">
									<textarea matInput rows="4" formControlName="mision" placeholder="Misión"
										name="mision" id="mision" type="text" required></textarea>
									<mat-error
										*ngIf="actualizarCargoFormGroup.get('mision').hasError('required') && actualizarCargoFormGroup.get('mision').touched">
										El campo misión es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-md-5 col-sm-5 text-center">
								<button mat-raised-button [disabled]="actualizarCargoFormGroup.invalid"
									class="btn btn-fill btn-optimus-black">
									<i class="material-icons">edit</i> Guardar
								</button>
							</div>
						</div>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Actualizar cargos-->

<!-- Modal Mirar Misión -->
<div class="modal fade bg-modal" id="modalMision" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Misión</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<div class="container">
					<p class="text-justify" [innerHTML]="textoExtendido"></p>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Mirar Misión -->