<app-loading *ngIf="loading"></app-loading>
<div class="main-content">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center text-md-left pb-md-4 pb-3">
				<button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresar()">
					<i class="material-icons">arrow_back</i> Regresar
				</button>
			</div>
		</div>

		<div class="row justify-content-center mb-2">
			<div class="col-md-10">
				<h2 class="font-weight-bolder text-break text-center mb-5">GESTIÓN DE AFILIACIONES DEL CONTRATO</h2>
				<p class="mb-4 mb-md-5">
					A continuación se lista las afiliaciones del contrato.
				</p>
			</div>
		</div>

		<div class="row justify-content-center mb-2">
			<div class="col-md-10">
				<div class="card card-optimus py-1">
					<div class="card-header">
						<h4 class="card-title d-flex">
							<i class="material-icons p-1">view_list</i>
							<span class="py-1 text-uppercase">Registrar una afiliación</span>
						</h4>
					</div>
					<form class="my-4" ngNativeValidate [formGroup]="crearAfiliacionForm"
						(ngSubmit)="onSubmitCrearAfiliacion()">
						<div class="card-body ">
							<div class="row justify-content-center">
								<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
									<mat-form-field>
										<mat-select [compareWith]="compararDato" placeholder="Tipo de Afiliación"
											name="tipoAfiliacion" id="tipoAfiliacion" formControlName="tipoAfiliacion"
											required>
											<mat-option *ngFor="let tipo of tipoAfiliacionArray" [value]="tipo.valor">
												{{ tipo.nombre }}
											</mat-option>
										</mat-select>
										<mat-error
											*ngIf="crearAfiliacionForm.get('tipoAfiliacion').hasError('required') && crearAfiliacionForm.get('tipoAfiliacion').touched">
											El tipo de afiliación es <strong>requerido</strong></mat-error>
									</mat-form-field>
								</div>
								<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
									<mat-form-field class="example-full-width">
										<input matInput formControlName="entidad" placeholder="Entidad" name="entidad"
											id="entidad" type="text" required>
										<mat-error
											*ngIf="crearAfiliacionForm.get('entidad').hasError('required') && crearAfiliacionForm.get('entidad').touched">
											El campo entidad es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
									<mat-form-field>
										<input matInput placeholder="Fecha de Afiliación" [matDatepicker]="picker1"
											(click)="picker1.open()" formControlName="fechaAfiliacion"
											name="fechaAfiliacion" id="fechaAfiliacion" required>
										<mat-datepicker-toggle matSuffix [for]="picker1">
										</mat-datepicker-toggle>
										<mat-datepicker #picker1></mat-datepicker>
										<mat-error
											*ngIf="crearAfiliacionForm.get('fechaAfiliacion').hasError('required') && crearAfiliacionForm.get('fechaAfiliacion').touched">
											El campo fecha de afiliación es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
								<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
									<mat-form-field>
										<input matInput placeholder="Fecha de Retiro" [matDatepicker]="picker2"
											(click)="picker2.open()" formControlName="fechaRetiro" name="fechaRetiro"
											id="fechaRetiro">
										<mat-datepicker-toggle matSuffix [for]="picker2">
										</mat-datepicker-toggle>
										<mat-datepicker #picker2></mat-datepicker>
										<mat-error
											*ngIf="crearAfiliacionForm.get('fechaRetiro').hasError('required') && crearAfiliacionForm.get('fechaRetiro').touched">
											El campo fecha de retiro es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-sm-10">
									<mat-form-field class="example-full-width">
										<textarea matInput formControlName="observacion" rows="2"
											placeholder="Observación" name="observacion" id="observacion"></textarea>
									</mat-form-field>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-md-5 col-sm-5 text-center">
									<button mat-raised-button class="btn btn-fill btn-optimus-green"
										(click)="limpiarFormulario()">
										<i class="material-icons">delete</i> Limpiar
									</button>
								</div>
								<div class="col-md-5 col-sm-5 text-center">
									<button mat-raised-button [disabled]="crearAfiliacionForm.invalid"
										class="btn btn-fill btn-optimus-black">
										<i class="material-icons">edit</i> Guardar
									</button>
								</div>
							</div>
						</div>
					</form>
					<div class="container">

					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="mat-elevation-z8">
					<div class="card">
						<div class="card-body m-0 p-0">
							<div class="table-responsive">
								<table class="table table-hover table-bordered table-optimus">
									<thead>
										<tr>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[0] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[1] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[2] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[3] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[4] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[5] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[6] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[7] }}
											</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let row of dataTable.dataRows; let i=index">
											<th scope="row" class="text-center">{{i+1}}</th>
											<td class="text-center">{{row?.tipoAfiliacion.nombre | uppercase}}</td>
											<td class="text-center">{{row?.entidad | uppercase}}</td>
											<td class="text-center">{{row?.fechaAfiliacion | date: "fullDate"}}</td>
											<td class="text-center">
												{{row?.fechaRetiro == '' ? '- - -' : row?.fechaRetiro | date:
												"fullDate"}}</td>
											<td class="text-center">
												<button class="btn btn-link btn-green"
													(click)="observarTexto(row?.observacion)">
													Ver más
												</button>
											</td>
											<td class="text-center">
												<button class="btn btn-link btn-optimus-green btn-just-icon backup"
													(click)="onSubmitSubirSoporte(row)" matTooltip="Soportes"
													[matTooltipPosition]="'below'">
													<i class="material-icons">backup</i>
												</button>
											</td>
											<td class="text-center">
												<button class="btn btn-link btn-optimus-green btn-just-icon edit"
													(click)="actualizarCargo(row)" matTooltip="Actualizar afiliación"
													[matTooltipPosition]="'below'">
													<i class="material-icons">edit</i>
												</button>
											</td>
										</tr>
										<tr *ngIf="(dataTable.dataRows.length === 0)">
											<td colspan="8" class="text-center">
												<ng-container
													*ngIf="consultaVaciaCargarSpinner; else bloqueCargaDatosRCA">
													No hay datos para mostrar
												</ng-container>
												<ng-template #bloqueCargaDatosRCA>
													<app-loading-spinner></app-loading-spinner>
												</ng-template>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="container text-muted">
							<div class="row justify-content-center">
								<div class="col-md-7">
									<div
										class="pt-2 ml-0 ml-sm-3 ml-md-3 ml-lg-3 text-center text-sm-left text-md-left text-lg-left">
										Total Registros: {{total_item_count}}
									</div>
								</div>
								<div class="col-md-4 text-center text-silver">
									<nav aria-label="..." class="align-items-center">
										<ul class="pagination align-items-center">
											<li class="page-item">
												<p class="mx-4 my-2">Página {{page_actual}} de {{total_pages}}</p>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Primera página"
													[matTooltipPosition]="'below'" (click)="listarAfiliaciones(1)">
													<i class="material-icons">first_page</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Atrás"
													[matTooltipPosition]="'below'"
													(click)="listarAfiliaciones(page_prev)">
													<i class="material-icons">navigate_before</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Siguiente"
													[matTooltipPosition]="'below'"
													(click)="listarAfiliaciones(page_next)">
													<i class="material-icons">navigate_next</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Última página"
													[matTooltipPosition]="'below'"
													(click)="listarAfiliaciones(total_pages)">
													<i class="material-icons">last_page</i>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
						<!-- end content-->
					</div>
					<!--  end card  -->
				</div>
			</div>
			<!-- end col-md-12 -->
		</div>
		<!-- end row -->
	</div>
</div>

<!-- Modal Actualizar afiliación-->
<div class="modal fade bg-modal" id="modalAfiliaciones" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Actualizar afiliación</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<form class="mt-2" ngNativeValidate [formGroup]="actualizarAfiliacionForm"
					(ngSubmit)="onSubmitActualizarAfiliaciones()">
					<div class="card-body ">
						<div class="row justify-content-center">
							<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
								<mat-form-field class="example-full-width">
									<input matInput formControlName="entidad" placeholder="Entidad" name="entidad"
										id="entidad" type="text" required>
									<mat-error
										*ngIf="actualizarAfiliacionForm.get('entidad').hasError('required') && actualizarAfiliacionForm.get('entidad').touched">
										El campo entidad es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Tipo de Afiliación"
										name="tipoAfiliacion" id="tipoAfiliacion" formControlName="tipoAfiliacion"
										required>
										<mat-option *ngFor="let tipo of tipoAfiliacionArray" [value]="tipo.valor">
											{{ tipo.nombre }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="actualizarAfiliacionForm.get('tipoAfiliacion').hasError('required') && actualizarAfiliacionForm.get('tipoAfiliacion').touched">
										El tipo de afiliación es <strong>requerido</strong></mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
								<mat-form-field>
									<input matInput placeholder="Fecha de Afiliación" [matDatepicker]="picker3"
										(click)="picker3.open()" formControlName="fechaAfiliacion"
										name="fechaAfiliacion" id="fechaAfiliacion" required>
									<mat-datepicker-toggle matSuffix [for]="picker3">
									</mat-datepicker-toggle>
									<mat-datepicker #picker3></mat-datepicker>
									<mat-error
										*ngIf="actualizarAfiliacionForm.get('fechaAfiliacion').hasError('required') && actualizarAfiliacionForm.get('fechaAfiliacion').touched">
										El campo fecha de afiliación es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
								<mat-form-field>
									<input matInput placeholder="Fecha de Retiro" [matDatepicker]="picker4"
										(click)="picker4.open()" formControlName="fechaRetiro" name="fechaRetiro"
										id="fechaRetiro">
									<mat-datepicker-toggle matSuffix [for]="picker4">
									</mat-datepicker-toggle>
									<mat-datepicker #picker4></mat-datepicker>
									<mat-error
										*ngIf="actualizarAfiliacionForm.get('fechaRetiro').hasError('required') && actualizarAfiliacionForm.get('fechaRetiro').touched">
										El campo fecha de retiro es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-10">
								<mat-form-field class="example-full-width">
									<textarea matInput formControlName="observacion" rows="2" placeholder="Observación"
										name="observacion" id="observacion"></textarea>
								</mat-form-field>
							</div>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-md-8 col-sm-5 text-center my-3">
							<button mat-raised-button [disabled]="actualizarAfiliacionForm.invalid"
								class="btn btn-fill btn-optimus-black">
								<i class="material-icons">edit</i> Guardar
							</button>
						</div>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Actualizar afiliación-->

<!-- Modal Mirar Observación -->
<div class="modal fade bg-modal" id="modalObservacion" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Observación Detallada</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<div class="container">
					<p class="text-justify" [innerHTML]="textoExtendido"></p>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Mirar Observación -->

<!-- Modal subir soportes a afiliaciones -->
<div class="modal fade bg-modal" id="modalSubirSoportes" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div>
				<!-- subir soportes a afiliaciones -->
				<div class="modal-header color-header">
					<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Soportes para
						{{afiliacionSoporte.entidad}} </h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<div class="card my-0">
						<div id="accordion" role="tablist">
							<!-- Subir soportes -->
							<div class="card-collapse card-optimus m-0">
								<div class="card-header pt-3" role="tab" id="headingOne">
									<h4 class="mx-4">
										<a data-toggle="collapse" href="#collapseOne" aria-expanded="false"
											aria-controls="collapseOne" class="collapsed text-white text-uppercase">
											<span class="material-icons md-48">backup</span> Subir Soportes
											<i class="material-icons">keyboard_arrow_down</i>
										</a>
									</h4>
								</div>
								<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
									data-parent="#accordion">
									<div class="card-body">

										<div class="card-body ">
											<div class="row justify-content-center">
												<div class="col-sm-10 mb-2 border rounded">
													<angular-file-uploader class="estiloPersonalizado"
														[config]="afuConfigSoporte" [resetUpload]=resetVar
														(ApiResponse)="subirArchivosAfiliaciones($event)">
													</angular-file-uploader>
												</div>
											</div>
										</div>



									</div>
								</div>
							</div>
							<!-- Listado de soportes -->
							<div class="card-collapse card-optimus m-0">
								<div class="card-header pt-3" role="tab" id="headingTwo">
									<h4 class="mx-4">
										<a data-toggle="collapse" href="#collapseTwo" aria-expanded="false"
											aria-controls="collapseTwo" class="collapsed text-white text-uppercase">
											<span class="material-icons md-48">list</span> Soportes
											<i class="material-icons">keyboard_arrow_down</i>
										</a>
									</h4>
								</div>
								<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
									data-parent="#accordion">
									<div class="card-body">

										<div class="row justify-content-center">
											<div class="col-md-10">
												<div class="mat-elevation-z88">
													<div class="card">
														<div class="card-body m-0 p-0">
															<div class="table-responsive">
																<table
																	class="table table-hover table-bordered table-optimus">
																	<thead>
																		<tr>
																			<th class="text-center text-white"
																				scope="col">{{
																				dataTableSoporte.headerRow[0] }}
																			</th>
																			<th class="text-center text-white"
																				scope="col">{{
																				dataTableSoporte.headerRow[1] }}
																			</th>
																			<th class="text-center text-white"
																				scope="col">{{
																				dataTableSoporte.headerRow[2] }}
																			</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr
																			*ngFor="let row of dataTableSoporte.dataRows; let i=index">
																			<th scope="row" class="text-center">{{i+1}}
																			</th>
																			<td class="text-center">
																				<button mat-raised-button
																					class="btn btn-fill btn-optimus-green"
																					(click)="descargarSoporteAfiliacion(row)"
																					matTooltip="{{row?.soportesNombre}}"
																					[matTooltipPosition]="'below'">Descargar</button>
																			</td>
																			<td class="text-center">
																				<button
																					class="btn btn-link btn-optimus-green btn-just-icon delete"
																					(click)="onSubmitElimarSoporteAfiliacionTabla(row)"
																					matTooltip="Eliminar Soporte"
																					[matTooltipPosition]="'below'">
																					<i class="material-icons">delete</i>
																				</button>
																			</td>
																		</tr>
																		<tr
																			*ngIf="(dataTableSoporte.dataRows.length === 0)">
																			<td colspan="3" class="text-center">
																				No hay datos para mostrar
																			</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>

													</div>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal subir soportes a afiliaciones -->