<app-loading *ngIf="loading"></app-loading>

<div class="main-content pt-0">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center text-md-left pb-md-4 pb-3">
				<button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresar()">
					<i class="material-icons">arrow_back</i> Regresar
				</button>
			</div>
		</div>
		<div class="row justify-content-center mb-3">
			<div class="col-md-10">
				<h2 class="font-weight-bolder text-break text-center mb-5">REGISTRO DE LEADS</h2>
				<p class="mb-4 mb-md-5">
					Por favor ingrese la información del cliente. Recuerde que los campos marcados con asterisco * son
					obligatorios.
				</p>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="card card-optimus py-1">
					<div class="card-header">
						<h4 class="card-title d-flex">
							<i class="material-icons p-1">view_list</i>
							<span class="py-1 text-uppercase">Registrar Leads</span>
						</h4>
					</div>
					<form class="mt-4" ngNativeValidate [formGroup]="crearClienteForm"
						(ngSubmit)="onSubmitCrearCliente()" autocomplete="off">
						<div class="card-body ">
							<div class="row justify-content-center">
								<div class="col-sm-5 mb-2">
									<mat-form-field>
										<mat-select [compareWith]="compararDato" placeholder="Tipo documento"
											name="tipoDoc" id="tipoDoc" formControlName="tipoDoc">
											<mat-option *ngFor="let tipo of tipoDocumentosArray" [value]="tipo.valor">
												{{ tipo.nombre }}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
								<div class="col-sm-5 mb-2">
									<mat-form-field class="example-full-width">
										<input matInput formControlName="documento" placeholder="No. Documento"
											name="documento" type="text">
										<mat-error
											*ngIf="crearClienteForm.get('documento').hasError('pattern') && crearClienteForm.get('documento').touched">
											El documento debe tener el siguiente formato <strong>Ejm:
												1085100100</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-sm-5 mb-2">
									<mat-form-field class="example-full-width">
										<input matInput formControlName="nombres" placeholder="Nombres" name="nombres"
											type="text" required>
										<mat-error
											*ngIf="crearClienteForm.get('nombres').hasError('required') && crearClienteForm.get('nombres').touched">
											El campo nombres es <strong>requerido</strong>
										</mat-error>
										<mat-error
											*ngIf="crearClienteForm.get('nombres').hasError('pattern') && crearClienteForm.get('nombres').touched">
											El campo nombres solo debe poseer <strong>letras y espacios</strong>
										</mat-error>
									</mat-form-field>
								</div>
								<div class="col-sm-5 mb-2">
									<mat-form-field class="example-full-width">
										<input matInput formControlName="apellidos" placeholder="Apellidos"
											name="apellidos" type="text" required>
										<mat-error
											*ngIf="crearClienteForm.get('apellidos').hasError('required') && crearClienteForm.get('apellidos').touched">
											El campo apellidos es <strong>requerido</strong>
										</mat-error>
										<mat-error
											*ngIf="crearClienteForm.get('apellidos').hasError('pattern')  && crearClienteForm.get('apellidos').touched">
											El campo apellidos solo debe poseer <strong>letras y espacios</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-sm-5 mb-2">
									<mat-form-field>
										<mat-select [compareWith]="compararDato" placeholder="Canal de Ingreso"
											name="canalIngreso" formControlName="canalIngreso" required>
											<mat-option *ngFor="let tipo of tipoCanalIngresoArray" [value]="tipo.valor">
												{{ tipo.nombre }}
											</mat-option>
										</mat-select>
										<mat-error
											*ngIf="crearClienteForm.get('canalIngreso').hasError('required') && crearClienteForm.get('canalIngreso').touched">
											El canal de ingreso es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
								<div class="col-sm-5 mb-2">
									<mat-form-field class="example-full-width">
										<input matInput formControlName="correo" placeholder="Correo electrónico"
											name="correo" type="email">
										<mat-error
											*ngIf="crearClienteForm.get('correo').hasError('pattern') && crearClienteForm.get('correo').touched">
											El campo correo debe tener el siguiente formato:
											<strong>ejemplo@gmail.com</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-sm-5 mb-2">
									<mat-form-field class="example-full-width">
										<input matInput formControlName="telefono" placeholder="Teléfono"
											name="telefono" type="text">
										<mat-error
											*ngIf="crearClienteForm.get('telefono').hasError('pattern') && crearClienteForm.get('telefono').touched">
											El campo telefono debe tener el siguiente formato:
											<strong>3153001020</strong>
										</mat-error>
									</mat-form-field>
								</div>
								
							</div>
							<div class="row justify-content-center">
								<div class="col-sm-10 mb-2">
									<mat-form-field class="example-full-width">
										<textarea matInput rows="2" formControlName="observacion"
											placeholder="Observaciones" name="observacion" id="observacion"
											type="text"></textarea>
									</mat-form-field>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-md-6 text-center my-3">
									<button mat-raised-button [disabled]="crearClienteForm.invalid"
										class="btn btn-fill btn-optimus-black">Registrar</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>