<app-loading *ngIf="loading"></app-loading>
<div class="main-content">
    <div class="container-fluid">
        <h2 class="text-center bold">REGISTROS DEL SISTEMA</h2>
        <h3 class="text-center bold mb-5">EXCEPCIONES</h3>
    </div>

    <div class="row justify-content-end mb-3 mb-md-3">
        <div class="col-md-6 text-md-right text-center">
            <button type="button" class="btn btn-black mr-md-1" (click)="listarRegistros(1)"
                matTooltip="Registros de auditoría" [matTooltipPosition]="'below'">
                <i class="material-icons">security</i> Auditoría
            </button>
            <button type="button" class="btn btn-silver ml-md-1" (click)="listarRegistros(2)"
                matTooltip="Registros de excepciones" [matTooltipPosition]="'below'">
                <i class="material-icons">warning</i> Excepciones
            </button>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="mat-elevation-z8">
                    <div class="card">
                        <div class="card-body m-0 p-0">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered table-optimus">
                                    <thead>
                                        <tr>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[0] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[1] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[2] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[3] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[4] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[5] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[6] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[7] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[8] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[9] }}
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let row of dataTable.dataRows; let i=index">
                                            <th scope="row" class="text-center">{{i+1}}</th>
                                            <td class="text-center">{{row?.idUsuario}}</td>
                                            <td class="text-center">{{row?.nombreUsuario}}</td>
                                            <td class="text-center">{{row?.modulo}}</td>
                                            <td class="text-center">{{row?.metodo}}</td>
                                            <td class="text-center">
                                                <button class="btn btn-link btn-green"
                                                    (click)="observarTexto(row?.mensaje)">
                                                    Ver más
                                                </button>
                                            </td>
                                            <td class="text-center">{{row?.tipoExcepcion}}</td>
                                            <td class="text-center">
                                                <button class="btn btn-link btn-green"
                                                    (click)="observarTexto(row?.pila)">
                                                    Ver más
                                                </button>
                                            </td>
                                            <td class="text-center">{{row?.origenExcepcion}}</td>
                                            <td class="text-center">{{row?.creacionExcepcion}}</td>
                                        </tr>
                                        <tr *ngIf="(dataTable.dataRows.length === 0)">
                                            <td colspan="10" class="text-center">
                                                <ng-container
                                                    *ngIf="consultaVaciaCargarSpinner; else bloqueCargaDatosRCA">
                                                    No hay datos para mostrar
                                                </ng-container>
                                                <ng-template #bloqueCargaDatosRCA>
                                                    <app-loading-spinner></app-loading-spinner>
                                                </ng-template>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="container text-muted">
                            <div class="row justify-content-center">
                                <div class="col-md-7">
                                    <div
                                        class="pt-2 ml-0 ml-sm-3 ml-md-3 ml-lg-3 text-center text-sm-left text-md-left text-lg-left">
                                        Total Registros: {{total_item_count}}
                                    </div>
                                </div>
                                <div class="col-md-4 text-center text-silver">
                                    <nav aria-label="..." class="align-items-center">
                                        <ul class="pagination align-items-center">
                                            <li class="page-item">
                                                <p class="mx-4 my-2">Página {{page_actual}} de {{total_pages}}</p>
                                            </li>
                                            <li class="page-item pointer">
                                                <a routerLinkActive="router-link-active" matTooltip="Primera página"
                                                    [matTooltipPosition]="'below'"
                                                    (click)="listarExcepcionesAuditoria(1)">
                                                    <i class="material-icons">first_page</i>
                                                </a>
                                            </li>
                                            <li class="page-item pointer">
                                                <a routerLinkActive="router-link-active" matTooltip="Atrás"
                                                    [matTooltipPosition]="'below'"
                                                    (click)="listarExcepcionesAuditoria(page_prev)">
                                                    <i class="material-icons">navigate_before</i>
                                                </a>
                                            </li>
                                            <li class="page-item pointer">
                                                <a routerLinkActive="router-link-active" matTooltip="Siguiente"
                                                    [matTooltipPosition]="'below'"
                                                    (click)="listarExcepcionesAuditoria(page_next)">
                                                    <i class="material-icons">navigate_next</i>
                                                </a>
                                            </li>
                                            <li class="page-item pointer">
                                                <a routerLinkActive="router-link-active" matTooltip="Última página"
                                                    [matTooltipPosition]="'below'"
                                                    (click)="listarExcepcionesAuditoria(total_pages)">
                                                    <i class="material-icons">last_page</i>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!-- end content-->
                    </div>
                    <!--  end card  -->
                </div>
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>

<!-- Modal Mirar Datos -->
<div class="modal fade bg-modal" id="modalValorRelevante" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header color-header">
                <h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Valor Relevante</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="container">
                    <p class="text-justify" [innerHTML]="textoExtendido"></p>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Mirar Datos -->
<div class="modal fade bg-modal" id="modalTextoDetallado" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header color-header">
                <h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Texto Detallado</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="container">
                    <pre>{{textoExtendido}}</pre>
                    <!-- <p class="text-justify" [innerHTML]="textoExtendido"></p> -->
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Mirar Datos -->