<app-loading *ngIf="loading"></app-loading>

<div class="main-content pt-0">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center text-md-left pb-md-4 pb-3">
				<button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresar()">
					<i class="material-icons">arrow_back</i> Regresar
				</button>
			</div>
		</div>
		
		<div class="row justify-content-center mb-3">
			<div class="col-md-8">
				<div class="card card-testimonial">
					<div class="card-avatar">
						<img class="img" src="./assets/img/faces/avatar.png" />
					</div>
					<div class="card-body">
						<h4 class="card-title font-weight-bolder text-break">{{empleado.nombres | uppercase}}
							{{empleado.apellidos | uppercase}}</h4>
						<h6 class="card-category">{{nombreCargo}}</h6>
						
						<div class="row justify-content-center mt-0 pt-0">
							<div class="col-md-10">
								<ul class="timeline timeline-simple">
									<!-- Control Individual -->
									<li class="timeline-inverted">
										<div class="timeline-badge optimus-black">
											<i class="material-icons">person_pin</i>
										</div>
										<div class="timeline-panel">
											<div class="timeline-heading text-left">
												<span class="badge badge-optimus-black">Control
													Individual</span>
												<div class="row justify-content-center">
													<button mat-raised-button [disabled]="botonHabilitar"
														class="btn btn-optimus-green btn-round"
														(click)="controlIndividual(empleado.documento)">
														<i class="material-icons">person_pin</i> Ver Control Individual
													</button>
												</div>
											</div>
										</div>
									</li>
									<!-- Hoja de Vida -->
									<li class="timeline-inverted">
										<div class="timeline-badge optimus-black">
											<i class="material-icons">account_box</i>
										</div>
										<div class="timeline-panel">
											<div class="timeline-heading text-left">
												<span class="badge badge-optimus-black">Hoja de Vida</span>
												<div class="row justify-content-center">
													<button mat-raised-button [disabled]="botonHabilitar"
														class="btn btn-optimus-green btn-round" data-toggle="modal"
														(click)="buscarIdCliente(empleado.id)">
														<i class="material-icons">account_box</i> Ver hoja de vida
													</button>
												</div>
											</div>
										</div>
									</li>
									<!-- Información Contratos -->
									<li class="timeline-inverted">
										<div class="timeline-badge optimus-black">
											<i class="material-icons">description</i>
										</div>
										<div class="timeline-panel">
											<div class="timeline-heading text-left">
												<span class="badge badge-optimus-black">Contrato</span>
												<div class="row justify-content-center">
													<ng-container *ngIf="existeContrato; else bloqueContrato">
														<button mat-raised-button [disabled]="botonHabilitar"
															class="btn btn-optimus-green btn-round" data-toggle="modal"
															(click)="gestionContratos(1, contratoId)">
															<i class="material-icons">description</i> Ver Contrato
														</button>
													</ng-container>
													<ng-template #bloqueContrato>
														<button mat-raised-button [disabled]="botonHabilitar"
															class="btn btn-optimus-green btn-round" data-toggle="modal"
															(click)="gestionContratos(2, empleado.id)">
															<i class="material-icons">description</i> Registrar contrato
														</button>
													</ng-template>
												</div>
											</div>
										</div>
									</li>
									<!-- Cargo del Empleado -->
									<li class="timeline-inverted">
										<div class="timeline-badge optimus-black">
											<i class="material-icons">contacts</i>
										</div>
										<div class="timeline-panel">
											<div class="timeline-heading text-left">
												<span class="badge badge-optimus-black">Cargo del Empleado</span>
												<div class="row justify-content-center">
													<ng-container *ngIf="existeCargo; else bloqueCargo">
														<button mat-raised-button [disabled]="botonHabilitar"
															class="btn btn-optimus-green btn-round" data-toggle="modal"
															(click)="verCargoFunciones()">
															<i class="material-icons">contacts</i> Ver Cargo del
															Empleado
														</button>
													</ng-container>
													<ng-template #bloqueCargo>
														<p class="text-center font-size-12">Debe registrar un contrato para poder
															observar el cargo
															asignado
															al empleado {{empleado.nombres | uppercase}}
															{{empleado.apellidos | uppercase}}
														</p>
													</ng-template>
												</div>
											</div>
										</div>
									</li>
									<!-- Afiliaciones -->
									<li class="timeline-inverted">
										<div class="timeline-badge optimus-black">
											<i class="material-icons">verified</i>
										</div>
										<div class="timeline-panel">
											<div class="timeline-heading text-left">
												<span class="badge badge-optimus-black">Afiliaciones</span>
												<div class="row justify-content-center">
													<ng-container *ngIf="existeContrato; else bloqueAfilicion">
														<ng-container
															*ngIf="existeAfiliacion; else bloqueAfilicionRegistrar">
															<button mat-raised-button [disabled]="botonHabilitar"
																class="btn btn-optimus-green btn-round" data-toggle="modal"
																(click)="verAfiliacion()">
																<i class="material-icons">verified</i> Ver Afiliaciones
															</button>
														</ng-container>
														<ng-template #bloqueAfilicionRegistrar>
															<button mat-raised-button [disabled]="botonHabilitar"
																class="btn btn-optimus-black" data-toggle="modal"
																(click)="verAfiliacion()">
																<i class="material-icons">verified</i> Registrar
																Afiliaciones
															</button>
														</ng-template>
													</ng-container>
													<ng-template #bloqueAfilicion>
														<p class="text-center font-size-12">Debe registrar un contrato para poder
															observar el cargo
															asignado
															al empleado {{empleado.nombres | uppercase}}
															{{empleado.apellidos | uppercase}}
														</p>
													</ng-template>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>