.card-stats:hover,
.card-stats:active {
    cursor: pointer;
}
#no-cursor:hover,
#no-cursor:active {
    cursor: default !important;
}

.f-4{
font-size: 4rem;
}

.color-pastel-0 {
    color: #00bcd4;
    background-color: rgba(0, 188, 212, 0.2);
}
.color-pastel-1 {
    color: #f44336;
    background-color: rgba(244, 67, 54, 0.2);
}
.color-pastel-2 {
    color: #ff9800;
    background-color: rgba(255, 152, 0, 0.2);
}
.color-pastel-3 {
    color: #d17905;
    background-color: rgba(209, 121, 5, 0.2);
}
.color-pastel-4 {
    color: #453d3f;
    background-color: rgba(69, 61, 63, 0.2);
}