<ng-container *ngIf="verTicketsInOut">
	<!-- Estadistica Ticket -->
	<div class="col-lg-12 col-md-6 col-sm-6">
		<div class="card card-stats my-3" (click)="onSubmitVerTicketsReporte()">
			<div class="row m-2">
				<div class="col-8">
					<h5 class="card-category bold text-uppercase">TICKETS</h5>
					<h3 class="card-title"> {{ticketsAbiertosNum}} / {{ticketsCerradosNum}} </h3>
				</div>
				<div class="col-4">
					<div class="card-icon"
						[ngClass]="{'icon-silver': ticketsAbiertosNum == 0, 'icon-danger': ticketsAbiertosNum > 0}">
						<i class="material-icons my-2 f-4">help_center</i>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<div class="stats">
					<i class="material-icons text-green">get_app</i> Ver Tickets
				</div>
			</div>
		</div>
	</div>
</ng-container>