<app-loading *ngIf="loading"></app-loading>

<div class="main-content pt-0">
	<div class="container-fluid">
		<!-- <div class="row justify-content-center">
			<div class="col-md-12 text-center text-md-left pb-md-4 pb-3">
				<button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresar()">
					<i class="material-icons">arrow_back</i> Regresar
				</button>
			</div>
		</div> -->
		<div class="row justify-content-center mb-3">
			<div class="col-md-10">
				<h2 class="font-weight-bolder text-break text-center mb-5">Mi Perfil</h2>
				<p class="mb-4 mb-md-5">
					En esta sección puede actualizar la información personal. Recuerde que los campos marcados con
					asterisco * son
					obligatorios.
				</p>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-md-10">

				<div class="wizard-container">
					<div class="card card-wizard" data-color="warning" id="wizardProfile">
						<div class="card-header text-center">
							<h2 class="card-title">Datos Personales</h2>
							<!-- <h5 class="card-description">Información personal</h5> -->
						</div>
						<!-- <div class="row justify-content-md-end justify-content-center">
							<div class="col-md-4 mx-2">
								<button mat-raised-button class="btn btn-info" (click)="isLinear = !isLinear" id="toggle-linear">
									{{isLinear ? 'Habilitar Edición Secuencial' : 'Deshabilitar Edición Secuencial'}}
								</button>
							</div>
						</div> -->
						<mat-vertical-stepper [linear]="isLinear" #stepper>

							<!-- Informacion personal -->
							<mat-step [stepControl]="infoPersonalFormGroup">
								<div class="card card-optimus py-1">
									<div class="card-header">
										<h4 class="card-title d-flex">
											<i class="material-icons p-1">person_pin</i>
											<span class="py-1 text-uppercase">Registrar Información Personal</span>
										</h4>
									</div>
									<form class="mt-4" ngNativeValidate [formGroup]="infoPersonalFormGroup"
										autocomplete="off" (ngSubmit)="onSubmitActualizarInformacionCliente()">
										<ng-template matStepLabel>Información Personal</ng-template>
										<div class="card-body text-center">
											<div class="row justify-content-center">
												<div class="col-sm-6 mb-2">
													<mat-form-field>
														<mat-select [compareWith]="compararDato"
															placeholder="Tipo documento" name="tipoDoc" id="tipoDoc"
															formControlName="tipoDoc" required>
															<mat-option *ngFor="let tipo of tipoDocumentosArray"
																[value]="tipo.valor">
																{{ tipo.nombre }}
															</mat-option>
														</mat-select>
														<mat-error
															*ngIf="infoPersonalFormGroup.get('tipoDoc').hasError('required') && infoPersonalFormGroup.get('tipoDoc').touched">
															El campo tipo documento es <strong>requerido</strong>
														</mat-error>
													</mat-form-field>
												</div>
												<div class="col-sm-6 mb-2">
													<mat-form-field class="example-full-width">
														<input matInput formControlName="documento"
															placeholder="No. Documento" name="documento" id="documento"
															type="number" required>
														<mat-error
															*ngIf="infoPersonalFormGroup.get('documento').hasError('required') && infoPersonalFormGroup.get('documento').touched">
															El campo documento es <strong>requerido</strong>
														</mat-error>
														<mat-error
															*ngIf="infoPersonalFormGroup.get('documento').hasError('pattern')">
															El documento debe tener el siguiente formato <strong>Ejm:
																1085100100</strong>
														</mat-error>
													</mat-form-field>
												</div>
											</div>
											<div class="row justify-content-center">
												<div class="col-sm-6 mb-2">
													<mat-form-field class="example-full-width">
														<input matInput formControlName="nombres" placeholder="Nombres"
															name="nombres" id="nombres" type="text" required>
														<mat-error
															*ngIf="infoPersonalFormGroup.get('nombres').hasError('required') && infoPersonalFormGroup.get('nombres').touched">
															El campo nombre es <strong>requerido</strong>
														</mat-error>
													</mat-form-field>
												</div>
												<div class="col-sm-6 mb-2">
													<mat-form-field class="example-full-width">
														<input matInput formControlName="apellidos"
															placeholder="Apellidos" name="apellidos" id="apellidos"
															type="text" required>
														<mat-error
															*ngIf="infoPersonalFormGroup.get('apellidos').hasError('required') && infoPersonalFormGroup.get('apellidos').touched">
															El apellido es <strong>requerido</strong>
														</mat-error>
													</mat-form-field>
												</div>
											</div>
										</div>
										<div class="row justify-content-center">
											<div class="col-md-10 text-center">
												<button mat-button [disabled]="infoPersonalFormGroup.invalid"
													class="btn btn-optimus-black">Guardar</button>
											</div>
										</div>
									</form>
								</div>
							</mat-step>

							<!-- Informacion general -->
							<mat-step [stepControl]="infoGeneralFormGroup">
								<div class="card card-optimus py-1">
									<div class="card-header">
										<h4 class="card-title d-flex">
											<i class="material-icons p-1">account_box</i>
											<span class="py-1 text-uppercase">Registrar Información General</span>
										</h4>
									</div>
									<form class="mt-4" ngNativeValidate [formGroup]="infoGeneralFormGroup"
										autocomplete="off" (ngSubmit)="onSubmitActualizarInformacionPersonal()">
										<ng-template matStepLabel>Información General</ng-template>
										<div class="card-body text-center">
											<div class="row justify-content-center">
												<div class="col-sm-6 mb-2">
													<mat-form-field class="example-full-width">
														<input matInput formControlName="correo" placeholder="Correo"
															name="correo" id="correo" type="email" required>
														<mat-error
															*ngIf="infoGeneralFormGroup.get('correo').hasError('required') && infoGeneralFormGroup.get('correo').touched">
															El campo correo es <strong>requerido</strong>
														</mat-error>
														<mat-error
															*ngIf="infoGeneralFormGroup.get('correo').hasError('pattern')">
															El campo correo debe tener el siguiente formato:
															<strong>ejemplo@gmail.com</strong>
														</mat-error>
													</mat-form-field>
												</div>
												<div class="col-sm-6 mb-2">
													<mat-form-field>
														<input matInput placeholder="Fecha de nacimiento"
															[matDatepicker]="picker2" (click)="picker2.open()"
															formControlName="fechaNacimiento" name="fechaNacimiento"
															id="fechaNacimiento">
														<mat-datepicker-toggle matSuffix [for]="picker2">
														</mat-datepicker-toggle>
														<mat-datepicker #picker2></mat-datepicker>
													</mat-form-field>
												</div>
											</div>
											<div class="row justify-content-center">
												<div class="col-sm-6 mb-2">
													<mat-form-field class="example-full-width">
														<input matInput formControlName="direccion"
															placeholder="Dirección" name="direccion" id="direccion"
															type="text">
													</mat-form-field>
												</div>
												<div class="col-sm-6 mb-2">
													<mat-form-field class="example-full-width">
														<input matInput formControlName="lugarResidencia"
															placeholder="Lugar de residencia" name="lugarResidencia"
															id="lugarResidencia" type="text">
													</mat-form-field>
												</div>
											</div>
											<div class="row justify-content-center">
												<div class="col-sm-6 mb-2">
													<mat-form-field class="example-full-width">
														<input matInput formControlName="contactoPrincipal"
															placeholder="No. Celular" name="contactoPrincipal"
															id="contactoPrincipal" type="number" required>
														<mat-error
															*ngIf="infoGeneralFormGroup.get('contactoPrincipal').hasError('required') && infoGeneralFormGroup.get('contactoPrincipal').touched">
															El campo celular es <strong>requerido</strong></mat-error>
														<mat-error
															*ngIf="infoGeneralFormGroup.get('contactoPrincipal').hasError('pattern')">
															El celular debe tener el siguiente formato <strong>Ejm:
																3152785656</strong>
														</mat-error>
													</mat-form-field>
												</div>
												<div class="col-sm-6 mb-2">
													<mat-form-field class="example-full-width">
														<input matInput formControlName="contactoSecundario"
															placeholder="Contacto secundario" name="contactoSecundario"
															id="contactoSecundario" type="text">
													</mat-form-field>
												</div>
											</div>
											<div class="row justify-content-center">
												<div class="col-sm-6 mb-2">
													<mat-form-field>
														<mat-select [compareWith]="compararDato"
															placeholder="Color favorito" name="color" id="color"
															formControlName="color">
															<mat-option *ngFor="let item of coloresArray"
																[value]="item.valor">
																{{ item.nombre }}
															</mat-option>
														</mat-select>
													</mat-form-field>
												</div>
												<div class="col-sm-6 mb-2">
													<mat-form-field>
														<mat-select [compareWith]="compararDato" placeholder="Hobby 1"
															name="hobby1" id="hobby1" formControlName="hobby1">
															<mat-option *ngFor="let item of hobbyArray"
																[value]="item.valor">
																{{ item.nombre }}
															</mat-option>
														</mat-select>
													</mat-form-field>
												</div>
											</div>
											<div class="row justify-content-center">
												<div class="col-sm-6 mb-2">
													<mat-form-field>
														<mat-select [compareWith]="compararDato" placeholder="Hobby 2"
															name="hobby2" id="hobby2" formControlName="hobby2">
															<mat-option *ngFor="let item of hobbyArray"
																[value]="item.valor">
																{{ item.nombre }}
															</mat-option>
														</mat-select>
													</mat-form-field>
												</div>
												<div class="col-sm-6 mb-2">
													<mat-form-field>
														<mat-select [compareWith]="compararDato" placeholder="Profesión"
															name="profesion" id="profesion" formControlName="profesion">
															<mat-option *ngFor="let item of profesionArray"
																[value]="item.valor">
																{{ item.nombre }}
															</mat-option>
														</mat-select>
													</mat-form-field>
												</div>
											</div>
											<div class="row justify-content-center">
												<div class="col-sm-6 mb-2">
													<mat-form-field>
														<mat-select [compareWith]="compararDato" placeholder="Género"
															name="genero" id="genero" formControlName="genero">
															<mat-option *ngFor="let item of generoArray"
																[value]="item.valor">
																{{ item.nombre }}
															</mat-option>
														</mat-select>
													</mat-form-field>
												</div>
											</div>
										</div>
										<div class="row justify-content-center">
											<div class="col-md-12 text-center">
												<button mat-button [disabled]="infoGeneralFormGroup.invalid"
													class="btn btn-optimus-black">Guardar</button>
											</div>
										</div>
									</form>
								</div>
							</mat-step>

							<!-- Informacion Vehiculos -->
							<mat-step>
								<ng-template matStepLabel>Vehículos</ng-template>
								<ng-container *ngIf="existenVehiculos; else bloqueExistenVehiculo">
									<div class="container text-center">
										<h3 class="text-center">Puedes registrar otro vehículo.</h3>
										<button mat-raised-button class="btn btn-optimus-black" data-toggle="modal"
											(click)="modalRegistrarVehiculo()">
											<i class="material-icons">edit</i> Registrar vehículo
										</button>
									</div>
									<div class="row justify-content-center mb-3">
										<div class="col-md-12">
											<div class="card">
												<mat-accordion class="accord-headers-align">
													<mat-expansion-panel hideToggle>
														<mat-expansion-panel-header>
															<mat-panel-title>
																<strong>Listado de vehículos</strong>
															</mat-panel-title>
															<mat-panel-description>
																Dar clic
															</mat-panel-description>
															<mat-icon>edit_attributes</mat-icon>
														</mat-expansion-panel-header>
														<div class="my-4 p-0 p-sm-1 p-md-1 p-lg-1"
															*ngFor="let item of vehiculosArray; let i=index;">
															<div class="mat-elevation-z2 border rounded"
																style="background: #f7f7f7;">
																<div class="card-body">
																	<div class="row justify-content-center">
																		<div
																			class="col-md-4 col-sm-4 mx-3 mx-lg-3 py-2">
																			<div class="row">
																				<div class="col-md-3 col-sm-3">
																					<i
																						class="material-icons py-2 mx-1 font-size-icono">money</i>
																				</div>
																				<div class="col-md-9 col-sm-9">
																					<strong
																						class="d-block py-1">Placa:</strong>
																					<span
																						class="d-block py-1">{{item?.placa}}</span>
																				</div>
																			</div>
																		</div>
																		<div
																			class="col-md-4 col-sm-4 mx-3 mx-lg-3 py-2">
																			<div class="row">
																				<div class="col-md-3 col-sm-3">
																					<i
																						class="material-icons py-2 mx-1 font-size-icono">directions_car</i>
																				</div>
																				<div class="col-md-9 col-sm-9">
																					<strong class="d-block py-1">Tipo
																						Vehículo:</strong>
																					<span
																						class="d-block py-1">{{item?.version.nombre}}</span>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="row justify-content-center">
																		<div
																			class="col-md-4 col-sm-4 mx-3 mx-lg-3 py-2">
																			<div class="row">
																				<div class="col-md-3 col-sm-3">
																					<i
																						class="material-icons py-2 mx-1 font-size-icono">date_range</i>
																				</div>
																				<div class="col-md-9 col-sm-9">
																					<strong
																						class="d-block py-1">Modelo:</strong>
																					<span
																						class="d-block py-1">{{item?.modelo}}</span>
																				</div>
																			</div>
																		</div>
																		<div
																			class="col-md-4 col-sm-4 mx-3 mx-lg-3 py-2">
																			<div class="row">
																				<div class="col-md-3 col-sm-3">
																					<i
																						class="material-icons py-2 mx-1 font-size-icono">local_car_wash</i>
																				</div>
																				<div class="col-md-9 col-sm-9">
																					<strong
																						class="d-block py-1">Tipo de Aceite:</strong>
																					<span
																						class="d-block py-1">{{item?.tipoAceite.nombre}}</span>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="row justify-content-center">
																		<div
																			class="col-md-4 col-sm-4 mx-3 mx-lg-3 py-2">
																			<div class="row">
																				<div class="col-md-3 col-sm-3">
																					<i
																						class="material-icons py-2 mx-1 font-size-icono">filter_9_plus</i>
																				</div>
																				<div class="col-md-9 col-sm-9">
																					<strong
																						class="d-block py-1">VIN:</strong>
																					<span
																						class="d-block py-1">{{item?.vin}}</span>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="row justify-content-center py-3">
																		<div class="col-md-5 col-sm-5 text-center">
																			<button mat-raised-button
																				class="btn btn-optimus-green"
																				data-toggle="modal"
																				(click)="modalActualizarVehiculo(item)">
																				<i class="material-icons">edit</i>Editar
																				Vehículo
																			</button>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</mat-expansion-panel>
												</mat-accordion>
											</div>
										</div>
									</div>
								</ng-container>
								<ng-template #bloqueExistenVehiculo>
									<div class="container text-center">
										<h3 class="text-center">Aún no tiene vehículos registrados.</h3>
										<h4 class="text-center">¿Desea registrar un vehículo?</h4>
										<button mat-raised-button class="btn btn-optimus-black" data-toggle="modal"
											(click)="modalRegistrarVehiculo()">
											<i class="material-icons">edit</i> Registrar vehículo
										</button>
									</div>
								</ng-template>
							</mat-step>

							<!-- Finalizar -->
							<mat-step>
								<ng-template matStepLabel>Listo</ng-template>
								<div class="card-header text-center">
									<h3 class="card-title">No olvide actualizar sus datos y los datos de su vehículo
									</h3>
								</div>
							</mat-step>

						</mat-vertical-stepper>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<!-- Modal Actualizar Vehiculos-->
<div class="modal fade bg-modal" id="modalVehiculoCliente" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">{{tituloModal}} Vehículo</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<form class="my-4" ngNativeValidate [formGroup]="vehiculoClienteRegActFormGroup"
					(ngSubmit)="onSubmitVehiculoForm(opcionForm)">
					<div class="card-body ">
						<div class="row justify-content-center">
							<div class="col-sm-5 mb-2">
								<mat-form-field class="example-full-width">
									<input matInput formControlName="placa" placeholder="Placa" name="placa" id="placa"
										(keyup)="mayusculas($event)" type="text" required>
									<mat-error
										*ngIf="vehiculoClienteRegActFormGroup.get('placa').hasError('required') && vehiculoClienteRegActFormGroup.get('placa').touched">
										El campo placa es <strong>requerido</strong>
									</mat-error>
									<mat-error
										*ngIf="vehiculoClienteRegActFormGroup.get('placa').hasError('pattern') && vehiculoClienteRegActFormGroup.get('placa').touched">
										La placa debe tener el siguiente formato <strong>Ejm: ABC123</strong>
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col-sm-5 mb-2">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Tipo Vehículo" name="version" id="version"
										formControlName="version" required>
										<mat-option *ngFor="let tipo of versionVehiculoArray" [value]="tipo.valor">
											{{ tipo.nombre }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="vehiculoClienteRegActFormGroup.get('version').hasError('required') && vehiculoClienteRegActFormGroup.get('version').touched">
										El campo tipo de vehículo es <strong>requerido</strong></mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-5 mb-2">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Modelo" name="modelo" id="modelo"
										formControlName="modelo">
										<mat-option *ngFor="let tipo of modeloArray" [value]="tipo.valor">
											{{ tipo.nombre }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="vehiculoClienteRegActFormGroup.get('modelo').hasError('required') && vehiculoClienteRegActFormGroup.get('modelo').touched">
										El campo modelo es <strong>requerido</strong></mat-error>
								</mat-form-field>
							</div>
							<div class="col-sm-5 mb-2">
								<mat-form-field class="example-full-width">
									<input matInput formControlName="vin" placeholder="VIN" name="vin" id="vin"
										type="text">
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-5 mb-2">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Tipo de Aceite" name="tipoAceite" id="tipoAceite"
										formControlName="tipoAceite" required>
										<mat-option *ngFor="let tipo of tipoAceiteArray" [value]="tipo.valor">
											{{ tipo.nombre }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="vehiculoClienteRegActFormGroup.get('tipoAceite').hasError('required') && vehiculoClienteRegActFormGroup.get('tipoAceite').touched">
										El campo modelo es <strong>requerido</strong></mat-error>
								</mat-form-field>
							</div>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-md-8 col-sm-5 my-3 text-center">
							<button mat-raised-button [disabled]="vehiculoClienteRegActFormGroup.invalid"
								class="btn btn-fill btn-optimus-black">
								<i class="material-icons">edit</i> Guardar
							</button>
						</div>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Actualizar Vehiculos-->