<app-loading *ngIf="loading"></app-loading>

<div class="main-content pt-0">
	<div class="container-fluid">
		<h2 class="text-center bold mb-5">REPORTE CLIENTES INGRESADOS</h2>
	</div>

	<div class="row justify-content-center">
		<div class="col-md-10">
			<div class="card ">
				<div class="card-header card-header-warning card-header-icon">
					<div class="card-icon">
						<i class="material-icons">search</i>
					</div>
					<h4 class="card-title">Generar reporte</h4>
				</div>

				<form ngNativeValidate [formGroup]="buscarFiltrosForm" (ngSubmit)="onSubmitBuscarReporte()" autocomplete="off" class="p-4 mt-3">
					<div class="row justify-content-center">
						<div class="col-sm-4">
							<mat-form-field>
								<input matInput placeholder="Fecha de Inicial" [matDatepicker]="picker1" (click)="picker1.open()"
									formControlName="fechaInicial" name="fechaInicial" id="fechaInicial" required>
								<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
								<mat-datepicker #picker1></mat-datepicker>
								<mat-error *ngIf="buscarFiltrosForm.get('fechaInicial').hasError('required') && buscarFiltrosForm.get('fechaInicial').touched">El campo fecha inicial es <strong>requerido</strong></mat-error>
							</mat-form-field>
						</div>
						<div class="col-sm-4">
							<mat-form-field>
								<input matInput placeholder="Fecha de Final" [matDatepicker]="picker2" (click)="picker2.open()"
									formControlName="fechaFinal" name="fechaFinal" id="fechaFinal" required>
								<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
								<mat-datepicker #picker2></mat-datepicker>
								<mat-error *ngIf="buscarFiltrosForm.get('fechaFinal').hasError('required') && buscarFiltrosForm.get('fechaFinal').touched">El campo fecha final es <strong>requerido</strong></mat-error>
							</mat-form-field>
						</div>
					</div>
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-md-6 text-center my-3">
								<button mat-raised-button class="btn btn-fill btn-danger" type="button" (click)="limpiarFiltros()"><i class="material-icons">search</i> Limpiar filtros</button>
							</div>
							<div class="col-md-6 text-center my-3">
								<button mat-raised-button class="btn btn-fill btn-info" [disabled]="buscarFiltrosForm.invalid"><i class="material-icons">search</i> Consultar</button>
							</div>
						</div>
					</div>
				</form>
				<!--
				<div class="row justify-content-center mx-4 mt-3">
					<div class="col-md-3">
						<mat-form-field>
							<input matInput placeholder="Fecha" [matDatepicker]="picker1" (click)="picker1.open()"
								name="fechaIni" id="fechaIni" (dateChange)="onSubmitBuscarReporte($event,1)" >
							<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
							<mat-datepicker #picker1></mat-datepicker>
						</mat-form-field>
					</div>
					<div class="col-md-3">
						<mat-form-field>
							<input matInput placeholder="Fecha" [matDatepicker]="picker2" (click)="picker2.open()"
								name="fechaFin" id="fechaFin" (dateChange)="onSubmitBuscarReporte($event,1)" >
							<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
							<mat-datepicker #picker2></mat-datepicker>
						</mat-form-field>
					</div>
				</div>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-6 text-center my-3">
							<button mat-raised-button class="btn btn-fill btn-info" type="button" (click)="limpiarFiltros()"><i class="material-icons">delete</i> Limpiar filtros</button>
						</div>
					</div>
				</div>
				-->
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header-warning card-header-icon">
						<div class="card-icon">
							<i class="material-icons">assignment</i>
						</div>
						<h4 class="card-title">Reporte</h4>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table ">
								<thead class="text-primary">
									<tr>
										<th class="text-center">{{ dataTable.headerRow[0] }}</th>
										<th class="text-center">{{ dataTable.headerRow[1] }}</th>
										<th class="text-center">{{ dataTable.headerRow[2] }}</th>
										<th class="text-center">{{ dataTable.headerRow[3] }}</th>
										<th class="text-center">{{ dataTable.headerRow[4] }}</th>
										<th class="text-center">{{ dataTable.headerRow[5] }}</th>
										<th class="text-center">{{ dataTable.headerRow[6] }}</th>
										<th class="text-center">{{ dataTable.headerRow[7] }}</th>
										<th class="text-center">{{ dataTable.headerRow[8] }}</th>
										<th class="text-center">{{ dataTable.headerRow[9] }}</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let row of dataTable.dataRows; let i=index">
										<td class="text-center">{{i+1}}</td>
										<td><strong>{{row?.tipoDoc}}: </strong>{{row?.documento}}</td>
										<td>{{row?.cliente | uppercase}}</td>
										<td class="text-center">{{row?.fechaIngreso}}</td>
										<td class="text-center">{{row?.tiempo}}</td>
										<td class="text-center">{{row?.objecion}}</td>
										<td class="text-center">{{row?.observacion}}</td>
										<td class="text-center">{{row?.asesor}}</td>
										<td class="text-center">{{row?.total}}</td>
										<td class="text-center">
											<ng-container *ngIf="(row?.total === 0); else bloqueAtenciones"></ng-container>
											<ng-template #bloqueAtenciones>
												<button class="btn btn-link btn-info btn-just-icon visibility" 
													data-toggle="modal"
													(click)="visualizarAtenciones(row?.atenciones, row?.cliente, row?.total)"
													matTooltip="Visualizar Atenciones Detalladamente" 
													[matTooltipPosition]="'below'">
													<i class="material-icons">visibility</i>
												</button>
											</ng-template>
											<button class="btn btn-link btn-warning btn-just-icon account_box" 
												(click)="verFichaCliente(row?.id)"
												matTooltip="Ver Ficha Cliente" 
												[matTooltipPosition]="'below'">
												<i class="material-icons">account_box</i>
											</button>
										</td>
									</tr>
									<tr *ngIf="(dataTable.dataRows.length === 0)">
										<td colspan="10" class="text-center"> No hay datos para mostrar</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Visualizar atenciones detalladamente -->
<div class="modal fade bg-modal" id="modalFiltro" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Listado de Atenciones</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		<div class="modal-body">
			<h3 class="text-center"><strong>Cliente:</strong> </h3>
			
			<div class="card">
				<div class="card-body">
					edgar
				</div>
			</div>

		</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>


</div>
 <!-- 
<app-estudios-credito></app-estudios-credito>
 Modal Visualizar atenciones detalladamente -->