<app-loading *ngIf="loading"></app-loading>

<div class="main-content pt-0">
	<div class="container-fluid">
		<div class="row justify-content-star py-4">
			<div class="col-md-6 text-center text-md-left">
				<button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresarValidacion()">
					<i class="material-icons">arrow_back</i> Regresar
				</button>
			</div>
		</div>
		<div class="row justify-content-center mb-3">
			<div class="col-md-10">
				<h2 class="font-weight-bolder text-break text-center mb-5">ASIGNACIÓN DE ASESORES</h2>
				<p class="mb-4">
					Por favor seleccione el asesor que realizará la atención al cliente de inmediato,
					o en su defecto puede asignar el asesor para esperar.
				</p>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-12">
				<ng-container *ngIf="banderaRolFormulario == 1">
					<!-- Todos los asesores -->
					<div class="card card-optimus py-1">
						<div class="card-header">
							<h4 class="card-title d-flex">
								<i class="material-icons p-1">view_list</i>
								<span class="py-1 text-uppercase">Listado de Asesores</span>
							</h4>
						</div>
						<div class="row justify-content-center py-4">
							<div class="col-md-3" *ngFor="let item of todosAsesoresArray">
								<div class="col-lg-12 cards">
									<div class="card card-pricing card-raised">
										<div class="card-body">
											<div class="card-icon icon-{{item?.icono}}">
												<i class="material-icons">account_circle</i>
											</div>
											<h4 class="card-title text-break">{{item?.nombre}}</h4>
											<p class="card-description py-3">
												Asesor {{item?.disponible == 1 ? 'Disponible':'Ocupado'}}
											</p>
											<ng-container *ngIf="(item?.disponible == 1); else bloqueBotonesAsignacion">
												<button *ngIf="botonOcupar" mat-raised-button
													class="btn btn-info btn-round"
													(click)="onSubmitAsignarAsesorCliente(item?.id)">
													<i class="material-icons mr-1">pan_tool</i> Ocupar
												</button>
												<button mat-raised-button class="btn btn-danger btn-link"
													(click)="onSubmitReasignarAsesor(item?.id)">
													<i class="material-icons mr-1">pan_tool</i> Esperar
												</button>
											</ng-container>
											<ng-template #bloqueBotonesAsignacion>
												<button mat-raised-button class="btn btn-danger btn-link"
													(click)="onSubmitReasignarAsesor(item?.id)">
													<i class="material-icons mr-1">pan_tool</i> Esperar
												</button>
											</ng-template>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Todos los asesores -->
				</ng-container>
			</div>
		</div>
	</div>
</div>