<!-- Fixed Plugin configurator, used just for Demo Purpose -->
<div class="fixed-plugin">
	<div class="dropdown show-dropdown">
		<a href="#" data-toggle="dropdown" aria-expanded="true">
			<i class="fa fa-cog fa-2x"> </i>
		</a>
		<ul class="dropdown-menu">
			<li class="header-title">Sidebar Background</li>
			<li class="adjustments-line">
				<a href="javascript:void(0)" class="switch-trigger">
					<p>Sidebar Mini</p>
					<label class="ml-auto">
						<div class="togglebutton switch-sidebar-mini">
							<label>
								<input type="checkbox">
								<span class="toggle"></span>
							</label>
						</div>
					</label>
					<div class="clearfix"></div>
					<div class="ripple-container"></div>
				</a>
			</li>
			<li class="adjustments-line">
				<div class="row justify-content-center">
					<div class="card card-pricing card-raised my-0 mx-3">
						<div class="card-body">
							<h3 class="card-title"> <strong>Ocupado</strong> </h3>
							<p class="card-description">
								Atención iniciada: <strong>12-11-2020</strong><br>
								Cliente: <strong>Edgar Muñoz</strong><br>
								Documento: <strong>CC. 1085284252</strong>
							</p>
							<button mat-raised-button class="btn btn-info btn-round btn-sm" data-toggle="modal">
								<i class="material-icons mr-1">pan_tool</i> Finalizar Atención
							</button>
						</div>
					</div>
				</div>
			</li>
			<!-- <li class="header-title"> Sidebar Filters</li>
			<li class="adjustments-line">
				<a href="javascript:void(0)" class="switch-trigger active-color">
					<div class="ml-auto mr-auto">
						<span class="badge filter badge-purple" data-color="purple"></span>
						<span class="badge filter badge-azure active" data-color="azure"></span>
						<span class="badge filter badge-green" data-color="green"></span>
						<span class="badge filter badge-orange" data-color="orange"></span>
						<span class="badge filter badge-danger" data-color="danger"></span>
						<span class="badge filter badge-rose" data-color="rose"></span>
					</div>
					<div class="clearfix"></div>
				</a>
			</li>
			<li class="header-title">Sidebar Background</li>
			<li class="adjustments-line">
				<a href="javascript:void(0)" class="switch-trigger background-color">
					<div class="ml-auto mr-auto">
						<span class="badge filter badge-white" data-color="white"></span>
						<span class="badge filter badge-black active" data-color="black"></span>
						<span class="badge filter badge-danger" data-color="red"></span>
					</div>
					<div class="clearfix"></div>
				</a>
			</li>
			<li class="adjustments-line">
				<a href="javascript:void(0)" class="switch-trigger">
					<p>Sidebar Mini</p>
					<label class="ml-auto">
						<div class="togglebutton switch-sidebar-mini">
							<label>
								<input type="checkbox">
								<span class="toggle"></span>
							</label>
						</div>
					</label>
					<div class="clearfix"></div>
					<div class="ripple-container"></div>
				</a>
			</li>
			<li class="adjustments-line">
				<a href="javascript:void(0)" class="switch-trigger">
					<p>Sidebar Images</p>
					<label class="switch-mini ml-auto">
						<div class="togglebutton switch-sidebar-image">
							<label>
								<input type="checkbox" checked="">
								<span class="toggle"></span>
							</label>
						</div>
					</label>
					<div class="clearfix"></div>
					<div class="ripple-container"></div>
				</a>
			</li>
			<li class="header-title">Images</li>
			<li class="active">
				<a class="img-holder switch-trigger" href="javascript:void(0)">
					<img src="./assets/img/sidebar-1.png" alt="" />
				</a>
			</li>
			<li>
				<a class="img-holder switch-trigger" href="javascript:void(0)">
					<img src="./assets/img/sidebar-1.png" alt="" />
				</a>
			</li>
			<li>
				<a class="img-holder switch-trigger" href="javascript:void(0)">
					<img src="./assets/img/sidebar-1.png" alt="" />
				</a>
			</li>
			<li>
				<a class="img-holder switch-trigger" href="javascript:void(0)">
					<img src="./assets/img/sidebar-1.png" alt="" />
				</a>
			</li> -->
		</ul>
	</div>
</div>