<!-- <app-loading *ngIf="loading"></app-loading> -->

<div class="main-content">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center text-md-left pb-md-4 pb-3">
				<button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresar()">
					<i class="material-icons">arrow_back</i> Regresar
				</button>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="card card-optimus py-1">
					<div class="card-header">
						<h4 class="card-title d-flex">
							<i class="material-icons p-1">mail_outline</i>
							<span class="py-1 text-uppercase">Crear Eventos</span>
						</h4>
					</div>
					<div class="row justify-content-center mt-4 text-center">
						<div class="col-md-10 text-center mx-3">
							<p class="text-center text-silver d-flex">
								<span class="material-icons p-1 ml-auto text-silver" matTooltip="Ayuda"
									[matTooltipPosition]="'below'">help</span>
								<span class="py-1 mr-auto">Por favor, seleccione el evento</span>
							</p>
						</div>
					</div>
					<form class="form" ngNativeValidate #crearEventoComercialForm="ngForm"
						(ngSubmit)="onSubmitAgendarCitaComercial(crearEventoComercialForm)" autocomplete="off">
						<div class="card-body">
							<div class="row justify-content-center">
								<div class="col-sm-5 mb-2">
									<mat-form-field>
										<input matInput placeholder="Título Evento" name="titulo" id="titulo"
											type="text" [(ngModel)]="crearEventoComercial.titulo" #titulo="ngModel"
											required>
									</mat-form-field>
									<small class="text-danger" *ngIf="!titulo.valid && titulo.touched">
										El título no es <strong>válido</strong>
									</small>
								</div>
								<div class="col-sm-5 mb-2">
									<mat-form-field>
										<mat-select [compareWith]="compararDato" placeholder="Evento" name="evento"
											id="evento" [(ngModel)]="crearEventoComercial.evento" #evento="ngModel"
											required>
											<mat-option *ngFor="let item of tipoAgendamientoArray" [value]="item.valor"
												(click)="campoEnvioCorreo(item.valor)">
												<span>{{ item.nombre }}</span>
											</mat-option>
										</mat-select>
									</mat-form-field>
									<small class="text-danger" *ngIf="!evento.valid && evento.touched">
										El tipo de evento no es <strong>válido</strong>
									</small>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-sm-5 mb-2">
									<mat-form-field>
										<mat-label>Seleccionar fecha</mat-label>
										<input matInput [matDatepickerFilter]="filtroDiasBloqueados"
											[matDatepicker]="picker" placeholder="Seleccionar fecha"
											(click)="picker.open()" name="fechaEvento" id="fechaEvento"
											[(ngModel)]="crearEventoComercial.fechaEvento" #fechaEvento="ngModel"
											(dateChange)="disponibilidaHorasFecha($event)" required>
										<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
										<mat-datepicker #picker></mat-datepicker>
									</mat-form-field>
									<small class="text-danger" *ngIf="!fechaEvento.valid && fechaEvento.touched">
										La fecha agendada no es <strong>válida</strong>
									</small>
								</div>
								<div class="col-sm-5 mb-2">
									<mat-form-field>
										<mat-select [compareWith]="compararDato" placeholder="Hora" name="hora"
											id="hora" [(ngModel)]="crearEventoComercial.hora" #hora="ngModel" required>
											<mat-option *ngFor="let item of horasArray" [value]="item.valor"
												(click)="guardarHoraEscogida(item.hora)">
												<span>{{ item.hora }}</span>
											</mat-option>
										</mat-select>
									</mat-form-field>
									<small class="text-danger" *ngIf="!hora.valid && hora.touched">
										La hora no es <strong>válida</strong>
									</small>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-sm-8 mb-2">
									<mat-form-field class="example-full-width">
										<textarea matInput rows="2" placeholder="Observaciones" name="observacion"
											id="observacion" [(ngModel)]="crearEventoComercial.observacion"
											#observacion="ngModel" type="text"></textarea>
									</mat-form-field>
								</div>
							</div>
							<ng-container *ngIf="inputEnvioCorreo">
								<div class="row justify-content-center my-3">
									<div class="col-md-6 text-left">
										<div class="form-check">
											<label class="form-check-label">
												<input class="form-check-input" id="confirmarEnvioCorreo"
													name="confirmarEnvioCorreo" type="checkbox"
													[(ngModel)]="crearEventoComercial.confirmarEnvioCorreo"
													#confirmarEnvioCorreo="ngModel" (change)="confirmarEnvio($event)">
												<span class="form-check-sign">
													<span class="check"></span>
												</span>
												Enviar correo al Cliente
											</label>
										</div>
									</div>
								</div>
							</ng-container>
							<div class="row justify-content-center my-3">
								<div class="col-md-4 text-center">
									<button mat-raised-button type="submit" class="btn btn-fill btn-optimus-black"
										[disabled]="crearEventoComercialForm.invalid">
										Guardar
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
</div>