<app-loading *ngIf="loading"></app-loading>

<div class="main-content pt-0">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center text-md-left pb-md-4 pb-3">
				<button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresar()">
					<i class="material-icons">arrow_back</i> Regresar
				</button>
			</div>
		</div>
		<div class="row justify-content-center mb-2">
			<div class="col-md-10">
				<h2 class="font-weight-bolder text-break text-center mb-5">COTIZACIONES CLIENTE</h2>
				<p class="mb-4 mb-md-5">
					A continuación se listan las cotizaciones solicitadas por el cliente. <span
						*ngIf="ocultarBotonesCliente != 'CL'">En caso de requerir una nueva cotización, por favor
						presione el botón "Nueva Cotización"</span>
				</p>
			</div>
		</div>
		<div class="row justify-content-center mb-3 mb-md-6">
			<ng-container *ngIf="ocultarBotonesCliente != 'N'">
				<div class="col-md-12 text-md-right text-center">
					<button class="btn btn-link color-icono" (click)="crearCotizacion()"
						*ngIf="(ocultarBotonesCliente != 'CL') && botonMostrar">
						<i class="material-icons">add_circle_outline</i> <span class="ml-2 font-weight-bolder">Nueva
							Cotización</span>
					</button>
				</div>
			</ng-container>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="card card-optimus py-1">
					<div class="card-header">
						<h4 class="card-title d-flex">
							<i class="material-icons p-1">view_list</i>
							<span class="py-1 text-uppercase">Cliente</span>
						</h4>
					</div>
					<div class="container my-2">
						<div class="row justify-content-center">
							<div class="col-md-5">
								<span class="d-flex border rounded p-2 my-2 my-md-3" style="border-color: #ccc;">
									<strong>Nombres: &nbsp;</strong> {{datosCliente.nombres | uppercase}}
								</span>
							</div>
							<div class="col-md-5">
								<span class="d-flex border rounded p-2 my-2 my-md-3" style="border-color: #ccc;">
									<strong>CC: &nbsp;</strong>{{datosCliente.documento}}
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<ng-container *ngIf="(listadoCotizacionesArray.length > 0); else ocultarBloqueCotizacion">
			<div class="row justify-content-center">
				<div class="col-md-10">
					<div class="card ">
						<div class="my-4" *ngFor="let row of listadoCotizacionesArray; let i=index">
							<div class="container my-2">
								<div class="border rounded" style="border-color: #ccc;">
									<div class="row justify-content-center">
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-2 mr-md-2 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">list_alt</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block py-1">No. Cotización: </strong>
													<span class="d-block py-1">{{row?.numCotizacion}}</span>
												</div>
											</div>
										</div>
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-2 mr-md-2 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block py-1">Fecha de la
														Cotización:</strong>
													<span class="d-block py-1">{{row?.fechaCotizacion | date:
														"shortDate"}}</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-2 mr-md-2 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">shopping_bag</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block py-1">Método de Pago: </strong>
													<span class="d-block py-1">{{row?.metodoPagoNombre}}</span>
												</div>
											</div>
										</div>
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-2 mr-md-2 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">local_atm</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block py-1">Cuota Inicial: </strong>
													<span class="d-block py-1">{{row?.cuotaInicial}}</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-2 mr-md-2 col-sm-3">
													<i
														class="material-icons py-2 mx-1 font-size-icono">directions_car</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block py-1">Vehículo: </strong>
													<span class="d-block py-1">{{row?.vehiculoNombre}}</span>
												</div>
											</div>
										</div>
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-2 mr-md-2 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block py-1">Modelo: </strong>
													<span class="d-block py-1">{{row?.modelo}}</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-2 mr-md-2 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">memory</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block py-1">Versión Vehículo: </strong>
													<span class="d-block py-1">{{row?.versionIdNombre}}</span>
												</div>
											</div>
										</div>
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-2 mr-md-2 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">color_lens</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block py-1">Color Vehículo: </strong>
													<span class="d-block py-1">{{row?.colorVehiculoNombre}}</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-2 mr-md-2 col-sm-3">
													<i
														class="material-icons py-2 mx-1 font-size-icono">monetization_on</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block py-1">Valor Vehículo: </strong>
													<span class="d-block py-1">{{row?.valorVehiculo == null ? '-
														- -' : row?.valorVehiculo | currency: 'COP':true:
														'1.0'}}</span>
												</div>
											</div>
										</div>
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-2 mr-md-2 col-sm-3">
													<i
														class="material-icons py-2 mx-1 font-size-icono">filter_9_plus</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block py-1">Último Dígito: </strong>
													<span class="d-block py-1">{{row?.ultimoDigito == null ? '-
														- -' : row?.ultimoDigito}}</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-2 mr-md-2 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">place</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block py-1">Lugar Matrícula: </strong>
													<span class="d-block py-1">{{row?.lugarMatricula == null ?
														'- - -' : row?.lugarMatricula}}</span>
												</div>
											</div>
										</div>
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-2 mr-md-2 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">analytics</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block py-1">Estado de negocio: </strong>
													<span class="badge badge-{{row?.colorEtiqueta}} text-center mb-1">
														<span class="py-1 d-block">{{row?.estado.nombre}}</span>
													</span>
												</div>
											</div>
										</div>
									</div>
									<ng-container *ngIf="(ocultarBotonesCliente != 'N') && botonMostrar">
										<div class="row justify-content-center my-3" *ngIf="ocultarBotonesCliente != 'CL'">
											<div class="col-md-10 mb-2 text-center">
												<button class="btn btn-optimus-black"
													data-toggle="modal" (click)="modificarCotizacion(row)"
													matTooltip="Actualizar Cotización" [matTooltipPosition]="'below'">
													<i class="material-icons">edit</i> Actualizar Cotización
												</button>
												<!--<button class="btn btn-link btn-danger btn-just-icon remove" (click)="eliminarCotizacion()">
													<i class="material-icons">delete</i>
												</button>-->
											</div>
										</div>
									</ng-container>
								</div>
							</div>
						</div>
						<div class="container text-muted">
							<div class="row justify-content-center">
								<div class="col-md-7">
									<div
										class="pt-2 ml-0 ml-sm-3 ml-md-3 ml-lg-3 text-center text-sm-left text-md-left text-lg-left">
										Total Registros: {{total_item_count}}
									</div>
								</div>
								<div class="col-md-4 text-center text-silver">
									<nav aria-label="..." class="align-items-center">
										<ul class="pagination align-items-center">
											<li class="page-item">
												<p class="mx-4 my-2">Página {{page_actual}} de {{total_pages}}</p>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Primera página"
													[matTooltipPosition]="'below'" (click)="listarCotizaciones(1)">
													<i class="material-icons">first_page</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Atrás"
													[matTooltipPosition]="'below'"
													(click)="listarCotizaciones(page_prev)">
													<i class="material-icons">navigate_before</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Siguiente"
													[matTooltipPosition]="'below'"
													(click)="listarCotizaciones(page_next)">
													<i class="material-icons">navigate_next</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Última página"
													[matTooltipPosition]="'below'"
													(click)="listarCotizaciones(total_pages)">
													<i class="material-icons">last_page</i>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ng-container>
		<ng-template #ocultarBloqueCotizacion>
			<div class="row justify-content-center">
				<div class="col-md-10 text-center">
					<h3>No existe cotizaciones para este usuario</h3>
				</div>
			</div>
		</ng-template>
	</div>
</div>


<!-- Modal Actualizar cotizacion -->
<div class="modal fade bg-modal" id="modalFiltro" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<!-- Actualizar cotizacion -->
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Modificar Cotización</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form class="mt-4" ngNativeValidate [formGroup]="actualizarCotizacionForm"
					(ngSubmit)="onSubmitActualizarCotizacion()" autocomplete="off">
					<div class="card-body ">
						<div class="row justify-content-center">
							<div class="col-sm-5 mb-2">
								<mat-form-field class="example-full-width">
									<input matInput formControlName="numCotizacion" placeholder="No. Cotización DMS"
										name="numCotizacion" type="text">
								</mat-form-field>
							</div>
							<div class="col-sm-5 mb-2">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Tipo vehículo"
										name="tipoVehiculo" formControlName="tipoVehiculo">
										<mat-option *ngFor="let tipo of tipoVehiculoArray" [value]="tipo.valor">
											{{ tipo.nombre }}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-5 mb-2">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Modelo" name="modelo"
										formControlName="modelo">
										<mat-option *ngFor="let tipo of modeloArray" [value]="tipo.valor">
											{{ tipo.nombre }}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="col-sm-5 mb-2">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Cuota Inicial"
										name="cuotaInicial" formControlName="cuotaInicial">
										<mat-option *ngFor="let tipo of cuotaInicialArray" [value]="tipo.valor">
											{{ tipo.nombre }}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-5 mb-2">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Método de pago"
										name="metodoPago" formControlName="metodoPago" required>
										<mat-option *ngFor="let tipo of metodoPagoArray" [value]="tipo.valor">
											{{ tipo.nombre }}
										</mat-option>
									</mat-select>
									<mat-error *ngIf="actualizarCotizacionForm.get('metodoPago').hasError('required')">
										El campo método de pago es <strong>requerido</strong></mat-error>
								</mat-form-field>
							</div>
							<div class="col-sm-5 mb-2">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Versión Vehículo"
										name="versionId" formControlName="versionId" required>
										<mat-option *ngFor="let tipo of versionVehiculoArray" [value]="tipo.valor">
											{{ tipo.nombre }}
										</mat-option>
									</mat-select>
									<mat-error *ngIf="actualizarCotizacionForm.get('versionId').hasError('required')">El
										campo versión es <strong>requerido</strong></mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-5 mb-2">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Color Vehículo"
										name="colorVehiculo" formControlName="colorVehiculo" required>
										<mat-option *ngFor="let tipo of colorVehiculoArray" [value]="tipo.valor">
											{{ tipo.nombre }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="actualizarCotizacionForm.get('colorVehiculo').hasError('required')">El
										campo color del vehículo es <strong>requerido</strong></mat-error>
								</mat-form-field>
							</div>
							<div class="col-sm-5 mb-2">
								<mat-form-field class="example-full-width">
									<input matInput formControlName="valorVehiculo" placeholder="Valor Vehículo"
										name="valorVehiculo" id="valorVehiculo" type="text"
										(blur)="formatearMoneda($event)" required>
									<mat-error
										*ngIf="actualizarCotizacionForm.get('valorVehiculo').hasError('required')">El
										campo valor vehiculo es <strong>requerido</strong></mat-error>
									<mat-error
										*ngIf="actualizarCotizacionForm.get('valorVehiculo').hasError('pattern')">
										El modelo debe tener el siguiente formato <strong>Ejm: 10000000</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-5 mb-2">
								<mat-form-field class="example-full-width">
									<input matInput formControlName="ultimoDigito" placeholder="Último Dígito"
										name="ultimoDigito" type="text">
									<mat-error
										*ngIf="actualizarCotizacionForm.get('ultimoDigito').hasError('required')">
										El campo último dígito es <strong>requerido</strong>
									</mat-error>
									<mat-error *ngIf="actualizarCotizacionForm.get('ultimoDigito').hasError('pattern')">
										El campo último dígito debe tener el siguiente formato <strong>Ej: 00</strong>
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col-sm-5 mb-2">
								<mat-form-field class="example-full-width">
									<input matInput formControlName="lugarMatricula" placeholder="Lugar Matrícula"
										name="lugarMatricula" type="text">
									<mat-error
										*ngIf="actualizarCotizacionForm.get('lugarMatricula').hasError('required')">El
										campo lugar de matrícula es <strong>requerido</strong></mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-5 mb-2">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Estados de negocio"
										name="estadoNegocio" formControlName="estadoNegocio" required>
										<mat-option *ngFor="let tipo of estadosNegocioArray" [value]="tipo.valor">
											{{ tipo.nombre }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="actualizarCotizacionForm.get('estadoNegocio').hasError('required')">El
										campo estados de negocio es <strong>requerido</strong></mat-error>
								</mat-form-field>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-md-6 text-center my-3">
								<button mat-raised-button [disabled]="actualizarCotizacionForm.invalid"
									class="btn btn-fill btn-optimus-black">Guardar</button>
							</div>
						</div>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Actualizar cotizacion -->