<app-loading *ngIf="loading"></app-loading>

<div class="main-content pt-0">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center text-md-left pb-md-4 pb-3">
				<button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresar()">
					<i class="material-icons">arrow_back</i> Regresar
				</button>
			</div>
		</div>
		<div class="row col-12 justify-content-md-center mb-4">
			<div class="col-md-12 mb-0 pb-0 text-center">
				<img class="my-0 img-fluid" src="./assets/img/optimus-crm.png" alt="sistema-crm" width="150px" />
				<img class="my-0 img-fluid" [src]="imgNombreEmpresa" alt="empresa" width="150px" />
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="card card-stats my-3 pointer" (click)="onSubmitClientesSemilla()">
					<div class="row m-2 align-items-center">
						<div class="col-8">
							<h5 class="card-category bold text-uppercase">Clientes Semilla</h5>
						</div>
						<div class="col-4">
							<div class="card-icon icon-silver">
								<i class="material-icons my-2 f-4">person_add</i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="card card-stats my-3 pointer" (click)="onSubmitClientesProyectados()">
					<div class="row m-2 align-items-center">
						<div class="col-8">
							<h5 class="card-category bold text-uppercase">Clientes Proyectados</h5>
						</div>
						<div class="col-4">
							<div class="card-icon icon-silver">
								<i class="material-icons my-2 f-4">transfer_within_a_station</i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="card card-stats my-3 pointer" (click)="onSubmitClientesSembrados()">
					<div class="row m-2 align-items-center">
						<div class="col-8">
							<h5 class="card-category bold text-uppercase">Clientes Sembrados</h5>
						</div>
						<div class="col-4">
							<div class="card-icon icon-silver">
								<i class="material-icons my-2 f-4">spa</i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="card card-stats my-3 pointer" (click)="onSubmitClientesCosechados()">
					<div class="row m-2 align-items-center">
						<div class="col-8">
							<h5 class="card-category bold text-uppercase">Clientes Cosechados</h5>
						</div>
						<div class="col-4">
							<div class="card-icon icon-silver">
								<i class="material-icons my-2 f-4">how_to_reg</i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>