<app-loading *ngIf="loading"></app-loading>

<div class="main-content">
	<div class="container-fluid">
		<div class="row col-12 justify-content-md-center mb-4">
			<div class="col-md-12 mb-0 pb-0 text-center">
				<img class="my-0 img-fluid" src="./assets/img/optimus-crm.png" alt="sistema-crm" width="150px" />
				<img class="my-0 img-fluid" [src]="imgNombreEmpresa" alt="empresa" width="150px" />
			</div>
		</div>
		<!-- Inicia Tarjeta Asesor -->
		<div class="row justify-content-center text-center">
			<ng-container *ngIf="mostraAtencionAsesor">
				<ng-container *ngIf="ventanaAsesorDisponible; else bloqueAsesorDisponible">
					<div class="col-lg-5 col-md-5 col-sm-5 mb-2 mx-auto">
						<div class="card card-stats my-3" id="no-cursor">
							<div class="row m-2 text-left">
								<div class="col-8">
									<h5 class="card-category bold">{{nombre | uppercase}}</h5>
									<h3 class="card-title"> OCUPADO </h3>
								</div>
								<div class="col-4 text-right">
									<div class="card-icon icon-danger pointer" matTooltip="Ver Ficha Cliente"
										[matTooltipPosition]="'below'" (click)="verFichaCliente(''+idIngreso)">
										<i class="material-icons my-2 f-4">account_circle</i>
									</div>
								</div>
							</div>
							<div class="row m-2 text-left">
								<div class="col-12">
									<span class="d-block"><strong>Atención Iniciada: </strong> {{fechaInicial |
										date:'short'}}</span>
									<span class="d-block"><strong>Cliente: </strong> {{nombreCliente |
										uppercase}}</span>
									<span class="d-block"><strong>Documento: </strong> {{documento}}</span>
								</div>
							</div>
							<div class="card-footer">
								<div class="stats">
									<i class="material-icons text-green">pan_tool</i> <a data-toggle="modal"
										href="javascript:void(0)" (click)="finalizarAtencion(idAtencion)">Finalizar
										Atención</a>
								</div>
							</div>
						</div>
					</div>
				</ng-container>
				<ng-template #bloqueAsesorDisponible>
					<div class="col-lg-5 col-md-5 col-sm-5 mb-2 mx-auto">
						<div class="card card-stats my-3" id="no-cursor">
							<div class="row m-2 text-left">
								<div class="col-8">
									<h5 class="card-category bold">{{nombre | uppercase}}</h5>
									<h3 class="card-title"> DISPONIBLE </h3>
								</div>
								<div class="col-4 text-right">
									<div class="card-icon icon-success">
										<i class="material-icons my-2 f-4">account_circle</i>
									</div>
								</div>
							</div>
							<div class="card-footer">
								<div class="stats">
									<i class="material-icons text-green">person</i> <a
										routerLink="/clientes/buscar">Consultar
										clientes</a>
								</div>
							</div>
						</div>
					</div>
				</ng-template>
			</ng-container>
		</div>
		<!-- Finaliza Tarjeta Asesor -->

		<!-- Inicia Gráficas de Reporte -->
		<div class="row align-items-center text-center">
			<!-- Inicia Grafica Agendamientos -->
			<div class="col-md-4 mx-auto">
				<div class="card card-optimus py-0 mt-0">
					<div class="card-header">
						<h4 class="card-title d-flex">
							<i class="material-icons p-1">pie_chart</i>
							<span class="py-1 text-uppercase">Agendamientos</span>
						</h4>
					</div>
					<div class="card-body">
						<div class="row">
							<canvas id="agendamientosEventos" width="400" height="360"></canvas>
						</div>
					</div>
				</div>
			</div>
			<!-- Finaliza Grafica Agendamientos -->

			<!-- Inicia Grafica Vehiculos Entregados -->
			<div class="col-md-4 mx-auto">
				<div class="card card-optimus py-0 mt-0">
					<div class="card-header">
						<h4 class="card-title d-flex">
							<i class="material-icons p-1">insert_chart</i>
							<span class="py-1 text-uppercase">{{nombreDiagramaBarraEmpresa.param1 + ' ' +
								this.nombreDiagramaBarraEmpresa.param2}}</span>
						</h4>
					</div>
					<div class="card-body">
						<div class="row">
							<canvas id="vehiculosEntregados" width="400" height="360"></canvas>
						</div>
					</div>
				</div>
			</div>
			<!-- Finaliza Grafica Vehiculos Entregados -->

			<!-- Inicia Grafica Desembolsados -->
			<div class="col-md-4 mx-auto">
				<div class="card card-optimus py-0 mt-0">
					<div class="card-header">
						<h4 class="card-title d-flex">
							<i class="material-icons p-1">insert_chart</i>
							<span class="py-1 text-uppercase">Desembolsos</span>
						</h4>
					</div>
					<div class="card-body">
						<div class="row">
							<canvas id="creditosDesembolsados" width="400" height="360"></canvas>
						</div>
					</div>
				</div>
			</div>
			<!-- Finaliza Grafica Desembolsados -->
		</div>
		<!-- Finaliza Gráficas de Reporte -->
	</div>

	<!-- Seccion de Cards Estadisticas en acordeon -->
	<div class="container-fluid px-0 mx-0">
		<div class="row">
			<div class="col-md-12">
				<div class="card my-0">
					<div id="accordion" role="tablist">
						<!-- Estadisticas Generales -->
						<div class="card-collapse card-optimus m-0">
							<div class="card-header pt-3" role="tab" id="headingOne">
								<h4 class="mx-4">
									<a data-toggle="collapse" href="#collapseOne" aria-expanded="false"
										aria-controls="collapseOne" class="collapsed text-white">
										<span class="material-icons md-48">analytics</span> ESTADÍSTICAS
										<i class="material-icons">keyboard_arrow_down</i>
									</a>
								</h4>
							</div>
							<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
								data-parent="#accordion">
								<div class="card-body">

									<div class="row justify-content-center">
										<!-- Estadistica Dias -->
										<div class="col-lg-4 col-md-6 col-sm-6">
											<div class="card card-stats my-3" (click)="onSubmitClientesDiaReporte()">
												<div class="row m-2">
													<div class="col-8">
														<h5 class="card-category bold text-uppercase">HOY</h5>
														<h3 class="card-title"> {{clientesDiaNum}} </h3>
													</div>
													<div class="col-4">
														<div class="card-icon icon-silver">
															<i class="material-icons my-2 f-4">view_day</i>
														</div>
													</div>
												</div>
												<div class="card-footer">
													<div class="stats">
														<i class="material-icons text-green">get_app</i> Ver clientes
														del
														día
													</div>
												</div>
											</div>
										</div>
										<!-- Estadistica Semanas -->
										<div class="col-lg-4 col-md-6 col-sm-6">
											<div class="card card-stats my-3" (click)="onSubmitClientesSemanaReporte()">
												<div class="row m-2">
													<div class="col-8">
														<h5 class="card-category bold text-uppercase">SEMANA</h5>
														<h3 class="card-title"> {{clientesSemanaNum}} </h3>
													</div>
													<div class="col-4">
														<div class="card-icon icon-silver">
															<i class="material-icons my-2 f-4">view_week</i>
														</div>
													</div>
												</div>
												<div class="card-footer">
													<div class="stats">
														<i class="material-icons text-green">get_app</i> Ver clientes de
														la
														semana
													</div>
												</div>
											</div>
										</div>
										<!-- Estadistica Meses -->
										<div class="col-lg-4 col-md-6 col-sm-6">
											<div class="card card-stats my-3" (click)="onSubmitClientesMesReporte()">
												<div class="row m-2">
													<div class="col-8">
														<h5 class="card-category bold text-uppercase">MES</h5>
														<h3 class="card-title"> {{clientesMesNum}} </h3>
													</div>
													<div class="col-4">
														<div class="card-icon icon-silver">
															<i class="material-icons my-2 f-4">calendar_today</i>
														</div>
													</div>
												</div>
												<div class="card-footer">
													<div class="stats">
														<i class="material-icons text-green">get_app</i> Ver clientes
														del
														mes
													</div>
												</div>
											</div>
										</div>
										<!-- Estadistica Años -->
										<div class="col-lg-4 col-md-6 col-sm-6">
											<div class="card card-stats my-3" (click)="onSubmitClientesAnioReporte()">
												<div class="row m-2">
													<div class="col-8">
														<h5 class="card-category bold text-uppercase">AÑO</h5>
														<h3 class="card-title"> {{clientesAnioNum}} </h3>
													</div>
													<div class="col-4">
														<div class="card-icon icon-silver">
															<i class="material-icons my-2 f-4">date_range</i>
														</div>
													</div>
												</div>
												<div class="card-footer">
													<div class="stats">
														<i class="material-icons text-green">get_app</i> Ver clientes
														del
														año
													</div>
												</div>
											</div>
										</div>
										<!-- Estadistica Clientes Activos -->
										<div class="col-lg-4 col-md-6 col-sm-6">
											<div class="card card-stats my-3"
												(click)="onSubmitReporteClientesIngresosActivos()">
												<div class="row m-2">
													<div class="col-8">
														<h5 class="card-category bold text-uppercase">CLIENTES ACTIVOS</h5>
														<h3 class="card-title"> {{ingresosActivosNum}} </h3>
													</div>
													<div class="col-4">
														<div class="card-icon icon-silver">
															<i class="material-icons my-2 f-4">how_to_reg</i>
														</div>
													</div>
												</div>
												<div class="card-footer">
													<div class="stats">
														<i class="material-icons text-green">get_app</i> Ver clientes
														activos
													</div>
												</div>
											</div>
										</div>
										<!-- Estadistica Procesos de Venta -->
										<div class="col-lg-4 col-md-6 col-sm-6">
											<div class="card card-stats my-3" (click)="onSubmitProcesosVentaReporte()">
												<div class="row m-2">
													<div class="col-8">
														<h5 class="card-category bold text-uppercase">NEGOCIOS LISTOS</h5>
														<h3 class="card-title"> {{procesosVentaNum}} </h3>
													</div>
													<div class="col-4">
														<div class="card-icon"
															[ngClass]="{'icon-silver': procesosVentaNum == 0, 'icon-success': procesosVentaNum > 0}">
															<i class="material-icons my-2 f-4">verified</i>
														</div>
													</div>
												</div>
												<div class="card-footer">
													<div class="stats">
														<i class="material-icons text-green">get_app</i> Ver procesos de
														venta
													</div>
												</div>
											</div>
										</div>
										<!-- Estadistica Entregados -->
										<div class="col-lg-4 col-md-6 col-sm-6">
											<div class="card card-stats my-3"
												(click)="onSubmitVehiculosVendidosReporte()">
												<div class="row m-2">
													<div class="col-8">
														<h5 class="card-category bold text-uppercase">ENTREGADOS</h5>
														<h3 class="card-title"> {{vehiculosVendidosNum}} </h3>
													</div>
													<div class="col-4">
														<div class="card-icon icon-silver">
															<i class="material-icons my-2 f-4">monetization_on</i>
														</div>
													</div>
												</div>
												<div class="card-footer">
													<div class="stats">
														<i class="material-icons text-green">get_app</i> Ver vehículos
														entregados
													</div>
												</div>
											</div>
										</div>
										<!-- Estadistica Sin Venta -->
										<div class="col-lg-4 col-md-6 col-sm-6">
											<div class="card card-stats my-3"
												(click)="onSubmitClientesNoVentasReporte()">
												<div class="row m-2">
													<div class="col-8">
														<h5 class="card-category bold text-uppercase">SIN VENTA</h5>
														<h3 class="card-title"> {{clientesNoVentasNum}} </h3>
													</div>
													<div class="col-4">
														<div class="card-icon icon-silver">
															<i class="material-icons my-2 f-4">money_off</i>
														</div>
													</div>
												</div>
												<div class="card-footer">
													<div class="stats">
														<i class="material-icons text-green">get_app</i> Ver ventas no
														realizadas
													</div>
												</div>
											</div>
										</div>
										<!-- Estadistica Cotizaciones -->
										<div class="col-lg-4 col-md-6 col-sm-6">
											<div class="card card-stats my-3"
												(click)="onSubmitClientesConCotizacionReporte()">
												<div class="row m-2">
													<div class="col-8">
														<h5 class="card-category bold text-uppercase">COTIZACIONES</h5>
														<h3 class="card-title"> {{clientesConCotizacionNum}} </h3>
													</div>
													<div class="col-4">
														<div class="card-icon icon-silver">
															<i class="material-icons my-2 f-4">work</i>
														</div>
													</div>
												</div>
												<div class="card-footer">
													<div class="stats">
														<i class="material-icons text-green">get_app</i> Ver
														cotizaciones
													</div>
												</div>
											</div>
										</div>
										<!-- Estadistica Sin Cotizaciones -->
										<div class="col-lg-4 col-md-6 col-sm-6">
											<div class="card card-stats my-3"
												(click)="onSubmitClientesSinCotizacionReporte()">
												<div class="row m-2">
													<div class="col-8">
														<h5 class="card-category bold text-uppercase">SIN COTIZACIÓN</h5>
														<h3 class="card-title"> {{clientesSinCotizacionNum}} </h3>
													</div>
													<div class="col-4">
														<div class="card-icon icon-silver">
															<i class="material-icons my-2 f-4">work_off</i>
														</div>
													</div>
												</div>
												<div class="card-footer">
													<div class="stats">
														<i class="material-icons text-green">get_app</i> Ver clientes
														sin
														cotización
													</div>
												</div>
											</div>
										</div>
										<!-- Estadistica Usados -->
										<div class="col-lg-4 col-md-6 col-sm-6">
											<div class="card card-stats my-3"
												(click)="onSubmitClientesVehiculoUsadoReporte()">
												<div class="row m-2">
													<div class="col-8">
														<h5 class="card-category bold text-uppercase">USADOS</h5>
														<h3 class="card-title"> {{clientesVehiculoUsadoNum}} </h3>
													</div>
													<div class="col-4">
														<div class="card-icon icon-silver">
															<i class="material-icons my-2 f-4">electric_car</i>
														</div>
													</div>
												</div>
												<div class="card-footer">
													<div class="stats">
														<i class="material-icons text-green">get_app</i> Ver ingreso a
														usados
													</div>
												</div>
											</div>
										</div>
										<!-- Estadistica Estudios de Crédito -->
										<div class="col-lg-4 col-md-6 col-sm-6">
											<div class="card card-stats my-3"
												(click)="onSubmitReporteEstudiosCredito()">
												<div class="row m-2">
													<div class="col-8">
														<h5 class="card-category bold text-uppercase">ESTUDIOS DE CRÉDITO</h5>
														<h3 class="card-title"> {{estudiosCreditoNum}} </h3>
													</div>
													<div class="col-4">
														<div class="card-icon icon-silver">
															<i
																class="material-icons my-2 f-4">account_balance_wallet</i>
														</div>
													</div>
												</div>
												<div class="card-footer">
													<div class="stats">
														<i class="material-icons text-green">get_app</i> Ver estudios de
														crédito realizados
													</div>
												</div>
											</div>
										</div>
										<ng-container *ngIf="verProcesosVentaVaciosCompletos">
											<!-- Estadistica Procesos Venta Vacios / Completos -->
											<div class="col-lg-4 col-md-6 col-sm-6">
												<div class="card card-stats my-3" (click)="onSubmitVerProcesosVentaVaciosCompletosReporte()">
													<div class="row m-2">
														<div class="col-8">
															<h5 class="card-category bold text-uppercase">Procesos de Venta</h5>
															<h3 class="card-title"> {{procesosVentaCompletosNum}} / {{procesosVentaVaciosNum}} </h3>
														</div>
														<div class="col-4">
															<div class="card-icon"
																[ngClass]="{'icon-silver': procesosVentaVaciosNum == 0, 'icon-danger': procesosVentaVaciosNum > 0}">
																<i class="material-icons my-2 f-4">shopping_bag</i>
															</div>
														</div>
													</div>
													<div class="card-footer">
														<div class="stats">
															<i class="material-icons text-green">get_app</i> Ver Procesos de Venta
														</div>
													</div>
												</div>
											</div>
										</ng-container>
										<!-- Estadistica En Espera -->
										<div class="col-lg-4 col-md-6 col-sm-6">
											<div class="card card-stats my-3" (click)="onSubmitClientesEsperaReporte()">
												<div class="row m-2">
													<div class="col-8">
														<h5 class="card-category bold text-uppercase">EN ESPERA</h5>
														<h3 class="card-title"> {{clientesEsperaNum}} </h3>
													</div>
													<div class="col-4">
														<div class="card-icon"
															[ngClass]="{'icon-silver': clientesEsperaNum == 0, 'icon-danger': clientesEsperaNum > 0}">
															<i class="material-icons my-2 f-4">watch_later</i>
														</div>
													</div>
												</div>
												<div class="card-footer">
													<div class="stats">
														<i class="material-icons text-green">get_app</i> Ver clientes en
														espera
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-4 col-md-6 col-sm-6 px-0">
											<app-card-ticket></app-card-ticket>
										</div>
									</div>

								</div>
							</div>
						</div>
						<ng-container *ngIf="estadisticasLeads">
							<!-- Estadisticas Leads -->
							<div class="card-collapse card-optimus m-0">
								<div class="card-header pt-3" role="tab" id="headingTwo">
									<h4 class="mx-4">
										<a data-toggle="collapse" href="#collapseTwo" aria-expanded="false"
											aria-controls="collapseTwo" class="collapsed text-white text-uppercase">
											<span class="material-icons md-48">analytics</span> ESTADÍSTICAS LEADS
											<i class="material-icons">keyboard_arrow_down</i>
										</a>
									</h4>
								</div>
								<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
									data-parent="#accordion">
									<div class="card-body">
										<!-- Cargar Estadisticas Clientes Leads -->
										<app-estadisticas-leads></app-estadisticas-leads>

									</div>
								</div>
							</div>
						</ng-container>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Seccion de Cards Estadisticas en acordeon -->
</div>

<ng-container *ngIf="mostraAtencionAsesor">
	<!-- Modal finalizar atencion -->
	<div class="modal fade bg-modal" id="modalFinalizarAtencion" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header color-header">
					<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Finalizar Atención</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form ngNativeValidate [formGroup]="finalizarAtencionForm" (ngSubmit)="onSubmitFinalizarAtencion()"
						autocomplete="off">
						<div class="row justify-content-center">
							<div class="col-md-10 text-center">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Objeciones" name="objecion"
										formControlName="objecion">
										<mat-option *ngFor="let tipo of objecionesArray" [value]="tipo.valor">
											{{ tipo.nombre }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="finalizarAtencionForm.get('objecion').hasError('required') && finalizarAtencionForm.get('objecion').touched">
										El campo objeción es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-md-10 text-center">
								<mat-form-field class="example-full-width">
									<textarea matInput formControlName="observacion" placeholder="Observación"
										name="observacion"></textarea>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center py-3">
							<div class="col-md-6 text-center">
								<button mat-raised-button [disabled]="finalizarAtencionForm.invalid"
									class="btn btn-optimus-black">
									Finalizar Atención
								</button>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal finalizar atencion -->
</ng-container>