<app-loading *ngIf="loading"></app-loading>

<div class="main-content">
	<div class="container-fluid">
		<div class="row col-12 justify-content-md-center mb-4">
			<div class="col-md-12 mb-0 pb-0 text-center">
				<img class="my-0 img-fluid" src="./assets/img/optimus-crm.png" alt="sistema-crm" width="150px" />
				<img class="my-0 img-fluid" [src]="imgNombreEmpresa" alt="empresa" width="150px" />
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="card card-stats my-3 pointer" (click)="onSubmitClientes()">
					<div class="row m-2 align-items-center">
						<div class="col-8">
							<h5 class="card-category bold text-uppercase">Clientes</h5>
						</div>
						<div class="col-4">
							<div class="card-icon icon-silver">
								<i class="material-icons my-2 f-4">contacts</i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="card card-stats my-3 pointer" (click)="onSubmitaAgendamiento()">
					<div class="row m-2 align-items-center">
						<div class="col-8">
							<h5 class="card-category bold text-uppercase">Agendamiento</h5>
						</div>
						<div class="col-4">
							<div class="card-icon icon-silver">
								<i class="material-icons my-2 f-4">event_available</i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="card card-stats my-3 pointer" (click)="onSubmitEstadisticas()">
					<div class="row m-2 align-items-center">
						<div class="col-8">
							<h5 class="card-category bold text-uppercase">Estadísticas</h5>
						</div>
						<div class="col-4">
							<div class="card-icon icon-silver">
								<i class="material-icons my-2 f-4">show_chart</i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>