<app-loading *ngIf="loading"></app-loading>
<div class="wrapper wrapper-full-page">
	<div class="page-header login-page header-filter" filter-color="black"
		style="background-image: url('./assets/img/login-bg.png'); background-size: cover; background-position: top center;">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-4">
					<div class="card card-product">
						<div class="card-header card-header-image pointer" data-header-animation="true" (click)="onClickSesionUsuario(1)">
							<img class="img" src="./assets/img/empresa-autodenar-card.png">
						</div>
						<div class="card-footer">
							<div class="stats">
								<p class="card-category"><i class="material-icons">place</i> SEDE AV. SANTANDER CLL 22 NO. 22-96</p>
							</div>
							<div class="stats">
								<p class="card-category"><i class="material-icons">mail</i> info@autodenar.com.co</p>
							</div>
							<div class="stats">
								<p class="card-category"><i class="material-icons">phone</i> 7365012</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-product">
						<div class="card-header card-header-image pointer" data-header-animation="true" (click)="onClickSesionUsuario(2)">
							<img class="img" src="./assets/img/empresa-motodenar-card.png">
						</div>
						<div class="card-footer">
							<div class="stats">
								<p class="card-category"><i class="material-icons">place</i> SEDE AV. SANTANDER CLL 22 NO. 22-96</p>
							</div>
							<div class="stats">
								<p class="card-category"><i class="material-icons">mail</i> info@motodenar.com</p>
							</div>
							<div class="stats">
								<p class="card-category"><i class="material-icons">phone</i> 300 383 1558</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-product">
						<div class="card-header card-header-image pointer" data-header-animation="true" (click)="onClickSesionUsuario(3)">
							<img class="img" src="./assets/img/empresa-automotora-card.png">
						</div>
						<div class="card-footer">
							<div class="stats">
								<p class="card-category"><i class="material-icons">place</i> CARRERA 26 # 2 SUR 33 MIJITAYO</p>
							</div>
							<div class="stats">
								<p class="card-category"><i class="material-icons">mail</i> info@automotoradelsur.com</p>
							</div>
							<div class="stats">
								<p class="card-category"><i class="material-icons">phone</i> 314 7712956</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer ">
			<div class="container">
				<div class="copyright pull-left pl-2">
					&copy; {{test | date: 'yyyy'}}, Desarrollado por: <i class="material-icons">directions_car</i> OL
					Gaviria SCS
				</div>
				<div class="copyright pull-right pr-2">
					<i class="material-icons">biotech</i> {{version}}
				</div>
			</div>
		</footer>
	</div>
</div>