#asesor {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ddd;
}

#asesor:focus {
  outline: 1px solid #ddd;
  padding: 2px;
}
#asesorIdIngreso {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ddd;
}

#asesorIdIngreso:focus {
  outline: 1px solid #ddd;
  padding: 2px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 999;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.scrollServicios {
  background-color: #fff;
  width: 100%;
  height: 25vh;
  overflow: scroll;
}


/* Tamaño del scroll */

.scrollServicios::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Estilos barra (thumb) de scroll */

.scrollServicios::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.scrollServicios::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

.scrollServicios::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Estilos track de scroll */

.scrollServicios::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

.scrollServicios::-webkit-scrollbar-track:hover, .scrollServicios::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

.scrollTime {
  width: 100%;
  height: 35vh;
  overflow: scroll;
}

/* Tamaño del scroll */

.scrollTime::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Estilos barra (thumb) de scroll */

.scrollTime::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.scrollTime::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

.scrollTime::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Estilos track de scroll */

.scrollTime::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

.scrollTime::-webkit-scrollbar-track:hover, .scrollTime::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}