<app-loading *ngIf="loading"></app-loading>

<div class="main-content pt-0">
	<div class="container-fluid">
		<div class="row justify-content-star py-4">
			<div class="col-md-6 text-center text-md-left">
				<button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresar()">
					<i class="material-icons">arrow_back</i> Regresar
				</button>
			</div>
		</div>
		<div class="row justify-content-center mb-3">
			<div class="col-md-10">
				<h2 class="font-weight-bolder text-break text-center mb-5">ASIGNACIÓN DE ASESORES</h2>
				<p class="mb-4">
					Por favor seleccione el asesor que realizará la atención al cliente de inmediato, 
					o en su defecto puede asignar el asesor para esperar.
				</p>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-10">
				<!-- Todos los asesores -->
				<ng-container *ngIf="ventanaTodosAsesores; else blockOcultarTodosAsesores">
					<div class="card card-optimus py-1">
						<div class="card-header">
							<h4 class="card-title d-flex">
								<i class="material-icons p-1">view_list</i>
								<span class="py-1 text-uppercase">Listado de todos los asesores</span>
							</h4>
						</div>
						<form class="mt-4" ngNativeValidate #asignoAsesorIngresoForm="ngForm" (ngSubmit)="onSubmitReasignarAsesor(asignoAsesorIngresoForm)" autocomplete="off">
							<div class="card-body ">
								<div class="row justify-content-center">
									<div class="col-sm-8">
										<input type="text" class="form-control" 
											placeholder="Todos los asesores" 
											name="asesorIdIngreso" 
											id="asesorIdIngreso" 
											#asesorIdIngreso="ngModel" 
											[(ngModel)]="asesorIdEsperar.asesor" 
											(keyup)="filtroTodosAsesores($event)" 
											(click)="selectListTodosAsesores()" 
											required>
										<div id="myDropdownTodos" class="dropdown-content scrollServicios">
											<a *ngFor="let item of todosAsesoresArray" (click)="seleccionarTodosAsesor(item)" class="pointer">{{item.nombre}} - {{item.rol}} - {{item.estado}}</a>
										</div>
										<small class="text-danger" *ngIf="!asesorIdIngreso.valid && asesorIdIngreso.touched">
											El asesor no es <strong>válido</strong>
										</small>
									</div>
								</div>
							</div>
							<div class="container">
								<div class="row justify-content-center">
									<div class="col-md-6 text-center my-3">
										<button mat-raised-button [disabled]="asignoAsesorIngresoForm.invalid" class="btn btn-fill btn-optimus-black">Guardar</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</ng-container>
				<ng-template #blockOcultarTodosAsesores>
					<div class="card card-optimus py-1">
						<div class="card-header">
							<h4 class="card-title d-flex">
								<i class="material-icons p-1">view_list</i>
								<span class="py-1 text-uppercase">Listado de todos los asesores</span>
							</h4>
						</div>
						<h3 class="text-center text-break font-weight-bolder my-5">No existen registros</h3>
					</div>
				</ng-template>
				<!-- Todos los asesores -->
			</div>
		</div>
	</div>
</div>
