<app-loading *ngIf="loading"></app-loading>
<div class="main-content">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-10">
				<h2 class="font-weight-bolder text-break text-center mb-5">CONFIRMAR CITAS</h2>
				<!--<p class="mb-4 mb-md-5">Listado de permisos asignados a roles</p>-->
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="mat-elevation-z8">
					<div class="card">
						<div class="card-body m-0 p-0">
							<div class="table-responsive">
								<table class="table table-hover table-bordered table-optimus">
									<thead>
										<tr>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[0] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[1] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[2] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[3] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[4] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[5] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[6] }}
											</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let row of dataTable.dataRows; let i=index">
											<th scope="row" class="text-center">{{i+1}}</th>
											<td class="text-center">
												{{row?.clienteDocumento}}<br>
												{{row?.clienteNombres}}
											</td>
											<td class="text-center">{{row?.titulo | uppercase}}</td>
											<td class="text-center">
												<i class="material-icons">today</i>
												<span class="d-block">{{row?.fechaEvento | date: "fullDate"}}</span>
											</td>
											<td class="text-center">
												<i class="material-icons">schedule</i>
												<span class="d-block">{{row?.hora}}</span>
											</td>
											<td class="text-center">
												<span matTooltip="Cita {{row?.estado}}" [matTooltipPosition]="'below'"
													class="pointer badge badge-{{row?.colorEstado}} text-center">
													<span class="py-1">{{row?.estado}}</span>
												</span>
											</td>
											<td class="text-center" class="text-center">
												<button class="btn btn-link btn-optimus-yellow btn-just-icon visibility"
													data-toggle="modal" (click)="visualizarRowAgenda(row)"
													matTooltip="Visualizar Detalladamente"
													[matTooltipPosition]="'below'">
													<i class="material-icons">visibility</i>
												</button>
												<ng-container *ngIf="row?.confirmarEventoComercial">
													<button
														class="btn btn-link btn-optimus-silver btn-just-icon assignment"
														(click)="confirmarRowAgenda(row)" data-toggle="modal"
														matTooltip="Confirmar Evento"
														[matTooltipPosition]="'below'">
														<i class="material-icons">assignment</i>
													</button>
												</ng-container>
											</td>
										</tr>
										<tr *ngIf="(dataTable.dataRows.length === 0)">
											<td colspan="7" class="text-center">
												<ng-container *ngIf="consultaVaciaCargarSpinner; else bloqueCargaDatosRCA">
													No hay datos para mostrar
												</ng-container>
												<ng-template #bloqueCargaDatosRCA>
													<app-loading-spinner></app-loading-spinner>
												</ng-template>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="container text-muted">
							<div class="row justify-content-center">
								<div class="col-md-7">
									<div
										class="pt-2 ml-0 ml-sm-3 ml-md-3 ml-lg-3 text-center text-sm-left text-md-left text-lg-left text-silver">
										Total Registros: {{total_item_count}}
									</div>
								</div>
								<div class="col-md-4 text-center text-silver">
									<nav aria-label="..." class="align-items-center">
										<ul class="pagination align-items-center">
											<li class="page-item">
												<p class="mx-4 my-2">Página {{page_actual}} de {{total_pages}}</p>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Primera página"
													[matTooltipPosition]="'below'" (click)="listarEventosComerciales('1')">
													<i class="material-icons">first_page</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Atrás"
													[matTooltipPosition]="'below'"
													(click)="listarEventosComerciales(''+page_prev)">
													<i class="material-icons">navigate_before</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Siguiente"
													[matTooltipPosition]="'below'"
													(click)="listarEventosComerciales(''+page_next)">
													<i class="material-icons">navigate_next</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Última página"
													[matTooltipPosition]="'below'"
													(click)="listarEventosComerciales(''+total_pages)">
													<i class="material-icons">last_page</i>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
						<!-- end content-->
					</div>
					<!--  end card  -->
				</div>
			</div>
			<!-- end col-md-12 -->
		</div>
	</div>
</div>

<!-- Modal Mirar Informacion Detallada -->
<div class="modal fade bg-modal" id="modalInformacionDetallada" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Información Detallada del Evento</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row justify-content-center py-0">
					<h3 class="d-block my-0 text-center font-weight-bold text-uppercase py-1">{{eventoDetallado.titulo}}</h3>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-3 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">contact_page</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block py-1">Documento: </strong>
								<span class="d-block py-1">{{eventoDetallado.clienteDocumento}}</span>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-3 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">person</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block py-1">Cliente:</strong>
								<span class="d-block py-1">{{eventoDetallado.clienteNombres}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-3 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">insert_invitation</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block py-1">Tipo de Evento: </strong>
								<span class="d-block py-1">{{eventoDetallado.tipoEvento}}</span>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-3 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block py-1">Fecha Registro: </strong>
								<span class="d-block py-1">{{eventoDetallado.fechaRegistro | date: "shortDate"}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-3 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block py-1">Fecha Evento: </strong>
								<span class="d-block py-1">{{eventoDetallado.fechaEvento| date: "shortDate"}}</span>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-3 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block py-1">Fecha de Confirmación: </strong>
								<span class="d-block py-1">{{eventoDetallado.fechaConfirmacion| date: "shortDate"}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-3 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">timer</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block py-1">Hora: </strong>
								<span class="d-block py-1">{{eventoDetallado.hora}}</span>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-3 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">person</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block py-1">Registrado Por: </strong>
								<span class="d-block py-1">{{eventoDetallado.registradoPor}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-3 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">person</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block py-1">Registrado A: </strong>
								<span class="d-block py-1">{{eventoDetallado.registradoA}}</span>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-3 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">view_agenda</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block py-1">Estado: </strong>
								<span class="badge badge-{{eventoDetallado.colorEstado}} text-center mb-1">
									<span class="py-1 d-block">{{eventoDetallado.estado}}</span>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center mt-4">
					<div class="col-md-8 col-sm-5 text-center mx-1 mx-sm-2 mx-md-3 mx-lg-4 border-bottom">
						<strong class="ml-1 py-1">Observación </strong>
						<p class="text-justify" [innerHTML]="eventoDetallado.observacion"></p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Mirar Informacion Detallada -->

<!-- Modal Confirmar Evento -->
<div class="modal fade bg-modal" id="modalConfirmarEventoComercial" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Confirmar Agendamiento</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<form ngNativeValidate [formGroup]="confirmarCitaForm" (ngSubmit)="onSubmitConfirmarCita()"
					autocomplete="off">
					<div class="card-body">
						<div class="row justify-content-center">
							<div class="col-sm-10 mb-2">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Estado"
										name="estadoAgendamiento" id="estadoAgendamiento"
										formControlName="estadoAgendamiento">
										<mat-option *ngFor="let estadoAgendamiento of estadoAgendamientoArray"
											[value]="estadoAgendamiento.valor">
											{{ estadoAgendamiento.nombre }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="confirmarCitaForm.get('estadoAgendamiento').hasError('required') && confirmarCitaForm.get('estadoAgendamiento').touched">
										El campo estado es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-10 mb-2">
								<mat-form-field class="example-full-width">
									<textarea matInput rows="2" formControlName="observacion"
										placeholder="Observaciones" name="observacion" id="observacion"
										type="text"></textarea>
								</mat-form-field>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-md-6 text-center my-3">
								<button mat-raised-button [disabled]="confirmarCitaForm.invalid"
									class="btn btn-fill btn-optimus-black">Guardar
									Cita</button>
							</div>
						</div>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Confirmar Evento -->