
/* Estilos paginación  */
.disabled-label {
  color: #212529;
}

.enable-label {
  color: #fff;
  font-weight: bold;
  background: #a9abae;
}

.page-num {
  border-left: 1px solid #a9abae;
  border-right: 1px solid #a9abae;
}

.pagination {
  border-radius: 0.4rem;
  border: 1px solid #a9abae;
}

.total_items {
  color: #3c4858;
  list-style: none;
  display: flex;
  padding-left: 0;
}

.prev {
  background-color: #8f8f8f;
  color: #fafbfc;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.next {
  background-color: #8f8f8f;
  color: #fafbfc;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.prev:hover {
  color: #3c4858;
}

.next:hover {
  color: #3c4858;
}


/* Boton nueva cotizacion */
.color-icono .material-icons {
  padding: 13px;
  border-radius: 10px;
  background: linear-gradient(60deg, #ffa726, #fb8c00);
  color: #fff;
}

.color-icono span {
  font-size: 1em;
  color: #3C4858;
}

/*Icono fecha*/
.icono-espacio .material-icons {
	margin: 0 6px;
}