<app-loading *ngIf="loading"></app-loading>

<div class="main-content">
	<div class="container-fluid">
		<h2 class="text-center bold mb-5">ATENCIONES DEL DÍA</h2>
	</div>

	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card card-optimus py-1">
					<div class="card-header">
						<h4 class="card-title d-flex">
							<i class="material-icons p-1">search</i>
							<span class="py-1 text-uppercase">Filtrar Atenciones</span>
						</h4>
					</div>
					<div class="row justify-content-center mt-4 text-center">
						<div class="col-md-10 text-center mx-3">
							<p class="text-center text-silver d-flex">
								<span class="material-icons p-1 ml-auto text-silver" matTooltip="Ayuda"
									[matTooltipPosition]="'below'">help</span>
								<span class="py-1 mr-auto">Filtre la información de atenciones realizadas por el
									parámetro fecha</span>
							</p>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-md-6 mx-4">
							<mat-form-field>
								<input matInput placeholder="Fecha" [matDatepicker]="picker1" (click)="picker1.open()"
									name="fecha" id="fecha" (dateChange)="onSubmitFiltroAtencionesPorFecha($event)">
								<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
								<mat-datepicker #picker1></mat-datepicker>
							</mat-form-field>
						</div>
					</div>
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-md-6 text-center my-3">
								<button mat-raised-button class="btn btn-fill btn-optimus-green" type="button"
									(click)="limpiarFiltros()"><i class="material-icons">delete</i> Limpiar
									filtros</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid mt-3" *ngIf="consultaVacia">
		<div class="row justify-content-center">
			<div class="col-md-12 pt-3 text-center">
				<h4>No hay datos para mostrar</h4>
			</div>
		</div>
	</div>
	<ng-container *ngIf="(atencionesAsesorArray.length > 0) && !consultaVacia">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="mat-elevation-z8">
						<div class="card">
							<div class="card-body m-0 p-0">
								<div class="table-responsive">
									<table class="table table-hover table-bordered table-optimus">
										<thead>
											<tr>
												<th class="text-center text-white" scope="col">
													{{ dataTable.headerRow[0] }}</th>
												<th class="text-center text-white" scope="col">
													{{ dataTable.headerRow[1] }}</th>
												<th class="text-center text-white" scope="col">
													{{ dataTable.headerRow[2] }}</th>
												<th class="text-center text-white" scope="col">
													{{ dataTable.headerRow[3] }}</th>
												<th class="text-center text-white" scope="col">
													{{ dataTable.headerRow[4] }}</th>
												<th class="text-center text-white" scope="col">
													{{ dataTable.headerRow[5] }}</th>
												<th class="text-center text-white" scope="col">
													{{ dataTable.headerRow[6] }}</th>
												<th class="text-center text-white" scope="col">
													{{ dataTable.headerRow[7] }}</th>
												<th class="text-center text-white" scope="col">
													{{ dataTable.headerRow[8] }}</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let row of dataTable.dataRows; let i=index">
												<th scope="row" class="text-center">{{i+1}}</th>
												<ng-container
													*ngIf="botonFiltradoFechaActual == 0; else blockOcultarEnlace">
													<td class="text-center">
														<button class="btn btn-optimus-black"
															(click)="listarAtencionesPorAsesorToken(2, row?.asesorId, fechaBusqueda)"
															matTooltip="Filtrar por asesor"
															[matTooltipPosition]="'below'">
															<span>{{row?.asesor | uppercase}}</span>
														</button>
													</td>
												</ng-container>
												<ng-template #blockOcultarEnlace>
													<td class="text-center">
														<span>{{row?.asesor | uppercase}}</span>
													</td>
												</ng-template>
												<td class="text-center">
													<strong>{{row?.tipoDocumentoCliente}}:
													</strong>{{row?.documentoCliente}} <br>
													<span>{{row?.cliente}}</span>
												</td>
												<td class="text-center">{{row?.fechaInicial | date: "short"}}</td>
												<td class="text-center">{{row?.fechaFinal == '0000-00-00' ? '- - -' : row?.fechaFinal | date:"short"}}</td>
												<td class="text-center">{{row?.tiempoAtencion}}</td>
												<td class="text-center">{{row?.objecion}}</td>
												<td class="text-center">...
													<button class="btn btn-link btn-green"
														(click)="observarTexto(row?.observacion)">
														Ver más
													</button>
												</td>
												<td class="text-center">
													<ng-container
														*ngIf="row?.fechaFinal == '0000-00-00'; else blockDisponible">
														<button class="btn btn-link btn-danger btn-just-icon pan_tool"
															data-toggle="modal" (click)="finalizarAtencion(row?.id)"
															matTooltip="Finalizar Atención"
															[matTooltipPosition]="'below'">
															<i class="material-icons">pan_tool</i>
														</button>
													</ng-container>
													<ng-template #blockDisponible>
														<button class="btn btn-link btn-warning btn-just-icon done_all"
															matTooltip="Atención Finalizada"
															[matTooltipPosition]="'below'">
															<i class="material-icons">done_all</i>
														</button>
													</ng-template>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ng-container>
</div>

<!-- Modal finalizar atencion -->
<div class="modal fade bg-modal" id="modalFinalizarAtencion" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Finalizar Atención</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form class="mt-3" ngNativeValidate [formGroup]="finalizarAtencionForm"
					(ngSubmit)="onSubmitFinalizarAtencion()" autocomplete="off">
					<div class="row justify-content-center">
						<div class="col-md-10 text-center">
							<mat-form-field>
								<mat-select [compareWith]="compararDato" placeholder="Objeciones" name="objecion"
									formControlName="objecion">
									<mat-option *ngFor="let tipo of objecionesArray" [value]="tipo.valor">
										{{ tipo.nombre }}
									</mat-option>
								</mat-select>
								<mat-error
									*ngIf="finalizarAtencionForm.get('objecion').hasError('required') && finalizarAtencionForm.get('objecion').touched">
									El campo objeción es <strong>requerido</strong>
								</mat-error>
							</mat-form-field>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-md-10 text-center">
							<mat-form-field class="example-full-width">
								<textarea matInput formControlName="observacion" placeholder="Observación"
									name="observacion"></textarea>
							</mat-form-field>
						</div>
					</div>
					<div class="row justify-content-center py-3">
						<div class="col-md-6 text-center">
							<button mat-raised-button [disabled]="finalizarAtencionForm.invalid"
								class="btn btn-fill btn-optimus-black">
								Finalizar Atención
							</button>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal finalizar atencion -->

<!-- Modal Mirar Observación -->
<div class="modal fade bg-modal" id="modalObservacion" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Observación Detallada</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<div class="container">
					<p class="text-justify" [innerHTML]="textoExtendido"></p>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Mirar Observación -->