<app-loading *ngIf="loading"></app-loading>
<div class="main-content">
	<div class="container-fluid">

		<div class="row justify-content-center mb-3">
			<div class="col-md-10">
				<h2 class="font-weight-bolder text-break text-center mb-5">LISTA DE ESTUDIOS DE CRÉDITO</h2>
				<p class="mb-4 mb-md-5">
					A continuación se lista los estudios de crédito de los clientes ingresados.
				</p>
			</div>
		</div>

		<div class="card my-0">
			<div id="accordion" role="tablist">
				<div class="card-collapse card-optimus m-0">
					<div class="card-header pt-3" role="tab" id="headingOne">
						<h4 class="mx-4">
							<a data-toggle="collapse" href="#collapseOne" aria-expanded="false"
								aria-controls="collapseOne" class="collapsed text-white text-uppercase">
								<span class="material-icons md-48">search</span> Generar Reporte por Filtros
								<i class="material-icons">keyboard_arrow_down</i>
							</a>
						</h4>
					</div>
					<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
						data-parent="#accordion">
						<div class="card-body">
							<p class="text-center my-2 text-silver d-flex pb-2 mx-3">
								<span class="material-icons text-silver p-1 ml-auto" matTooltip="Ayuda"
									[matTooltipPosition]="'below'">help</span>
								<span class="py-1 mr-auto">Realice la búsqueda de estudios de crédito dando clic en las
									opciones
									de cada uno de los menús o seleccionando un rango de fechas.</span>
							</p>

							<div class="row justify-content-center mt-1 mx-2 text-center">
								<div class="col-md-6 text-center mb-2">
									<div class="row justify-content-center">
										<ng-container *ngIf="ocultarCampoAsesor">
											<div class="col-md-6 text-center mb-2">
												<mat-form-field>
													<mat-select [compareWith]="compararDato" placeholder="Asesor"
														name="asesor" id="asesor" [(ngModel)]="busquedaFiltros.asesor"
														#asesor="ngModel">
														<mat-option *ngFor="let tipo of todosAsesoresArray"
															[value]="tipo.id" (click)="onSubmitBuscarReporte()">
															{{ tipo.nombre }}
														</mat-option>
													</mat-select>
												</mat-form-field>
											</div>
										</ng-container>
										<div class="col-md-6 text-center mb-2">
											<mat-form-field>
												<mat-select [compareWith]="compararDato" placeholder="Financiera"
													name="financiera" id="financiera"
													[(ngModel)]="busquedaFiltros.financiera" #financiera="ngModel">
													<mat-option *ngFor="let tipo of financieraArray"
														[value]="tipo.valor" (click)="onSubmitBuscarReporte()">
														{{ tipo.nombre }}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-md-6 text-center my-0 my-sm- my-md-3 my-lg-3">
											<button mat-raised-button
												class="btn btn-fill btn-optimus-green d-none d-sm-none d-md-block d-lg-block"
												type="button" (click)="limpiarFiltros()"><i
													class="material-icons">search</i>
												Limpiar
												filtros</button>
										</div>
									</div>
								</div>
								<div class="col-md-6 text-center mb-2">
									<form ngNativeValidate [formGroup]="buscarFiltrosForm"
										(ngSubmit)="onSubmitBuscarReporte()" autocomplete="off" class="">
										<div class="row justify-content-center">
											<div class="col-sm-5 mb-2">
												<mat-form-field>
													<input matInput placeholder="Fecha Inicial"
														[matDatepicker]="picker1" (click)="picker1.open()"
														formControlName="fechaInicial" name="fechaInicial"
														id="fechaInicial" required>
													<mat-datepicker-toggle matSuffix [for]="picker1">
													</mat-datepicker-toggle>
													<mat-datepicker #picker1></mat-datepicker>
													<mat-error
														*ngIf="buscarFiltrosForm.get('fechaInicial').hasError('required') && buscarFiltrosForm.get('fechaInicial').touched">
														El campo fecha inicial es <strong>requerido</strong></mat-error>
												</mat-form-field>
											</div>
											<div class="col-sm-5 mb-2">
												<mat-form-field>
													<input matInput placeholder="Fecha Final" [matDatepicker]="picker2"
														(click)="picker2.open()" formControlName="fechaFinal"
														name="fechaFinal" id="fechaFinal" required>
													<mat-datepicker-toggle matSuffix [for]="picker2">
													</mat-datepicker-toggle>
													<mat-datepicker #picker2></mat-datepicker>
													<mat-error
														*ngIf="buscarFiltrosForm.get('fechaFinal').hasError('required') && buscarFiltrosForm.get('fechaFinal').touched">
														El campo fecha final es <strong>requerido</strong></mat-error>
												</mat-form-field>
											</div>
										</div>
										<div class="container">
											<div class="row justify-content-center">
												<div
													class="col-md-6 text-center my-3 d-block d-sm-block d-md-none d-lg-none">
													<button mat-raised-button class="btn btn-fill btn-optimus-green"
														type="button" (click)="limpiarFiltros()"><i
															class="material-icons">search</i> Limpiar
														filtros</button>
												</div>
												<div class="col-md-6 text-center my-3">
													<button mat-raised-button class="btn btn-fill btn-optimus-black"
														[disabled]="buscarFiltrosForm.invalid"><i
															class="material-icons">search</i>
														Consultar</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="card-collapse card-optimus m-0">
					<div class="card-header pt-3" role="tab" id="headingTwo">
						<h4 class="mx-4">
							<a data-toggle="collapse" href="#collapseTwo" aria-expanded="false"
								aria-controls="collapseTwo" class="collapsed text-white text-uppercase">
								<span class="material-icons md-48">search</span> Cliente Por Documento
								<i class="material-icons">keyboard_arrow_down</i>
							</a>
						</h4>
					</div>
					<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
						data-parent="#accordion">
						<div class="card-body">

							<p class="text-center text-silver d-flex pb-2">
								<span class="material-icons text-silver p-1 ml-auto" matTooltip="Ayuda"
									[matTooltipPosition]="'below'">help</span>
								<span class="py-1 mr-auto">Realice la búsqueda del cliente por nombre o documento de
									identidad</span>
							</p>
							<div class="row justify-content-center">
								<div class="col-md-6">
									<form class="my-4" ngNativeValidate [formGroup]="buscarUsuarioFormGroup"
										(ngSubmit)="onSubmitClientePorDocumento('1')">
										<div class="row justify-content-center">
											<div class="col-sm-8 mb-2">
												<mat-form-field>
													<input matInput formControlName="filtroUsuario"
														placeholder="Parámetro de búsqueda" name="filtroUsuario"
														id="filtroUsuario" type="text" required>
													<mat-error
														*ngIf="buscarUsuarioFormGroup.get('filtroUsuario').hasError('required') && buscarUsuarioFormGroup.get('filtroUsuario').touched">
														Este campo es <strong>requerido</strong>
													</mat-error>
												</mat-form-field>
											</div>
										</div>
										<div class="container">
											<div class="row justify-content-center">
												<div class="col-md-12 text-center my-3">
													<button mat-raised-button
														[disabled]="buscarUsuarioFormGroup.get('filtroUsuario').hasError('required') || buscarUsuarioFormGroup.get('filtroUsuario').hasError('pattern')"
														class="btn btn-fill btn-optimus-black mx-1">
														<i class="material-icons">search</i> Buscar
													</button>
													<button mat-raised-button
														class="btn btn-fill btn-optimus-green mx-1" type="button"
														(click)="limpiarFiltros()">
														<i class="material-icons">search</i> Limpiar filtros
													</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="card-collapse card-optimus m-0">
					<div class="card-header pt-3" role="tab" id="headingThree">
						<h4 class="mx-4">
							<a data-toggle="collapse" href="#collapseThree" aria-expanded="false"
								aria-controls="collapseThree" class="collapsed text-white text-uppercase">
								<span class="material-icons md-48">search</span> Por Contestación
								<i class="material-icons">keyboard_arrow_down</i>
							</a>
						</h4>
					</div>
					<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree"
						data-parent="#accordion">
						<div class="card-body">

							<p class="text-center text-silver d-flex pb-2">
								<span class="material-icons text-silver p-1 ml-auto" matTooltip="Ayuda"
									[matTooltipPosition]="'below'">help</span>
								<span class="py-1 mr-auto">Realice la búsqueda del cliente por contestación</span>
							</p>

							<div class="row justify-content-center mt-1 mx-2 text-center">
								<div class="col-md-6 text-center mb-2">
									<div class="row justify-content-center">
										<div class="col-md-6 text-center mb-2">
											<mat-form-field>
												<mat-select [compareWith]="compararDato" placeholder="Contestación"
													name="contestacion" id="contestacion"
													[(ngModel)]="busquedaFiltros.contestacion" #contestacion="ngModel">
													<mat-option *ngFor="let tipo of contestacionArray"
														[value]="tipo.valor"
														(click)="onSubmitBuscarReporteContestacion()">
														{{ tipo.nombre }}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-md-6 text-center my-0 my-sm- my-md-3 my-lg-3">
											<button mat-raised-button class="btn btn-fill btn-optimus-green mx-1"
												type="button" (click)="limpiarFiltros()">
												<i class="material-icons">search</i> Limpiar filtros
											</button>
										</div>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="mat-elevation-z8">
					<div class="card">
						<div class="card-body m-0 p-0">
							<div class="table-responsive">
								<table class="table table-hover table-bordered table-optimus">
									<thead>
										<tr>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[0] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[1] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[2] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[3] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[4] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[5] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[6] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[7] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[8] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[9] }}
											</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let row of dataTable.dataRows; let i=index">
											<th scope="row" class="text-center">{{i+1}}</th>
											<td class="text-left"><strong>{{row?.tipoDocPersona}}:</strong>
												{{row?.documentoPersona}}
											</td>
											<td class="text-left">{{row?.nombresPersona | uppercase}}
												{{row?.apellidosPersona | uppercase}}</td>
											<td class="text-center">{{row?.fechaContestacion == '- - -' ? '- - -' :
												row?.fechaContestacion | date: "short"}}</td>
											<td class="text-center">{{row?.banco}}</td>
											<td class="text-center">
												<span class="badge badge-{{row?.colorContestacion}} text-center mb-1">
													<span class="py-1 d-block" [innerHTML]="row?.contestacion"></span>
												</span>
											</td>
											<td class="text-center">{{row?.plan}}</td>
											<td class="text-center">{{row?.fechaDesembolso == '- - -' ? '- - -' :
												row?.fechaDesembolso | date: "short"}}</td>
											<td class="text-left">{{row?.asesor | uppercase}}</td>
											<td class="text-center">
												<button class="btn btn-link btn-optimus-green btn-just-icon account_box"
													(click)="buscarIdCliente(row?.idIngreso)" matTooltip="Ver Cliente"
													[matTooltipPosition]="'below'">
													<i class="material-icons">account_box</i>
												</button>
												<ng-container *ngIf="row?.editarEstudioCredito && row?.negocioAbierto">
													<button class="btn btn-link btn-optimus-green btn-just-icon edit"
														(click)="editarEstudioCredito(''+row?.id, ''+row?.cotizacionId)"
														matTooltip="Editar Estudio de Crédito"
														[matTooltipPosition]="'below'">
														<i class="material-icons">edit</i>
													</button>
												</ng-container>
												<ng-container *ngIf="!row?.negocioAbierto">
													<button
														class="btn btn-link btn-optimus-black btn-just-icon recent_actors"
														matTooltip="El Negocio Esta Cerrado"
														[matTooltipPosition]="'below'">
														<i class="material-icons">recent_actors</i>
													</button>
												</ng-container>
											</td>
										</tr>
										<tr *ngIf="(dataTable.dataRows.length === 0)">
											<td colspan="10" class="text-center">
												<ng-container *ngIf="consultaVaciaCargarSpinner; else bloqueCargaDatosEC">
													No hay datos para mostrar
												</ng-container>
												<ng-template #bloqueCargaDatosEC>
													<app-loading-spinner></app-loading-spinner>
												</ng-template>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="container text-muted">
							<div class="row justify-content-center">
								<div class="col-md-7">
									<div
										class="pt-2 ml-0 ml-sm-3 ml-md-3 ml-lg-3 text-center text-sm-left text-md-left text-lg-left">
										Total Registros: {{total_item_count}}
									</div>
								</div>
								<div class="col-md-4 text-center text-silver">
									<nav aria-label="..." class="align-items-center">
										<ul class="pagination align-items-center">
											<li class="page-item">
												<p class="mx-4 my-2">Página {{page_actual}} de {{total_pages}}</p>
											</li>
											<ng-container [ngSwitch]="cambiarPaginador">
												<ng-container *ngSwitchCase="'T'">
													<li class="page-item pointer">
														<a routerLinkActive="router-link-active" matTooltip="Primera página"
															[matTooltipPosition]="'below'" (click)="listarEstadisticas(1)">
															<i class="material-icons">first_page</i>
														</a>
													</li>
													<li class="page-item pointer">
														<a routerLinkActive="router-link-active" matTooltip="Atrás"
															[matTooltipPosition]="'below'"
															(click)="listarEstadisticas(page_prev)">
															<i class="material-icons">navigate_before</i>
														</a>
													</li>
													<li class="page-item pointer">
														<a routerLinkActive="router-link-active" matTooltip="Siguiente"
															[matTooltipPosition]="'below'"
															(click)="listarEstadisticas(page_next)">
															<i class="material-icons">navigate_next</i>
														</a>
													</li>
													<li class="page-item pointer">
														<a routerLinkActive="router-link-active" matTooltip="Última página"
															[matTooltipPosition]="'below'"
															(click)="listarEstadisticas(total_pages)">
															<i class="material-icons">last_page</i>
														</a>
													</li>
												</ng-container>
												<ng-container *ngSwitchCase="'PD'">
													<li class="page-item pointer">
														<a routerLinkActive="router-link-active" matTooltip="Primera página"
															[matTooltipPosition]="'below'"
															(click)="listarClientePorDocumento(1)">
															<i class="material-icons">first_page</i>
														</a>
													</li>
													<li class="page-item pointer">
														<a routerLinkActive="router-link-active" matTooltip="Atrás"
															[matTooltipPosition]="'below'"
															(click)="listarClientePorDocumento(page_prev)">
															<i class="material-icons">navigate_before</i>
														</a>
													</li>
													<li class="page-item pointer">
														<a routerLinkActive="router-link-active" matTooltip="Siguiente"
															[matTooltipPosition]="'below'"
															(click)="listarClientePorDocumento(page_next)">
															<i class="material-icons">navigate_next</i>
														</a>
													</li>
													<li class="page-item pointer">
														<a routerLinkActive="router-link-active" matTooltip="Última página"
															[matTooltipPosition]="'below'"
															(click)="listarClientePorDocumento(total_pages)">
															<i class="material-icons">last_page</i>
														</a>
													</li>
												</ng-container>
												<ng-container *ngSwitchCase="'PC'">
													<li class="page-item pointer">
														<a routerLinkActive="router-link-active" matTooltip="Primera página"
															[matTooltipPosition]="'below'"
															(click)="listarClientePorContestacion(1)">
															<i class="material-icons">first_page</i>
														</a>
													</li>
													<li class="page-item pointer">
														<a routerLinkActive="router-link-active" matTooltip="Atrás"
															[matTooltipPosition]="'below'"
															(click)="listarClientePorContestacion(page_prev)">
															<i class="material-icons">navigate_before</i>
														</a>
													</li>
													<li class="page-item pointer">
														<a routerLinkActive="router-link-active" matTooltip="Siguiente"
															[matTooltipPosition]="'below'"
															(click)="listarClientePorContestacion(page_next)">
															<i class="material-icons">navigate_next</i>
														</a>
													</li>
													<li class="page-item pointer">
														<a routerLinkActive="router-link-active" matTooltip="Última página"
															[matTooltipPosition]="'below'"
															(click)="listarClientePorContestacion(total_pages)">
															<i class="material-icons">last_page</i>
														</a>
													</li>
												</ng-container>
											</ng-container>
										</ul>
									</nav>
								</div>
							</div>
						</div>
						<!-- end content-->
					</div>
					<!--  end card  -->
				</div>
			</div>
			<!-- end col-md-12 -->
		</div>
		<!-- end row -->
	</div>
</div>