<app-loading *ngIf="loading"></app-loading>

<div class="main-content pt-0">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center text-md-left pb-md-4 pb-3">
				<button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresar()">
					<i class="material-icons">arrow_back</i> Regresar
				</button>
			</div>
		</div>
		<div class="row justify-content-center mb-1">
			<div class="col-md-10">
				<h2 class="font-weight-bolder text-break text-center mb-5">SEGUIMIENTO DE VENTA</h2>
				<p class="mb-4 mb-md-5">
					A continuación se lista el seguimiento de fechas de venta. Por favor, actualice la fecha de cada
					información conforme vaya realizando las solicitudes y obtenga las respecivas respuestas. Para el
					registro de fechas, modifique las que sean necesarias y luego presione modificar.
				</p>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="card card-optimus py-1">
					<div class="card-header">
						<h4 class="card-title d-flex">
							<i class="material-icons p-1">person</i>
							<span class="py-1 text-uppercase">Cliente</span>
						</h4>
					</div>
					<div class="container my-2">
						<div class="row justify-content-center">
							<div class="col-md-5">
								<span class="d-flex border rounded p-2 my-2 my-md-3" style="border-color: #ccc;">
									<strong>Nombres: &nbsp;</strong> {{datosCliente.nombres | uppercase}}
								</span>
							</div>
							<div class="col-md-5">
								<span class="d-flex border rounded p-2 my-2 my-md-3" style="border-color: #ccc;">
									<strong>CC: &nbsp;</strong>{{datosCliente.documento}}
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<ng-container *ngIf="(listadoProcesoVentasArray.length > 0); else ocultarBloqueProcesoVentas">
			<div class="row justify-content-center">
				<div class="col-md-10">
					<div class="card ">

						<div class="my-4" *ngFor="let row of listadoProcesoVentasArray; let i=index">
							<div class="container my-2">
								<div class="border rounded" style="border-color: #ccc;">
									<div class="row justify-content-center">
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-3 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">list_alt</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block pt-1">No. Cotizacion: </strong>
													<span class="d-block pb-1">{{row?.cotizacionId}}</span>
												</div>
											</div>
										</div>
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-3 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block pt-1">Fecha Inicio del Proceso:</strong>
													<span
														class="d-block pb-1">{{row?.fechaInicioProceso | date: "short"}}</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-3 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block pt-1">Fecha de Facturación: </strong>
													<span
														class="d-block pb-1">{{row?.fechaFacturacion == '- - -' ? '- - -' : row?.fechaFacturacion | date: "shortDate"}}</span>
												</div>
											</div>
										</div>
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-3 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block pt-1">Fecha envío de Matrícula:</strong>
													<span
														class="d-block pb-1">{{row?.fechaEnvioMatricula == '- - -' ? '- - -' : row?.fechaEnvioMatricula | date: "shortDate"}}</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-3 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block pt-1">Fecha Recepción de Matrícula: </strong>
													<span
														class="d-block pb-1">{{row?.fechaRecepcionMatricula == '- - -' ? '- - -' : row?.fechaRecepcionMatricula | date: "shortDate"}}</span>
												</div>
											</div>
										</div>
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-3 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block pt-1">Fecha SOAT:</strong>
													<span
														class="d-block pb-1">{{row?.fechaSoat == '- - -' ? '- - -' : row?.fechaSoat | date: "shortDate"}}</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row justify-content-center">
										<ng-container *ngIf="camposProcesoVentasChevy">
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-3 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block pt-1">Fecha de Activación Chevystar / OnStar:
														</strong>
														<span class="d-block pb-1">{{row?.fechaActivacionChevy == '- - -' ? '- - -' : row?.fechaActivacionChevy | date: "shortDate"}}</span>
													</div>
												</div>
											</div>
										</ng-container>
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-3 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block pt-1">Fecha de Entrega:</strong>
													<span
														class="d-block pb-1">{{row?.fechaEntrega == '- - -' ? '- - -' : row?.fechaEntrega | date: "shortDate"}}</span>
												</div>
											</div>
										</div>
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row"></div>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-3 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block pt-1">Fecha Firma del Contrato: </strong>
													<span
														class="d-block pb-1">{{row?.fechaFirmaContrato == '- - -' ? '- - -' : row?.fechaFirmaContrato | date: "shortDate"}}</span>
												</div>
											</div>
										</div>
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-3 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block pt-1">Fecha de Consignación:</strong>
													<span
														class="d-block pb-1">{{row?.fechaConsignacion == '- - -' ? '- - -' : row?.fechaConsignacion | date: "shortDate"}}</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-3 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">local_atm</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block pt-1">Precio Final de la Venta: </strong>
													<span
														class="d-block pb-1">{{row?.precioFinalVenta == null ? '- - -' : row?.precioFinalVenta | currency: 'COP':true: '1.0'}}</span>
												</div>
											</div>
										</div>
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-3 col-sm-3">
													<i
														class="material-icons py-2 mx-1 font-size-icono">money</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block pt-1">Placa:</strong>
													<span class="d-block pb-1">{{row?.placa}}</span>
												</div>
											</div>
										</div>
									</div>

									<div class="row justify-content-center">
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-3 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">filter_9_plus</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block pt-1">VIN: </strong>
													<span
														class="d-block pb-1 text-break">{{row?.vin}}</span>
												</div>
											</div>
										</div>
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-3 col-sm-3">
													<i
														class="material-icons py-2 mx-1 font-size-icono">directions_car</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block pt-1">Kilometraje:</strong>
													<span
														class="d-block pb-1">{{row?.kilometraje == null ? '0' : row?.kilometraje}}
														KM</span>
												</div>
											</div>
										</div>
									</div>



									<div class="row justify-content-center pb-3">
										<div class="col-md-8 col-sm-10 mx-3 mx-lg-3 py-2 text-center">
											<strong class="py-1">Observaciones</strong>
											<p class="text-left" [innerHTML]="row?.observacion">
											</p>
										</div>
									</div>
									<div class="row justify-content-center" *ngIf="permisosEdicion && botonMostrar">
										<!-- <div class="col-md-10 mb-2 text-center">
											<button class="btn btn-optimus-black" (click)="modificarProcesoVenta(row)"
												data-toggle="modal" matTooltip="Modificar Proceso de Ventas"
												[matTooltipPosition]="'below'">
												<i class="material-icons">edit</i> Modificar
											</button>
										</div> -->
									</div>
								</div>
							</div>
						</div>
						<div class="container text-muted">
							<div class="row justify-content-center">
								<div class="col-md-7">
									<div
										class="pt-2 ml-0 ml-sm-3 ml-md-3 ml-lg-3 text-center text-sm-left text-md-left text-lg-left">
										Total Registros: {{total_item_count}}
									</div>
								</div>
								<div class="col-md-4 text-center text-silver">
									<nav aria-label="..." class="align-items-center">
										<ul class="pagination align-items-center">
											<li class="page-item">
												<p class="mx-4 my-2">Página {{page_actual}} de {{total_pages}}</p>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Primera página"
													[matTooltipPosition]="'below'"
													(click)="listarProcesoVentasDatos(1)">
													<i class="material-icons">first_page</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Atrás"
													[matTooltipPosition]="'below'"
													(click)="listarProcesoVentasDatos(page_prev)">
													<i class="material-icons">navigate_before</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Siguiente"
													[matTooltipPosition]="'below'"
													(click)="listarProcesoVentasDatos(page_next)">
													<i class="material-icons">navigate_next</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Última página"
													[matTooltipPosition]="'below'"
													(click)="listarProcesoVentasDatos(total_pages)">
													<i class="material-icons">last_page</i>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ng-container>
		<ng-template #ocultarBloqueProcesoVentas>
			<div class="row justify-content-center">
				<div class="col-md-10 text-center">
					<h3>No existe proceso de ventas para este usuario</h3>
				</div>
			</div>
		</ng-template>
	</div>
</div>

<!-- Modal modificar proceso de ventas -->
<div class="modal fade bg-modal" id="modalFiltro" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div>
				<!-- Modificar proceso de ventas -->
				<div class="modal-header color-header">
					<h3 class="modal-title mt-0 mb-3 text-capitalize" id="exampleModalLongTitle">Actualizar Seguimiento de Venta</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="mt-4" ngNativeValidate [formGroup]="procesoVentasForm"
						(ngSubmit)="guardarDatosProcesoVentas()" autocomplete="off">
						<div class="row justify-content-center">
							<div class="col-sm-5 mb-2">
								<mat-form-field>
									<input matInput placeholder="Fecha de Facturación" [matDatepicker]="picker1"
										(click)="picker1.open()" formControlName="fechaFacturacion"
										name="fechaFacturacion" id="fechaFacturacion">
									<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
									<mat-datepicker #picker1></mat-datepicker>
								</mat-form-field>
							</div>
							<div class="col-sm-5 mb-2">
								<mat-form-field>
									<input matInput placeholder="Fecha de envío de Matrícula" [matDatepicker]="picker2"
										(click)="picker2.open()" formControlName="fechaEnvioMatricula"
										name="fechaEnvioMatricula" id="fechaEnvioMatricula">
									<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
									<mat-datepicker #picker2></mat-datepicker>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-5 mb-2">
								<mat-form-field>
									<input matInput placeholder="Fecha de recepción de matrícula"
										[matDatepicker]="picker3" (click)="picker3.open()"
										formControlName="fechaRecepcionMatricula" name="fechaRecepcionMatricula"
										id="fechaRecepcionMatricula">
									<mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
									<mat-datepicker #picker3></mat-datepicker>
								</mat-form-field>
							</div>
							<div class="col-sm-5 mb-2">
								<mat-form-field>
									<input matInput placeholder="Fecha del SOAT" [matDatepicker]="picker4"
										(click)="picker4.open()" formControlName="fechaSoat" name="fechaSoat"
										id="fechaSoat">
									<mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
									<mat-datepicker #picker4></mat-datepicker>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-5 mb-2">
								<mat-form-field>
									<input matInput placeholder="Fecha de Activación Chevy" [matDatepicker]="picker5"
										(click)="picker5.open()" formControlName="fechaActivacionChevy"
										name="fechaActivacionChevy" id="fechaActivacionChevy">
									<mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
									<mat-datepicker #picker5></mat-datepicker>
								</mat-form-field>
							</div>
							<div class="col-sm-5 mb-2">
								<mat-form-field>
									<input matInput placeholder="Fecha de entrega" [matDatepicker]="picker6"
										(click)="picker6.open()" formControlName="fechaEntrega" name="fechaEntrega"
										id="fechaEntrega">
									<mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
									<mat-datepicker #picker6></mat-datepicker>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-5 mb-2">
								<mat-form-field>
									<input matInput placeholder="Fecha firma contrato" [matDatepicker]="picker7"
										(click)="picker7.open()" formControlName="fechaFirmaContrato"
										name="fechaFirmaContrato" id="fechaFirmaContrato">
									<mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
									<mat-datepicker #picker7></mat-datepicker>
								</mat-form-field>
							</div>
							<div class="col-sm-5 mb-2">
								<mat-form-field>
									<input matInput placeholder="Fecha de Consignación" [matDatepicker]="picker8"
										(click)="picker8.open()" formControlName="fechaConsignacion"
										name="fechaConsignacion" id="fechaConsignacion">
									<mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
									<mat-datepicker #picker8></mat-datepicker>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-5 mb-2">
								<mat-form-field class="example-full-width">
									<input matInput formControlName="precioFinalVenta"
										placeholder="Precio final de la venta" name="precioFinalVenta"
										id="precioFinalVenta" type="text">
									<span matPrefix>$&nbsp;</span>
									<span matSuffix>.00</span>
									<mat-error
										*ngIf="procesoVentasForm.get('precioFinalVenta').hasError('pattern') && procesoVentasForm.get('precioFinalVenta').touched">
										El precio final debe tener el siguiente formato <strong>Ejm: $ 50200300</strong>
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col-sm-5 mb-2">
								<mat-form-field class="example-full-width">
									<input matInput formControlName="observacion" placeholder="Observación"
										name="observacion" id="observacion" type="text">
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-md-6 text-center my-3">
								<button mat-raised-button class="btn btn-fill btn-optimus-black"
									[disabled]="procesoVentasForm.get('precioFinalVenta').hasError('pattern')">
									<i class="material-icons">edit</i> Guardar
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal modificar proceso de ventas -->