<app-loading *ngIf="loading"></app-loading>

<div class="main-content pt-0">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center text-md-left pb-md-4 pb-3">
				<button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresar()">
					<i class="material-icons">arrow_back</i> Regresar
				</button>
			</div>
		</div>
		<div class="row justify-content-center mb-3">
			<div class="col-md-10">
				<h2 class="font-weight-bolder text-break text-center mb-5">SOLICITUD DE RECONSIDERADOS</h2>
				<!-- <p class="mb-4 mb-md-5">
					Por favor elige la opción ...
				</p> -->
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card card-optimus py-1">
					<div class="card-header">
						<h4 class="card-title d-flex">
							<i class="material-icons p-1">fact_check</i>
							<span class="py-1 text-uppercase">Reconsiderado</span>
						</h4>
					</div>
					<form class="mt-4" ngNativeValidate [formGroup]="datosReconsideradoForm" (ngSubmit)="onSubmitCrearReconsiderado()" autocomplete="off">
						<div class="card-body ">
							<div class="row justify-content-center">
								<div class="col-sm-5 mb-2">
									<mat-form-field>
										<mat-select [compareWith]="compararDato" placeholder="Reconsiderado" name="reconsiderado" formControlName="reconsiderado" required>
											<mat-option *ngFor="let tipo of tipoReconsideradoArray" [value]="tipo.valor">
												{{ tipo.nombre }}
											</mat-option>
										</mat-select>
										<mat-error *ngIf="datosReconsideradoForm.get('reconsiderado').hasError('required') && datosReconsideradoForm.get('reconsiderado').touched">
											El campo reconsiderado es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
								<div class="col-sm-5 mb-2">
									<mat-form-field class="example-full-width">
										<textarea matInput rows="2" formControlName="observacion" placeholder="Observación" name="observacion" id="observacion" type="text" type="text"></textarea>
									</mat-form-field>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-md-6 text-center my-3">
									<button mat-raised-button [disabled]="datosReconsideradoForm.invalid" class="btn btn-fill btn-optimus-black">Guardar</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>