<app-loading *ngIf="loading"></app-loading>

<div class="main-content pt-0">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center text-md-left pb-md-4 pb-3">
				<button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresar()">
					<i class="material-icons">arrow_back</i> Regresar
				</button>
			</div>
		</div>
		<div class="row justify-content-center mb-3">
			<div class="col-md-10">
				<h2 class="font-weight-bolder text-break text-center mb-5">SOLICITUD DE COTIZACIÓN</h2>
				<p class="mb-4 mb-md-5">
					Por favor ingrese la información de la cotización a realizar. Recuerde que todos 
					los campos son obligatorios
				</p>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="card card-optimus py-1">
					<div class="card-header">
						<h4 class="card-title d-flex">
							<i class="material-icons p-1">view_list</i>
							<span class="py-1 text-uppercase">Cotizaciones</span>
						</h4>
					</div>
					<form class="mt-4" ngNativeValidate [formGroup]="datosCotizacionForm" (ngSubmit)="onSubmitSolicitarCotizacion()" autocomplete="off">
						<div class="card-body ">
							<div class="row justify-content-center">
								<div class="col-sm-5 mb-2">
									<mat-form-field class="example-full-width">
										<input matInput formControlName="numCotizacion" placeholder="No. Cotización DMS" name="numCotizacion" type="text">
									</mat-form-field>
								</div>
								<div class="col-sm-5 mb-2">
									<mat-form-field>
										<mat-select [compareWith]="compararDato" placeholder="Tipo vehículo" name="tipoVehiculo" formControlName="tipoVehiculo" required>
											<mat-option *ngFor="let tipo of tipoVehiculoArray" [value]="tipo.valor">
												{{ tipo.nombre }}
											</mat-option>
										</mat-select>
										<mat-error *ngIf="datosCotizacionForm.get('tipoVehiculo').hasError('required') && datosCotizacionForm.get('tipoVehiculo').touched">El campo tipo de vehículo es <strong>requerido</strong></mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-sm-5 mb-2">
									<mat-form-field>
										<mat-select [compareWith]="compararDato" placeholder="Modelo" name="modelo" formControlName="modelo" required>
											<mat-option *ngFor="let tipo of modeloArray" [value]="tipo.valor">
												{{ tipo.nombre }}
											</mat-option>
										</mat-select>
										<mat-error *ngIf="datosCotizacionForm.get('modelo').hasError('required') && datosCotizacionForm.get('modelo').touched">El campo modelo es <strong>requerido</strong></mat-error>
										<mat-error *ngIf="datosCotizacionForm.get('modelo').hasError('pattern') && datosCotizacionForm.get('modelo').touched">
											El modelo debe tener el siguiente formato <strong>Ejm: 2020</strong>
										</mat-error>
									</mat-form-field>
								</div>
								<div class="col-sm-5 mb-2">
									<mat-form-field>
										<mat-select [compareWith]="compararDato" placeholder="Cuota Inicial" name="cuotaInicial" formControlName="cuotaInicial" required>
											<mat-option *ngFor="let tipo of cuotaInicialArray" [value]="tipo.valor">
												{{ tipo.nombre }}
											</mat-option>
										</mat-select>
										<mat-error *ngIf="datosCotizacionForm.get('cuotaInicial').hasError('required') && datosCotizacionForm.get('cuotaInicial').touched">El campo cuota inicial es <strong>requerido</strong></mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-sm-5 mb-2">
									<mat-form-field>
										<mat-select [compareWith]="compararDato" placeholder="Método de pago" name="metodoPago" formControlName="metodoPago" required>
											<mat-option *ngFor="let tipo of metodoPagoArray" [value]="tipo.valor">
												{{ tipo.nombre }}
											</mat-option>
										</mat-select>
										<mat-error *ngIf="datosCotizacionForm.get('metodoPago').hasError('required') && datosCotizacionForm.get('metodoPago').touched">El campo método de pago es <strong>requerido</strong></mat-error>
									</mat-form-field>
								</div>
								<div class="col-sm-5 mb-2">
									<mat-form-field>
										<mat-select [compareWith]="compararDato" placeholder="Versión Vehículo" name="versionId" formControlName="versionId" required>
											<mat-option *ngFor="let tipo of versionVehiculoArray" [value]="tipo.valor">
												{{ tipo.nombre }}
											</mat-option>
										</mat-select>
										<mat-error *ngIf="datosCotizacionForm.get('versionId').hasError('required') && datosCotizacionForm.get('versionId').touched">El campo versión es <strong>requerido</strong></mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-sm-5 mb-2">
									<mat-form-field>
										<mat-select [compareWith]="compararDato" placeholder="Color Vehículo" name="colorVehiculo" formControlName="colorVehiculo" required>
											<mat-option *ngFor="let tipo of colorVehiculoArray" [value]="tipo.valor">
												{{ tipo.nombre }}
											</mat-option>
										</mat-select>
										<mat-error *ngIf="datosCotizacionForm.get('colorVehiculo').hasError('required') && datosCotizacionForm.get('colorVehiculo').touched">El campo color del vehículo es <strong>requerido</strong></mat-error>
									</mat-form-field>
								</div>
								<div class="col-sm-5 mb-2">
									<mat-form-field class="example-full-width">
										<input matInput formControlName="valorVehiculo" placeholder="Valor Vehículo" name="valorVehiculo" id="valorVehiculo" type="text" (blur)="formatearMoneda($event)" required>
										<mat-error *ngIf="datosCotizacionForm.get('valorVehiculo').hasError('required') && datosCotizacionForm.get('valorVehiculo').touched">El campo valor vehiculo es <strong>requerido</strong></mat-error>
										<mat-error *ngIf="datosCotizacionForm.get('valorVehiculo').hasError('pattern')  && datosCotizacionForm.get('valorVehiculo').touched">
											El modelo debe tener el siguiente formato <strong>Ejm: 10000000</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-sm-5 mb-2">
									<mat-form-field class="example-full-width">
										<input matInput formControlName="ultimoDigito" placeholder="Último Dígito" name="ultimoDigito" type="text">
										<mat-error *ngIf="datosCotizacionForm.get('ultimoDigito').hasError('required') && datosCotizacionForm.get('ultimoDigito').touched">
											El campo último dígito es <strong>requerido</strong>
										</mat-error>
										<mat-error *ngIf="datosCotizacionForm.get('ultimoDigito').hasError('pattern') && datosCotizacionForm.get('ultimoDigito').touched">
											El campo último dígito debe tener el siguiente formato <strong>Ej: 00</strong>
										</mat-error>
									</mat-form-field>
								</div>
								<div class="col-sm-5 mb-2">
									<mat-form-field class="example-full-width">
										<input matInput formControlName="lugarMatricula" placeholder="Lugar Matrícula" name="lugarMatricula" type="text">
										<mat-error *ngIf="datosCotizacionForm.get('lugarMatricula').hasError('required') && datosCotizacionForm.get('lugarMatricula').touched">El campo lugar de matrícula es <strong>requerido</strong></mat-error>
									</mat-form-field>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-md-6 text-center my-3">
									<button mat-raised-button [disabled]="datosCotizacionForm.invalid" class="btn btn-fill btn-optimus-black">Guardar</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>