<app-loading *ngIf="loading"></app-loading>
<div class="main-content">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-10">
				<h2 class="font-weight-bolder text-break text-center mb-5 text-uppercase">Lista de Tickets</h2>
			</div>
		</div>
		<div class="row justify-content-end mb-3 mb-md-3">
			<div class="col-md-6 text-md-right text-center">
				<button type="button" class="btn btn-black mr-md-1" (click)="registraTicketVentana()"
					matTooltip="Nuevo Ticket" [matTooltipPosition]="'below'">
					<i class="material-icons">add_circle_outline</i> Nuevo Ticket
				</button>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card card-optimus py-1">
					<div class="card-header">
						<h4 class="card-title d-flex">
							<i class="material-icons p-1">search</i>
							<span class="py-1 text-uppercase">Filtrar Tickets</span>
						</h4>
					</div>

					<p class="text-center my-2 text-silver d-flex pb-2 mx-3">
						<span class="material-icons text-silver p-1 ml-auto" matTooltip="Ayuda"
							[matTooltipPosition]="'below'">help</span>
						<span class="py-1 mr-auto">Puede filtrar los resultados de tickets mediante el estado en el que
							se encuentra.</span>
					</p>

					<div class="row justify-content-center mt-1 mx-2 text-center">
						<div class="col-md-10 text-center mb-2">
							<div class="row justify-content-center">
								<div class="col-md-10 text-center mb-2">
									<mat-form-field>
										<mat-select [compareWith]="compararDato" placeholder="Estado del Ticket"
											name="estado" id="estado" [(ngModel)]="busquedaFiltros.estado"
											#estado="ngModel">
											<mat-option *ngFor="let tipo of estadosArray" [value]="tipo.valor"
												(click)="listarTickets(1)">
												{{ tipo.nombre }}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
							</div>
							<div class="row justify-content-center text-center">
								<div class="col-md-8 text-center my-0 my-sm- my-md-3 my-lg-3">
									<button mat-raised-button class="btn btn-fill btn-optimus-green" type="button"
										(click)="limpiarFiltros()"><i class="material-icons">search</i>
										Limpiar filtro</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="mat-elevation-z8">
					<div class="card">
						<div class="card-body m-0 p-0">
							<div class="table-responsive">
								<table class="table table-hover table-bordered table-optimus">
									<thead>
										<tr>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[0] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[1] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[2] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[3] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[4] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[5] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[6] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[7] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[8] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[9] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[10] }}
											</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let row of dataTable.dataRows; let i=index">
											<th scope="row" class="text-center">{{i+1}}</th>
											<td class="text-center"> {{row?.consecutivo}} </td>
											<td class="text-center"> {{row?.categoriaSolicitud}} </td>
											<td class="text-center"> {{row?.solicitadoPor}} </td>
											<td class="text-center"> {{row?.fechaSolicitud | date:"short"}} </td>
											<td class="text-center">
												<button class="btn btn-link btn-green"
													(click)="observarTexto(row?.descripcionSolicitud)">
													Ver más
												</button>
											</td>
											<td class="text-center"> {{row?.aprobadoPor}} </td>
											<td class="text-center"> {{row?.fechaAprobacion == '- - -' ? ' - - -' :
												row?.fechaAprobacion | date:"short"}} </td>
											<td class="text-center">
												<button class="btn btn-link btn-green"
													(click)="observarTexto(row?.descripcionAprobacion)">
													Ver más
												</button>
											</td>
											<td class="text-center">
												<span class="badge badge-{{row?.colorEstado}} text-center mb-1">
													<span class="py-1 d-block" [innerHTML]="row?.estado"></span>
												</span>
											</td>
											<td class="text-center">
												<ng-container *ngIf="row?.validarCancelarTicket">
													<button class="btn btn-link btn-optimus-green btn-just-icon delete"
														(click)="cancelarSolicitud(row)" matTooltip="Cancelar Ticket"
														[matTooltipPosition]="'below'" data-toggle="modal">
														<i class="material-icons">delete</i>
													</button>
												</ng-container>

												<ng-container
													*ngIf="row?.valorEstadoTicket == 'pendienteRevisionT' && mostraBotonContestacion ; else bloqueBotonTicket">
													<button class="btn btn-link btn-optimus-black btn-just-icon preview"
														(click)="confirmarRevision(row?.id, row?.consecutivo)"
														matTooltip="Revisar Ticket" [matTooltipPosition]="'below'"
														data-toggle="modal">
														<i class="material-icons">preview</i>
													</button>
												</ng-container>
												<ng-template #bloqueBotonTicket>
													<button class="btn btn-link btn-optimus-black btn-just-icon preview"
														(click)="revisarTicket(row?.id)" matTooltip="Revisar Ticket"
														[matTooltipPosition]="'below'" data-toggle="modal">
														<i class="material-icons">preview</i>
													</button>
												</ng-template>
											</td>
										</tr>
										<tr *ngIf="(dataTable.dataRows.length === 0)">
											<td colspan="11" class="text-center">
												<ng-container
													*ngIf="consultaVaciaCargarSpinner; else bloqueCargaDatosT">
													No hay datos para mostrar
												</ng-container>
												<ng-template #bloqueCargaDatosT>
													<app-loading-spinner></app-loading-spinner>
												</ng-template>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="container text-white">
							<div class="row justify-content-center">
								<div class="col-md-7">
									<div
										class="pt-2 ml-0 ml-sm-3 ml-md-3 ml-lg-3 text-center text-sm-left text-md-left text-lg-left text-silver">
										Total Registros: {{total_item_count}}
									</div>
								</div>
								<div class="col-md-4 text-center text-silver">
									<nav aria-label="..." class="align-items-center">
										<ul class="pagination align-items-center">
											<li class="page-item">
												<p class="mx-4 my-2">Página {{page_actual}} de {{total_pages}}</p>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Primera página"
													[matTooltipPosition]="'below'" (click)="listarTickets(1)">
													<i class="material-icons">first_page</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Atrás"
													[matTooltipPosition]="'below'" (click)="listarTickets(page_prev)">
													<i class="material-icons">navigate_before</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Siguiente"
													[matTooltipPosition]="'below'" (click)="listarTickets(page_next)">
													<i class="material-icons">navigate_next</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Última página"
													[matTooltipPosition]="'below'" (click)="listarTickets(total_pages)">
													<i class="material-icons">last_page</i>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
						<!-- end content-->
					</div>
					<!--  end card  -->
				</div>
			</div>
			<!-- end col-md-12 -->
		</div>
		<!-- end row -->
	</div>
</div>

<!-- Modal crear tickets -->
<div class="modal fade bg-modal" id="modalRegistrar" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div>
				<!-- crear tickets -->
				<div class="modal-header color-header">
					<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Solicitud de Cambios</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="mt-3" ngNativeValidate [formGroup]="crearTicketUsuarioForm"
						(ngSubmit)="onSubmitCrearTicketsUsuario()" autocomplete="off">
						<div class="card-body ">
							<div class="row justify-content-center">
								<div class="col-sm-10 mb-2">
									<mat-form-field class="example-full-width">
										<mat-select [compareWith]="compararDato" placeholder="Tipo de Solicitud"
											name="categoria" id="categoria" formControlName="categoria" required>
											<mat-option *ngFor="let tipo of categoriaArray" [value]="tipo.valor">
												{{ tipo.nombre }}
											</mat-option>
										</mat-select>
										<mat-error
											*ngIf="crearTicketUsuarioForm.get('categoria').hasError('required') && crearTicketUsuarioForm.get('categoria').touched">
											El campo categoria es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-sm-10 mb-2">
									<mat-form-field class="example-full-width">
										<textarea matInput formControlName="descripcionSolicitud"
											placeholder="Descripción de la solicitud" name="descripcionSolicitud"
											id="descripcionSolicitud"></textarea>
										<mat-error
											*ngIf="crearTicketUsuarioForm.get('descripcionSolicitud').hasError('required') && crearTicketUsuarioForm.get('descripcionSolicitud').touched">
											El campo descripción es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-sm-12 mb-2 border rounded">
									<angular-file-uploader class="estiloPersonalizado" [config]="afuConfig"
										[resetUpload]=resetVar (ApiResponse)="subirArchivosTicket($event)">
									</angular-file-uploader>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-md-6 text-center mt-3">
									<button mat-raised-button [disabled]="crearTicketUsuarioForm.invalid"
										class="btn btn-fill btn-optimus-black">Enviar</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal crear tickets -->

<!-- Modal Mirar Observación -->
<div class="modal fade bg-modal" id="modalObservacion" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Descripción Detallada</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<div class="container">
					<p class="text-justify" [innerHTML]="textoExtendido"></p>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Mirar Observación -->

<!-- Modal cancelar tickets -->
<div class="modal fade bg-modal" id="modalCancelar" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div>
				<!-- cancelar tickets -->
				<div class="modal-header color-header">
					<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Cancelación de Ticket</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="mt-3" ngNativeValidate [formGroup]="cancelarTicketUsuarioForm"
						(ngSubmit)="onSubmitCancelarTicketsUsuario()" autocomplete="off">
						<div class="card-body ">
							<div class="row justify-content-center">
								<div class="col-sm-12 mb-2">
									<mat-form-field class="example-full-width">
										<textarea matInput formControlName="descripcionCancelacion"
											placeholder="Descripción de la solicitud" name="descripcionCancelacion"
											id="descripcionCancelacion"></textarea>
										<mat-error
											*ngIf="cancelarTicketUsuarioForm.get('descripcionCancelacion').hasError('required') && cancelarTicketUsuarioForm.get('descripcionCancelacion').touched">
											El campo descripción es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-md-6 text-center mt-3">
									<button mat-raised-button [disabled]="cancelarTicketUsuarioForm.invalid"
										class="btn btn-fill btn-optimus-black">Guardar</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal cancelar tickets -->