<app-loading *ngIf="loading"></app-loading>

<div class="main-content pt-0">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center text-md-left pb-md-4 pb-3">
                <button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresar()">
                    <i class="material-icons">arrow_back</i> Regresar
                </button>
            </div>
        </div>
        <div class="row justify-content-center mb-2">
            <div class="col-md-10">
                <h2 class="font-weight-bolder text-break text-center mb-5">ESTUDIO DE CRÉDITOS CLIENTE</h2>
                <p class="mb-4 mb-md-5">
                    A continuación se listan los estudios de crédito realizados por el cliente. En caso de requerir un
                    nuevo estudio de crédito, por favor presione el botón "Nuevo Estudio de crédito"
                </p>
            </div>
        </div>
        <!-- <div class="row justify-content-center mb-3 mb-md-5">
            <div class="col-md-12 text-md-right text-center">
                <button class="btn btn-link color-icono" (click)="crearEstudioCredito()"
                    *ngIf="permisosEdicion && botonMostrar">
                    <i class="material-icons">add_circle_outline</i> <span class="ml-2 font-weight-bolder">Nuevo Estudio
                        de Crédito</span>
                </button>
            </div>
        </div> -->
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card card-optimus py-1">
                    <div class="card-header">
                        <h4 class="card-title d-flex">
                            <i class="material-icons p-1">person</i>
                            <span class="py-1 text-uppercase">Cliente</span>
                        </h4>
                    </div>
                    <div class="container my-2">
                        <div class="row justify-content-center">
                            <div class="col-md-5">
                                <span class="d-flex border rounded p-2 my-2 my-md-3" style="border-color: #ccc;">
                                    <strong>Nombres: &nbsp;</strong> {{datosCliente.nombres | uppercase}}
                                </span>
                            </div>
                            <div class="col-md-5">
                                <span class="d-flex border rounded p-2 my-2 my-md-3" style="border-color: #ccc;">
                                    <strong>CC: &nbsp;</strong>{{datosCliente.documento}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-container *ngIf="(listadoEstudioCreditoArray.length > 0); else ocultarBloqueEstudioCredito">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="card ">

                        <div class="my-4" *ngFor="let row of listadoEstudioCreditoArray; let i=index">
                            <div class="container my-2">
                                <div class="border rounded" style="border-color: #ccc;">
                                    <div class="row justify-content-center">
                                        <div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
                                            <div class="row">
                                                <div class="col-2 col-md-3 col-sm-3">
                                                    <i class="material-icons py-2 mx-1 font-size-icono">list_alt</i>
                                                </div>
                                                <div class="col-10 col-md-9 col-sm-9">
                                                    <strong class="d-block pt-1">No. Cotizacion: </strong>
                                                    <span class="d-block pb-1">{{row?.cotizacion}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
                                            <div class="row">
                                                <div class="col-2 col-md-3 col-sm-3">
                                                    <i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
                                                </div>
                                                <div class="col-10 col-md-9 col-sm-9">
                                                    <strong class="d-block pt-1">Fecha Radicado: </strong>
                                                    <span class="d-block pb-1">{{row?.fechaRadicado | date: "short"}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
                                            <div class="row">
                                                <div class="col-2 col-md-3 col-sm-3">
                                                    <i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
                                                </div>
                                                <div class="col-10 col-md-9 col-sm-9">
                                                    <strong class="d-block pt-1">Fecha de Contestación:</strong>
                                                    <span class="d-block pb-1">{{row?.fechaContestacion == '0000-00-00' ? '- - -' : row?.fechaContestacion | date: "short"}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
                                            <div class="row">
                                                <div class="col-2 col-md-3 col-sm-3">
                                                    <i
                                                        class="material-icons py-2 mx-1 font-size-icono">record_voice_over</i>
                                                </div>
                                                <div class="col-10 col-md-9 col-sm-9">
                                                    <strong class="d-block pt-1">Contestación: </strong>
                                                    <span class="badge badge-{{row?.colorContestacion}} text-center mb-1">
                                                        <span class="py-1 d-block">{{row?.contestacionTem}}</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
                                            <div class="row">
                                                <div class="col-2 col-md-3 col-sm-3">
                                                    <i
                                                        class="material-icons py-2 mx-1 font-size-icono">account_balance</i>
                                                </div>
                                                <div class="col-10 col-md-9 col-sm-9">
                                                    <strong class="d-block pt-1">Banco:</strong>
                                                    <span class="d-block pb-1">{{row?.bancoTem}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
                                            <div class="row">
                                                <div class="col-2 col-md-3 col-sm-3">
                                                    <i class="material-icons py-2 mx-1 font-size-icono">dynamic_feed</i>
                                                </div>
                                                <div class="col-10 col-md-9 col-sm-9">
                                                    <strong class="d-block pt-1">Plan:</strong>
                                                    <span class="d-block pb-1">{{row?.planTem}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
                                            <div class="row">
                                                <div class="col-2 col-md-3 col-sm-3">
                                                    <i
                                                        class="material-icons py-2 mx-1 font-size-icono">date_range</i>
                                                </div>
                                                <div class="col-10 col-md-9 col-sm-9">
                                                    <strong class="d-block pt-1">Fecha Desembolso:</strong>
                                                    <span class="d-block pb-1">{{row?.fechaDesembolso == '0000-00-00' ? '- - -' : row?.fechaDesembolso | date:
                                                        "short"}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
                                            <div class="row"></div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center pb-3">
                                        <div class="col-md-8 col-sm-10 mx-3 mx-lg-3 py-2 text-center">
                                            <strong class="py-1">Observaciones</strong>
                                            <p class="text-left" [innerHTML]="row?.observacion">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center" *ngIf="permisosEdicion && botonMostrar">
                                        <div class="col-md-10 mb-2 text-center">
                                           <!--  <button class="btn btn-optimus-black"
                                                (click)="modificarEstudioCredito(row)"
                                                matTooltip="Modificar Estudio de Crédito" [matTooltipPosition]="'below'">
                                                <i class="material-icons">edit</i> Modificar
                                            </button> -->
                                            <!--
											<button class="btn btn-link btn-danger btn-just-icon remove" (click)="eliminarEstudioCredito()">
												<i class="material-icons">delete</i>
											</button>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container text-muted">
                            <div class="row justify-content-center">
                                <div class="col-md-7">
                                    <div
                                        class="pt-2 ml-0 ml-sm-3 ml-md-3 ml-lg-3 text-center text-sm-left text-md-left text-lg-left">
                                        Total Registros: {{total_item_count}}
                                    </div>
                                </div>
                                <div class="col-md-4 text-center text-silver">
                                    <nav aria-label="..." class="align-items-center">
                                        <ul class="pagination align-items-center">
                                            <li class="page-item">
                                                <p class="mx-4 my-2">Página {{page_actual}} de {{total_pages}}</p>
                                            </li>
                                            <li class="page-item pointer">
                                                <a routerLinkActive="router-link-active" matTooltip="Primera página"
                                                    [matTooltipPosition]="'below'" (click)="listarEstudioCreditos(1)">
                                                    <i class="material-icons">first_page</i>
                                                </a>
                                            </li>
                                            <li class="page-item pointer">
                                                <a routerLinkActive="router-link-active" matTooltip="Atrás"
                                                    [matTooltipPosition]="'below'"
                                                    (click)="listarEstudioCreditos(page_prev)">
                                                    <i class="material-icons">navigate_before</i>
                                                </a>
                                            </li>
                                            <li class="page-item pointer">
                                                <a routerLinkActive="router-link-active" matTooltip="Siguiente"
                                                    [matTooltipPosition]="'below'"
                                                    (click)="listarEstudioCreditos(page_next)">
                                                    <i class="material-icons">navigate_next</i>
                                                </a>
                                            </li>
                                            <li class="page-item pointer">
                                                <a routerLinkActive="router-link-active" matTooltip="Última página"
                                                    [matTooltipPosition]="'below'"
                                                    (click)="listarEstudioCreditos(total_pages)">
                                                    <i class="material-icons">last_page</i>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #ocultarBloqueEstudioCredito>
            <div class="row justify-content-center">
                <div class="col-md-10 text-center">
                    <h3>No existe estudio de crédito para este usuario</h3>
                </div>
            </div>
        </ng-template>
    </div>
</div>

<!-- Modal Actualizar estudio credito -->
<div class="modal fade bg-modal" id="modalFiltro" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!-- Actualizar estudio credito -->
            <div class="modal-header color-header">
                <h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Modificar Estudio de Crédito</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form ngNativeValidate [formGroup]="actualizarEstudioCreditosForm"
                    (ngSubmit)="onSubmitActualizarEstudioCreditos()" autocomplete="off">
                    <div class="card-body ">
                        <div class="row justify-content-center">
                            <div class="col-sm-5 mb-2">
                                <mat-form-field>
                                    <input matInput placeholder="Fecha Radicado" [matDatepicker]="picker1"
                                        (click)="picker1.open()" formControlName="fechaRadicado" name="fechaRadicado"
                                        id="fechaRadicado">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-5 mb-2">
                                <mat-form-field>
                                    <input matInput placeholder="Fecha de Contestación" [matDatepicker]="picker2"
                                        (click)="picker2.open()" formControlName="fechaContestacion"
                                        name="fechaContestacion" id="fechaContestacion">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                            </div>

                        </div>
                        <div class="row justify-content-center">
                            <div class="col-sm-5 mb-2">
                                <mat-form-field>
                                    <mat-select [compareWith]="compararDato" placeholder="Contestación"
                                        name="contestacion" id="contestacion" formControlName="contestacion" required>
                                        <mat-option *ngFor="let tipo of contestacionArray" [value]="tipo.valor">
                                            {{ tipo.nombre }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-5 mb-2">
                                <mat-form-field>
                                    <mat-select [compareWith]="compararDato" placeholder="Bancos" name="banco"
                                        id="banco" formControlName="banco" required>
                                        <mat-option *ngFor="let tipo of bancosArray" [value]="tipo.valor">
                                            {{ tipo.nombre }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-sm-5 mb-2">
                                <mat-form-field>
                                    <mat-select [compareWith]="compararDato" placeholder="Planes" name="plan" id="plan"
                                        formControlName="plan" required>
                                        <mat-option *ngFor="let tipo of planArray" [value]="tipo.valor">
                                            {{ tipo.nombre }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-5 mb-2">
                                <mat-form-field class="example-full-width">
                                    <textarea matInput formControlName="observacion" placeholder="Observación"
                                        name="observacion" id="observacion"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-sm-8 mb-2 text-center">
                                <strong>Observaciones</strong>
                                <p class="text-left" [innerHTML]="observacionEstudioCredito"></p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-6 text-center my-3">
                                <button mat-raised-button class="btn btn-fill btn-optimus-black">Guardar</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Actualizar estudio credito -->