<app-loading *ngIf="loading"></app-loading>
<div class="wrapper wrapper-full-page">
    <div class="page-header login-page header-filter" filter-color="black"
        style="background-image: url('./assets/img/login-bg.png'); background-size: cover; background-position: top center;">
        <!--	 you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="container">
            <div class="row justify-content-center mb-2">
                <div class="col-md-3">
                    <img class="img" [src]="[imgNombreEmpresa]" class="img-fluid">
                </div>
            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-md-4">
                    <div class="card card-product">
                        <div class="card-header card-header-image pointer" data-header-animation="true" (click)="onClickSesionUsuario(1)">
                            <img class="img" src="./assets/img/clientes-card.png">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a class="pointer bold text-uppercase" (click)="onClickSesionUsuario(1)">Clientes</a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-product">
                        <div class="card-header card-header-image pointer" data-header-animation="true" (click)="onClickSesionUsuario(2)">
                            <img class="img" src="./assets/img/colaboradores-card.png">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a class="pointer bold text-uppercase" (click)="onClickSesionUsuario(2)">Colaboradores</a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-product">
                        <div class="card-header card-header-image pointer" data-header-animation="true" (click)="onClickSesionUsuario(3)">
                            <img class="img" src="./assets/img/aseguradoras-card.png">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a class="pointer bold text-uppercase" (click)="onClickSesionUsuario(3)">Aseguradoras</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer ">
            <div class="container">
                <div class="copyright pull-left pl-2">
                    &copy; {{test | date: 'yyyy'}}, Desarrollado por: <i class="material-icons">directions_car</i> OL
                    Gaviria SCS
                </div>
                <div class="copyright pull-right pr-2">
                    <i class="material-icons">biotech</i> {{version}}
                </div>
            </div>
        </footer>
    </div>
</div>