<nav #navbar class="navbar navbar-expand-lg navbar-transparent navbar-absolute">
	<div class="container-fluid">
		<div class="navbar-wrapper">
			<div class="navbar-minimize">
				<button mat-raised-button (click)="minimizeSidebar()"
					class="btn btn-just-icon btn-white btn-fab btn-round">
					<i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
					<i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
				</button>
			</div>
			<a class="navbar-brand" href="{{getPath()}}"> {{getTitle()}}</a>
		</div>
		<button mat-button class="navbar-toggler btn-no-ripple" type="button" (click)="sidebarToggle()">
			<span class="sr-only">Toggle navigation</span>
			<span class="navbar-toggler-icon icon-bar"></span>
			<span class="navbar-toggler-icon icon-bar"></span>
			<span class="navbar-toggler-icon icon-bar"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navigation">
			<ul class="navbar-nav">
				<!-- <li class="nav-item dropdown">
					<a class="nav-link" href="#" d="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
						<i class="material-icons md-48" style="font-size: 2rem;">location_city</i> Cambiar Sistem
						<p><span class="d-lg-none d-md-block"> Account</span></p>
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item">
							<i class="material-icons">location_city</i>CRM
						</a>
						<a class="dropdown-item">
							<i class="material-icons">location_city</i>ERP
						</a>
					</div>
				</li> -->
				<li class="nav-item" *ngIf="testMode">
					<a class="nav-link" [routerLink]="">
						<i class="material-icons text-danger">science</i>
						<span class="text-danger"> TEST MODE</span>
						<p><span class="d-lg-none d-md-block">TEST MODE</span></p>
					</a>
				</li>
				<li class="nav-item dropdown" *ngIf="permisoCambiarEmpresa">
					<a class="nav-link" href="#" d="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
						<i class="material-icons">business</i> Empresa
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink1">
						<a class="dropdown-item pointer" (click)="cambiarEmpresa('A')">
							AUTODENAR
						</a>
						<a class="dropdown-item pointer" (click)="cambiarEmpresa('M')">
							MOTODENAR
						</a>
						<a class="dropdown-item pointer" (click)="cambiarEmpresa('T')">
							AUTOMOTORA
						</a>
					</div>
				</li>
				<li class="nav-item dropdown" >
					<a class="nav-link" href="#" d="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
						<i class="material-icons">device_hub</i> SISTEMA OPTIMUS
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink2">
						<a class="dropdown-item pointer" (click)="cambiarSistema('crm')" *ngIf="permisoSistema.crm">
							OPTIMUS CLIENTES
						</a>
						<a class="dropdown-item pointer" (click)="cambiarSistema('erp')" *ngIf="permisoSistema.erp">
							OPTIMUS EMPRESARIAL
						</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link" href="#" d="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
						<i class="material-icons">person</i>
						<p><span class="d-lg-none d-md-block"> Config</span></p>
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink3">
						<a class="dropdown-item" (click)="_usuarioService.cerrarSesion()">
							<i class="material-icons">exit_to_app</i> Cerrar Sesión
						</a>
					</div>
				</li>
				<!-- <a href="#" class="dropdown-toggle" d="navbarDropdownMenuLink" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
							<i class="material-icons">person</i>
						</a>
	
						<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
							<li><a href="#">Service A</a></li>
							<li><a href="#">Service B</a></li>
							<li class="dropdown-submenu dropdown-menu-right">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
									aria-expanded="false"> <span class="nav-label">Service C</span><span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#">Service C1</a></li>
									<li><a href="#">Service C2</a></li>
									<li><a href="#">Service C3</a></li>
									<li><a href="#">Service C4</a></li>
									<li><a href="#">Service C5</a></li>
								</ul>
							</li>
						</ul> -->
			</ul>
		</div>
	</div>
</nav>

<app-loading-sistema *ngIf="cargaLoading"></app-loading-sistema>