.accord-headers-align .mat-expansion-panel-header-title,
.accord-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.accord-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.accord-headers-align {
	width: 100%;
	margin: 0 0 2px 0;
}
.mat-expansion-panel-header:not([aria-disabled="true"]) {
	background-color: #eaeaea !important;
}
.mat-expansion-panel-header:hover:not([aria-disabled="true"]){
	background-color: #d5d5d5 !important;
}
