<app-loading *ngIf="loading"></app-loading>

<div class="main-content pt-0">
	<div class="container-fluid">
		<h2 class="text-center bold mb-5">REPORTE SEGUIMIENTO A CLIENTES</h2>
	</div>

	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-12">
				<div class="card card-optimus py-1">
					<div class="card-header">
						<h4 class="card-title d-flex">
							<i class="material-icons p-1">search</i>
							<span class="py-1 text-uppercase">Consultar Seguimiento BDC</span>
						</h4>
					</div>

					<div class="row justify-content-center mx-4 mt-3">
						<div class="col-md-3">
							<mat-form-field>
								<input matInput placeholder="Fecha" [matDatepicker]="picker2" (click)="picker2.open()"
									name="fecha" id="fecha" (dateChange)="onSubmitBuscarReporte($event,1)">
								<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
								<mat-datepicker #picker2></mat-datepicker>
							</mat-form-field>
						</div>
						<div class="col-md-3">
							<mat-form-field>
								<mat-select [compareWith]="compararDato" placeholder="Día" name="dia" id="dia"
									[(ngModel)]="busquedaFiltros.dia" #dia="ngModel">
									<mat-option *ngFor="let tipo of diasArray" [value]="tipo.valor"
										(click)="onSubmitBuscarReporte('',2)">
										<span>{{ tipo.nombre }}</span>
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<ng-container *ngIf="ocultarCampoAsesor">
							<div class="col-md-3">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Asesor" name="asesor"
										id="asesor" [(ngModel)]="busquedaFiltros.asesor" #asesor="ngModel">
										<mat-option *ngFor="let tipo of todosAsesoresArray" [value]="tipo.id"
											(click)="onSubmitBuscarReporte('',2)">
											{{ tipo.nombre }}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</ng-container>
						<div class="col-md-3">
							<mat-form-field>
								<mat-select [compareWith]="compararDato" placeholder="Objeciones" name="objecion"
									id="objecion" [(ngModel)]="busquedaFiltros.objecion" #objecion="ngModel">
									<mat-option *ngFor="let tipo of objecionesArray" [value]="tipo.valor"
										(click)="onSubmitBuscarReporte('',2)">
										{{ tipo.nombre }}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
					</div>
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-md-6 text-center my-3">
								<button mat-raised-button class="btn btn-fill btn-optimus-green" type="button"
									(click)="limpiarFiltros()"><i class="material-icons">delete</i> Limpiar
									filtros</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="mat-elevation-z8">
					<div class="card">
						<div class="card-body m-0 p-0">
							<div class="table-responsive">
								<table class="table table-hover table-bordered table-optimus">
									<thead>
										<tr>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[0] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[1] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[2] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[3] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[4] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[5] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[6] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[7] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[8] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[9] }}
											</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let row of dataTable.dataRows; let i=index">
											<th scope="row" class="text-center">{{i+1}}</th>
											<td class="text-center"><strong>{{row?.tipoDoc}}.
												</strong>{{row?.documento}}</td>
											<td class="text-left">{{row?.cliente | uppercase}}</td>
											<td class="text-center">{{row?.fechaIngreso | date:"short"}}</td>
											<td class="text-center">{{row?.tiempo}}</td>
											<td class="text-center">{{row?.objecion}}</td>
											<td class="text-center">
												<ng-container *ngIf="row?.observacion != '---'">
													...
													<button class="btn btn-link btn-green"
														(click)="observarTexto(row?.observacion)">
														Ver más
													</button>
												</ng-container>
											</td>
											<td class="text-center">{{row?.asesor}}</td>
											<td class="text-center">{{row?.total}}</td>
											<td class="text-center">
												<ng-container *ngIf="(row?.total === 0); else bloqueAtenciones">
												</ng-container>
												<ng-template #bloqueAtenciones>
													<button class="btn btn-link btn-optimus-yellow btn-just-icon visibility"
														data-toggle="modal"
														(click)="visualizarAtenciones(row?.atenciones, row?.cliente, row?.total)"
														matTooltip="Ver todas las atenciones"
														[matTooltipPosition]="'below'">
														<i class="material-icons">visibility</i>
													</button>
												</ng-template>
												<button class="btn btn-link btn-optimus-green btn-just-icon account_box"
													(click)="verFichaCliente(row?.id)" matTooltip="Ver Ficha Cliente"
													[matTooltipPosition]="'below'">
													<i class="material-icons">account_box</i>
												</button>
											</td>
										</tr>
										<tr *ngIf="(dataTable.dataRows.length === 0)">
											<td colspan="10" class="text-center">
												<ng-container *ngIf="consultaVaciaCargarSpinner; else bloqueCargaDatosBDC">
													No hay datos para mostrar
												</ng-container>
												<ng-template #bloqueCargaDatosBDC>
													<app-loading-spinner></app-loading-spinner>
												</ng-template>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Visualizar atenciones detalladamente -->
<div class="modal fade bg-modal" id="modalFiltro" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Listado de Atenciones</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h3 class="text-center"><strong>Cliente:</strong> {{nombresCliente | uppercase}}</h3>

				<div class="card">
					<div class="card-body">
						<div id="accordion" role="tablist">
							<div class="my-1" *ngFor="let item of totalAtencionesArray; let i=index;">
								<div class="card-collapse card-optimus m-0">
									<div class="card-header py-2" role="tab" id="heading{{i}}">
										<h5 class="mx-3 py-0 my-0">
											<ng-container *ngIf="i===0; else bloqueMostrar">
												<a data-toggle="collapse" href="#collapse{{i}}" aria-expanded="true"
													aria-controls="collapse{{i}}" class="collapsed text-white text-uppercase">
													<span class="material-icons md-48">assignment_turned_in</span> Atención No. {{i+1}}
													<i class="material-icons">keyboard_arrow_down</i>
												</a>
											</ng-container>
											<ng-template #bloqueMostrar>
												<a data-toggle="collapse" href="#collapse{{i}}" aria-expanded="false"
													aria-controls="collapse{{i}}" class="collapsed text-white text-uppercase">
													<span class="material-icons md-48">assignment_turned_in</span> Atención No. {{i+1}}
													<i class="material-icons">keyboard_arrow_down</i>
												</a>
											</ng-template>
										</h5>
									</div>
									<ng-container *ngIf="i===0; else bloqueMostrar2">
										<div id="collapse{{i}}" class="collapse show" role="tabpanel"
											aria-labelledby="heading{{i}}" data-parent="#accordion">
											<div class="card-body px-0">
												<div class="container-fluid my-2">
													<div class="mat-elevation-z2 rounded py-3" style="border-color: #ddd;">
														<div class="row justify-content-center justify-content-sm-end justify-content-md-end">
															<div class="col-md-3 col-sm-7 py-2">
																<div class="d-flex px-2">
																	<i class="material-icons mx-1 py-1 pointer" matTooltip="Tiempo de atención"
																		[matTooltipPosition]="'below'">timer</i>
																	<span class="py-1">{{item?.tiempoAtencion}}</span>
																</div>
															</div>
														</div>
														<div class="row justify-content-center">
															<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
																<div class="row">
																	<div class="col-3 col-md-3 col-sm-3">
																		<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
																	</div>
																	<div class="col-9 col-md-9 col-sm-9">
																		<strong class="d-block py-1">Fecha de Inicio: </strong>
																		<span class="d-block py-1">{{item?.fechaInicial | date:
																			"short"}}</span>
																	</div>
																</div>
															</div>
															<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
																<div class="row">
																	<div class="col-3 col-md-3 col-sm-3">
																		<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
																	</div>
																	<div class="col-9 col-md-9 col-sm-9">
																		<strong class="d-block py-1">Fecha Final:</strong>
																		<span class="d-block py-1">{{item?.fechaFinal ==
																			'0000-00-00' ? '- - -' : item?.fechaFinal | date:
																			"short"}}</span>
																	</div>
																</div>
															</div>
														</div>
														<div class="row justify-content-center">
															<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
																<div class="row">
																	<div class="col-3 col-md-3 col-sm-3">
																		<i class="material-icons py-2 mx-1 font-size-icono">pan_tool</i>
																	</div>
																	<div class="col-9 col-md-9 col-sm-9">
																		<strong class="d-block py-1">Objeción: </strong>
																		<span class="d-block py-1">{{item?.objecion.nombre}}</span>
																	</div>
																</div>
															</div>
															<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
																<div class="row">
																	<div class="col-3 col-md-3 col-sm-3">
																		<i class="material-icons py-2 mx-1 font-size-icono">person</i>
																	</div>
																	<div class="col-9 col-md-9 col-sm-9">
																		<strong class="d-block py-1">Atendió:</strong>
																		<span class="d-block py-1">{{item?.asesor.nombres |
																			uppercase}}
																			{{item?.asesor.apellidos | uppercase}}</span>
																	</div>
																</div>
															</div>
														</div>
														<div class="row justify-content-center">
															<div class="col-md-8 col-sm-8 mx-3 py-2 text-center">
																<strong class="py-1">Observación</strong>
																<p class="text-left" [innerHTML]="item?.observacion"></p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</ng-container>
									<ng-template #bloqueMostrar2>
										<div id="collapse{{i}}" class="collapse" role="tabpanel"
											aria-labelledby="heading{{i}}" data-parent="#accordion">
											<div class="card-body px-0">
												<div class="container-fluid my-2">
													<div class="mat-elevation-z2 rounded py-3" style="border-color: #ddd;">
														<div class="row justify-content-center justify-content-sm-end justify-content-md-end">
															<div class="col-md-3 col-sm-7 py-2">
																<div class="d-flex px-2">
																	<i class="material-icons mx-1 py-1 pointer" matTooltip="Tiempo de atención"
																		[matTooltipPosition]="'below'">timer</i>
																	<span class="py-1">{{item?.tiempoAtencion}}</span>
																</div>
															</div>
														</div>
														<div class="row justify-content-center">
															<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
																<div class="row">
																	<div class="col-3 col-md-3 col-sm-3">
																		<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
																	</div>
																	<div class="col-9 col-md-9 col-sm-9">
																		<strong class="d-block py-1">Fecha de Inicio: </strong>
																		<span class="d-block py-1">{{item?.fechaInicial | date:
																			"short"}}</span>
																	</div>
																</div>
															</div>
															<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
																<div class="row">
																	<div class="col-3 col-md-3 col-sm-3">
																		<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
																	</div>
																	<div class="col-9 col-md-9 col-sm-9">
																		<strong class="d-block py-1">Fecha Final:</strong>
																		<span class="d-block py-1">{{item?.fechaFinal ==
																			'0000-00-00' ? '- - -' : item?.fechaFinal | date:
																			"short"}}</span>
																	</div>
																</div>
															</div>
														</div>
														<div class="row justify-content-center">
															<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
																<div class="row">
																	<div class="col-3 col-md-3 col-sm-3">
																		<i class="material-icons py-2 mx-1 font-size-icono">pan_tool</i>
																	</div>
																	<div class="col-9 col-md-9 col-sm-9">
																		<strong class="d-block py-1">Objeción: </strong>
																		<span class="d-block py-1">{{item?.objecion.nombre}}</span>
																	</div>
																</div>
															</div>
															<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
																<div class="row">
																	<div class="col-3 col-md-3 col-sm-3">
																		<i class="material-icons py-2 mx-1 font-size-icono">person</i>
																	</div>
																	<div class="col-9 col-md-9 col-sm-9">
																		<strong class="d-block py-1">Atendió:</strong>
																		<span class="d-block py-1">{{item?.asesor.nombres |
																			uppercase}}
																			{{item?.asesor.apellidos | uppercase}}</span>
																	</div>
																</div>
															</div>
														</div>
														<div class="row justify-content-center">
															<div class="col-md-8 col-sm-8 mx-3 py-2 text-center">
																<strong class="py-1">Observación</strong>
																<p class="text-left" [innerHTML]="item?.observacion"></p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</ng-template>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Visualizar atenciones detalladamente -->

<!-- Modal Mirar Observación -->
<div class="modal fade bg-modal" id="modalObservacion" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Observación Detallada</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<div class="container">
					<p class="text-justify" [innerHTML]="textoExtendido"></p>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Mirar Observación -->