<div class="logo">
	<a class="simple-text logo-mini">
		<div class="logo-img">
			<img src="{{urlImg}}icono_auto.png" />
		</div>
	</a>
	<a routerLink="/dashboard" class="simple-text logo-normal">
		{{nombreSistema}} {{nombreEmpresa}}
	</a>
</div>
<div class="sidebar-wrapper">
	<div class="user">
		<div class="photo">
			<img src="{{urlImg}}faces/avatar.png" />
		</div>
		<div class="user-info">
			<a data-toggle="collapse" href="#collapseExample" class="collapsed">
				<span class="text-break">
					{{ nombres }} {{ apellidos }}
					<b class="caret"></b>
				</span>
			</a>
			<div class="collapse" id="collapseExample">
				<ul class="nav">
					<li class="nav-item">
						<a [routerLink]="['/mi-cuenta']" class="nav-link">
							<span class="sidebar-mini">MP</span>
							<span class="sidebar-normal">Mi Perfil</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" style="cursor: pointer;" (click)="_usuarioService.cerrarSesion()">
							<span class="sidebar-mini"><i class="material-icons">exit_to_app</i></span>
							<span class="sidebar-normal">Cerrar Sesión</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div *ngIf="isMobileMenu()">
		<ul class="nav navbar-nav nav-mobile-menu">
			<li class="nav-item dropdown" *ngIf="permisoCambiarEmpresa">
				<a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">
					<i class="material-icons">business</i>
					<p>
						<span class="d-lg-none d-md-block">EMPRESAS</span>
						<b class="caret"></b>
					</p>
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" style="cursor: pointer;" (click)="cambiarEmpresa('A')">AUTODENAR</a>
					<a class="dropdown-item" style="cursor: pointer;" (click)="cambiarEmpresa('M')">MOTODENAR</a>
					<a class="dropdown-item" style="cursor: pointer;" (click)="cambiarEmpresa('T')">AUTOMOTORA</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">
					<i class="material-icons">device_hub</i>
					<p>
						<span class="d-lg-none d-md-block">SISTEMA OPTIMUS</span>
						<b class="caret"></b>
					</p>
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink2">
					<a class="dropdown-item" style="cursor: pointer;" (click)="cambiarSistema('crm')"
						*ngIf="permisoSistema.crm">OPTIMUS CLIENTES</a>
					<a class="dropdown-item" style="cursor: pointer;" (click)="cambiarSistema('erp')"
						*ngIf="permisoSistema.erp">OPTIMUS EMPRESARIAL</a>
				</div>
			</li>

			<!-- <li class="nav-item">
				<a class="nav-link" href="#">
					<i class="material-icons">person</i>
					<p>
						<span class="d-lg-none d-md-block">Account</span>
					</p>
				</a>
			</li> -->
		</ul>
	</div>
	<ul class="nav">
		<li routerLinkActive="active" *ngFor="let menuitem of menuItems" class="nav-item">
			<!--If is a single link-->
			<a [routerLink]="[menuitem.path]" *ngIf="menuitem.type === 'link'" class="nav-link">
				<i class="material-icons">{{menuitem.icontype}}</i>
				<p>{{menuitem.title}}</p>
			</a>
		</li>
		<li routerLinkActive="active" class="nav-item">
			<!--If is a single link-->
			<a routerLink="/tickets/listar" class="nav-link">
				<i class="material-icons">contact_support</i>
				<p>Mesa De Ayuda</p>
			</a>
		</li>
	</ul>

</div>