<app-loading *ngIf="loading"></app-loading>

<div class="main-content">
	<div class="container-fluid">
		<div class="row col-12 justify-content-md-center mb-4">
			<div class="col-md-12 mb-0 pb-0 text-center">
				<img class="my-0 img-fluid" src="./assets/img/optimus-crm.png" alt="sistema-crm" width="150px" />
				<img class="my-0 img-fluid" [src]="imgNombreEmpresa" alt="empresa" width="150px" />
			</div>
		</div>
		<div class="row justify-content-center text-center">

			<!-- Inicia Atenciones Agentes de Clientes Siembra y Cosecha -->
			<ng-container *ngIf="ventanaAgenteDisponible; else bloqueAgenteDisponible">
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="card card-stats my-3" id="no-cursor">
						<div class="row m-2  text-left">
							<div class="col-8">
								<h5 class="card-category bold">{{nombreRol | uppercase}}</h5>
								<h3 class="card-title"> OCUPADO </h3>
							</div>
							<div class="col-4">
								<div class="card-icon icon-danger pointer" matTooltip="Ver Ficha Cliente"
									[matTooltipPosition]="'below'" (click)="verFichaClienteSC(''+idClienteSC)">
									<i class="material-icons my-2 f-4">eco</i>
								</div>
							</div>
						</div>
						<div class="row m-2 text-left">
							<div class="col-12">
								<span class="d-block"><strong>Atención Iniciada: </strong>
									{{fechaInicialSC | date:'short'}}</span>
								<span class="d-block"><strong>Cliente: </strong>
									{{nombreClienteSC | uppercase}}</span>
								<span class="d-block"><strong>Documento: </strong> {{documentoSC}}</span>
							</div>
						</div>
						<div class="card-footer">
							<div class="stats">
								<i class="material-icons text-green">pan_tool</i> <a data-toggle="modal"
									href="javascript:void(0)" (click)="finalizarAtencionSC(idAtencionSC)">Finalizar
									Atención</a>
							</div>
						</div>
					</div>
				</div>
			</ng-container>
			<ng-template #bloqueAgenteDisponible>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="card card-stats my-3" id="no-cursor">
						<div class="row m-2 text-left">
							<div class="col-8">
								<h5 class="card-category bold">{{nombreRol | uppercase}}</h5>
								<h3 class="card-title"> DISPONIBLE </h3>
							</div>
							<div class="col-4">
								<div class="card-icon icon-success">
									<i class="material-icons my-2 f-4">eco</i>
								</div>
							</div>
						</div>
						<div class="card-footer">
							<div class="stats">
								<i class="material-icons text-green">person</i> <a
									routerLink="/siembra-y-cosecha/clientes-semilla">Consultar clientes</a>
							</div>
						</div>
					</div>
				</div>
			</ng-template>
			<!-- Finaliza Atenciones Agentes de Clientes Siembra y Cosecha -->

			<!-- Inicia Atenciones Asesores de Clientes (Area Comercial) -->
			<ng-container *ngIf="mostraAtencionAsesor">
				<ng-container *ngIf="ventanaAsesorDisponible; else bloqueAsesorDisponible">
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="card card-stats my-3" id="no-cursor">
							<div class="row m-2  text-left">
								<div class="col-8">
									<h5 class="card-category bold">{{nombreRol | uppercase}}</h5>
									<h3 class="card-title"> OCUPADO </h3>
								</div>
								<div class="col-4">
									<div class="card-icon icon-danger pointer" matTooltip="Ver Ficha Cliente"
										[matTooltipPosition]="'below'" (click)="verFichaCliente(''+idIngreso)">
										<i class="material-icons my-2 f-4">account_circle</i>
									</div>
								</div>
							</div>
							<div class="row m-2 text-left">
								<div class="col-12">
									<span class="d-block"><strong>Atención Iniciada: </strong> {{fechaInicial |
										date:'short'}}</span>
									<span class="d-block"><strong>Cliente: </strong> {{nombreCliente |
										uppercase}}</span>
									<span class="d-block"><strong>Documento: </strong> {{documento}}</span>
								</div>
							</div>
							<div class="card-footer">
								<div class="stats">
									<i class="material-icons text-green">pan_tool</i> <a data-toggle="modal"
										href="javascript:void(0)" (click)="finalizarAtencion(idAtencion)">Finalizar
										Atención</a>
								</div>
							</div>
						</div>
					</div>
				</ng-container>
				<ng-template #bloqueAsesorDisponible>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="card card-stats my-3" id="no-cursor">
							<div class="row m-2 text-left">
								<div class="col-8">
									<h5 class="card-category bold">{{nombreRol | uppercase}}</h5>
									<h3 class="card-title"> DISPONIBLE </h3>
								</div>
								<div class="col-4">
									<div class="card-icon icon-success">
										<i class="material-icons my-2 f-4">account_circle</i>
									</div>
								</div>
							</div>
							<div class="card-footer">
								<div class="stats">
									<i class="material-icons text-green">person</i> <a
										routerLink="/clientes/buscar">Consultar
										clientes</a>
								</div>
							</div>
						</div>
					</div>
				</ng-template>
			</ng-container>
			<!-- Finaliza Atenciones Asesores de Clientes (Area Comercial) -->

		</div>
	</div>
	<ng-container *ngIf="estadisticasLeads">
		<div class="container-fluid px-0 mx-0 mt-3">
			<div class="row">
				<div class="col-md-12">
					<div class="card my-0">
						<div id="accordion" role="tablist">
							<!-- Informacion Personal -->
							<div class="card-collapse card-optimus m-0">
								<div class="card-header pt-3" role="tab" id="headingTwo">
									<h4 class="mx-4">
										<a data-toggle="collapse" href="#collapseTwo" aria-expanded="false"
											aria-controls="collapseTwo" class="collapsed text-white text-uppercase">
											<span class="material-icons md-48">analytics</span> ESTADÍSTICAS LEADS
											<i class="material-icons">keyboard_arrow_down</i>
										</a>
									</h4>
								</div>
								<div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo"
									data-parent="#accordion">
									<div class="card-body">
										<!-- Cargar Estadisticas Clientes Leads -->
										<app-estadisticas-leads></app-estadisticas-leads>
	
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ng-container>
</div>


<!-- Modal finalizar atencion Agentes -->
<div class="modal fade bg-modal" id="modalFinalizarAtencionAgente" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Finalizar Atención</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form ngNativeValidate [formGroup]="finalizarAtencionAgenteForm"
					(ngSubmit)="onSubmitFinalizarAtencionSC()" autocomplete="off">
					<div class="row justify-content-center">
						<div class="col-md-9 text-center">
							<mat-form-field>
								<mat-select [compareWith]="compararDato" placeholder="Tipificación" name="tipificacion"
									formControlName="tipificacion">
									<mat-option *ngFor="let tipo of tipificacionArray" [value]="tipo.valor">
										{{ tipo.nombre }}
									</mat-option>
								</mat-select>
								<mat-error
									*ngIf="finalizarAtencionAgenteForm.get('tipificacion').hasError('required') && finalizarAtencionAgenteForm.get('tipificacion').touched">
									El campo tipificación es <strong>requerido</strong>
								</mat-error>
							</mat-form-field>
						</div>
					</div>
					<div class="row justify-content-center pt-3">
						<div class="col-md-9 text-center">
							<mat-form-field class="example-full-width">
								<textarea matInput formControlName="observacion" placeholder="Observación"
									name="observacion"></textarea>
							</mat-form-field>
						</div>
					</div>
					<div class="row justify-content-center py-3">
						<div class="col-md-6 text-center">
							<button mat-raised-button [disabled]="finalizarAtencionAgenteForm.invalid"
								class="btn btn-optimus-black">
								Finalizar Atención
							</button>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal finalizar atencion Agentes -->

<ng-container *ngIf="mostraAtencionAsesor">
	<!-- Modal finalizar atencion Asesores -->
	<div class="modal fade bg-modal" id="modalFinalizarAtencion" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header color-header">
					<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Finalizar Atención</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form ngNativeValidate [formGroup]="finalizarAtencionForm" (ngSubmit)="onSubmitFinalizarAtencion()"
						autocomplete="off">
						<div class="row justify-content-center">
							<div class="col-md-10 text-center">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Objeciones" name="objecion"
										formControlName="objecion">
										<mat-option *ngFor="let tipo of objecionesArray" [value]="tipo.valor">
											{{ tipo.nombre }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="finalizarAtencionForm.get('objecion').hasError('required') && finalizarAtencionForm.get('objecion').touched">
										El campo objeción es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center pt-3">
							<div class="col-md-10 text-center">
								<mat-form-field class="example-full-width">
									<textarea matInput formControlName="observacion" placeholder="Observación"
										name="observacion"></textarea>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center py-3">
							<div class="col-md-6 text-center">
								<button mat-raised-button [disabled]="finalizarAtencionForm.invalid"
									class="btn btn-optimus-black">
									Finalizar Atención
								</button>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal finalizar atencion Asesores -->
</ng-container>