<app-loading *ngIf="loading"></app-loading>

<div class="main-content pt-0">
	<div class="container-fluid">
		<ng-container *ngIf="ocultarBotonRetroceder">
			<div class="row justify-content-center">
				<div class="col-md-12 text-center text-md-left py-md-4 py-3">
					<button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresar(3)">
						<i class="material-icons">arrow_back</i> Regresar
					</button>
				</div>
			</div>
		</ng-container>
		<div class="row justify-content-center py-4">
			<ng-container *ngIf="this.ocultarAtras != 'CL'">
				<div class="col-md-12 text-center text-md-right">
					<button mat-raised-button class="btn btn-optimus-black ml-1" (click)="regresar(1)">
						<i class="material-icons">search</i> Buscar cliente
					</button>
				</div>
			</ng-container>
			<div class="row justify-content-center mb-3">
				<div class="col-md-10">
					<h2 class="font-weight-bolder text-break text-center mb-5">FICHA CLIENTE</h2>
					<p class="mb-4 mb-md-5">
						A continuación, se presenta un histórico de ingresos del cliente. Para amplicar la
						información, presione el botón "Ver más" en cada ingreso.
					</p>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="card card-optimus py-1">
					<div class="card-header">
						<h4 class="card-title d-flex">
							<i class="material-icons p-1">assignment_ind</i>
							<span class="py-1 text-uppercase">Historial de usuarios</span>
						</h4>
					</div>
					<div class="container my-2">
						<div class="row justify-content-center">
							<div class="col-md-5">
								<span class="d-flex border rounded p-2 my-2 my-md-3" style="border-color: #ccc;">
									<strong>Nombres: &nbsp;</strong> {{informacionCliente.nombres | uppercase}}
								</span>
							</div>
							<div class="col-md-5">
								<span class="d-flex border rounded p-2 my-2 my-md-3" style="border-color: #ccc;">
									<strong>{{informacionCliente.tipoDoc}}: &nbsp;</strong>
									{{informacionCliente.documento == '' ? '- - -' : informacionCliente.documento}}
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<ng-container *ngIf="(historialCliente.length > 0); else ocultarBloqueInformacion">
			<div class="row justify-content-center">
				<div class="col-md-10">
					<div class="card card-optimus py-1">
						<div class="card-header">
							<h4 class="card-title d-flex">
								<i class="material-icons p-1">recent_actors</i>
								<span class="py-1 text-uppercase">Ingresos</span>
							</h4>
						</div>
						<div class="my-4" *ngFor="let row of historialCliente; let i=index">
							<div class="container my-2">
								<div class="border rounded" style="border-color: #ccc;">
									<div class="row justify-content-center">
										<div class="col-md-5">
											<span class="d-flex p-2">
												<strong>Fecha de Ingreso: &nbsp;</strong> {{row?.fechaIngreso | date:"short"}}
											</span>
										</div>
										<div class="col-md-5">
											<span class="d-flex p-2">
												<strong>Fecha de Cierre: &nbsp;</strong> {{row?.fechaSalidaTemp == '- - -' ? '- - -' : row?.fechaSalidaTemp | date:"short"}}
											</span>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-md-5">
											<span class="d-flex p-2">
												<strong>Tarjeta de opciones: &nbsp;</strong>
												{{row?.tarjetaOpcionesTemp}}
											</span>
										</div>
										<div class="col-md-5">
											<span class="d-flex p-2">
												<strong>Asesor: &nbsp;</strong> {{row?.asesor | uppercase}}
											</span>
										</div>
									</div>
									<div class="row justify-content-center mt-4 py-3">
										<ng-container *ngIf="botonVerIngreso; else mostrarBotonReasignar">
											<div class="col-md-10 text-center text-md-rigth">
												<button mat-raised-button class="btn btn-optimus-black ml-1"
													(click)="verFichaCliente(row?.id)">
													Ver más <i class="material-icons">arrow_forward</i>
												</button>
											</div>
										</ng-container>
										<ng-template #mostrarBotonReasignar>
											<div class="col-md-5 text-center text-md-left">
												<button mat-raised-button class="btn btn-link color-icono"
													*ngIf="row?.boton" (click)="asignar(row?.id)">
													<i class="material-icons">add_task</i> <span
														class="ml-2 font-weight-bolder">Reasignar Asesor</span>
												</button>
												<button mat-raised-button class="btn btn-link color-icono"
													*ngIf="!(row?.boton) && this.ocultarAtras == 'A'"
													(click)="abrirIngreso(row?.id)">
													<i class="material-icons">edit</i> <span
														class="ml-2 font-weight-bolder">Re-abrir Negocio</span>
												</button>
											</div>
											<div class="col-md-5 text-center text-md-left">
												<button mat-raised-button class="btn btn-optimus-black ml-1"
													(click)="verFichaCliente(row?.id)">
													Ver más <i class="material-icons">arrow_forward</i>
												</button>
											</div>
										</ng-template>
									</div>
									<ng-container *ngIf="this.ocultarAtras == 'A'">
										<div class="row justify-content-center mt-4 py-3">
											<div class="col-md-6 text-center">
												<button mat-raised-button class="btn btn-optimus-black ml-1" (click)="actualizarIngreso(row)">
													<i class="material-icons">edit</i> Actualizar Ingreso
												</button>
											</div>
										</div>
									</ng-container>
								</div>
							</div>
						</div>
						<div class="container text-muted">
							<div class="row justify-content-center">
								<div class="col-md-7">
									<div
										class="pt-2 ml-0 ml-sm-3 ml-md-3 ml-lg-3 text-center text-sm-left text-md-left text-lg-left">
										Total Registros: {{total_item_count}}
									</div>
								</div>
								<div class="col-md-4 text-center">
									<nav aria-label="..." class="align-items-center">
										<ul class="pagination align-items-center">
											<li class="page-item">
												<p class="mx-4 my-2">Página {{page_actual}} de {{total_pages}}</p>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Primera página"
													[matTooltipPosition]="'below'" (click)="buscarDocumento(1)">
													<i class="material-icons">first_page</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Atrás"
													[matTooltipPosition]="'below'" (click)="buscarDocumento(page_prev)">
													<i class="material-icons">navigate_before</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Siguiente"
													[matTooltipPosition]="'below'" (click)="buscarDocumento(page_next)">
													<i class="material-icons">navigate_next</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Última página"
													[matTooltipPosition]="'below'"
													(click)="buscarDocumento(total_pages)">
													<i class="material-icons">last_page</i>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<ng-container *ngIf="botonNuevoIngreso">
				<div class="row justify-content-center">
					<div class="col-md-10 text-center">
						<button mat-raised-button class="btn btn-optimus-black" (click)="crearNuevoIngreso()">
							<i class="material-icons">edit</i> Nuevo Ingreso
						</button>
					</div>
				</div>
			</ng-container>

		</ng-container>
		<ng-template #ocultarBloqueInformacion>
			<div class="row justify-content-center">
				<div class="col-md-10 text-center">
					<h3>No existe historial de ingresos para este usuario</h3>
					<ng-container *ngIf="botonNuevoIngreso">
						<button mat-raised-button class="btn btn-optimus-black" (click)="crearNuevoIngreso()">
							<i class="material-icons">edit</i> Nuevo Ingreso
						</button>
					</ng-container>
				</div>
			</div>
		</ng-template>
	</div>
</div>

<!-- Inicia Modal Nuevo Ingreso Cliente -->
<div class="modal fade bg-modal" id="modalNuevoIngreso" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Crear Ingreso</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<form class="mt-4" ngNativeValidate [formGroup]="crearNuevoIngresoForm"
					(ngSubmit)="onSubmitCrearNuevoIngresoCliente()" autocomplete="off">
					<div class="card-body ">
						<div class="row justify-content-center">
							<div class="col-sm-5 mb-2">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Canal de Ingreso"
										name="canalIngreso" formControlName="canalIngreso" required>
										<mat-option *ngFor="let tipo of tipoCanalIngresoArray" [value]="tipo.valor">
											{{ tipo.nombre }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="crearNuevoIngresoForm.get('canalIngreso').hasError('required') && crearNuevoIngresoForm.get('canalIngreso').touched">
										El campo canal de ingreso es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col-sm-5 mb-2">
								<mat-form-field class="example-full-width">
									<input matInput formControlName="observacion" placeholder="Observación"
										name="observacion" type="text">
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-8">
								<label for="tarjetaOpciones">Tarjeta de opciones *</label>
								<mat-radio-group class="radio-group" placeholder="Tarjeta de opciones"
									id="tarjetaOpciones" name="tarjetaOpciones" formControlName="tarjetaOpciones"
									required>
									<mat-radio-button class="radio-button" *ngFor="let tipo of tarjetaOpcionesArray"
										[value]="tipo.valor" matTooltip="{{tipo.nombre}}"
										[matTooltipPosition]="'below'">
										<img src="{{rutaImg}}{{localImg}}{{tipo.descripcion}}" alt="{{tipo.nombre}}"
											class="img-fluid">
									</mat-radio-button>
								</mat-radio-group>
								<mat-error *ngIf="crearNuevoIngresoForm.get('tarjetaOpciones').hasError('required')">
									El campo tarjeta de opciones es <strong>requerido</strong>
								</mat-error>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-md-6 text-center my-3">
								<button mat-raised-button [disabled]="crearNuevoIngresoForm.invalid"
									class="btn btn-fill btn-optimus-black">Registrar</button>
							</div>
						</div>
					</div>
				</form>



			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Fin Modal Nuevo Ingreso Cliente -->

<!-- Inicia Modal Nuevo Ingreso Cliente Con Documento -->
<div class="modal fade bg-modal" id="modalNuevoIngresoDocumentos" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Crear Ingreso</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<form class="mt-4" ngNativeValidate [formGroup]="crearNuevoIngresoDocForm"
					(ngSubmit)="onSubmitCrearNuevoIngresoClienteDatos()" autocomplete="off">
					<div class="card-body ">
						<div class="row justify-content-center">
							<div class="col-sm-5 mb-2">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Tipo documento" name="tipoDoc" id="tipoDoc"
										formControlName="tipoDoc" required>
										<mat-option *ngFor="let tipo of tipoDocumentosArray" [value]="tipo.valor">
											{{ tipo.nombre }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="crearNuevoIngresoDocForm.get('tipoDoc').hasError('required') && crearNuevoIngresoDocForm.get('tipoDoc').touched">
										El campo tipo documento es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col-sm-5 mb-2">
								<mat-form-field class="example-full-width">
									<input matInput formControlName="documento" placeholder="No. Documento" name="documento" type="number" required>
									<mat-error
										*ngIf="crearNuevoIngresoDocForm.get('documento').hasError('required') && crearNuevoIngresoDocForm.get('documento').touched">
										El campo documento es <strong>requerido</strong>
									</mat-error>
									<mat-error
										*ngIf="crearNuevoIngresoDocForm.get('documento').hasError('pattern') && crearNuevoIngresoDocForm.get('documento').touched">
										El documento debe tener el siguiente formato <strong>Ejm: 1085100100</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-5 mb-2">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Canal de Ingreso"
										name="canalIngreso" formControlName="canalIngreso" required>
										<mat-option *ngFor="let tipo of tipoCanalIngresoArray" [value]="tipo.valor">
											{{ tipo.nombre }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="crearNuevoIngresoDocForm.get('canalIngreso').hasError('required') && crearNuevoIngresoDocForm.get('canalIngreso').touched">
										El campo canal de ingreso es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col-sm-5 mb-2">
								<mat-form-field class="example-full-width">
									<input matInput formControlName="observacion" placeholder="Observación"
										name="observacion" type="text">
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-8">
								<label for="tarjetaOpciones">Tarjeta de opciones *</label>
								<mat-radio-group class="radio-group" placeholder="Tarjeta de opciones"
									id="tarjetaOpciones" name="tarjetaOpciones" formControlName="tarjetaOpciones"
									required>
									<mat-radio-button class="radio-button" *ngFor="let tipo of tarjetaOpcionesArray"
										[value]="tipo.valor" matTooltip="{{tipo.nombre}}"
										[matTooltipPosition]="'below'">
										<img src="{{rutaImg}}{{localImg}}{{tipo.descripcion}}" alt="{{tipo.nombre}}"
											class="img-fluid">
									</mat-radio-button>
								</mat-radio-group>
								<mat-error *ngIf="crearNuevoIngresoDocForm.get('tarjetaOpciones').hasError('required')">
									El campo tarjeta de opciones es <strong>requerido</strong>
								</mat-error>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-md-6 text-center my-3">
								<button mat-raised-button [disabled]="crearNuevoIngresoDocForm.invalid"
									class="btn btn-fill btn-optimus-black">Registrar</button>
							</div>
						</div>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Fin Modal Nuevo Ingreso Cliente Con Documento -->

<!-- Inicia Modal Actualizar Ingreso Cliente -->
<div class="modal fade bg-modal" id="modalActualizarIngreso" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Actualizar Ingreso</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<form class="mt-4" ngNativeValidate [formGroup]="actualizarIngresoForm"
					(ngSubmit)="onSubmitActualizarIngreso()" autocomplete="off">
					<div class="card-body ">
						<div class="row justify-content-center">
							<div class="col-sm-10 mb-2">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Canal de Ingreso"
										name="canalIngreso" formControlName="canalIngreso" required>
										<mat-option *ngFor="let tipo of tipoCanalIngresoArray" [value]="tipo.valor">
											{{ tipo.nombre }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="actualizarIngresoForm.get('canalIngreso').hasError('required') && actualizarIngresoForm.get('canalIngreso').touched">
										El campo canal de ingreso es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-10 mb-2">
								<mat-form-field>
									<input matInput placeholder="Fecha de Ingreso" [matDatepicker]="picker1" (click)="picker1.open()"
										formControlName="fechaIngreso" name="fechaIngreso" required>
									<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
									<mat-datepicker #picker1></mat-datepicker>
								</mat-form-field>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-md-6 text-center my-3">
								<button mat-raised-button [disabled]="actualizarIngresoForm.invalid"
									class="btn btn-fill btn-optimus-black">Actualizar</button>
							</div>
						</div>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Fin Modal Actualizar Ingreso Cliente -->