<app-loading *ngIf="loading"></app-loading>

<div class="main-content">
	<div class="container-fluid">
		<div class="row col-12 justify-content-md-center mb-4">
			<div class="col-md-12 mb-0 pb-0 text-center">
				<img class="my-0 img-fluid" src="./assets/img/optimus-erp.png" alt="sistema-erp" width="150px" />
				<img class="my-0 img-fluid" [src]="imgNombreEmpresa" alt="empresa" width="150px" />
			</div>
		</div>
	</div>

	<!-- Seccion de Cards Estadisticas en acordeon -->
	<div class="container-fluid px-0 mx-0">
		<div class="row">
			<div class="col-md-12">
				<div class="card my-0">
					<div id="accordion" role="tablist">
						<!-- Estadisticas Generales -->
						<div class="card-collapse card-optimus m-0">
							<div class="card-header pt-3" role="tab" id="headingOne">
								<h4 class="mx-4">
									<a data-toggle="collapse" href="#collapseOne" aria-expanded="false"
										aria-controls="collapseOne" class="collapsed text-white">
										<span class="material-icons md-48">analytics</span> ESTADÍSTICAS
										<i class="material-icons">keyboard_arrow_down</i>
									</a>
								</h4>
							</div>
							<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
								data-parent="#accordion">
								<div class="card-body">

									<div class="row justify-content-center">
										<div class="col-lg-4 col-md-6 col-sm-6 px-0">
											<app-card-ticket></app-card-ticket>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Seccion de Cards Estadisticas en acordeon -->
</div>