<app-loading *ngIf="loading"></app-loading>
<div class="main-content">
	<div class="container-fluid">
		<ng-container *ngIf="opcionVentana == '2'">
			<div class="row justify-content-center">
				<div class="col-md-12 text-center text-md-left pb-md-4 pb-3">
					<button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresar()">
						<i class="material-icons">arrow_back</i> Regresar
					</button>
				</div>
			</div>
		</ng-container>
		<div class="row justify-content-center mb-3">
			<div class="col-md-10">
				<h2 class="font-weight-bolder text-break text-center mb-5">CONTROL INDIVIDUAL</h2>
				<p class="text-center text-silver d-flex">
					<span class="material-icons text-silver p-1 ml-auto" matTooltip="Ayuda"
						[matTooltipPosition]="'below'">help</span>
					<span class="py-1 mr-auto">En esta sección realice la busqueda del empleado por documento de
						identificación y a continuación se
						listará la Ficha de Control Individual</span>
				</p>
			</div>
		</div>
		<ng-container *ngIf="!consultaExistente && opcionVentana == '1'">
			<div class="row justify-content-center mb-3">
				<div class="col-md-6 text-center">
					<button mat-raised-button class="btn btn-fill btn-optimus-green" (click)="limpiarFormulario()">
						<i class="material-icons">search</i> Nueva busqueda
					</button>
				</div>
			</div>
		</ng-container>
		<ng-container *ngIf="consultaExistente; else bloqueExisteConsulta">
			<div class="row justify-content-center mb-3">
				<div class="col-md-8">
					<div class="card card-optimus py-1">
						<div class="card-header">
							<h4 class="card-title d-flex">
								<i class="material-icons p-1">engineering</i>
								<span class="py-1 text-uppercase">Buscar empleado</span>
							</h4>
						</div>
						<div class="card-body">
							<form class="my-4" ngNativeValidate [formGroup]="buscarEmpleadoFormGroup"
								(ngSubmit)="onSubmitBuscarEmpleado()">
								<div class="row justify-content-center">
									<div class="col-md-8 col-sm-6 mx-3 text-center">
										<mat-form-field class="example-full-width">
											<input matInput formControlName="filtroEmpleado"
												placeholder="Documento de identificación" name="filtroEmpleado"
												type="text" required>
											<mat-error
												*ngIf="buscarEmpleadoFormGroup.get('filtroEmpleado').hasError('required')">
												El campo identificación es <strong>requerido</strong>
											</mat-error>
										</mat-form-field>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-md-8 col-sm-5 text-center">
										<button mat-raised-button
											[disabled]="buscarEmpleadoFormGroup.get('filtroEmpleado').hasError('required')"
											class="btn btn-fill btn-optimus-green mx-2" (click)="limpiarFormulario()">
											<i class="material-icons">delete</i> Limpiar
										</button>
										<button mat-raised-button
											[disabled]="buscarEmpleadoFormGroup.get('filtroEmpleado').hasError('required')"
											class="btn btn-fill btn-optimus-black mx-2">
											<i class="material-icons">search</i> Buscar
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</ng-container>
		<ng-template #bloqueExisteConsulta>
			<div class="row justify-content-center pt-3">
				<div class="col-md-10">
					<div class="card card-optimus py-1">
						<div class="card-header">
							<h4 class="card-title d-flex">
								<i class="material-icons p-1">engineering</i>
								<span class="py-1 text-uppercase">Empleado</span>
							</h4>
						</div>
						<div class="container my-2">
							<h3 class="text-center py-2 mt-2"><strong>DATOS PERSONALES</strong></h3>
							<div class="mat-elevation-z2 border rounded mb-4" style="border-color: #ccc;">
								<div class="row justify-content-center">
									<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
										<div class="row">
											<div class="col-3 col-md-2 mr-md-2 col-sm-3">
												<i class="material-icons py-2 mx-1 font-size-icono">contact_page</i>
											</div>
											<div class="col-9 col-md-9 col-sm-9">
												<strong class="d-block py-1">Documento: </strong>
												<span class="d-block py-1">{{empleado.documento}}</span>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
										<div class="row">
											<div class="col-3 col-md-2 mr-md-2 col-sm-3">
												<i class="material-icons py-2 mx-1 font-size-icono">person</i>
											</div>
											<div class="col-9 col-md-9 col-sm-9">
												<strong class="d-block py-1">Nombres:</strong>
												<span class="d-block py-1">{{empleado.nombres | uppercase}}
													{{empleado.apellidos | uppercase}}</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
										<div class="row">
											<div class="col-3 col-md-2 mr-md-2 col-sm-3">
												<i class="material-icons py-2 mx-1 font-size-icono">health_and_safety</i>
											</div>
											<div class="col-9 col-md-9 col-sm-9">
												<strong class="d-block py-1">Grupo sanguíneo: </strong>
												<span class="d-block py-1">{{infoGeneral.grupoSanguineo}}</span>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
										<div class="row">
											<div class="col-3 col-md-2 mr-md-2 col-sm-3">
												<i class="material-icons py-2 mx-1 font-size-icono">phone_in_talk</i>
											</div>
											<div class="col-9 col-md-9 col-sm-9">
												<strong class="d-block py-1">Teléfono fijo:</strong>
												<span class="d-block py-1">{{infoGeneral.telefonoFijo == '' ? '- - -' : infoGeneral.telefonoFijo}}</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
										<div class="row">
											<div class="col-3 col-md-2 mr-md-2 col-sm-3">
												<i class="material-icons py-2 mx-1 font-size-icono">phone_android</i>
											</div>
											<div class="col-9 col-md-9 col-sm-9">
												<strong class="d-block py-1">Celular: </strong>
												<span class="d-block py-1">{{infoGeneral.celular == '' ? '- - -' : infoGeneral.celular}}</span>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
										<div class="row">
											<div class="col-3 col-md-2 mr-md-2 col-sm-3">
												<i class="material-icons py-2 mx-1 font-size-icono">house_siding</i>
											</div>
											<div class="col-9 col-md-9 col-sm-9">
												<strong class="d-block py-1">Dirección:</strong>
												<span class="d-block py-1">{{infoGeneral.direccion == '' ? '- - -' : infoGeneral.direccion}}</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
										<div class="row">
											<div class="col-3 col-md-2 mr-md-2 col-sm-3">
												<i class="material-icons py-2 mx-1 font-size-icono">house</i>
											</div>
											<div class="col-9 col-md-9 col-sm-9">
												<strong class="d-block py-1">Lugar de residencia: </strong>
												<span class="d-block py-1">{{infoGeneral.lugarResidencia == '' ? '- - -' : infoGeneral.lugarResidencia}}</span>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
										<div class="row">
											<div class="col-3 col-md-2 mr-md-2 col-sm-3">
												<i class="material-icons py-2 mx-1 font-size-icono">contacts</i>
											</div>
											<div class="col-9 col-md-9 col-sm-9">
												<strong class="d-block py-1">Cargo:</strong>
												<span class="d-block py-1">{{cargoEmpleado.nombre == null ? '- - -' : cargoEmpleado.nombre}}</span>
											</div>
										</div>
									</div>
								</div>
							</div>

							<h3 class="text-center py-2 mt-2"><strong>DATOS DEL CONTRATO</strong></h3>
							<div class="mat-elevation-z2 border rounded mb-4" style="border-color: #ccc;">
								<ng-container *ngIf="existeContrato; else bloqueContratoExistente">
									<div class="row justify-content-center">
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-2 mr-md-2 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">folder_shared</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block py-1">Tipo de contrato: </strong>
													<span class="d-block py-1">{{contrato.tipoContrato}}</span>
												</div>
											</div>
										</div>
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-2 mr-md-2 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block py-1">Fecha de firma del contrato:</strong>
													<span class="d-block py-1">{{contrato.fechaFirmaContrato | date:"fullDate"}}</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-2 mr-md-2 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block py-1">Fecha iniciación de labores: </strong>
													<span class="d-block py-1">{{contrato.fechaIniciacionLabores | date:"fullDate"}}</span>
												</div>
											</div>
										</div>
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-2 mr-md-2 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">notes</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block py-1">Descripción del salario:</strong>
													<span class="d-block py-1">{{contrato.descripcionSalario}}</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-2 mr-md-2 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">money</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block py-1">Salario: </strong>
													<span class="d-block py-1">{{contrato.valorSalario | currency: 'COP':true: '1.0'}}</span>
												</div>
											</div>
										</div>
									</div>
								</ng-container>
								<ng-template #bloqueContratoExistente>
									<h4 class="text-center py-2 mt-2"><strong>Aún no tiene registrado un
											contrato</strong></h4>
								</ng-template>
							</div>

							<h3 class="text-center py-2 mt-2"><strong>AFILIACIONES E INSCRIPCIONES</strong></h3>
							<div class="mat-elevation-z2 border rounded mb-4" style="border-color: #ccc;">
								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-hover table-bordered table-optimus">
											<thead>
												<tr>
													<th class="text-center text-white" scope="col">
														{{ dataTable.headerRow[0] }}</th>
													<th class="text-center text-white" scope="col">
														{{ dataTable.headerRow[1] }}</th>
													<th class="text-center text-white" scope="col">
														{{ dataTable.headerRow[2] }}</th>
													<th class="text-center text-white" scope="col">
														{{ dataTable.headerRow[3] }}</th>
													<th class="text-center text-white" scope="col">
														{{ dataTable.headerRow[4] }}</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let row of dataTable.dataRows; let i=index">
													<td class="text-center">{{row?.tipoAfiliacion.nombre | uppercase}}
													</td>
													<td class="text-center">{{row?.entidad | uppercase}}</td>
													<td class="text-center">{{row?.fechaAfiliacion | date: "fullDate"}}</td>
													<td class="text-center">
														{{row?.fechaRetiro == '' ? '- - -' : row?.fechaRetiro | date: "fullDate"}}</td>
													<td class="text-center">
														<button class="btn btn-link btn-optimus-green"
															(click)="observarTexto(row?.observacion)">
															Ver más
														</button>
													</td>
												</tr>
												<tr *ngIf="(afiliacionesArray.length === 0)">
													<td colspan="5" class="text-center">Aún no se registran afiliaciones
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>

							<h3 class="text-center py-2 mt-2"><strong>DESVINCULACIÓN DEL TRABAJADOR</strong></h3>
							<div class="mat-elevation-z2 border rounded mb-4" style="border-color: #ccc;">
								<ng-container *ngIf="existeContrato; else bloqueContratoExistente2">
									<div class="row justify-content-center">
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-2 mr-md-2 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">rule_folder</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block py-1">Tipo de desvinculación: </strong>
													<span class="d-block py-1">{{contrato.tipoDesvinculacion}}</span>
												</div>
											</div>
										</div>
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-2 mr-md-2 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block py-1">Fecha de desvinculación: </strong>
													<span class="d-block py-1">{{contrato.fechaDesvinculacion == '' ? '- - -' : contrato.fechaDesvinculacion
														| date: "fullDate"}}</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row justify-content-center mt-4">
										<div class="col-md-10 col-sm-10 text-center px-5">
											<strong class="ml-1 py-1">Observación </strong>
											<p class="text-justify" [innerHTML]="contrato.observacion"></p>
										</div>
									</div>
								</ng-container>
								<ng-template #bloqueContratoExistente2>
									<h4 class="text-center py-2 mt-2"><strong>Aún no tiene registrado un
											contrato</strong></h4>
								</ng-template>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ng-template>
	</div>
</div>

<!-- Modal Mirar Observación -->
<div class="modal fade bg-modal" id="modalObservacion" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Observación Detallada</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<div class="container">
					<p class="text-justify" [innerHTML]="textoExtendido"></p>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Mirar Observación -->