<app-loading *ngIf="loading"></app-loading>

<div class="main-content pt-0">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center text-md-left pb-md-4 pb-3">
				<button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresar()">
					<i class="material-icons">arrow_back</i> Regresar
				</button>
			</div>
		</div>
		<div class="row justify-content-center mb-2">
			<div class="col-md-10">
				<h2 class="font-weight-bolder text-break text-center mb-5">RECONSIDERADOS</h2>
				<p class="mb-4 mb-md-5">
					Reconsiderados
				</p>
			</div>
		</div>
		<div class="row justify-content-center mb-3 mb-md-5">
			<div class="col-md-12 text-md-right text-center">
				<button class="btn btn-link color-icono" (click)="crearReconsiderado()" *ngIf="(ocultarBotonesCliente == 'DN') || (ocultarBotonesCliente == 'A') && botonMostrar">
					<i class="material-icons">add_circle_outline</i> <span class="ml-2 font-weight-bolder">Nuevo Reconsiderado</span> 
				</button>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="card card-optimus py-1">
					<div class="card-header">
						<h4 class="card-title d-flex">
							<i class="material-icons p-1">person</i>
							<span class="py-1 text-uppercase">Cliente</span>
						</h4>
					</div>
					<div class="container my-2">
						<div class="row justify-content-center">
							<div class="col-md-5">
								<span class="d-flex border rounded p-2 my-2 my-md-3" style="border-color: #ccc;">
									<strong>Nombres: &nbsp;</strong> {{datosCliente.nombres | uppercase}}
								</span>
							</div>
							<div class="col-md-5">
								<span class="d-flex border rounded p-2 my-2 my-md-3" style="border-color: #ccc;">
									<strong>CC: &nbsp;</strong>{{datosCliente.documento}}
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<ng-container *ngIf="(listadoReconsideradosArray.length > 0); else ocultarBloqueReconsiderados">
			<div class="row justify-content-center">
				<div class="col-md-10">
					<div class="card ">

						<div class="my-4" *ngFor="let row of listadoReconsideradosArray; let i=index">
							<div class="container my-2">
								<div class="border rounded" style="border-color: #ccc;">

									<div class="row justify-content-center">
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-2 mr-md-2 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">list_alt</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block py-1">No. Cotizacion: </strong>
													<span class="d-block py-1">{{row?.cotizacion}}</span>
												</div>
											</div>
										</div>
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-2 mr-md-2 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block py-1">Fecha Reconsiderado: </strong>
													<span class="d-block py-1">{{row?.fechaReconsiderado | date: "short"}}</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-2 mr-md-2 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">receipt</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block py-1">Reconsiderado: </strong>
													<span class="d-block py-1">{{row?.reconsiderado}}</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row justify-content-center pb-3">
										<div class="col-md-8 col-sm-10 mx-3 mx-lg-3 py-2 text-center">
											<strong class="py-1">Observaciones</strong>
											<p class="text-left" [innerHTML]="row?.observacion">
											</p>
										</div>
									</div>
									<!-- <div class="row justify-content-center" *ngIf="ocultarBotonesCliente != 'CL'">
										<ng-container *ngIf="botonesEdicion && botonMostrar">
											<div class="col-md-10 mb-2 text-center text-md-right">
												<button class="btn btn-link btn-warning btn-just-icon edit" (click)="modificarReconsiderado()">
													<i class="material-icons">edit</i>
												</button>
												<button class="btn btn-link btn-danger btn-just-icon remove" (click)="eliminarReconsiderado()">
													<i class="material-icons">delete</i>
												</button>
											</div>
										</ng-container>
									</div> -->
								</div>
							</div>
						</div>
						<div class="container text-muted">
							<div class="row justify-content-center">
								<div class="col-md-7">
									<div class="pt-2 ml-0 ml-sm-3 ml-md-3 ml-lg-3 text-center text-sm-left text-md-left text-lg-left">
										Total Registros: {{total_item_count}}
									</div>
								</div>
								<div class="col-md-4 text-center text-silver">
									<nav aria-label="..." class="align-items-center">
										<ul class="pagination align-items-center">
											<li class="page-item">
												<p class="mx-4 my-2">Página {{page_actual}} de {{total_pages}}</p>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Primera página"
													[matTooltipPosition]="'below'" (click)="listarReconsiderados(1)">
													<i class="material-icons">first_page</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Atrás" [matTooltipPosition]="'below'"
													(click)="listarReconsiderados(page_prev)">
													<i class="material-icons">navigate_before</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Siguiente" [matTooltipPosition]="'below'"
													(click)="listarReconsiderados(page_next)">
													<i class="material-icons">navigate_next</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Última página"
													[matTooltipPosition]="'below'" (click)="listarReconsiderados(total_pages)">
													<i class="material-icons">last_page</i>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ng-container>
		<ng-template #ocultarBloqueReconsiderados>
			<div class="row justify-content-center">
				<div class="col-md-10 text-center">
					<h3>No existe reconsiderados para este usuario</h3>
				</div>
			</div>
		</ng-template>
	</div>
</div>