<app-loading *ngIf="loading"></app-loading>

<div class="main-content pt-0">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center text-md-left pb-md-4 pb-3">
				<button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresar()">
					<i class="material-icons">arrow_back</i> Regresar
				</button>
			</div>
		</div>
		<div class="row justify-content-center mb-3">
			<div class="col-md-10">
				<h2 class="font-weight-bolder text-break text-center mb-5">SOLICITUD DE CRÉDITO</h2>
				<p class="mb-4 mb-md-5">
					Por favor ingrese la información del crédito . Recuerde que todos 
					los campos son obligatorios
				</p>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="card card-optimus py-1">
					<div class="card-header">
						<h4 class="card-title d-flex">
							<i class="material-icons p-1">account_balance_wallet</i>
							<span class="py-1 text-uppercase">Estudio de Crédito</span>
						</h4>
					</div>
					<form class="mt-4" ngNativeValidate [formGroup]="datosEstudioCreditoForm" (ngSubmit)="onSubmitEstudioCredito()" autocomplete="off">
						<div class="card-body ">
							<div class="row justify-content-center">
								<div class="col-sm-5 mb-2">
									<mat-form-field>
										<mat-select [compareWith]="compararDato" placeholder="Bancos" name="banco" formControlName="banco" required>
											<mat-option *ngFor="let tipo of bancosArray" [value]="tipo.valor">
												{{ tipo.nombre }}
											</mat-option>
										</mat-select>
										<mat-error *ngIf="datosEstudioCreditoForm.get('banco').hasError('required') && datosEstudioCreditoForm.get('banco').touched">
											El campo banco es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
								<div class="col-sm-5 mb-2">
									<mat-form-field>
										<mat-select [compareWith]="compararDato" placeholder="Planes" name="plan" formControlName="plan" required>
											<mat-option *ngFor="let tipo of planArray" [value]="tipo.valor">
												{{ tipo.nombre }}
											</mat-option>
										</mat-select>
										<mat-error *ngIf="datosEstudioCreditoForm.get('plan').hasError('required') && datosEstudioCreditoForm.get('plan').touched">
											El campo plan es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-sm-5 mb-2">
									<mat-form-field class="example-full-width">
										<input matInput formControlName="observacion" placeholder="Observación" name="observacion" type="text">
									</mat-form-field>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-md-6 text-center my-3">
									<button mat-raised-button [disabled]="datosEstudioCreditoForm.invalid" class="btn btn-fill btn-optimus-black">Guardar</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>