<app-loading *ngIf="loading"></app-loading>
<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center mb-3">
            <div class="col-md-10">
                <h2 class="font-weight-bolder text-break text-center mb-5">MIS CLIENTES</h2>
                <p class="mb-4 mb-md-5">
                    A continuación se lista la información de clientes que le han sido asignados o que usted ha
                    registrado
                </p>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row justify-content-end mb-3 mb-md-3">
                <div class="col-md-6 text-md-right text-center">
                    <button type="button" class="btn btn-optimus-black" (click)="buscarCliente()"
                        matTooltip="Buscar cliente" [matTooltipPosition]="'below'">
                        <i class="material-icons">search</i> Buscar clientes
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card my-0">
                    <div id="accordion" role="tablist">
                        <div class="card-collapse card-optimus m-0">
                            <div class="card-header" role="tab" id="headingOne">
                                <h4 class="mx-4">
                                    <a data-toggle="collapse" href="#collapseOne" aria-expanded="false"
                                        aria-controls="collapseOne" class="collapsed text-white">
                                        <span class="material-icons md-48">search</span> BÚSQUEDA POR FILTROS
                                        <i class="material-icons">keyboard_arrow_down</i>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p class="text-center text-silver d-flex pb-2">
                                        <span class="material-icons text-silver p-1 ml-auto pointer" matTooltip="Ayuda"
                                            [matTooltipPosition]="'before'">help</span>
                                        <span class="py-1 mr-auto">Realice la búsqueda de clientes por los parámetros:
                                            asesor, canal de ingreso o vehículo</span>
                                    </p>
                                    <div class="row justify-content-center">
                                        <ng-container *ngIf="eleccionFormulario">
                                            <div class="col-md-4">
                                                <div
                                                    class="col-md-10 col-sm-10 mx-0 mx-sm-1 mx-md-1 mx-lg-1 my-3 text-center">
                                                    <mat-form-field>
                                                        <mat-select [compareWith]="compararDato" placeholder="Asesor"
                                                            name="asesor" [(ngModel)]="filtro.asesor" #asesor="ngModel">
                                                            <mat-option *ngFor="let tipo of todosAsesoresArray"
                                                                [value]="tipo.id" (click)="onSubmitBuscarMisClientes()">
                                                                {{ tipo.nombre }}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <div class="col-md-4">
                                            <div
                                                class="col-md-10 col-sm-10 mx-0 mx-sm-1 mx-md-1 mx-lg-1 my-3 text-center">
                                                <mat-form-field>
                                                    <mat-select [compareWith]="compararDato"
                                                        placeholder="Canal de Ingreso" name="canal"
                                                        [(ngModel)]="filtro.canal" #canal="ngModel">
                                                        <mat-option *ngFor="let tipo of canalIngresoArray"
                                                            [value]="tipo.valor" (click)="onSubmitBuscarMisClientes()">
                                                            {{ tipo.nombre }}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div
                                                class="col-md-10 col-sm-10 mx-0 mx-sm-1 mx-md-1 mx-lg-1 my-3 text-center">
                                                <mat-form-field>
                                                    <mat-select [compareWith]="compararDato" placeholder="Vehiculo"
                                                        name="vehiculo" [(ngModel)]="filtro.vehiculo"
                                                        #vehiculo="ngModel">
                                                        <mat-option *ngFor="let tipo of vehiculosArray"
                                                            [value]="tipo.valor" (click)="onSubmitBuscarMisClientes()">
                                                            {{ tipo.nombre }}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-md-12 text-center my-3">
                                            <button mat-raised-button class="btn btn-fill btn-optimus-green"
                                                type="button" (click)="nuevaBusqueda()">
                                                <i class="material-icons">delete</i>Limpiar filtros
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="mat-elevation-z8">
                    <div class="card">
                        <div class="card-body m-0 p-0">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered table-optimus">
                                    <thead>
                                        <tr>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[0] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[1] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[2] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[3] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[4] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[5] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[6] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[7] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[8] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[9] }}
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let row of dataTable.dataRows; let i=index">
                                            <th scope="row" class="text-center">{{i+1}}</th>
                                            <td class="text-left"><strong>{{row?.tipoDoc}}</strong>
                                                {{row?.documento}}</td>
                                            <td class="text-left">{{row?.cliente | uppercase }}</td>
                                            <td class="text-left">{{row?.asesor | uppercase }}</td>
                                            <td class="text-center">{{row?.fechaIngreso | date: "short"}}</td>
                                            <td class="text-center">{{row?.fechaSalida}}</td>
                                            <td class="text-center">{{row?.canalIngreso}}</td>
                                            <td class="text-center">{{row?.tarjetaOpciones}}</td>
                                            <td class="text-center">
                                                ...
                                                <button class="btn btn-link btn-green"
                                                    (click)="observarTexto(row?.observacion)">Ver más</button>
                                            </td>
                                            <td class="text-center">
                                                <button
                                                    class="btn btn-link btn-optimus-green btn-just-icon editaccount_box"
                                                    (click)="buscarIdCliente(row?.id)" matTooltip="Ver Ingresos Cliente"
                                                    [matTooltipPosition]="'below'">
                                                    <i class="material-icons">account_box</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr *ngIf="(dataTable.dataRows.length === 0)">
                                            <td colspan="10" class="text-center">
                                                <ng-container *ngIf="consultaVacia; else bloqueCargaDatos">
                                                    No hay datos para mostrar
                                                </ng-container>
                                                <ng-template #bloqueCargaDatos>
                                                    <app-loading-spinner></app-loading-spinner>
                                                </ng-template>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="container text-muted">
                            <div class="row justify-content-center">
                                <div class="col-md-7">
                                    <div
                                        class="pt-2 ml-0 ml-sm-3 ml-md-3 ml-lg-3 text-center text-sm-left text-md-left text-lg-left">
                                        Total Registros: {{total_item_count}}
                                    </div>
                                </div>
                                <div class="col-md-4 text-center text-silver">
                                    <nav aria-label="..." class="align-items-center">
                                        <ul class="pagination align-items-center">
                                            <li class="page-item">
                                                <p class="mx-4 my-2">Página {{page_actual}} de {{total_pages}}</p>
                                            </li>
                                            <li class="page-item pointer">
                                                <a routerLinkActive="router-link-active" matTooltip="Primera página"
                                                    [matTooltipPosition]="'below'"
                                                    (click)="listarMisClientes(filtro.asesor, filtro.canal, filtro.vehiculo, 1)">
                                                    <i class="material-icons">first_page</i>
                                                </a>
                                            </li>
                                            <li class="page-item pointer">
                                                <a routerLinkActive="router-link-active" matTooltip="Atrás"
                                                    [matTooltipPosition]="'below'"
                                                    (click)="listarMisClientes(filtro.asesor, filtro.canal, filtro.vehiculo, page_prev)">
                                                    <i class="material-icons">navigate_before</i>
                                                </a>
                                            </li>
                                            <li class="page-item pointer">
                                                <a routerLinkActive="router-link-active" matTooltip="Siguiente"
                                                    [matTooltipPosition]="'below'"
                                                    (click)="listarMisClientes(filtro.asesor, filtro.canal, filtro.vehiculo, page_next)">
                                                    <i class="material-icons">navigate_next</i>
                                                </a>
                                            </li>
                                            <li class="page-item pointer">
                                                <a routerLinkActive="router-link-active" matTooltip="Última página"
                                                    [matTooltipPosition]="'below'"
                                                    (click)="listarMisClientes(filtro.asesor, filtro.canal, filtro.vehiculo, total_pages)">
                                                    <i class="material-icons">last_page</i>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!-- end content-->
                    </div>
                    <!--  end card  -->
                </div>
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>

<!-- Modal Mirar Observación -->
<div class="modal fade bg-modal" id="modalObservacion" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header color-header">
                <h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Observación Detallada</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="container">
                    <p class="text-justify" [innerHTML]="textoExtendido"></p>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Mirar Observación -->