<app-loading *ngIf="loading"></app-loading>
<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h2 class="font-weight-bolder text-break text-center mb-5">AGENDAMIENTOS</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="mat-elevation-z8">
                    <div class="card">
                        <div class="card-body m-0 p-0">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered table-optimus">
                                    <thead>
                                        <tr>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[0] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[1] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[2] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[3] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[4] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[5] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[6] }}
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let row of dataTable.dataRows; let i=index">
                                            <th scope="row" class="text-center">{{i+1}}</th>
                                            <td class="text-center">
                                                {{row?.clienteDocumento}}<br>
                                                {{row?.clienteNombres}}
                                            </td>
                                            <td class="text-center">
                                                <i class="material-icons">today</i>
                                                <span class="d-block">{{row?.fechaAgendamiento | date:"fullDate"}}</span>
                                            </td>
                                            <td class="text-center">
                                                <i class="material-icons">schedule</i>
                                                <span class="d-block">{{row?.hora}}</span>
                                            </td>
                                            <td class="text-center">
                                                <i class="material-icons">directions_car</i>
                                                <span class="d-block">{{row?.placa}}</span>
                                            </td>
                                            <td class="text-center">
                                                <span matTooltip="Cita {{row?.estado}}" [matTooltipPosition]="'below'"
                                                    class="pointer badge badge-{{row?.colorEstado}} text-center">
                                                    <span class="py-1">{{row?.estado}}</span>
                                                </span>
                                            </td>
                                            <td class="text-center" class="text-center">
                                                <button class="btn btn-link btn-info btn-just-icon visibility"
                                                    data-toggle="modal" (click)="visualizarRowAgenda(row)"
                                                    matTooltip="Visualizar Detalladamente"
                                                    [matTooltipPosition]="'below'">
                                                    <i class="material-icons">visibility</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr *ngIf="(dataTable.dataRows.length === 0)">
                                            <td colspan="7" class="text-center">
                                                <ng-container *ngIf="consultaVaciaCargarSpinner; else bloqueCargaDatosRCA">
                                                    No hay datos para mostrar
                                                </ng-container>
                                                <ng-template #bloqueCargaDatosRCA>
                                                    <app-loading-spinner></app-loading-spinner>
                                                </ng-template>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="container text-muted">
                            <div class="row justify-content-center">
                                <div class="col-md-7">
                                    <div
                                        class="pt-2 ml-0 ml-sm-3 ml-md-3 ml-lg-3 text-center text-sm-left text-md-left text-lg-left text-silver">
                                        Total Registros: {{total_item_count}}
                                    </div>
                                </div>
                                <div class="col-md-4 text-center text-silver">
                                    <nav aria-label="..." class="align-items-center">
                                        <ul class="pagination align-items-center">
                                            <li class="page-item">
                                                <p class="mx-4 my-2">Página {{page_actual}} de {{total_pages}}</p>
                                            </li>
                                            <li class="page-item pointer">
                                                <a routerLinkActive="router-link-active" matTooltip="Primera página"
                                                    [matTooltipPosition]="'below'" (click)="listarAgendamientos('1')">
                                                    <i class="material-icons">first_page</i>
                                                </a>
                                            </li>
                                            <li class="page-item pointer">
                                                <a routerLinkActive="router-link-active" matTooltip="Atrás"
                                                    [matTooltipPosition]="'below'"
                                                    (click)="listarAgendamientos(page_prev)">
                                                    <i class="material-icons">navigate_before</i>
                                                </a>
                                            </li>
                                            <li class="page-item pointer">
                                                <a routerLinkActive="router-link-active" matTooltip="Siguiente"
                                                    [matTooltipPosition]="'below'"
                                                    (click)="listarAgendamientos(page_next)">
                                                    <i class="material-icons">navigate_next</i>
                                                </a>
                                            </li>
                                            <li class="page-item pointer">
                                                <a routerLinkActive="router-link-active" matTooltip="Última página"
                                                    [matTooltipPosition]="'below'"
                                                    (click)="listarAgendamientos(total_pages)">
                                                    <i class="material-icons">last_page</i>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!-- end content-->
                    </div>
                    <!--  end card  -->
                </div>
            </div>
            <!-- end col-md-12 -->
        </div>
    </div>
</div>

<!-- Modal Mirar Informacion Detallada -->
<div class="modal fade bg-modal" id="modalInformacionDetallada" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header color-header">
                <h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Información Detallada del Agendamiento</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row justify-content-center py-0">
                    <div class="col-md-5 col-sm-5 text-center mx-1 mx-sm-2 mx-md-3 mx-lg-4 border-bottom">
                        <strong class="ml-1 py-1">Documento </strong>
                        <p>{{agendamientoDetallado.clienteDocumento}}</p>
                    </div>
                    <div class="col-md-5 col-sm-5 text-center mx-1 mx-sm-2 mx-md-3 mx-lg-4 border-bottom">
                        <strong class="ml-1 py-1">Cliente </strong>
                        <p>{{agendamientoDetallado.clienteNombres}}</p>
                    </div>
                </div>
                <div class="row justify-content-center py-0">
                    <div class="col-md-5 col-sm-5 text-center mx-1 mx-sm-2 mx-md-3 mx-lg-4 border-bottom">
                        <strong class="ml-1 py-1">Tipo de Agendamiento </strong>
                        <p>{{agendamientoDetallado.tipoAgendamiento}}</p>
                    </div>
                    <div class="col-md-5 col-sm-5 text-center mx-1 mx-sm-2 mx-md-3 mx-lg-4 border-bottom">
                        <strong class="ml-1 py-1">Fecha Registro </strong>
                        <p>{{agendamientoDetallado.fechaRegistro | date:"shortDate"}}</p>
                    </div>
                </div>
                <div class="row justify-content-center py-0">
                    <div class="col-md-5 col-sm-5 text-center mx-1 mx-sm-2 mx-md-3 mx-lg-4 border-bottom">
                        <strong class="ml-1 py-1">Fecha Agendamiento </strong>
                        <p>{{agendamientoDetallado.fechaAgendamiento | date:"shortDate"}}</p>
                    </div>
                    <div class="col-md-5 col-sm-5 text-center mx-1 mx-sm-2 mx-md-3 mx-lg-4 border-bottom">
                        <strong class="ml-1 py-1">Fecha de Confirmación </strong>
                        <p>{{agendamientoDetallado.fechaConfirmacion | date:"shortDate"}}</p>
                    </div>
                </div>
                <div class="row justify-content-center py-0">
                    <div class="col-md-5 col-sm-5 text-center mx-1 mx-sm-2 mx-md-3 mx-lg-4 border-bottom">
                        <strong class="ml-1 py-1">Hora </strong>
                        <p>{{agendamientoDetallado.hora}}</p>
                    </div>
                    <div class="col-md-5 col-sm-5 text-center mx-1 mx-sm-2 mx-md-3 mx-lg-4 border-bottom">
                        <strong class="ml-1 py-1">Vehículo </strong>
                        <p>{{agendamientoDetallado.placa}} - {{agendamientoDetallado.modelo}}</p>
                    </div>
                </div>
                <div class="row justify-content-center py-0">
                    <div class="col-md-5 col-sm-5 text-center mx-1 mx-sm-2 mx-md-3 mx-lg-4 border-bottom">
                        <strong class="ml-1 py-1">Agendada Por </strong>
                        <p>{{agendamientoDetallado.agendadaPor}}</p>
                    </div>
                    <div class="col-md-5 col-sm-5 text-center mx-1 mx-sm-2 mx-md-3 mx-lg-4 border-bottom">
                        <strong class="ml-1 py-1">Asignada A </strong>
                        <p>{{agendamientoDetallado.agendadaA}}</p>
                    </div>
                </div>
                <div class="row justify-content-center py-0">
                    <div class="col-md-5 col-sm-5 text-center mx-1 mx-sm-2 mx-md-3 mx-lg-4 border-bottom">
                        <strong class="ml-1 py-1">Estado </strong><br>
                        <span class="badge badge-{{agendamientoDetallado.colorEstado}} text-center mb-1">
                            <span class="py-1 d-block">{{agendamientoDetallado.estado}}</span>
                        </span>
                    </div>
                </div>
                <div class="row justify-content-center mt-4">
                    <div class="col-md-8 col-sm-5 text-center mx-1 mx-sm-2 mx-md-3 mx-lg-4 border-bottom">
                        <strong class="ml-1 py-1">Observación </strong>
                        <p class="text-justify" [innerHTML]="agendamientoDetallado.observacion"></p>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Mirar Informacion Detallada -->