<app-loading *ngIf="loading"></app-loading>

<div class="main-content pt-0">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center text-md-left pb-md-4 pb-3">
				<button mat-raised-button class="btn btn-optimus-black ml-1" (click)="regresar()">
					<i class="material-icons">account_box</i> Mis Clientes
				</button>
			</div>
		</div>
		<div class="row justify-content-center">

			<div class="row justify-content-center mb-3">
				<div class="col-md-10">
					<h2 class="font-weight-bolder text-break text-center mb-5">CONSULTAR CLIENTES</h2>
					<p class="mb-4 mb-md-5">
						Por favor ingrese el documento de identificación del cliente para realizar la busqueda. En
						caso que este no exista se habilitará la opción de registrar.
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card card-optimus py-1">
					<div class="card-header">
						<h4 class="card-title d-flex">
							<i class="material-icons p-1">person_search</i>
							<span class="py-1 text-uppercase">Busqueda de clientes</span>
						</h4>
					</div>
					<form class="my-4" ngNativeValidate [formGroup]="buscarDocumentoForm"
						(ngSubmit)="buscarDocumento()">
						<div class="row justify-content-center">
							<div class="col-md-10 mx-3 text-center">
								<mat-form-field class="example-full-width">
									<input matInput formControlName="documento" placeholder="Documento"
										name="documento" type="text" required>
									<mat-error *ngIf="buscarDocumentoForm.get('documento').hasError('required') && buscarDocumentoForm.get('documento').touched">
										El campo documento es <strong>requerido</strong>
									</mat-error>
									<mat-error *ngIf="buscarDocumentoForm.get('documento').hasError('pattern') && buscarDocumentoForm.get('documento').touched">
										El documento debe tener el siguiente formato <strong>Ejm:
											1085100100</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-md-6 text-center">
								<button mat-raised-button
									[disabled]="buscarDocumentoForm.get('documento').hasError('required') || buscarDocumentoForm.get('documento').hasError('pattern')"
									class="btn btn-fill btn-optimus-black">
									<i class="material-icons">search</i> Buscar
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>