<app-loading *ngIf="loading"></app-loading>
<div class="main-content">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center text-md-left pb-md-4 pb-3">
				<button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresar()">
					<i class="material-icons">arrow_back</i> Regresar
				</button>
			</div>
		</div>
		<ng-container *ngIf="exiteContrato; else bloqueRegistrarContrato">
			<div class="row justify-content-center mb-3">
				<div class="col-md-10">
					<h2 class="font-weight-bolder text-break text-center mb-5">CONTRATO DE {{empleado.nombres |
						uppercase}}</h2>
					<p class="mb-4 mb-md-5">
						A continuación se lista la información del contrato del empleado {{empleado.nombres |
						uppercase}}.
					</p>
				</div>
			</div>
			<div class="row justify-content-center mb-3">
				<div class="col-md-10">
					<div class="card card-optimus py-1">
						<div class="card-header">
							<h4 class="card-title d-flex">
								<i class="material-icons p-1">view_list</i>
								<span class="py-1 text-uppercase">Contrato</span>
							</h4>
						</div>
						<div class="card-body">

							<div class="row justify-content-center">
								<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
									<div class="row">
										<div class="col-3 col-md-2 mr-md-2 col-sm-3">
											<i class="material-icons py-2 mx-1 font-size-icono">contact_page</i>
										</div>
										<div class="col-9 col-md-9 col-sm-9">
											<strong class="d-block py-1">Documento: </strong>
											<span class="d-block py-1">{{empleado.documento}}</span>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
									<div class="row">
										<div class="col-3 col-md-2 mr-md-2 col-sm-3">
											<i class="material-icons py-2 mx-1 font-size-icono">person</i>
										</div>
										<div class="col-9 col-md-9 col-sm-9">
											<strong class="d-block py-1">Nombres:</strong>
											<span class="d-block py-1">{{empleado.nombres | uppercase}}</span>
										</div>
									</div>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
									<div class="row">
										<div class="col-3 col-md-2 mr-md-2 col-sm-3">
											<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
										</div>
										<div class="col-9 col-md-9 col-sm-9">
											<strong class="d-block py-1">Fecha firma del contrato: </strong>
											<span class="d-block py-1">{{empleado.fechaFirmaContrato |
												date:"fullDate"}}</span>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
									<div class="row">
										<div class="col-3 col-md-2 mr-md-2 col-sm-3">
											<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
										</div>
										<div class="col-9 col-md-9 col-sm-9">
											<strong class="d-block py-1">Fecha iniciación de labores: </strong>
											<span class="d-block py-1">{{empleado.fechaIniciacionLabores |
												date:"fullDate"}}</span>
										</div>
									</div>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
									<div class="row">
										<div class="col-3 col-md-2 mr-md-2 col-sm-3">
											<i class="material-icons py-2 mx-1 font-size-icono">notes</i>
										</div>
										<div class="col-9 col-md-9 col-sm-9">
											<strong class="d-block py-1">Descripción del salario: </strong>
											<span class="d-block py-1">{{empleado.descripcionSalario}}</span>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
									<div class="row">
										<div class="col-3 col-md-2 mr-md-2 col-sm-3">
											<i class="material-icons py-2 mx-1 font-size-icono">money</i>
										</div>
										<div class="col-9 col-md-9 col-sm-9">
											<strong class="d-block py-1">Salario: </strong>
											<span class="d-block py-1">{{empleado.valorSalario | currency: 'COP':true:
												'1.0'}}</span>
										</div>
									</div>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
									<div class="row">
										<div class="col-3 col-md-2 mr-md-2 col-sm-3">
											<i class="material-icons py-2 mx-1 font-size-icono">folder_shared</i>
										</div>
										<div class="col-9 col-md-9 col-sm-9">
											<strong class="d-block py-1">Tipo contrato: </strong>
											<span class="d-block py-1">{{empleado.tipoContrato}}</span>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
									<div class="row">
										<div class="col-3 col-md-2 mr-md-2 col-sm-3">
											<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
										</div>
										<div class="col-9 col-md-9 col-sm-9">
											<strong class="d-block py-1">Fecha de desvinculación: </strong>
											<span class="d-block py-1">{{empleado.fechaDesvinculacion == '' ? '- - -' :
												empleado.fechaDesvinculacion | date: "shortDate"}}</span>
										</div>
									</div>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
									<div class="row">
										<div class="col-3 col-md-2 mr-md-2 col-sm-3">
											<i class="material-icons py-2 mx-1 font-size-icono">rule_folder</i>
										</div>
										<div class="col-9 col-md-9 col-sm-9">
											<strong class="d-block py-1">Tipo de desvinculación: </strong>
											<span class="d-block py-1">{{empleado.tipoDesvinculacion}}</span>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
									<div class="row">
										<div class="col-3 col-md-2 mr-md-2 col-sm-3">
											<i class="material-icons py-2 mx-1 font-size-icono">contacts</i>
										</div>
										<div class="col-9 col-md-9 col-sm-9">
											<strong class="d-block py-1">Cargo: </strong>
											<span class="d-block py-1">{{empleado.cargo}}</span>
										</div>
									</div>
								</div>
							</div>
							<div class="row justify-content-center mt-4">
								<div class="col-md-8 col-sm-5 text-center mx-1 mx-sm-2 mx-md-3 mx-lg-4">
									<strong class="ml-1 py-1">Observación </strong>
									<p class="text-justify" [innerHTML]="empleado.observacion"></p>
								</div>
							</div>
							<div class="row justify-content-center py-3">
								<div class="col-md-5 col-sm-5 text-center">
									<button mat-raised-button class="btn btn-optimus-black" data-toggle="modal"
										(click)="modalActualizarContrato()">
										<i class="material-icons">edit</i> Editar Contrato
									</button>
								</div>
								<div class="col-md-5 col-sm-5 text-center">
									<button mat-raised-button class="btn btn-optimus-green"
										(click)="registrarAfiliacion()">
										<i class="material-icons">search</i> Afiliaciones
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ng-container>
		<ng-template #bloqueRegistrarContrato>
			<div class="row">
				<div class="col-md-12">
					<div class="card card-optimus py-1">
						<div class="card-header">
							<h4 class="card-title d-flex">
								<i class="material-icons p-1">view_list</i>
								<span class="py-1 text-uppercase">Registrar Contrato</span>
							</h4>
						</div>
						<div class="card-body">
							<p class="text-center text-silver d-flex pb-2">
								<span class="material-icons text-silver p-1 ml-auto" matTooltip="Ayuda"
									[matTooltipPosition]="'below'">help</span>
								<span class="py-1 mr-auto">En el siguiente formulario registrará un contrato a un
									empleado.</span>
							</p>
							<form ngNativeValidate [formGroup]="crearContratoForm" (ngSubmit)="onSubmitCrearContrato()"
								autocomplete="off">
								<div class="card-body">
									<div class="row justify-content-center">
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field>
												<input matInput placeholder="Fecha de contrato"
													[matDatepicker]="picker1" (click)="picker1.open()"
													formControlName="fechaFirmaContrato" name="fechaFirmaContrato"
													id="fechaFirmaContrato" required>
												<mat-datepicker-toggle matSuffix [for]="picker1">
												</mat-datepicker-toggle>
												<mat-datepicker #picker1></mat-datepicker>
												<mat-error
													*ngIf="crearContratoForm.get('fechaFirmaContrato').hasError('required') && crearContratoForm.get('fechaFirmaContrato').touched">
													El campo fecha de contrato es <strong>requerido</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field>
												<input matInput placeholder="Fecha inicio de labores"
													[matDatepicker]="picker3" (click)="picker3.open()"
													formControlName="fechaIniciacionLabores"
													name="fechaIniciacionLabores" id="fechaIniciacionLabores" required>
												<mat-datepicker-toggle matSuffix [for]="picker3">
												</mat-datepicker-toggle>
												<mat-datepicker #picker3></mat-datepicker>
												<mat-error
													*ngIf="crearContratoForm.get('fechaIniciacionLabores').hasError('required') && crearContratoForm.get('fechaIniciacionLabores').touched">
													El campo fecha inicio de labores es <strong>requerido</strong>
												</mat-error>
											</mat-form-field>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field>
												<mat-select [compareWith]="compararDato" placeholder="Descripción del Salario" name="descripcionSalario"
													id="descripcionSalario" formControlName="descripcionSalario" required>
													<mat-option *ngFor="let tipo of descripcionSalarioArray" [value]="tipo">
														{{ tipo }}
													</mat-option>
												</mat-select>
												<mat-error
													*ngIf="crearContratoForm.get('descripcionSalario').hasError('required') && crearContratoForm.get('descripcionSalario').touched">
													El descripción del salario es <strong>requerido</strong></mat-error>
											</mat-form-field>
										</div>
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field class="example-full-width">
												<input matInput formControlName="valorSalario"
													placeholder="Valor del salario" name="valorSalario"
													id="valorSalario" type="number" required>
												<span matPrefix>$&nbsp;</span>
												<span matSuffix>.00</span>
												<mat-error
													*ngIf="crearContratoForm.get('valorSalario').hasError('required') && crearContratoForm.get('valorSalario').touched">
													El campo valor salario es <strong>requerido</strong>
												</mat-error>
												<mat-error
													*ngIf="crearContratoForm.get('valorSalario').hasError('pattern')">
													El valor salario debe tener el siguiente formato <strong>Ejm:
														12000000</strong>
												</mat-error>
											</mat-form-field>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field>
												<mat-select [compareWith]="compararDato" placeholder="Cargo"
													name="cargo" id="cargo" formControlName="cargo" required>
													<mat-option *ngFor="let tipo of cargoArray" [value]="tipo.valor">
														{{ tipo.nombre }}
													</mat-option>
												</mat-select>
												<mat-error
													*ngIf="crearContratoForm.get('cargo').hasError('required') && crearContratoForm.get('cargo').touched">
													El cargo es <strong>requerido</strong></mat-error>
											</mat-form-field>
										</div>
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field>
												<mat-select [compareWith]="compararDato" placeholder="Tipo de contrato"
													name="tipoContrato" id="tipoContrato" formControlName="tipoContrato"
													required>
													<mat-option *ngFor="let tipo of tipoContratoArray"
														[value]="tipo.valor">
														{{ tipo.nombre }}
													</mat-option>
												</mat-select>
												<mat-error
													*ngIf="crearContratoForm.get('tipoContrato').hasError('required') && crearContratoForm.get('tipoContrato').touched">
													El tipo de contrato es <strong>requerido</strong></mat-error>
											</mat-form-field>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field>
												<input matInput placeholder="Fecha de desvinculación"
													[matDatepicker]="picker2" (click)="picker2.open()"
													formControlName="fechaDesvinculacion" name="fechaDesvinculacion"
													id="fechaDesvinculacion">
												<mat-datepicker-toggle matSuffix [for]="picker2">
												</mat-datepicker-toggle>
												<mat-datepicker #picker2></mat-datepicker>
											</mat-form-field>
										</div>
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field>
												<mat-select [compareWith]="compararDato"
													placeholder="Tipo de desvinculación" name="tipoDesvinculacion"
													id="tipoDesvinculacion" formControlName="tipoDesvinculacion">
													<mat-option *ngFor="let tipo of tipoDesvinculacionArray"
														[value]="tipo.valor">
														{{ tipo.nombre }}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-sm-8">
											<mat-form-field class="example-full-width">
												<textarea matInput rows="2" formControlName="observacion"
													placeholder="Observaciones" name="observacion"
													type="text"></textarea>
											</mat-form-field>
										</div>
									</div>
								</div>
								<div class="container">
									<div class="row justify-content-center">
										<div class="col-md-6 text-center my-3">
											<button mat-raised-button [disabled]="crearContratoForm.invalid"
												class="btn btn-fill btn-optimus-black">Registrar</button>
										</div>
									</div>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>

		</ng-template>
	</div>
</div>

<ng-container *ngIf="mostrarFormulario">
	<!-- Modal Actualizar contrato-->
	<div class="modal fade bg-modal" id="modalContrato" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header color-header">
					<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Actualizar Contrato</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<form ngNativeValidate [formGroup]="actualizarContratoForm"
						(ngSubmit)="onSubmitActualizarContrato()" autocomplete="off">
						<div class="card-body">
							<div class="row justify-content-center">
								<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
									<mat-form-field>
										<input matInput placeholder="Fecha de contrato" [matDatepicker]="picker1"
											(click)="picker1.open()" formControlName="fechaFirmaContrato"
											name="fechaFirmaContrato" id="fechaFirmaContrato" required>
										<mat-datepicker-toggle matSuffix [for]="picker1">
										</mat-datepicker-toggle>
										<mat-datepicker #picker1></mat-datepicker>
										<mat-error
											*ngIf="actualizarContratoForm.get('fechaFirmaContrato').hasError('required') && actualizarContratoForm.get('fechaFirmaContrato').touched">
											El campo fecha de contrato es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
								<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
									<mat-form-field>
										<input matInput placeholder="Fecha inicio de labores" [matDatepicker]="picker3"
											(click)="picker3.open()" formControlName="fechaIniciacionLabores"
											name="fechaIniciacionLabores" id="fechaIniciacionLabores" required>
										<mat-datepicker-toggle matSuffix [for]="picker3">
										</mat-datepicker-toggle>
										<mat-datepicker #picker3></mat-datepicker>
										<mat-error
											*ngIf="actualizarContratoForm.get('fechaIniciacionLabores').hasError('required') && actualizarContratoForm.get('fechaIniciacionLabores').touched">
											El campo fecha inicio de labores es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row justify-content-center">
								<!-- <div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
									<mat-form-field class="example-full-width">
										<textarea matInput rows="2" formControlName="descripcionSalario"
											placeholder="Descripcion del salario" name="descripcionSalario"
											id="descripcionSalario" type="text" required></textarea>
										<mat-error
											*ngIf="actualizarContratoForm.get('descripcionSalario').hasError('required') && actualizarContratoForm.get('descripcionSalario').touched">
											El campo descripción salario es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div> -->
								<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
									<mat-form-field>
										<mat-select [compareWith]="compararDato" placeholder="Descripción del Salario" name="descripcionSalario"
											id="descripcionSalario" formControlName="descripcionSalario" required>
											<mat-option *ngFor="let tipo of descripcionSalarioArray" [value]="tipo">
												{{ tipo }}
											</mat-option>
										</mat-select>
										<mat-error
											*ngIf="actualizarContratoForm.get('descripcionSalario').hasError('required') && actualizarContratoForm.get('descripcionSalario').touched">
											El descripción del salario es <strong>requerido</strong></mat-error>
									</mat-form-field>
								</div>
								<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
									<mat-form-field class="example-full-width">
										<input matInput formControlName="valorSalario" placeholder="Valor del salario"
											name="valorSalario" id="valorSalario" type="number" required>
										<span matPrefix>$&nbsp;</span>
										<span matSuffix>.00</span>
										<mat-error
											*ngIf="actualizarContratoForm.get('valorSalario').hasError('required') && actualizarContratoForm.get('valorSalario').touched">
											El campo valor salario es <strong>requerido</strong>
										</mat-error>
										<mat-error
											*ngIf="actualizarContratoForm.get('valorSalario').hasError('pattern')">
											El valor salario debe tener el siguiente formato <strong>Ejm:
												12000000</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
									<mat-form-field>
										<mat-select [compareWith]="compararDato" placeholder="Cargo" name="cargo"
											id="cargo" formControlName="cargo" required>
											<mat-option *ngFor="let tipo of cargoArray" [value]="tipo.valor">
												{{ tipo.nombre }}
											</mat-option>
										</mat-select>
										<mat-error
											*ngIf="actualizarContratoForm.get('cargo').hasError('required') && actualizarContratoForm.get('cargo').touched">
											El cargo es <strong>requerido</strong></mat-error>
									</mat-form-field>
								</div>
								<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
									<mat-form-field>
										<mat-select [compareWith]="compararDato" placeholder="Tipo de contrato"
											name="tipoContrato" id="tipoContrato" formControlName="tipoContrato"
											required>
											<mat-option *ngFor="let tipo of tipoContratoArray" [value]="tipo.valor">
												{{ tipo.nombre }}
											</mat-option>
										</mat-select>
										<mat-error
											*ngIf="actualizarContratoForm.get('tipoContrato').hasError('required') && actualizarContratoForm.get('tipoContrato').touched">
											El tipo de contrato es <strong>requerido</strong></mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
									<mat-form-field>
										<input matInput placeholder="Fecha de desvinculación" [matDatepicker]="picker4"
											(click)="picker4.open()" formControlName="fechaDesvinculacion"
											name="fechaDesvinculacion" id="fechaDesvinculacion">
										<mat-datepicker-toggle matSuffix [for]="picker4">
										</mat-datepicker-toggle>
										<mat-datepicker #picker4></mat-datepicker>
									</mat-form-field>
								</div>
								<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
									<mat-form-field>
										<mat-select [compareWith]="compararDato" placeholder="Tipo de desvinculación"
											name="tipoDesvinculacion" id="tipoDesvinculacion"
											formControlName="tipoDesvinculacion">
											<mat-option *ngFor="let tipo of tipoDesvinculacionArray"
												[value]="tipo.valor">
												{{ tipo.nombre }}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-sm-8">
									<mat-form-field class="example-full-width">
										<textarea matInput rows="2" formControlName="observacion"
											placeholder="Observaciones" name="observacion" type="text"></textarea>
									</mat-form-field>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-md-6 text-center my-3">
									<button mat-raised-button [disabled]="actualizarContratoForm.invalid"
										class="btn btn-fill btn-optimus-black">Modificar</button>
								</div>
							</div>
						</div>
					</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal Actualizar contrato-->
</ng-container>