<app-loading *ngIf="loading"></app-loading>

<div class="main-content pt-0">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center text-md-left pb-md-4 pb-3">
				<button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresar()">
					<i class="material-icons">arrow_back</i> Regresar
				</button>
			</div>
		</div>
		<div class="row justify-content-center mb-3">
			<div class="col-md-10">
				<h2 class="font-weight-bolder text-break text-center mb-5">REGISTRO DE USUARIOS</h2>
				<p class="mb-4 mb-md-5">
					Por favor ingrese la información del usuario. Recuerde que los campos marcados con asterisco * son obligatorios.
				</p>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="card card-optimus py-1">
					<div class="card-header">
						<h4 class="card-title d-flex">
							<i class="material-icons p-1">view_list</i>
							<span class="py-1 text-uppercase">Registrar Usuario</span>
						</h4>
					</div>
					<form class="mt-3" ngNativeValidate [formGroup]="datosUsuarioForm" (ngSubmit)="onSubmitCrearUsuario()" autocomplete="off">
						<div class="card-body ">
							<div class="row justify-content-center">
								<div class="col-sm-5 mb-2">
									<mat-form-field>
										<mat-select [compareWith]="compararDato" placeholder="Tipo documento" name="tipoDoc" formControlName="tipoDoc" required>
											<mat-option *ngFor="let tipo of tipoDocumentosArray" [value]="tipo.valor">
												{{ tipo.nombre }}
											</mat-option>
										</mat-select>
										<mat-error *ngIf="datosUsuarioForm.get('tipoDoc').hasError('required') && datosUsuarioForm.get('tipoDoc').touched">El campo tipo documento es <strong>requerido</strong></mat-error>
									</mat-form-field>
								</div>
                                <div class="col-sm-5 mb-2">
									<mat-form-field class="example-full-width">
										<input matInput formControlName="documento" placeholder="No. Documento" name="documento" id="documento" type="number" required>
										<mat-error *ngIf="datosUsuarioForm.get('documento').hasError('required') && datosUsuarioForm.get('documento').touched">
											El campo documento es <strong>requerido</strong>
										</mat-error>
										<mat-error *ngIf="datosUsuarioForm.get('documento').hasError('pattern') && datosUsuarioForm.get('documento').touched">
											El documento debe tener el siguiente formato <strong>Ejm: 1085100100</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row justify-content-center">
                                <div class="col-sm-5 mb-2">
									<mat-form-field class="example-full-width">
										<input matInput formControlName="nombres" placeholder="Nombres" name="nombres" type="text" required>
										<mat-error *ngIf="datosUsuarioForm.get('nombres').hasError('required') && datosUsuarioForm.get('nombres').touched">
											El campo nombre servicio es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
							
                                <div class="col-sm-5 mb-2">
									<mat-form-field class="example-full-width">
										<input matInput formControlName="apellidos" placeholder="Apellidos" name="apellidos" type="text" required>
										<mat-error *ngIf="datosUsuarioForm.get('apellidos').hasError('required') && datosUsuarioForm.get('apellidos').touched">
											El apellido es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row justify-content-center">
                                <div class="col-sm-5 mb-2">
									<mat-form-field class="example-full-width">
										<input matInput formControlName="correo" placeholder="Correo" name="correo" type="email" required>
										<mat-error *ngIf="datosUsuarioForm.get('correo').hasError('required') && datosUsuarioForm.get('correo').touched">
											El campo correo es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
							
                                <div class="col-sm-5 mb-2">
									<mat-form-field>
										<mat-select [compareWith]="compararDato" placeholder="Roles" name="rol" formControlName="rol" required>
											<mat-option *ngFor="let item of rolesExistentes" [value]="item.valor">
												{{ item.nombre }}
											</mat-option>
										</mat-select>
										<mat-error *ngIf="datosUsuarioForm.get('rol').hasError('required') && datosUsuarioForm.get('rol').touched">
											El campo Rol es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-md-6 text-center my-3">
									<button mat-raised-button [disabled]="datosUsuarioForm.invalid" class="btn btn-fill btn-optimus-black">Registrar</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>