<!-- Estadisticas Leads -->
<div class="container-fluid px-0">
	<div class="row align-items-center px-0">
		<!-- Inicia Grafica Canal de Ingreso -->
		<div class="col-md-4 px-0 ml-auto">
			<div class="card card-optimus py-0 mt-0">
				<div class="card-header p-2">
					<h4 class="card-title d-flex">
						<i class="material-icons p-1">insert_chart</i>
						<span class="py-1 text-uppercase">Canal de Ingreso</span>
					</h4>
				</div>
				<div class="card-body">
					<div class="row">
						<canvas id="canalIngresoGrafica" width="400" height="360"></canvas>
					</div>
				</div>
				<div class="card-footer pointer" (click)="onSubmitCanalIngresoReporte()">
					<div class="stats">
						<i class="material-icons text-green">get_app</i> Ver clientes leads del día
					</div>
				</div>
			</div>
		</div>
		<!-- Finaliza Grafica Canal de Ingreso -->

		<!-- Estadistica Leads Con Cotizacion -->
		<div class="col-lg-4 col-md-6 col-sm-6 mr-auto">
			<div class="card card-stats my-3">
				<div class="row m-2">
					<div class="col-8">
						<h5 class="card-category bold text-uppercase">Conversión de Leads</h5>
					</div>
					<div class="col-4">
						<div class="card-icon icon-silver">
							<i class="material-icons my-2 f-4">trending_up</i>
						</div>
					</div>
				</div>
				<div class="row mt-0 mb-1 mx-1 justify-content-center">
					<div class="col-11">
						<div class="row align-items-center">
							<div class="col-9"><span class="">Total: </span></div>
							<div class="col-3"><span class="font-weight-bold"> {{clientesLeadsAnioNum}} </span></div>
						</div>
						<div class="row align-items-center">
							<div class="col-9"><span class="">Cotizaciones: </span></div>
							<div class="col-3"><span class="font-weight-bold"> {{clientesLeadsConCotizacionNum}} </span></div>
						</div>
						<div class="row align-items-center">
							<div class="col-9"><span class="">Procesos de Venta: </span></div>
							<div class="col-3"><span class="font-weight-bold"> {{clientesLeadsProcesoVentaActivoNum}} </span></div>
						</div>
						<div class="row align-items-center">
							<div class="col-9"><span class="">Ventas: </span></div>
							<div class="col-3"><span class="font-weight-bold"> {{clientesLeadsCompraSiNum}} </span></div>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons text-green">get_app</i> Conversión de Leads
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row justify-content-center">
		<!-- Estadistica Dias Leads -->
		<div class="col-lg-4 col-md-6 col-sm-6">
			<div class="card card-stats my-3" (click)="onSubmitClientesLeadsDiaReporte()">
				<div class="row m-2">
					<div class="col-8">
						<h5 class="card-category bold text-uppercase">HOY</h5>
						<h3 class="card-title"> {{clientesLeadsDiaNum}} </h3>
					</div>
					<div class="col-4">
						<div class="card-icon icon-silver">
							<i class="material-icons my-2 f-4">view_day</i>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons text-green">get_app</i> Ver clientes leads del día
					</div>
				</div>
			</div>
		</div>
		<!-- Estadistica Semanas Leads -->
		<div class="col-lg-4 col-md-6 col-sm-6">
			<div class="card card-stats my-3" (click)="onSubmitClientesLeadsSemanaReporte()">
				<div class="row m-2">
					<div class="col-8">
						<h5 class="card-category bold text-uppercase">SEMANA</h5>
						<h3 class="card-title"> {{clientesLeadsSemanaNum}} </h3>
					</div>
					<div class="col-4">
						<div class="card-icon icon-silver">
							<i class="material-icons my-2 f-4">view_week</i>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons text-green">get_app</i> Ver clientes leads de la semana
					</div>
				</div>
			</div>
		</div>
		<!-- Estadistica Meses Leads -->
		<div class="col-lg-4 col-md-6 col-sm-6">
			<div class="card card-stats my-3" (click)="onSubmitClientesLeadsMesReporte()">
				<div class="row m-2">
					<div class="col-8">
						<h5 class="card-category bold text-uppercase">MES</h5>
						<h3 class="card-title"> {{clientesLeadsMesNum}} </h3>
					</div>
					<div class="col-4">
						<div class="card-icon icon-silver">
							<i class="material-icons my-2 f-4">calendar_today</i>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons text-green">get_app</i> Ver clientes leads del mes
					</div>
				</div>
			</div>
		</div>
		<!-- Estadistica Años Leads -->
		<div class="col-lg-4 col-md-6 col-sm-6">
			<div class="card card-stats my-3" (click)="onSubmitClientesLeadsAnioReporte()">
				<div class="row m-2">
					<div class="col-8">
						<h5 class="card-category bold text-uppercase">AÑO</h5>
						<h3 class="card-title"> {{clientesLeadsAnioNum}} </h3>
					</div>
					<div class="col-4">
						<div class="card-icon icon-silver">
							<i class="material-icons my-2 f-4">date_range</i>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons text-green">get_app</i> Ver clientes leads del año
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
<!-- Estadisticas Leads -->