<app-loading *ngIf="loading"></app-loading>
<div class="main-content">
	<div class="container-fluid">

		<div class="row justify-content-center mb-3">
			<div class="col-md-10">
				<h2 class="font-weight-bolder text-break text-center mb-5">LISTA DE RECONSIDERADOS</h2>
				<p class="mb-4 mb-md-5">
					A continuación se lista los reconsiderados de los clientes ingresados.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="mat-elevation-z8">
					<div class="card">
						<div class="card-body m-0 p-0">
							<div class="table-responsive">
								<table class="table table-hover table-bordered table-optimus">
									<thead>
										<tr>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[0] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[1] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[2] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[3] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[4] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[5] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[6] }}
											</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let row of dataTable.dataRows; let i=index">
											<th scope="row" class="text-center">{{i+1}}</th>
											<td class="text-left">
												<strong>{{row?.tipoDocPersona}}</strong>
												{{row?.documentoPersona}}
											</td>
											<td class="text-left">
												{{row?.nombresPersona | uppercase}}
												{{row?.apellidosPersona | uppercase}}
											</td>
											<td class="text-center">{{row?.fechaReconsiderado | date: "short"}}</td>
											<td class="text-center">{{row?.reconsiderado}}</td>
											<td class="text-center">
												<button class="btn btn-link btn-green"
													(click)="observarTexto(row?.observacion)">
													Ver más
												</button>
											</td>
											<td class="text-center">
												<button class="btn btn-link btn-optimus-green btn-just-icon account_box"
													(click)="buscarIdCliente(row?.idPersona)" matTooltip="Ver Cliente"
													[matTooltipPosition]="'below'">
													<i class="material-icons">account_box</i>
												</button>

												<ng-container *ngIf="row?.negocioAbierto; else bloqueOcultarEditarPV">
													<button *ngIf="rolValor === 'A'"
														class="btn btn-link btn-optimus-green btn-just-icon edit"
														(click)="editarReconsiderado(''+row?.id)"
														matTooltip="Editar Proceso de Venta"
														[matTooltipPosition]="'below'">
														<i class="material-icons">edit</i>
													</button>
												</ng-container>
												<ng-template #bloqueOcultarEditarPV>
													<button
														class="btn btn-link btn-optimus-black btn-just-icon recent_actors"
														matTooltip="El Negocio Esta Cerrado"
														[matTooltipPosition]="'below'">
														<i class="material-icons">recent_actors</i>
													</button>
												</ng-template>
											</td>
										</tr>
										<tr *ngIf="consultaVacia">
											<td colspan="7" class="text-center"> No hay datos para mostrar</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="container text-muted">
							<div class="row justify-content-center">
								<div class="col-md-7">
									<div
										class="pt-2 ml-0 ml-sm-3 ml-md-3 ml-lg-3 text-center text-sm-left text-md-left text-lg-left">
										Total Registros: {{total_item_count}}
									</div>
								</div>
								<div class="col-md-4 text-center text-silver">
									<nav aria-label="..." class="align-items-center">
										<ul class="pagination align-items-center">
											<li class="page-item">
												<p class="mx-4 my-2">Página {{page_actual}} de {{total_pages}}</p>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Primera página"
													[matTooltipPosition]="'below'" (click)="listarReconsiderados(1)">
													<i class="material-icons">first_page</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Atrás"
													[matTooltipPosition]="'below'"
													(click)="listarReconsiderados(page_prev)">
													<i class="material-icons">navigate_before</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Siguiente"
													[matTooltipPosition]="'below'"
													(click)="listarReconsiderados(page_next)">
													<i class="material-icons">navigate_next</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Última página"
													[matTooltipPosition]="'below'"
													(click)="listarReconsiderados(total_pages)">
													<i class="material-icons">last_page</i>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Mirar Observación -->
<div class="modal fade bg-modal" id="modalObservacion" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Observación Detallada</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<div class="container">
					<p class="text-justify" [innerHTML]="textoExtendido"></p>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Mirar Observación -->