<app-loading *ngIf="loading"></app-loading>
<div class="main-content">
	<div class="container-fluid">
		<div class="row justify-content-center mb-2">
			<div class="col-md-10">
				<h2 class="font-weight-bolder text-break text-center mb-2">GESTIÓN DE CONTRATOS</h2>
				<p class="text-center text-silver">
					<span class="material-icons text-silver" matTooltip="Ayuda"
						[matTooltipPosition]="'below'">help</span>
					En esta sección encuentrará los contratos realizados en la empresa
				</p>
			</div>
		</div>
		<div class="row justify-content-center mb-3">
			<div class="col-md-8">
				<div class="card card-optimus py-1">
					<div class="card-header">
						<h4 class="card-title d-flex">
							<i class="material-icons p-1">view_list</i>
							<span class="py-1 text-uppercase">Buscar empleado</span>
						</h4>
					</div>
					<div class="card-body">
						<p class="text-center text-silver d-flex pb-2">
							<span class="material-icons text-silver p-1 ml-auto" matTooltip="Ayuda"
								[matTooltipPosition]="'below'">help</span>
							<span class="py-1 mr-auto">Realice la búsqueda de empleados por el parámetro: documento de
								identificación</span>
						</p>
						<form class="mt-4" ngNativeValidate [formGroup]="buscarEmpleadoFormGroup"
							(ngSubmit)="onSubmitBuscarEmpleado()">
							<div class="row justify-content-center">
								<div class="col-md-8 col-sm-6 mx-3 text-center">
									<mat-form-field class="example-full-width">
										<input matInput formControlName="filtroEmpleado"
											placeholder="Documento de identificación" name="filtroEmpleado"
											type="number" required>
										<mat-error
											*ngIf="buscarEmpleadoFormGroup.get('filtroEmpleado').hasError('required') && buscarEmpleadoFormGroup.get('filtroEmpleado').touched">
											Este campo es <strong>requerido</strong>
										</mat-error>
										<mat-error
											*ngIf="buscarEmpleadoFormGroup.get('filtroEmpleado').hasError('pattern')">
											El documento debe tener el siguiente formato <strong>Ejm:
												1085100100</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-md-8 col-sm-8 text-center my-3">
									<button mat-raised-button class="btn btn-fill btn-optimus-green mx-2"
										(click)="limpiarFormulario()">
										<i class="material-icons">delete</i> Limpiar
									</button>
									<button mat-raised-button
										[disabled]="buscarEmpleadoFormGroup.get('filtroEmpleado').hasError('required')"
										class="btn btn-fill btn-optimus-black mx-2">
										<i class="material-icons">search</i> Buscar
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<ng-container *ngIf="empleadoEncontrado">
			<div class="row">
				<div class="col-md-12">
					<div class="card card-optimus py-1">
						<div class="card-header">
							<h4 class="card-title d-flex">
								<i class="material-icons p-1">description</i>
								<span class="py-1 text-uppercase">Registrar Contrato</span>
							</h4>
						</div>
						<div class="card-body">
							<ng-container *ngIf="estadoContrato; else bloqueMensajeContrato">
								<p class="text-center text-silver d-flex pb-2">
									<span class="material-icons text-silver p-1 ml-auto" matTooltip="Ayuda"
										[matTooltipPosition]="'below'">help</span>
									<span class="py-1 mr-auto">Puede modificar la información del contrato
										al empleado <strong>{{empleado.nombres}}</strong>.</span>
								</p>
							</ng-container>
							<ng-template #bloqueMensajeContrato>
								<p class="text-center text-silver d-flex pb-2">
									<span class="material-icons text-silver p-1 ml-auto" matTooltip="Ayuda"
										[matTooltipPosition]="'below'">help</span>
									<span class="py-1 mr-auto">Puede registrar un contrato al empleado
										<strong>{{empleado.nombres}}</strong> y documento de identificación
										<strong>{{empleado.identificacion}}</strong>.</span>
								</p>
							</ng-template>
							<form class="mt-3" ngNativeValidate [formGroup]="crearContratoForm"
								(ngSubmit)="onSubmitCrearContrato()" autocomplete="off">
								<div class="card-body">
									<div class="row justify-content-center">
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field>
												<input matInput placeholder="Fecha de contrato"
													[matDatepicker]="picker1" (click)="picker1.open()"
													formControlName="fechaFirmaContrato" name="fechaFirmaContrato"
													id="fechaFirmaContrato" required>
												<mat-datepicker-toggle matSuffix [for]="picker1">
												</mat-datepicker-toggle>
												<mat-datepicker #picker1></mat-datepicker>
												<mat-error
													*ngIf="crearContratoForm.get('fechaFirmaContrato').hasError('required') && crearContratoForm.get('fechaFirmaContrato').touched">
													El campo fecha de contrato es <strong>requerido</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field>
												<input matInput placeholder="Fecha inicio de labores"
													[matDatepicker]="picker3" (click)="picker3.open()"
													formControlName="fechaIniciacionLabores"
													name="fechaIniciacionLabores" id="fechaIniciacionLabores" required>
												<mat-datepicker-toggle matSuffix [for]="picker3">
												</mat-datepicker-toggle>
												<mat-datepicker #picker3></mat-datepicker>
												<mat-error
													*ngIf="crearContratoForm.get('fechaIniciacionLabores').hasError('required') && crearContratoForm.get('fechaIniciacionLabores').touched">
													El campo fecha inicio de labores es <strong>requerido</strong>
												</mat-error>
											</mat-form-field>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field>
												<mat-select [compareWith]="compararDato"
													placeholder="Descripción del Salario" name="descripcionSalario"
													id="descripcionSalario" formControlName="descripcionSalario"
													required>
													<mat-option *ngFor="let tipo of descripcionSalarioArray"
														[value]="tipo">
														{{ tipo }}
													</mat-option>
												</mat-select>
												<mat-error
													*ngIf="crearContratoForm.get('descripcionSalario').hasError('required') && crearContratoForm.get('descripcionSalario').touched">
													El descripción del salario es <strong>requerido</strong></mat-error>
											</mat-form-field>
										</div>
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field class="example-full-width">
												<input matInput formControlName="valorSalario"
													placeholder="Valor del salario" name="valorSalario"
													id="valorSalario" type="number" required>
												<span matPrefix>$&nbsp;</span>
												<span matSuffix>.00</span>
												<mat-error
													*ngIf="crearContratoForm.get('valorSalario').hasError('required') && crearContratoForm.get('valorSalario').touched">
													El campo valor salario es <strong>requerido</strong>
												</mat-error>
												<mat-error
													*ngIf="crearContratoForm.get('valorSalario').hasError('pattern')">
													El valor salario debe tener el siguiente formato <strong>Ejm:
														12000000</strong>
												</mat-error>
											</mat-form-field>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field>
												<mat-select [compareWith]="compararDato" placeholder="Cargo"
													name="cargo" id="cargo" formControlName="cargo" required>
													<mat-option *ngFor="let tipo of cargoArray" [value]="tipo.valor">
														{{ tipo.nombre }}
													</mat-option>
												</mat-select>
												<mat-error
													*ngIf="crearContratoForm.get('cargo').hasError('required') && crearContratoForm.get('cargo').touched">
													El cargo es <strong>requerido</strong></mat-error>
											</mat-form-field>
										</div>
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field>
												<mat-select [compareWith]="compararDato" placeholder="Tipo de contrato"
													name="tipoContrato" id="tipoContrato" formControlName="tipoContrato"
													required>
													<mat-option *ngFor="let tipo of tipoContratoArray"
														[value]="tipo.valor">
														{{ tipo.nombre }}
													</mat-option>
												</mat-select>
												<mat-error
													*ngIf="crearContratoForm.get('tipoContrato').hasError('required') && crearContratoForm.get('tipoContrato').touched">
													El tipo de contrato es <strong>requerido</strong></mat-error>
											</mat-form-field>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field>
												<input matInput placeholder="Fecha de desvinculación"
													[matDatepicker]="picker2" (click)="picker2.open()"
													formControlName="fechaDesvinculacion" name="fechaDesvinculacion"
													id="fechaDesvinculacion">
												<mat-datepicker-toggle matSuffix [for]="picker2">
												</mat-datepicker-toggle>
												<mat-datepicker #picker2></mat-datepicker>
											</mat-form-field>
										</div>
										<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
											<mat-form-field>
												<mat-select [compareWith]="compararDato"
													placeholder="Tipo de desvinculación" name="tipoDesvinculacion"
													id="tipoDesvinculacion" formControlName="tipoDesvinculacion">
													<mat-option *ngFor="let tipo of tipoDesvinculacionArray"
														[value]="tipo.valor">
														{{ tipo.nombre }}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-sm-8">
											<mat-form-field class="example-full-width">
												<textarea matInput rows="2" formControlName="observacion"
													placeholder="Observaciones" name="observacion"
													type="text"></textarea>
											</mat-form-field>
										</div>
									</div>
								</div>
								<div class="container">
									<div class="row justify-content-center">
										<ng-container *ngIf="estadoContrato; else bloqueContratoBoton">
											<div class="col-md-5 text-center my-3">
												<button mat-raised-button [disabled]="crearContratoForm.invalid"
													class="btn btn-fill btn-optimus-black">
													<i class="material-icons">edit</i>{{mensajeBoton}}
												</button>
											</div>
											<div class="col-md-5 text-center my-3">
												<button mat-raised-button class="btn btn-optimus-green"
													(click)="registrarAfiliacion(contrato.id)">
													<i class="material-icons">search</i> Afiliaciones
												</button>
											</div>
										</ng-container>
										<ng-template #bloqueContratoBoton>
											<div class="col-md-5 text-center my-3">
												<button mat-raised-button [disabled]="crearContratoForm.invalid"
													class="btn btn-fill btn-optimus-black">{{mensajeBoton}}</button>
											</div>
										</ng-template>

									</div>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>

		</ng-container>
	</div>
</div>