<app-loading *ngIf="loading"></app-loading>

<div class="main-content">
	<div class="container-fluid">
		<div class="header text-center">
			<h1 class="title">Calendario de Eventos</h1>
			<p class="category">A continuación encontrará los eventos que ha programado.</p>
		</div>
		<div class="row">
			<div class="col-md-10 ml-auto mr-auto">
				<div class="card card-calendar">
					<div class="card-body ">
						<div id="fullCalendar"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>