<app-loading-sistema *ngIf="cargaLoading"></app-loading-sistema>

<ng-container [ngSwitch]="rolUsuario">
	
	<div *ngSwitchCase="'DT'">
		<!-- PANEL PARA AGENTES CONTACT CENTER Y DIRECTOR CONTACT CENTER -->
		<app-dasboard-contact-center></app-dasboard-contact-center>
		<!-- FIN PANEL PARA AGENTES CONTACT CENTER Y DIRECTOR CONTACT CENTER -->
	</div>
	
	<div *ngSwitchCase="'ACC'">
		<!-- PANEL PARA AGENTES CONTACT CENTER Y DIRECTOR CONTACT CENTER -->
		<app-dasboard-contact-center></app-dasboard-contact-center>
		<!-- FIN PANEL PARA AGENTES CONTACT CENTER Y DIRECTOR CONTACT CENTER -->
	</div>
	
	<div *ngSwitchCase="'CL'">
		<!-- PANEL PARA EL CLIENTE -->
		<app-dashboard-cliente></app-dashboard-cliente>
		<!-- FIN PANEL PARA EL CLIENTE -->
	</div>
	
	<div *ngSwitchCase="'CB'">
		<!-- PANEL PARA EL CENTRAL BENEFICIOS -->
		<app-dashboard-cliente></app-dashboard-cliente>
		<!-- FIN PANEL PARA EL CENTRAL BENEFICIOS -->
	</div>
	
	<div *ngSwitchCase="'AD'">
		<!-- PANEL PARA ADMINISTRATIVOS -->
		<app-dashboard-administrativos></app-dashboard-administrativos>
		<!-- FIN PANEL PARA ADMINISTRATIVOS -->
	</div>
	
	<div *ngSwitchDefault>
		<!-- PANEL PARA EL SISTEMA CRM -->
		<app-dashboard-crm *ngIf="cambioSistema === 'crm'"></app-dashboard-crm>
		<!-- FIN PANEL PARA EL SISTEMA CRM -->
	
		<!-- PANEL PARA EL SISTEMA ERP -->
		<app-dashboard-erp *ngIf="cambioSistema === 'erp'"></app-dashboard-erp>
		<!-- FIN PANEL PARA EL SISTEMA ERP -->
	</div>

</ng-container>