<app-loading *ngIf="loading"></app-loading>
<div class="main-content">
	<div class="container-fluid">

		<div class="row justify-content-center mb-3">
			<div class="col-md-10">
				<h2 class="font-weight-bolder text-break text-center mb-5">LISTA DE LEADS</h2>
				<!-- <p class="mb-4 mb-md-5">
					A continuación se lista leads ingresados.
				</p> -->
			</div>
		</div>

		<ng-container *ngIf="botonCrearLeads">
			<div class="container-fluid">
				<div class="row justify-content-end mb-3 mb-md-3">
					<div class="col-md-6 text-md-right text-center">
						<button type="button" class="btn btn-optimus-black" (click)="crearLeads()"
							matTooltip="Agregar Leads" [matTooltipPosition]="'below'">
							<i class="material-icons">add_circle_outline</i> Nuevo
						</button>
					</div>
				</div>
			</div>
		</ng-container>

		<div class="row">
			<div class="col-md-12">
				<div class="mat-elevation-z8">
					<div class="card">
						<div class="card-body m-0 p-0">
							<div class="table-responsive">
								<table class="table table-hover table-bordered table-optimus">
									<thead>
										<tr>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[0] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[1] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[2] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[3] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[4] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[5] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[6] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[7] }}
											</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let row of dataTable.dataRows; let i=index">
											<th scope="row" class="text-center">{{i+1}}</th>
											<td class="text-left">
												<strong>{{row?.tipoDocPersona}}:</strong>
												{{row?.documentoPersona == '' ? '- - -' : row?.documentoPersona}}
											</td>
											<td class="text-left">
												{{row?.nombresPersona | uppercase}}
												{{row?.apellidosPersona | uppercase}}
											</td>
											<td class="text-center">{{row?.contactoPrincipal === '' ? '- - -' :
												row?.contactoPrincipal}}</td>
											<td class="text-center">{{row?.correo === '' ? '- - -' : row?.correo}}</td>
											<td class="text-center">
												<button class="btn btn-link btn-green"
													(click)="observarTexto(row?.observaciones)">
													Ver más
												</button>
											</td>
											<td class="text-center">{{row?.asesor | uppercase}}</td>
											<td class="text-center">
												<ng-container *ngIf="botonReasignarLeads">
													<button class="btn btn-link btn-optimus-green btn-just-icon people"
														(click)="reasignarClienteAAsesor(row?.idRegistro)"
														matTooltip="Reasignar Cliente" [matTooltipPosition]="'below'">
														<i class="material-icons">people</i>
													</button>
												</ng-container>
												<button class="btn btn-link btn-optimus-green btn-just-icon edit"
													(click)="actualizarDatosLead(row)" matTooltip="Actualizar Lead"
													[matTooltipPosition]="'below'">
													<i class="material-icons">edit</i>
												</button>
												<ng-container *ngIf="row?.documentoPersona != ''">
													<button class="btn btn-link btn-optimus-green btn-just-icon account_box"
														(click)="buscarIdCliente(row?.idPersona)" matTooltip="Ver Cliente"
														[matTooltipPosition]="'below'">
														<i class="material-icons">account_box</i>
													</button>
												</ng-container>
											</td>
										</tr>
										<tr *ngIf="(dataTable.dataRows.length === 0)">
											<td colspan="8" class="text-center">
												<ng-container
													*ngIf="consultaVaciaCargarSpinner; else bloqueCargaDatosRCA">
													No hay datos para mostrar
												</ng-container>
												<ng-template #bloqueCargaDatosRCA>
													<app-loading-spinner></app-loading-spinner>
												</ng-template>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="container text-muted">
							<div class="row justify-content-center">
								<div class="col-md-7">
									<div
										class="pt-2 ml-0 ml-sm-3 ml-md-3 ml-lg-3 text-center text-sm-left text-md-left text-lg-left">
										Total Registros: {{total_item_count}}
									</div>
								</div>
								<div class="col-md-4 text-center text-silver">
									<nav aria-label="..." class="align-items-center">
										<ul class="pagination align-items-center">
											<li class="page-item">
												<p class="mx-4 my-2">Página {{page_actual}} de {{total_pages}}</p>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Primera página"
													[matTooltipPosition]="'below'" (click)="listarLeadsClientes(1)">
													<i class="material-icons">first_page</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Atrás"
													[matTooltipPosition]="'below'"
													(click)="listarLeadsClientes(page_prev)">
													<i class="material-icons">navigate_before</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Siguiente"
													[matTooltipPosition]="'below'"
													(click)="listarLeadsClientes(page_next)">
													<i class="material-icons">navigate_next</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Última página"
													[matTooltipPosition]="'below'"
													(click)="listarLeadsClientes(total_pages)">
													<i class="material-icons">last_page</i>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Reasignar Clientes a Asesores -->
<div class="modal fade bg-modal" id="modalReasinarClientes" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Reasignar Cliente</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<form class="mt-3" ngNativeValidate [formGroup]="reasignarClientesForm"
					(ngSubmit)="onSubmitReasignarClientesAsesores()" autocomplete="off">
					<div class="card-body ">
						<div class="row justify-content-center">
							<div class="col-sm-12 mb-2 text-center">

								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Asesores para reasignar"
										name="asesorId" id="asesorId" formControlName="asesorId" required>
										<mat-option *ngFor="let tipo of todosAsesoresArray" [value]="tipo.id">
											{{ tipo.nombre }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="reasignarClientesForm.get('asesorId').hasError('required') && reasignarClientesForm.get('asesorId').touched">
										El asesor es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>

							</div>
						</div>
					</div>
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-md-6 text-center mt-3">
								<button mat-raised-button [disabled]="reasignarClientesForm.invalid"
									class="btn btn-fill btn-optimus-black">Reasignar</button>
							</div>
						</div>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Reasignar Clientes a Asesores -->

<!-- Modal Mirar Observación -->
<div class="modal fade bg-modal" id="modalObservacion" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Descripción Detallada</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<div class="container">
					<p class="text-justify" [innerHTML]="textoExtendido"></p>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Mirar Observación -->

<!-- Modal Mirar Observación -->
<div class="modal fade bg-modal" id="modalActualizarLead" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Actualizar Lead</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<form class="mt-4" ngNativeValidate [formGroup]="actualizarLeadForm" (ngSubmit)="onSubmitActualizarLead()"
					autocomplete="off">
					<div class="card-body ">
						<div class="row justify-content-center">
							<div class="col-sm-5 mb-2">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Tipo documento" name="tipoDoc" id="tipoDoc"
										formControlName="tipoDoc">
										<mat-option *ngFor="let tipo of tipoDocumentosArray" [value]="tipo.valor">
											{{ tipo.nombre }}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="col-sm-5 mb-2">
								<mat-form-field class="example-full-width">
									<input matInput formControlName="documento" placeholder="No. Documento" name="documento"
										type="text">
									<mat-error
										*ngIf="actualizarLeadForm.get('documento').hasError('pattern') && actualizarLeadForm.get('documento').touched">
										El documento debe tener el siguiente formato <strong>Ejm:
											1085100100</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-5 mb-2">
								<mat-form-field class="example-full-width">
									<input matInput formControlName="nombres" placeholder="Nombres" name="nombres" type="text" required>
									<mat-error
										*ngIf="actualizarLeadForm.get('nombres').hasError('required') && actualizarLeadForm.get('nombres').touched">
										El campo nombres es <strong>requerido</strong>
									</mat-error>
									<mat-error
										*ngIf="actualizarLeadForm.get('nombres').hasError('pattern') && actualizarLeadForm.get('nombres').touched">
										El campo nombres solo debe poseer <strong>letras y espacios</strong>
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col-sm-5 mb-2">
								<mat-form-field class="example-full-width">
									<input matInput formControlName="apellidos" placeholder="Apellidos" name="apellidos" type="text"
										required>
									<mat-error
										*ngIf="actualizarLeadForm.get('apellidos').hasError('required') && actualizarLeadForm.get('apellidos').touched">
										El campo apellidos es <strong>requerido</strong>
									</mat-error>
									<mat-error
										*ngIf="actualizarLeadForm.get('apellidos').hasError('pattern')  && actualizarLeadForm.get('apellidos').touched">
										El campo apellidos solo debe poseer <strong>letras y espacios</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-5 mb-2">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Canal de Ingreso" name="canalIngreso"
										formControlName="canalIngreso" required>
										<mat-option *ngFor="let tipo of tipoCanalIngresoArray" [value]="tipo.valor">
											{{ tipo.nombre }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="actualizarLeadForm.get('canalIngreso').hasError('required') && actualizarLeadForm.get('canalIngreso').touched">
										El canal de ingreso es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col-sm-5 mb-2">
								<mat-form-field class="example-full-width">
									<input matInput formControlName="correo" placeholder="Correo electrónico" name="correo"
										type="email">
									<mat-error
										*ngIf="actualizarLeadForm.get('correo').hasError('pattern') && actualizarLeadForm.get('correo').touched">
										El campo correo debe tener el siguiente formato:
										<strong>ejemplo@gmail.com</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-5 mb-2">
								<mat-form-field class="example-full-width">
									<input matInput formControlName="telefono" placeholder="Teléfono" name="telefono" type="text">
									<mat-error
										*ngIf="actualizarLeadForm.get('telefono').hasError('pattern') && actualizarLeadForm.get('telefono').touched">
										El campo telefono debe tener el siguiente formato:
										<strong>3153001020</strong>
									</mat-error>
								</mat-form-field>
							</div>
				
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-10 mb-2">
								<mat-form-field class="example-full-width">
									<textarea matInput rows="2" formControlName="observacion" placeholder="Observaciones"
										name="observacion" id="observacion" type="text"></textarea>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-10 mb-2">
								<p class="text-justify" [innerHTML]="observacionLead"></p>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-md-6 text-center my-3">
								<button mat-raised-button [disabled]="actualizarLeadForm.invalid"
									class="btn btn-fill btn-optimus-black">Guardar</button>
							</div>
						</div>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Mirar Observación -->