<app-loading *ngIf="loading"></app-loading>

<div class="main-content pt-0">
	<div class="row justify-content-center">
		<div class="col-md-12 text-center text-md-left pb-md-4 pb-3">
			<button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresar()">
				<i class="material-icons">arrow_back</i> Regresar
			</button>
		</div>
	</div>
	<div class="container-fluid">
		<h2 class="text-center bold mb-5">CLIENTES SEMILLA</h2>
	</div>

	<div class="container-fluid">
		<div class="row justify-content-end mb-3 mb-md-3">
			<div class="col-md-6 text-md-right text-center">
				<button type="button" class="btn btn-optimus-black" (click)="nuevoCliente()" matTooltip="Nuevo Cliente"
					[matTooltipPosition]="'below'">
					<i class="material-icons">add_circle_outline</i> Nuevo Cliente
				</button>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="mat-elevation-z8">
					<div class="card">
						<div class="card-body m-0 p-0">
							<div class="table-responsive">
								<table class="table table-hover table-bordered table-optimus">
									<thead>
										<tr>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[0] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[1] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[2] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[3] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[4] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[5] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[6] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[7] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[8] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[9] }}
											</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let row of dataTable.dataRows; let i=index">
											<th scope="row" class="text-center">{{i+1}}</th>
											<td class="text-left"><strong>{{row?.tipoDoc}}: </strong>{{row?.documento}}
											</td>
											<td class="text-left">{{row?.nombres | uppercase}}</td>
											<td class="text-left">{{row?.vehiculo}}</td>
											<td class="text-left">{{row?.versionId}}</td>
											<td class="text-left">{{row?.modelo}}</td>
											<td class="text-left">{{row?.colorVehiculo}}</td>
											<td class="text-left">{{row?.valorVehiculo == '- - -' ? '- - -' : row?.valorVehiculo | currency: 'COP':true: '1.0'}}</td>
											<td class="text-center">
												<span class="pointer badge badge-{{row?.colorEstado}} text-center">
													<span class="py-1">{{row?.diasTranscurridos}}</span>
												</span>
											</td>
											<td class="text-center">
												<button class="btn btn-link btn-optimus-yellow btn-just-icon visibility"
													data-toggle="modal" (click)="verClienteFicha(row?.id)"
													matTooltip="Ver Ficha Cliente" [matTooltipPosition]="'below'">
													<i class="material-icons">visibility</i>
												</button>
											</td>
										</tr>
										<tr *ngIf="(dataTable.dataRows.length === 0)">
											<td colspan="9" class="text-center">
												<ng-container *ngIf="consultaVaciaCargarSpinner; else bloqueCargaDatosRCA">
													No hay datos para mostrar
												</ng-container>
												<ng-template #bloqueCargaDatosRCA>
													<app-loading-spinner></app-loading-spinner>
												</ng-template>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="container text-muted">
							<div class="row justify-content-center">
								<div class="col-md-7">
									<div
										class="pt-2 ml-0 ml-sm-3 ml-md-3 ml-lg-3 text-center text-sm-left text-md-left text-lg-left text-silver">
										Total Registros: {{total_item_count}}
									</div>
								</div>
								<div class="col-md-4 text-center text-silver">
									<nav aria-label="..." class="align-items-center">
										<ul class="pagination align-items-center">
											<li class="page-item">
												<p class="mx-4 my-2">Página {{page_actual}} de {{total_pages}}</p>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Primera página"
													[matTooltipPosition]="'below'"
													(click)="listarClientesSC('1')">
													<i class="material-icons">first_page</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Atrás"
													[matTooltipPosition]="'below'"
													(click)="listarClientesSC('' + page_prev)">
													<i class="material-icons">navigate_before</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Siguiente"
													[matTooltipPosition]="'below'"
													(click)="listarClientesSC('' + page_next)">
													<i class="material-icons">navigate_next</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Última página"
													[matTooltipPosition]="'below'"
													(click)="listarClientesSC('' + total_pages)">
													<i class="material-icons">last_page</i>
												</a>
											</li>

										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal buscar cliente -->
<div class="modal fade bg-modal" id="modalBuscarCliente" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Buscar Cliente</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form class="my-4" ngNativeValidate [formGroup]="buscarDocumentoForm" (ngSubmit)="buscarDocumento()">
					<div class="row justify-content-center">
						<div class="col-md-10 mx-3 text-center">
							<mat-form-field class="example-full-width">
								<input matInput formControlName="documento" placeholder="Documento" name="documento" type="text"
									required>
								<mat-error *ngIf="buscarDocumentoForm.get('documento').hasError('required') && buscarDocumentoForm.get('documento').touched">
									El campo documento es <strong>requerido</strong>
								</mat-error>
								<mat-error *ngIf="buscarDocumentoForm.get('documento').hasError('pattern') && buscarDocumentoForm.get('documento').touched">
									El documento debe tener el siguiente formato <strong>Ejm:
										1085100100</strong>
								</mat-error>
							</mat-form-field>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-md-6 text-center">
							<button mat-raised-button
								[disabled]="buscarDocumentoForm.get('documento').hasError('required') || buscarDocumentoForm.get('documento').hasError('pattern')"
								class="btn btn-fill btn-optimus-black">
								<i class="material-icons">search</i> Buscar
							</button>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal buscar cliente -->