.accord-headers-align .mat-expansion-panel-header-title,
.accord-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.accord-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.accord-headers-align {
	width: 100%;
	margin: 0 0 2px 0;
}
/* Boton nueva cotizacion */
.color-icono .material-icons {
  padding: 13px;
  border-radius: 10px;
  background: linear-gradient(60deg, #899878, #899878);
  color: #fff;
}
.color-icono2 .material-icons {
  padding: 13px;
  border-radius: 10px;
  background: #00bcd4;
  color: #fff;
}

.color-icono span {
  font-size: 1em;
  color: #3C4858;
}

.color-icono2 span {
  font-size: 1em;
  color: #3C4858;
}

.font-size-icono {
  font-size: 3em;
}