<app-loading *ngIf="loading"></app-loading>

<div class="main-content pt-0">
	<div class="container-fluid">
		<div class="row justify-content-center py-4">
			<div class="col-md-12 text-center text-md-left">
				<button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresar()">
					<i class="material-icons">arrow_back</i> Regresar
				</button>
			</div>

			<div class="row justify-content-center mb-3">
				<div class="col-md-10">
					<h2 class="font-weight-bolder text-break text-center mb-5">SEGUIMIENTO DEL NEGOCIO</h2>
					<p class="mb-4 mb-md-5">
						A continuación, se presenta los procedimientos del ingreso que se han realizado para el cliente.
						Para amplicar la información, presione el encabezado de cada item. Tenga en cuenta que desde
						este apartado, podrá generar cotizaciones, actualizar información
						y dar seguimiento al negocio que se encuentra realizando.
					</p>
				</div>
			</div>
			<ng-container *ngIf="botonIniciarAsesoria && infoIngreso.botonMostrar; else blockMostrarFinalizarAtencion">
				<div class="col-md-12 text-center text-md-right">
					<!-- Boton Iniciar Asesoria -->
					<button mat-raised-button class="btn btn-link color-icono" (click)="agregarAtencionAlUsuario()">
						<i class="material-icons">add_task</i> <span class="ml-2 font-weight-bolder">Iniciar
							asesoría</span>
					</button>
					<!-- Boton Iniciar Asesoria -->
				</div>
			</ng-container>
			<div class="col-md-12 text-center text-md-right">
				<!-- Boton Iniciar Asesoria -->
				<button mat-raised-button class="btn btn-link color-icono" (click)="agregarEventoAlUsuario()">
					<i class="material-icons">book_online</i> <span class="ml-2 font-weight-bolder">Agregar
						Evento</span>
				</button>
				<!-- Boton Iniciar Asesoria -->
			</div>
			<ng-template #blockMostrarFinalizarAtencion>
				<!-- Boton Cerrar atencion -->
				<ng-container *ngIf="finalizarAtencionVentana">
					<div class="col-md-8 text-center border rounded p-2 my-2 my-md-3"
						style="border-color: #ccc; background-color: #fff;" *ngIf="ocultarBotonesCliente != 'N'">
						<h3 class="card-title py-0 mb-1"> <strong>{{nombreUsuarioAtencion | uppercase }}</strong> </h3>
						<h4 class="card-title py-0 mt-1"> <strong
								class="text-uppercase font-weight-bolder">Ocupado</strong> </h4>
						Atención iniciada el: <strong>{{fechaInicial | date:"short"}}</strong>,<br> con el cliente
						<strong>{{nombreCliente | uppercase}}</strong> y documento de identificación
						<strong>{{documento}}</strong><br>
						<button mat-raised-button class="my-3 btn btn-optimus-black" data-toggle="modal"
							(click)="finalizarAtencion(idAtencion)">
							<i class="material-icons mr-1">pan_tool</i> Finalizar Atención
						</button>
					</div>
				</ng-container>
				<!-- Boton Cerrar atencion -->
			</ng-template>
		</div>

		<ng-container *ngIf="clienteNoPertenece">
			<div class="row justify-content-center">
				<div class="col-md-10">
					<div class="alert alert-danger text-left mb-0" role="alert">
						<strong class="d-block text-center mb-3">¡ATENCIÓN!</strong> El cliente que actualmente esta
						visualizando,
						no pertenece a su lista de clientes. En caso de existir un error, por favor notificar al
						encargado del Área
						Comercial.
					</div>
				</div>
			</div>
		</ng-container>

		<!-- Datos personales del cliente -->
		<div class="row justify-content-center pt-3">
			<div class="col-md-10">
				<div class="card card-optimus py-1">
					<div class="card-header">
						<h4 class="card-title d-flex">
							<i class="material-icons p-1">account_circle</i>
							<span class="py-1 text-uppercase">Cliente</span>
						</h4>
					</div>
					<div class="container my-2">
						<div class="row justify-content-center">
							<div class="col-md-5">
								<span class="d-flex border rounded p-2 my-2 my-md-3" style="border-color: #ccc;">
									<strong>Nombres: &nbsp;</strong> {{infoIngreso.nombres | uppercase}}
								</span>
							</div>
							<div class="col-md-5">
								<span class="d-flex border rounded p-2 my-2 my-md-3" style="border-color: #ccc;">
									<strong>{{infoIngreso.tipoDoc}}: &nbsp;</strong>{{infoIngreso.documento}}
								</span>
							</div>
						</div>
						<ng-container *ngIf="!infoIngreso.botonMostrar">
							<div class="row justify-content-center">
								<ng-container *ngIf="(infoIngreso.estadoCompra == 'SI')">
									<div class="col-md-5 text-center">
										<span class="badge badge-success">
											<i class="material-icons mr-1">done</i>
											<span class="py-1 d-block"> Venta realizada</span>
										</span>
									</div>
								</ng-container>
								<ng-container *ngIf="(infoIngreso.estadoCompra == 'NO')">
									<div class="col-md-5 text-center">
										<span class="badge badge-danger"> <i class="material-icons mr-1">cancel</i>
											<span class="py-1 d-block"> Venta no realizada</span> </span>
									</div>
									<div class="col-md-5">
										<span class="d-flex border rounded p-2 my-2 my-md-3"
											style="border-color: #ccc;">
											<strong>Objeción: &nbsp;</strong>{{nombreObjecion}}
										</span>
									</div>
								</ng-container>
							</div>
						</ng-container>
					</div>
				</div>
			</div>
		</div>
		<!-- Datos personales del cliente -->
	</div>

	<!-- Ficha Cliente -->
	<div class="card my-0">
		<div id="accordion" role="tablist">
			<!-- Ingreso -->
			<div class="card-collapse card-optimus m-0">
				<div class="card-header pt-3" role="tab" id="headingOne">
					<h4 class="mx-4">
						<a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne"
							class="collapsed text-white text-uppercase">
							<span class="material-icons md-48">flag</span> Ingresos
							<i class="material-icons">keyboard_arrow_down</i>
						</a>
					</h4>
				</div>
				<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
					data-parent="#accordion">
					<div class="card-body">

						<div class="container my-2">
							<div class="mat-elevation-z2 border rounded" style="border-color: #ccc;">
								<div class="row justify-content-center">
									<div class="col-md-4 col-sm-4 mx-3 mx-lg-3 py-2">
										<div class="row">
											<div class="col-3 col-md-2 mr-md-2 col-sm-3">
												<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
											</div>
											<div class="col-9 col-md-9 col-sm-9">
												<strong class="d-block py-1">Fecha de Ingreso: </strong>
												<span class="d-block py-1">{{infoIngreso.fechaIngreso | date:
													"short"}}</span>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-4 mx-3 mx-lg-3 py-2">
										<div class="row">
											<div class="col-3 col-md-2 mr-md-2 col-sm-3">
												<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
											</div>
											<div class="col-9 col-md-9 col-sm-9">
												<strong class="d-block py-1">Fecha Cierre:</strong>
												<span class="d-block py-1">{{infoIngreso.fechaSalida == '0000-00-00'
													? '- - -' : infoIngreso.fechaSalida | date:
													"short"}}</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-md-4 col-sm-4 mx-3 mx-lg-3 py-2">
										<div class="row">
											<div class="col-3 col-md-2 mr-md-2 col-sm-3">
												<i class="material-icons py-2 mx-1 font-size-icono">payments</i>
											</div>
											<div class="col-9 col-md-9 col-sm-9">
												<strong class="d-block py-1">Tarjeta de Opciones: </strong>
												<span class="d-block py-1">{{infoIngreso.tarjetaOpciones |
													uppercase}}</span>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-4 mx-3 mx-lg-3 py-2">
										<div class="row">
											<div class="col-3 col-md-2 mr-md-2 col-sm-3">
												<i class="material-icons py-2 mx-1 font-size-icono">person</i>
											</div>
											<div class="col-9 col-md-9 col-sm-9">
												<strong class="d-block py-1">Asesor:</strong>
												<span class="d-block py-1">{{infoIngreso.asesor | uppercase}}</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-md-4 col-sm-4 mx-3 mx-lg-3 py-2">
										<div class="row">
											<div class="col-3 col-md-2 mr-md-2 col-sm-3">
												<i class="material-icons py-2 mx-1 font-size-icono">next_plan</i>
											</div>
											<div class="col-9 col-md-9 col-sm-9">
												<strong class="d-block py-1">Canal de Ingreso: </strong>
												<span class="d-block py-1">{{infoIngreso.canalIngreso |
													uppercase}}</span>
											</div>
										</div>
									</div>
								</div>
								<hr>
								<div class="row justify-content-center">
									<div class="col-md-10 col-sm-5 mx-3 mx-lg-3 py-2 text-center">
										<strong class="text-uppercase">Observaciones</strong>
										<p class="text-left"
											[innerHTML]="infoIngreso.observacion == null ? 'No existen observaciones': infoIngreso.observacion">
										</p>
									</div>
								</div>
								<div class="row justify-content-center">
									<!--Boton Finalizar Ingreso -->
									<ng-container *ngIf="botonFinalizarIngreso && infoIngreso.botonMostrar">
										<div class="col-md-6 text-center py-3" *ngIf="existeProcesoVentaBoton">
											<button mat-raised-button class="btn btn-danger btn-round ml-1"
												data-toggle="modal" (click)="finalizarIngreso()">
												<i class="material-icons">check_circle_outline</i> Finalizar
												Negocio
											</button>
										</div>
									</ng-container>
									<!--Boton Finalizar Ingreso -->
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- Informacion Personal -->
			<div class="card-collapse card-optimus m-0">
				<div class="card-header pt-3" role="tab" id="headingTwo">
					<h4 class="mx-4">
						<a data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
							class="collapsed text-white text-uppercase">
							<span class="material-icons md-48">contacts</span> Información Personal
							<i class="material-icons">keyboard_arrow_down</i>
						</a>
					</h4>
				</div>
				<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
					data-parent="#accordion">
					<div class="card-body">

						<div class="container my-2" *ngIf="!noDatosPersonales">
							<div class="mat-elevation-z2 border rounded" style="border-color: #ccc;">
								<div class="row justify-content-center">
									<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
										<div class="row">
											<div class="col-3 col-md-2 mr-md-2 col-sm-3">
												<i class="material-icons py-2 mx-1 font-size-icono">contact_page</i>
											</div>
											<div class="col-9 col-md-9 col-sm-9">
												<strong class="d-block py-1">Documento: </strong>
												<span class="d-block py-1">{{infoPersonal.tipoDoc}}:
													{{infoPersonal.documento}}</span>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
										<div class="row">
											<div class="col-3 col-md-2 mr-md-2 col-sm-3">
												<i class="material-icons py-2 mx-1 font-size-icono">person</i>
											</div>
											<div class="col-9 col-md-9 col-sm-9">
												<strong class="d-block py-1">Nombres:</strong>
												<span class="d-block py-1">{{infoPersonal.nombres |
													uppercase}}</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
										<div class="row">
											<div class="col-3 col-md-2 mr-md-2 col-sm-3">
												<i class="material-icons py-2 mx-1 font-size-icono">portrait</i>
											</div>
											<div class="col-9 col-md-9 col-sm-9">
												<strong class="d-block py-1">Usuario: </strong>
												<span class="d-block py-1">{{infoPersonal.usuario}}</span>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
										<div class="row">
											<div class="col-3 col-md-2 mr-md-2 col-sm-3">
												<i class="material-icons py-2 mx-1 font-size-icono">cake</i>
											</div>
											<div class="col-9 col-md-9 col-sm-9">
												<strong class="d-block py-1">Fecha Cumpleaños:</strong>
												<span class="d-block py-1">{{infoPersonal.fechaNacimiento == '- - -'
													? '- - -' : infoPersonal.fechaNacimiento | date:
													"shortDate"}}</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
										<div class="row">
											<div class="col-3 col-md-2 mr-md-2 col-sm-3">
												<i class="material-icons py-2 mx-1 font-size-icono">phone_android</i>
											</div>
											<div class="col-9 col-md-9 col-sm-9">
												<strong class="d-block py-1">Contacto Principal: </strong>
												<span class="d-block py-1">{{infoPersonal.contacto1}}</span>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
										<div class="row">
											<div class="col-3 col-md-2 mr-md-2 col-sm-3">
												<i class="material-icons py-2 mx-1 font-size-icono">local_phone</i>
											</div>
											<div class="col-9 col-md-9 col-sm-9">
												<strong class="d-block py-1">Contacto Secundario:</strong>
												<span class="d-block py-1">{{infoPersonal.contacto2}}</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
										<div class="row">
											<div class="col-3 col-md-2 mr-md-2 col-sm-3">
												<i class="material-icons py-2 mx-1 font-size-icono">mail</i>
											</div>
											<div class="col-9 col-md-9 col-sm-9">
												<strong class="d-block py-1">Correo Electrónico: </strong>
												<span class="d-block py-1">{{infoPersonal.correo}}</span>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
										<div class="row">
											<div class="col-3 col-md-2 mr-md-2 col-sm-3">
												<i class="material-icons py-2 mx-1 font-size-icono">house</i>
											</div>
											<div class="col-9 col-md-9 col-sm-9">
												<strong class="d-block py-1">Lugar de Residencia:</strong>
												<span class="d-block py-1">{{infoPersonal.residencia}}</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
										<div class="row">
											<div class="col-3 col-md-2 mr-md-2 col-sm-3">
												<i class="material-icons py-2 mx-1 font-size-icono">roofing</i>
											</div>
											<div class="col-9 col-md-9 col-sm-9">
												<strong class="d-block py-1">Dirección: </strong>
												<span class="d-block py-1">{{infoPersonal.direccion}}</span>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
										<div class="row">
											<div class="col-3 col-md-2 mr-md-2 col-sm-3">
												<i class="material-icons py-2 mx-1 font-size-icono">directions_car</i>
											</div>
											<div class="col-9 col-md-9 col-sm-9">
												<strong class="d-block py-1">Test Drive:</strong>
												<span class="d-block py-1">{{infoPersonal.testDrive}}</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
										<div class="row">
											<div class="col-3 col-md-2 mr-md-2 col-sm-3">
												<i class="material-icons py-2 mx-1 font-size-icono">color_lens</i>
											</div>
											<div class="col-9 col-md-9 col-sm-9">
												<strong class="d-block py-1">Color Favorito: </strong>
												<span class="d-block py-1">{{infoPersonal.color}}</span>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
										<div class="row">
											<div class="col-3 col-md-2 mr-md-2 col-sm-3">
												<i class="material-icons py-2 mx-1 font-size-icono">nature_people</i>
											</div>
											<div class="col-9 col-md-9 col-sm-9">
												<strong class="d-block py-1">Hobby 1:</strong>
												<span class="d-block py-1">{{infoPersonal.hobby1}}</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
										<div class="row">
											<div class="col-3 col-md-2 mr-md-2 col-sm-3">
												<i class="material-icons py-2 mx-1 font-size-icono">nature_people</i>
											</div>
											<div class="col-9 col-md-9 col-sm-9">
												<strong class="d-block py-1">Hobby 2: </strong>
												<span class="d-block py-1">{{infoPersonal.hobby2}}</span>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
										<div class="row">
											<div class="col-3 col-md-2 mr-md-2 col-sm-3">
												<i class="material-icons py-2 mx-1 font-size-icono">history_edu</i>
											</div>
											<div class="col-9 col-md-9 col-sm-9">
												<strong class="d-block py-1">Profesión:</strong>
												<span class="d-block py-1">{{infoPersonal.profesion}}</span>
											</div>
										</div>
									</div>
								</div>
								<ng-container *ngIf="ocultarBotonesCliente == 'A'">
									<div class="row justify-content-center">
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-2 mr-md-2 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">query_builder</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block py-1">Ultimo inicio de sesión: </strong>
													<span class="d-block py-1">{{infoPersonal.ultimaSesion == '- -
														-' ? '- - -': infoPersonal.ultimaSesion |
														date:"short"}}</span>
												</div>
											</div>
										</div>
										<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-2 mr-md-2 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">exposure_plus_1</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block py-1">Número de sesiones:</strong>
													<span class="d-block py-1">{{infoPersonal.sesiones}}</span>
												</div>
											</div>
										</div>
									</div>
								</ng-container>
								<div class="row justify-content-center">
									<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
										<div class="row">
											<div class="col-3 col-md-2 mr-md-2 col-sm-3">
												<i class="material-icons py-2 mx-1 font-size-icono">engineering</i>
											</div>
											<div class="col-9 col-md-9 col-sm-9">
												<strong class="d-block py-1">Rol: </strong>
												<span class="d-block py-1">{{infoPersonal.rol}}</span>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
										<div class="row">
											<div class="col-3 col-md-2 mr-md-2 col-sm-3">
												<i class="material-icons py-2 mx-1 font-size-icono">wc</i>
											</div>
											<div class="col-9 col-md-9 col-sm-9">
												<strong class="d-block py-1">Genero:</strong>
												<span class="d-block py-1">{{infoPersonal.genero}}</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
										<div class="row">
											<div class="col-3 col-md-2 mr-md-2 col-sm-3">
												<i class="material-icons py-2 mx-1 font-size-icono">person_pin</i>
											</div>
											<div class="col-9 col-md-9 col-sm-9">
												<strong class="d-block py-1">Estado:</strong>
												<span class="d-block py-1">{{infoPersonal.estado}}</span>
											</div>
										</div>
									</div>
								</div>
								<ng-container *ngIf="ocultarBotonesCliente != 'CL'">
									<div class="row justify-content-center py-3">
										<div class="col-md-10 text-center">
											<button (click)="buscarIdInformacionPersonal(infoPersonal.id, 1)" class="btn btn-optimus-black mx-2"
												matTooltip="Modificar Información Personal" [matTooltipPosition]="'below'">
												<i class="material-icons">edit</i> Información Personal
											</button>
											<button (click)="buscarIdInformacionPersonal(infoPersonal.id, 2)" class="btn btn-optimus-green mx-2"
												matTooltip="Modificar Información General" [matTooltipPosition]="'below'">
												<i class="material-icons">edit</i> Información General
											</button>
										</div>
									</div>
								</ng-container>
							</div>
						</div>
						<div class="container my-2" *ngIf="noDatosPersonales">
							<div class="mat-elevation-z2 border rounded" style="border-color: #ccc;">
								<div class="row justify-content-center">
									<div class="col-md-12">
										<span class="d-block p-2 text-center">
											No existen datos para mostrar
										</span>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- Cotizaciones -->
			<div class="card-collapse card-optimus m-0">
				<div class="card-header pt-3" role="tab" id="headingThree">
					<h4 class="mx-4">
						<a data-toggle="collapse" href="#collapseThree" aria-expanded="false"
							aria-controls="collapseThree" class="collapsed text-white text-uppercase">
							<span class="material-icons md-48">receipt</span> Cotizaciones
							<i class="material-icons">keyboard_arrow_down</i>
						</a>
					</h4>
				</div>
				<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree"
					data-parent="#accordion">
					<div class="card-body">

						<ng-container *ngIf="botonNuevaCotizacion && infoIngreso.botonMostrar">
							<div class="row justify-content-center mb-3 mb-md-3">
								<div class="col-md-12 text-md-right text-center">
									<button class="btn btn-link color-icono" (click)="crearCotizacion()">
										<i class="material-icons">add_circle_outline</i> <span class="ml-2 font-weight-bolder">Nueva
											Cotización</span>
									</button>
								</div>
							</div>
						</ng-container>
						<div class="container my-2" *ngIf="!noDatosCotizaciones">
							<div class="my-4" *ngFor="let row of infoCotizacionesArray; let i=index">
								<div class="container my-2">
									<div class="mat-elevation-z2 border rounded" style="border-color: #ccc;">
										<div class="row justify-content-center">
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-2 mr-md-2 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">list_alt</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">No. Cotización: </strong>
														<span class="d-block py-1">{{row?.numCotizacion}}</span>
													</div>
												</div>
											</div>
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-2 mr-md-2 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">Fecha de la
															Cotización:</strong>
														<span class="d-block py-1">{{row?.fechaCotizacion | date:
															"shortDate"}}</span>
													</div>
												</div>
											</div>
										</div>
										<div class="row justify-content-center">
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-2 mr-md-2 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">Fecha de Ingreso: </strong>
														<span class="d-block py-1">{{row?.fechaIngreso | date:
															"short"}}</span>
													</div>
												</div>
											</div>
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-2 mr-md-2 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">Fecha de Salida:</strong>
														<span class="d-block py-1">{{row?.fechaSalida ==
															'0000-00-00' ? '- - -' : row?.fechaSalida | date:
															"short"}}</span>
													</div>
												</div>
											</div>
										</div>
										<div class="row justify-content-center">
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-2 mr-md-2 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">shopping_bag</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">Método de Pago: </strong>
														<span class="d-block py-1">{{row?.pago}}</span>
													</div>
												</div>
											</div>
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-2 mr-md-2 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">local_atm</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">Cuota Inicial: </strong>
														<span class="d-block py-1">{{row?.cuotaInicial}}</span>
													</div>
												</div>
											</div>
										</div>
										<div class="row justify-content-center">
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-2 mr-md-2 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">directions_car</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">Vehículo: </strong>
														<span class="d-block py-1">{{row?.vehiculo}}</span>
													</div>
												</div>
											</div>
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-2 mr-md-2 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">Modelo: </strong>
														<span class="d-block py-1">{{row?.modelo}}</span>
													</div>
												</div>
											</div>
										</div>
										<div class="row justify-content-center">
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-2 mr-md-2 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">memory</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">Versión Vehículo: </strong>
														<span class="d-block py-1">{{row?.versionId == null ? '- -
															-' : row?.versionId}}</span>
													</div>
												</div>
											</div>
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-2 mr-md-2 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">color_lens</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">Color Vehículo: </strong>
														<span class="d-block py-1">{{row?.colorVehiculo == null ? '-
															- -' : row?.colorVehiculo}}</span>
													</div>
												</div>
											</div>
										</div>
										<div class="row justify-content-center">
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-2 mr-md-2 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">monetization_on</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">Valor Vehículo: </strong>
														<span class="d-block py-1">{{row?.valorVehiculo == null ? '-
															- -' : row?.valorVehiculo | currency: 'COP':true:
															'1.0'}}</span>
													</div>
												</div>
											</div>
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-2 mr-md-2 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">filter_9_plus</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">Último Dígito: </strong>
														<span class="d-block py-1">{{row?.ultimoDigito == null ? '-
															- -' : row?.ultimoDigito}}</span>
													</div>
												</div>
											</div>
										</div>
										<div class="row justify-content-center">
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-2 mr-md-2 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">place</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">Lugar Matrícula: </strong>
														<span class="d-block py-1">{{row?.lugarMatricula == null ?
															'- - -' : row?.lugarMatricula}}</span>
													</div>
												</div>
											</div>
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-2 mr-md-2 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">analytics</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">Estado de negocio: </strong>
														<span class="badge badge-{{row?.colorEtiqueta}} text-center mb-1">
															<span class="py-1 d-block">{{row?.estado.nombre}}</span>
														</span>
													</div>
												</div>
											</div>
										</div>
										
										<!-- Botones (Estudio Credito, Proceso de venta y reconsiderados) -->
										<div class="row justify-content-center my-3 pb-2">
											<div class="col-md-12 text-center">
												<ng-container *ngIf="permisosEdicion">
													<!-- Inicio Proceso de ventas -->
													<ng-container *ngIf="(row?.pago == 'Contado') || (row?.estado.valor == 'EP')">
														<button *ngIf="infoIngreso.botonMostrar" (click)="crearProcesoVentas(row?.id)"
															class="btn btn-optimus-black mx-1" matTooltip="Agregar Proceso de Ventas"
															[matTooltipPosition]="'below'">
															<i class="material-icons">add_shopping_cart</i> Agregar
															Proceso Ventas
														</button>
													</ng-container>
													<!-- Fin Proceso de ventas -->
						
													<!-- Inicio Estudio credito -->
													<ng-container *ngIf="row?.pago == 'Financiado'">
														<button *ngIf="infoIngreso.botonMostrar" (click)="crearEstudioCredito(row?.id)"
															class="btn btn-optimus-black mx-1" matTooltip="Agregar Estudio de crédito"
															[matTooltipPosition]="'below'">
															<i class="material-icons">shopping_basket</i> Agregar
															Estudio Crédito
														</button>
													</ng-container>
													<!-- Fin Estudio credito -->
						
													<!-- Inicio Reconsiderado -->
													<button *ngIf="infoIngreso.botonMostrar" (click)="crearReconsiderado(row?.id)"
														class="btn btn-optimus-black mx-1" matTooltip="Agregar Reconsiderado"
														[matTooltipPosition]="'below'">
														<i class="material-icons">addchart</i> Agregar Reconsiderado
													</button>
													<!-- Fin Reconsiderado -->
												</ng-container>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="container my-2" *ngIf="noDatosCotizaciones">
							<div class="mat-elevation-z2 border rounded" style="border-color: #ccc;">
								<div class="row justify-content-center">
									<div class="col-md-12">
										<span class="d-block p-2 text-center">
											No existen datos para mostrar
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row justify-content-center mb-3 mb-md-3" *ngIf="!noDatosCotizaciones">
							<div class="col-md-12 text-center">
								<button class="btn btn-link color-icono" (click)="verCotizaciones()">
									<i class="material-icons">visibility</i> <span class="ml-2 font-weight-bolder">Ver Cotizaciones</span>
								</button>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- Estudios de Crédito -->
			<div class="card-collapse card-optimus m-0">
				<div class="card-header pt-3" role="tab" id="headingFour">
					<h4 class="mx-4">
						<a data-toggle="collapse" href="#collapseFour" aria-expanded="false"
							aria-controls="collapseFour" class="collapsed text-white text-uppercase">
							<span class="material-icons md-48">account_balance_wallet</span> Estudios de Crédito
							<i class="material-icons">keyboard_arrow_down</i>
						</a>
					</h4>
				</div>
				<div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour"
					data-parent="#accordion">
					<div class="card-body">

						<div class="container my-2" *ngIf="!noDatosEstudioCreditos">
							<div class="my-4"
								*ngFor="let row of infoEstudioCreditosArray | slice:numEstudiosCreditoIni:numEstudiosCreditoFin; let i=index">
								<div class="container my-2">
									<div class="mat-elevation-z2 border rounded" style="border-color: #ccc;">
										<div class="row justify-content-center">
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-3 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">list_alt</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">No. Cotizacion: </strong>
														<span class="d-block py-1">{{row?.cotizacion}}</span>
													</div>
												</div>
											</div>
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-3 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">Fecha Radicado: </strong>
														<span class="d-block py-1">{{row?.fechaRadicado | date:
															"short"}}</span>
													</div>
												</div>
											</div>
										</div>
										<div class="row justify-content-center">
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-3 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">Fecha de Contestación:</strong>
														<span class="d-block py-1">{{row?.fechaContestacion==
															'0000-00-00' ? '- - -' : row?.fechaContestacion | date:
															"short"}}</span>
													</div>
												</div>
											</div>
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-3 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">record_voice_over</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">Contestación: </strong>
														<span class="badge badge-{{row?.colorContestacion}} text-center mb-1">
															<span class="py-1 d-block">{{row?.contestacion}}</span>
														</span>
													</div>
												</div>
											</div>
										</div>
										<div class="row justify-content-center">
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-3 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">account_balance</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">Banco:</strong>
														<span class="d-block py-1">{{row?.banco}}</span>
													</div>
												</div>
											</div>
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-3 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">dynamic_feed</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">Plan:</strong>
														<span class="d-block py-1">{{row?.plan}}</span>
													</div>
												</div>
											</div>
										</div>
										<div class="row justify-content-center">
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-3 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">Fecha Desembolso:</strong>
														<span class="d-block py-1">{{row?.fechaDesembolso ==
															'0000-00-00' ? '- - -' : row?.fechaDesembolso | date:
															"short"}}</span>
													</div>
												</div>
											</div>
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row"></div>
											</div>
										</div>
										<div class="row justify-content-center pb-3">
											<div class="col-md-8 col-sm-10 mx-3 mx-lg-3 py-2 text-center">
												<strong class="py-1">Observaciones</strong>
												<p class="text-left" [innerHTML]="row?.observacion">
												</p>
											</div>
										</div>
										<div class="row justify-content-center">
											<div class="col-md-10 col-sm-12 py-2 text-center">
												<ng-container
													*ngIf="botonEditarCreditos && row?.editarEstudioCredito && infoIngreso.botonMostrar">
													<button class="btn btn-optimus-green mx-1"
														(click)="editarEstudioCredito(''+row?.id, ''+row?.cotizacionId)"
														matTooltip="Editar Estudio de Crédito" [matTooltipPosition]="'below'">
														<i class="material-icons">edit</i> Editar
													</button>
												</ng-container>
												<button (click)="listarEstudioCredito(row?.cotizacionId)" class="btn btn-optimus-black mx-1"
													matTooltip="Listar Estudios de crédito" [matTooltipPosition]="'below'">
													<i class="material-icons">list</i> Listar
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						
							<!-- Paginación de Estudios de Credito -->
							<div class="col-md-12">
								<div class="card">
									<div class="container text-muted">
										<div class="row justify-content-center">
											<div class="col-md-7">
												<div
													class="pt-2 ml-0 ml-sm-3 ml-md-3 ml-lg-3 text-center text-sm-left text-md-left text-lg-left">
													Total Registros: {{numEstudiosCreditoTotal}}
												</div>
											</div>
											<div class="col-md-4 text-center">
												<nav aria-label="..." class="align-items-center">
													<ul class="pagination align-items-center">
														<li class="page-item">
															<p class="mx-4 my-2">Página
																{{paginaActualEstudioCredito}} de
																{{numTotalPagEstudioCredito}}</p>
														</li>
														<li class="page-item pointer">
															<a routerLinkActive="router-link-active" matTooltip="Atrás"
																[matTooltipPosition]="'below'" (click)="paginationEstudiosCredito(5, 'menos')">
																<i class="material-icons">navigate_before</i>
															</a>
														</li>
														<li class="page-item pointer">
															<a routerLinkActive="router-link-active" matTooltip="Siguiente"
																[matTooltipPosition]="'below'" (click)="paginationEstudiosCredito(5, 'mas')">
																<i class="material-icons">navigate_next</i>
															</a>
														</li>
													</ul>
												</nav>
											</div>
										</div>
									</div>
								</div>
							</div>
						
						</div>
						<div class="container my-2" *ngIf="noDatosEstudioCreditos">
							<div class="mat-elevation-z2 border rounded" style="border-color: #ccc;">
								<div class="row justify-content-center">
									<div class="col-md-12">
										<span class="d-block p-2 text-center">
											No existen datos para mostrar
										</span>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- Procesos de Venta -->
			<div class="card-collapse card-optimus m-0">
				<div class="card-header pt-3" role="tab" id="headingFive">
					<h4 class="mx-4">
						<a data-toggle="collapse" href="#collapseFive" aria-expanded="false"
							aria-controls="collapseFive" class="collapsed text-white text-uppercase">
							<span class="material-icons md-48">shopping_bag</span> Procesos de venta
							<i class="material-icons">keyboard_arrow_down</i>
						</a>
					</h4>
				</div>
				<div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive"
					data-parent="#accordion">
					<div class="card-body">

						<div class="container my-2" *ngIf="!noDatosProcesos">
							<div class="my-4" *ngFor="let row of infoProcesosArray | slice:numProcesosVentaIni:numProcesosVentaFin; let i=index">
								<div class="container my-2">
									<div class="mat-elevation-z2 border rounded" style="border-color: #ccc;">
										<div class="row justify-content-center">
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-3 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">list_alt</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">No. Cotizacion: </strong>
														<span class="d-block py-1">{{row?.numCotizacion}}</span>
													</div>
												</div>
											</div>
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-3 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">Fecha Inicio del
															Proceso:</strong>
														<span class="d-block py-1">{{row?.fechaInicioProceso | date:
															"short"}}</span>
													</div>
												</div>
											</div>
										</div>
										<div class="row justify-content-center">
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-3 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">Fecha de Facturación: </strong>
														<span class="d-block py-1">{{row?.fechaFacturacion == '- -
															-' ? '- - -' : row?.fechaFacturacion | date:
															"shortDate"}}</span>
													</div>
												</div>
											</div>
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-3 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">Fecha envío de
															Matrícula:</strong>
														<span class="d-block py-1">{{row?.fechaEnvioMatricula == '-
															- -' ? '- - -' : row?.fechaEnvioMatricula | date:
															"shortDate"}}</span>
													</div>
												</div>
											</div>
										</div>
										<div class="row justify-content-center">
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-3 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">Fecha Recepción de Matrícula:
														</strong>
														<span class="d-block py-1">{{row?.fechaRecepcionMatricula ==
															'- - -' ? '- - -' : row?.fechaRecepcionMatricula | date:
															"shortDate"}}</span>
													</div>
												</div>
											</div>
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-3 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">Fecha SOAT:</strong>
														<span class="d-block py-1">{{row?.fechaSoat == '- - -' ? '-
															- -' : row?.fechaSoat | date: "shortDate"}}</span>
													</div>
												</div>
											</div>
										</div>
										<div class="row justify-content-center">
											<ng-container *ngIf="camposProcesoVentasChevy">
												<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
													<div class="row">
														<div class="col-3 col-md-3 col-sm-3">
															<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
														</div>
														<div class="col-9 col-md-9 col-sm-9">
															<strong class="d-block py-1">Fecha de Activación
																Chevystar / OnStar
																OnStar: </strong>
															<span class="d-block py-1">{{row?.fechaActivacionChevyOnStar
																== '- - -' ? '- - -' :
																row?.fechaActivacionChevyOnStar |
																date: "shortDate"}}</span>
														</div>
													</div>
												</div>
											</ng-container>
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-3 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">Fecha de Entrega:</strong>
														<span class="d-block py-1">{{row?.fechaEntrega == '- - -' ?
															'- - -' : row?.fechaEntrega | date: "shortDate"}}</span>
													</div>
												</div>
											</div>
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row"></div>
											</div>
										</div>
										<div class="row justify-content-center">
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-3 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">Fecha Firma del Contrato:
														</strong>
														<span class="d-block py-1">{{row?.fechaFirmaContrato == '- -
															-' ? '- - -' : row?.fechaFirmaContrato | date:
															"shortDate"}}</span>
													</div>
												</div>
											</div>
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-3 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">Fecha de Consignación:</strong>
														<span class="d-block py-1">{{row?.fechaConsignacion == '- -
															-' ? '- - -' : row?.fechaConsignacion | date:
															"shortDate"}}</span>
													</div>
												</div>
											</div>
										</div>
										<div class="row justify-content-center">
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-3 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">local_atm</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">Precio Final de la Venta:
														</strong>
														<span class="d-block py-1">{{row?.precioFinalVenta == null ?
															'- - -' : row?.precioFinalVenta | currency: 'COP':true:
															'1.0'}}</span>
													</div>
												</div>
											</div>
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-3 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">money</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">Placa:</strong>
														<span class="d-block py-1">{{row?.placa == '' ? '- - -'
															: row?.placa}}</span>
													</div>
												</div>
											</div>
										</div>
										<div class="row justify-content-center">
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-3 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">filter_9_plus</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">VIN:
														</strong>
														<span class="d-block py-1 text-break">{{row?.vin == '' ?
															'- - -' : row?.vin}}</span>
													</div>
												</div>
											</div>
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-3 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">directions_car</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">Kilometraje:</strong>
														<span class="d-block py-1">{{row?.kilometraje == '' ? '0'
															: row?.kilometraje}}
															KM</span>
													</div>
												</div>
											</div>
										</div>
										<div class="row justify-content-center">
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-3 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">insert_chart</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">Estado:
														</strong>
														<span class="d-block py-1 text-break">{{row?.estadoTemp}}</span>
													</div>
												</div>
											</div>
										</div>
										<div class="row justify-content-center pb-3">
											<div class="col-md-8 col-sm-10 mx-3 mx-lg-3 py-2 text-center">
												<strong class="py-1">Observaciones</strong>
												<p class="text-left" [innerHTML]="row?.observacion">
												</p>
											</div>
										</div>
										<div class="row justify-content-center">
											<div class="col-md-10 col-sm-12 py-2 text-center">
												<ng-container *ngIf="botonEditarProcesosVenta && infoIngreso.botonMostrar">
													<button class="btn btn-optimus-green mx-1"
														(click)="editarProcesosVenta(''+row?.procesoId, ''+row?.cotizacionId)"
														matTooltip="Editar Estudio de Crédito" [matTooltipPosition]="'below'">
														<i class="material-icons">edit</i> Editar
													</button>
												</ng-container>
												<button (click)="listarProcesoVentas(row?.cotizacionId)" class="btn btn-optimus-black mx-1"
													matTooltip="Listar Proceso de Ventas" [matTooltipPosition]="'below'">
													<i class="material-icons">list</i> Listar
												</button>
												<ng-container *ngIf="botonAnularProcesosVenta && infoIngreso.botonMostrar">
													<button (click)="confirmarAnulacionProcesoVentas('' + row?.procesoId)"
														*ngIf="row?.estado === 'A'" class="btn btn-optimus-green mx-1"
														matTooltip="Anular Proceso de Ventas" [matTooltipPosition]="'below'">
														<i class="material-icons">delete</i> Anular
													</button>
												</ng-container>
											</div>
										</div>
						
									</div>
								</div>
							</div>
						
							<!-- Paginación de Procesos de Venta -->
							<div class="col-md-12">
								<div class="card">
									<div class="container text-muted">
										<div class="row justify-content-center">
											<div class="col-md-7">
												<div
													class="pt-2 ml-0 ml-sm-3 ml-md-3 ml-lg-3 text-center text-sm-left text-md-left text-lg-left">
													Total Registros: {{numProcesosVentaTotal}}
												</div>
											</div>
											<div class="col-md-4 text-center">
												<nav aria-label="..." class="align-items-center">
													<ul class="pagination align-items-center">
														<li class="page-item">
															<p class="mx-4 my-2">Página
																{{paginaActualProcesosVenta}} de
																{{numTotalPagProcesosVenta}}</p>
														</li>
														<li class="page-item pointer">
															<a routerLinkActive="router-link-active" matTooltip="Atrás"
																[matTooltipPosition]="'below'" (click)="paginationProcesosVenta(5, 'menos')">
																<i class="material-icons">navigate_before</i>
															</a>
														</li>
														<li class="page-item pointer">
															<a routerLinkActive="router-link-active" matTooltip="Siguiente"
																[matTooltipPosition]="'below'" (click)="paginationProcesosVenta(5, 'mas')">
																<i class="material-icons">navigate_next</i>
															</a>
														</li>
													</ul>
												</nav>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="container my-2" *ngIf="noDatosProcesos">
							<div class="mat-elevation-z2 border rounded" style="border-color: #ccc;">
								<div class="row justify-content-center">
									<div class="col-md-12">
										<span class="d-block p-2 text-center">
											No existen datos para mostrar
										</span>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- Reconsiderados -->
			<div class="card-collapse card-optimus m-0">
				<div class="card-header pt-3" role="tab" id="headingSix">
					<h4 class="mx-4">
						<a data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix"
							class="collapsed text-white text-uppercase">
							<span class="material-icons md-48">fact_check</span> Reconsiderados
							<i class="material-icons">keyboard_arrow_down</i>
						</a>
					</h4>
				</div>
				<div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix"
					data-parent="#accordion">
					<div class="card-body">

						<div class="container my-2" *ngIf="!noDatosReconsiderados">
							<div class="my-4" *ngFor="let row of infoReconsideradosArray; let i=index">
								<div class="container my-2">
									<div class="mat-elevation-z2 border rounded" style="border-color: #ccc;">
										<div class="row justify-content-center">
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-2 mr-md-2 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">list_alt</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">No. Cotizacion: </strong>
														<span class="d-block py-1">{{row?.cotizacion}}</span>
													</div>
												</div>
											</div>
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-2 mr-md-2 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">Fecha Reconsiderado: </strong>
														<span class="d-block py-1">{{row?.fechaReconsiderado | date:
															"short"}}</span>
													</div>
												</div>
											</div>
										</div>
										<div class="row justify-content-center">
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<div class="row">
													<div class="col-3 col-md-2 mr-md-2 col-sm-3">
														<i class="material-icons py-2 mx-1 font-size-icono">receipt</i>
													</div>
													<div class="col-9 col-md-9 col-sm-9">
														<strong class="d-block py-1">Reconsiderado: </strong>
														<span class="d-block py-1">{{row?.reconsiderado}}</span>
													</div>
												</div>
											</div>
										</div>
										<div class="row justify-content-center pb-3">
											<div class="col-md-8 col-sm-10 mx-3 mx-lg-3 py-2 text-center">
												<strong class="py-1">Observaciones</strong>
												<p class="text-left" [innerHTML]="row?.observacion">
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="container my-2" *ngIf="noDatosReconsiderados">
							<div class="mat-elevation-z2 border rounded" style="border-color: #ccc;">
								<div class="row justify-content-center">
									<div class="col-md-12">
										<span class="d-block p-2 text-center">
											No existen datos para mostrar
										</span>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- Venta Accesorios -->
			<div class="card-collapse card-optimus m-0">
				<div class="card-header pt-3" role="tab" id="headingSeven">
					<h4 class="mx-4">
						<a data-toggle="collapse" href="#collapseSeven" aria-expanded="false"
							aria-controls="collapseSeven" class="collapsed text-white text-uppercase">
							<span class="material-icons md-48">work</span> Venta Accesorios
							<i class="material-icons">keyboard_arrow_down</i>
						</a>
					</h4>
				</div>
				<div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven"
					data-parent="#accordion">
					<div class="card-body">

						<div class="container my-2" *ngIf="!noDatosAccesorios">
							<div class="my-4" *ngFor="let row of infoAccesoriosArray; let i=index">
								<div class="container my-2">
									<div class="border rounded" style="border-color: #ccc;">
										<div class="row justify-content-center">
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<strong class="py-1">No. Cotizacion: </strong>
												<span>{{row?.cotizacion}}</span>
											</div>
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<strong class="py-1">Contestación: </strong>
												<span>{{row?.contestacion}}</span>
											</div>
										</div>
										<div class="row justify-content-center">
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<strong class="py-1">Plan: </strong>
												<span>{{row?.plan}}</span>
											</div>
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<strong class="py-1">Fecha de Venta: </strong>
												<span>{{row?.fechaVenta}}</span>
											</div>
										</div>
										<div class="row justify-content-center">
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<strong class="py-1">Fecha de Entrega: </strong>
												<span>{{row?.fechaEntrega}}</span>
											</div>
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<strong class="py-1">Nombre del Accesorio: </strong>
												<span>{{row?.accesorioNombre}}</span>
											</div>
										</div>
										<div class="row justify-content-center">
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<strong class="py-1">Referencia del Accesorio: </strong>
												<span>{{row?.accesorioReferencia}}</span>
											</div>
											<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
												<strong class="py-1">Costo del Accesorio: </strong>
												<span>{{row?.accesorioCosto}}</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="container my-2" *ngIf="noDatosAccesorios">
							<div class="mat-elevation-z2 border rounded" style="border-color: #ccc;">
								<div class="row justify-content-center">
									<div class="col-md-12">
										<span class="d-block p-2 text-center">
											No existen datos para mostrar
										</span>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- Atenciones Asesores -->
			<div class="card-collapse card-optimus m-0">
				<div class="card-header pt-3" role="tab" id="headingEight">
					<h4 class="mx-4">
						<a data-toggle="collapse" href="#collapseEight" aria-expanded="false"
							aria-controls="collapseEight" class="collapsed text-white text-uppercase">
							<span class="material-icons md-48">assignment_turned_in</span> Atenciones Asesores
							<i class="material-icons">keyboard_arrow_down</i>
						</a>
					</h4>
				</div>
				<div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight"
					data-parent="#accordion">
					<div class="card-body">

						<div class="container my-2" *ngIf="!noDatosAtenciones">
							<div class="my-4 p-0 p-sm-1 p-md-1 p-lg-1" *ngFor="let item of totalAtencionesArray; let i=index;">
								<div class="">
									<div class="container-fluid my-2">
										<div class="mat-elevation-z2 rounded py-3" style="border-color: #ddd;">
											<div class="row justify-content-center justify-content-sm-end justify-content-md-end">
												<div class="col-md-2 col-sm-8 py-2">
													<div class="d-flex px-2">
														<i class="material-icons mx-1 py-1 pointer" matTooltip="Tiempo de atención"
															[matTooltipPosition]="'below'">timer</i>
														<span class="py-1">{{item?.tiempoAtencion}}</span>
													</div>
												</div>
											</div>
											<div class="row justify-content-center">
												<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
													<div class="row">
														<div class="col-3 col-md-3 col-sm-3">
															<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
														</div>
														<div class="col-9 col-md-9 col-sm-9">
															<strong class="d-block py-1">Fecha de Inicio: </strong>
															<span class="d-block py-1">{{item?.fechaInicial | date:
																"short"}}</span>
														</div>
													</div>
												</div>
												<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
													<div class="row">
														<div class="col-3 col-md-3 col-sm-3">
															<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
														</div>
														<div class="col-9 col-md-9 col-sm-9">
															<strong class="d-block py-1">Fecha Final:</strong>
															<span class="d-block py-1">{{item?.fechaFinal ==
																'0000-00-00' ? '- - -' : item?.fechaFinal | date:
																"short"}}</span>
														</div>
													</div>
												</div>
											</div>
											<div class="row justify-content-center">
												<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
													<div class="row">
														<div class="col-3 col-md-3 col-sm-3">
															<i class="material-icons py-2 mx-1 font-size-icono">pan_tool</i>
														</div>
														<div class="col-9 col-md-9 col-sm-9">
															<strong class="d-block py-1">Objeción: </strong>
															<span class="d-block py-1">{{item?.objecion.nombre}}</span>
														</div>
													</div>
												</div>
												<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
													<div class="row">
														<div class="col-3 col-md-3 col-sm-3">
															<i class="material-icons py-2 mx-1 font-size-icono">person</i>
														</div>
														<div class="col-9 col-md-9 col-sm-9">
															<strong class="d-block py-1">Atendió:</strong>
															<span class="d-block py-1">{{item?.asesor.nombres |
																uppercase}}
																{{item?.asesor.apellidos | uppercase}}</span>
														</div>
													</div>
												</div>
											</div>
											<div class="row justify-content-center">
												<div class="col-md-8 col-sm-8 mx-3 py-2 text-center">
													<strong class="py-1">Observación</strong>
													<p class="text-left" [innerHTML]="item?.observacion"></p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="card">
									<div class="container text-muted">
										<div class="row justify-content-center">
											<div class="col-md-7">
												<div
													class="pt-2 ml-0 ml-sm-3 ml-md-3 ml-lg-3 text-center text-sm-left text-md-left text-lg-left">
													Total Registros: {{total_item_count}}
												</div>
											</div>
											<div class="col-md-4 text-center">
												<nav aria-label="..." class="align-items-center">
													<ul class="pagination align-items-center">
														<li class="page-item">
															<p class="mx-4 my-2">Página {{page_actual}} de
																{{total_pages}}</p>
														</li>
														<li class="page-item pointer">
															<a routerLinkActive="router-link-active" matTooltip="Primera página"
																[matTooltipPosition]="'below'" (click)="listarAtencionesIngreso(1)">
																<i class="material-icons">first_page</i>
															</a>
														</li>
														<li class="page-item pointer">
															<a routerLinkActive="router-link-active" matTooltip="Atrás"
																[matTooltipPosition]="'below'" (click)="listarAtencionesIngreso(page_prev)">
																<i class="material-icons">navigate_before</i>
															</a>
														</li>
														<li class="page-item pointer">
															<a routerLinkActive="router-link-active" matTooltip="Siguiente"
																[matTooltipPosition]="'below'" (click)="listarAtencionesIngreso(page_next)">
																<i class="material-icons">navigate_next</i>
															</a>
														</li>
														<li class="page-item pointer">
															<a routerLinkActive="router-link-active" matTooltip="Última página"
																[matTooltipPosition]="'below'" (click)="listarAtencionesIngreso(total_pages)">
																<i class="material-icons">last_page</i>
															</a>
														</li>
													</ul>
												</nav>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="container my-2" *ngIf="noDatosAtenciones">
							<div class="mat-elevation-z2 border rounded" style="border-color: #ccc;">
								<div class="row justify-content-center">
									<div class="col-md-12">
										<span class="d-block p-2 text-center">
											No existen datos para mostrar
										</span>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- Eventos Comerciales de Clientes -->
			<div class="card-collapse card-optimus m-0">
				<div class="card-header pt-3" role="tab" id="headingNine">
					<h4 class="mx-4">
						<a data-toggle="collapse" href="#collapseNine" aria-expanded="false"
							aria-controls="collapseNine" class="collapsed text-white text-uppercase">
							<span class="material-icons md-48">event</span> Agenda & Eventos
							<i class="material-icons">keyboard_arrow_down</i>
						</a>
					</h4>
				</div>
				<div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine"
					data-parent="#accordion">
					<div class="card-body">
						<ng-container *ngIf="existenEventosComerciales; else bloqueEventosClientes">
							<div class="container my-2">
								<div class="my-4 p-0 p-sm-1 p-md-1 p-lg-1" *ngFor="let item of eventosComercialesArray; let i=index;">
									<div class="">
										<div class="container-fluid my-2">
											<div class="mat-elevation-z2 rounded py-3" style="border-color: #ddd;">
												
												<div class="row justify-content-center">
													<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
														<div class="row">
															<div class="col-3 col-md-3 col-sm-3">
																<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
															</div>
															<div class="col-9 col-md-9 col-sm-9">
																<strong class="d-block py-1">Título del Evento: </strong>
																<span class="d-block py-1">{{item?.titulo | uppercase}}</span>
															</div>
														</div>
													</div>
													<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
														<div class="row">
															<div class="col-3 col-md-3 col-sm-3">
																<i class="material-icons py-2 mx-1 font-size-icono">today</i>
															</div>
															<div class="col-9 col-md-9 col-sm-9">
																<strong class="d-block py-1">Fecha del Evento:</strong>
																<span class="d-block py-1">{{item?.fechaEvento | date: "fullDate"}}</span>
															</div>
														</div>
													</div>
												</div>
												<div class="row justify-content-center">
													<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
														<div class="row">
															<div class="col-3 col-md-3 col-sm-3">
																<i class="material-icons py-2 mx-1 font-size-icono">schedule</i>
															</div>
															<div class="col-9 col-md-9 col-sm-9">
																<strong class="d-block py-1">Hora: </strong>
																<span class="d-block py-1">{{item?.hora}}</span>
															</div>
														</div>
													</div>
													<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
														<div class="row">
															<div class="col-3 col-md-3 col-sm-3">
																<i class="material-icons py-2 mx-1 font-size-icono">person</i>
															</div>
															<div class="col-9 col-md-9 col-sm-9">
																<strong class="d-block py-1">Registrado Por: </strong>
																<span class="d-block py-1">{{item?.registradoPor | uppercase}}</span>
															</div>
														</div>
													</div>
												</div>
												<div class="row justify-content-center">
													<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
														<div class="row">
															<div class="col-3 col-md-3 col-sm-3">
																<i class="material-icons py-2 mx-1 font-size-icono">view_agenda</i>
															</div>
															<div class="col-9 col-md-9 col-sm-9">
																<strong class="d-block py-1">Estado: </strong>
																<span matTooltip="Cita {{item?.estado}}" [matTooltipPosition]="'below'"
																	class="pointer badge badge-{{item?.colorEstado}} text-center">
																	<span class="py-1">{{item?.estado}}</span>
																</span>
															</div>
														</div>
													</div>
													<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
														<div class="row"></div>
													</div>
												</div>
												<div class="row justify-content-center">
													<div class="col-md-8 col-sm-8 mx-3 py-2 text-center">
														<button class="btn btn-optimus-green" data-toggle="modal"
															(click)="visualizarRowAgenda(item)" matTooltip="Visualizar Detalladamente" [matTooltipPosition]="'below'">
															<i class="material-icons">visibility</i> Más detalles
														</button>
													</div>
												</div>

											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="card">
										<div class="container text-muted">
											<div class="row justify-content-center">
												<div class="col-md-7">
													<div
														class="pt-2 ml-0 ml-sm-3 ml-md-3 ml-lg-3 text-center text-sm-left text-md-left text-lg-left">
														Total Registros: {{totalItemCountEventos}}
													</div>
												</div>
												<div class="col-md-4 text-center">
													<nav aria-label="..." class="align-items-center">
														<ul class="pagination align-items-center">
															<li class="page-item">
																<p class="mx-4 my-2">Página {{pageActualEventos}} de
																	{{totalPagesEventos}}</p>
															</li>
															<li class="page-item pointer">
																<a routerLinkActive="router-link-active" matTooltip="Primera página"
																	[matTooltipPosition]="'below'" (click)="listarAtencionesIngreso(1)">
																	<i class="material-icons">first_page</i>
																</a>
															</li>
															<li class="page-item pointer">
																<a routerLinkActive="router-link-active" matTooltip="Atrás"
																	[matTooltipPosition]="'below'" (click)="listarAtencionesIngreso(pagePrevEventos)">
																	<i class="material-icons">navigate_before</i>
																</a>
															</li>
															<li class="page-item pointer">
																<a routerLinkActive="router-link-active" matTooltip="Siguiente"
																	[matTooltipPosition]="'below'" (click)="listarAtencionesIngreso(pageNextEventos)">
																	<i class="material-icons">navigate_next</i>
																</a>
															</li>
															<li class="page-item pointer">
																<a routerLinkActive="router-link-active" matTooltip="Última página"
																	[matTooltipPosition]="'below'" (click)="listarAtencionesIngreso(totalPagesEventos)">
																	<i class="material-icons">last_page</i>
																</a>
															</li>
														</ul>
													</nav>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</ng-container>
						<ng-template #bloqueEventosClientes>
							<div class="container my-2">
								<div class="mat-elevation-z2 border rounded" style="border-color: #ccc;">
									<div class="row justify-content-center">
										<div class="col-md-12">
											<span class="d-block p-2 text-center">
												No existen datos para mostrar
											</span>
										</div>
									</div>
								</div>
							</div>
						</ng-template>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Ficha Cliente -->

</div>

<!-- Finalizar atencion cuando este abierta -->
<ng-container *ngIf="finalizarAtencionVentana">
	<!-- Modal finalizar atencion -->
	<div class="modal fade bg-modal" id="modalFinalizarAtencion" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitulo" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header color-header">
					<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Finalizar Atención</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form ngNativeValidate [formGroup]="finalizarAtencionForm" (ngSubmit)="onSubmitFinalizarAtencion()"
						autocomplete="off">
						<div class="row justify-content-center">
							<div class="col-md-10 text-center">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Objeciones" name="objecion"
										formControlName="objecion">
										<mat-option *ngFor="let tipo of objecionesArray" [value]="tipo.valor">
											{{ tipo.nombre }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="finalizarAtencionForm.get('objecion').hasError('required') && finalizarAtencionForm.get('objecion').touched">
										El campo objeción es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-md-10 text-center">
								<mat-form-field class="example-full-width">
									<textarea matInput formControlName="observacion" placeholder="Observación"
										name="observacion"></textarea>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center py-3">
							<div class="col-md-6 text-center">
								<button mat-raised-button [disabled]="finalizarAtencionForm.invalid"
									class="btn btn-optimus-black">
									Finalizar Atención
								</button>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal finalizar atencion -->
</ng-container>
<!-- Finalizar atencion cuando este abierta -->

<!-- Modal cerrar negocio -->
<div class="modal fade bg-modal" id="modalCerrarNegocio" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Cerrar Negocio</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form ngNativeValidate [formGroup]="cerrarNegocioForm" (ngSubmit)="onSubmitCerrarNegocio()"
					autocomplete="off">
					<div class="row justify-content-center pb-3">
						<div class="col-md-10 text-center">
							<mat-form-field>
								<mat-select [compareWith]="compararDato" placeholder="¿Se realizó la compra?"
									name="estadoCompra" id="estadoCompra" formControlName="estadoCompra" required>
									<mat-option *ngFor="let tipo of estadoCompraArray" [value]="tipo.valor">
										{{ tipo.nombre }}
									</mat-option>
								</mat-select>
								<mat-error *ngIf="cerrarNegocioForm.get('estadoCompra').hasError('required')">
									El campo estado compra es <strong>requerido</strong>
								</mat-error>
							</mat-form-field>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-md-10 text-center">
							<mat-form-field>
								<textarea matInput formControlName="observacion" placeholder="Observación"
									name="observacion"></textarea>
							</mat-form-field>
						</div>
					</div>
					<div class="row justify-content-center py-3">
						<div class="col-md-10 text-center">
							<button mat-raised-button [disabled]="cerrarNegocioForm.invalid"
								class="btn btn-optimus-black">
								Finalizar Negocio
							</button>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal cerrar negocio -->

<!-- Modal Mirar Informacion Detallada Del Evento -->
<div class="modal fade bg-modal" id="modalInformacionDetallada" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Información Detallada del Evento</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row justify-content-center py-0">
					<h3 class="d-block my-0 text-center font-weight-bold text-uppercase py-1">{{eventoDetallado.titulo}}
					</h3>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-3 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">contact_page</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block py-1">Documento: </strong>
								<span class="d-block py-1">{{eventoDetallado.clienteDocumento}}</span>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-3 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">person</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block py-1">Cliente:</strong>
								<span class="d-block py-1">{{eventoDetallado.clienteNombres}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-3 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">insert_invitation</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block py-1">Tipo de Evento: </strong>
								<span class="d-block py-1">{{eventoDetallado.tipoEvento}}</span>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-3 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block py-1">Fecha Registro: </strong>
								<span class="d-block py-1">{{eventoDetallado.fechaRegistro | date: "shortDate"}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-3 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block py-1">Fecha Evento: </strong>
								<span class="d-block py-1">{{eventoDetallado.fechaEvento| date: "shortDate"}}</span>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-3 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block py-1">Fecha de Confirmación: </strong>
								<span class="d-block py-1">{{eventoDetallado.fechaConfirmacion| date:
									"shortDate"}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-3 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">timer</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block py-1">Hora: </strong>
								<span class="d-block py-1">{{eventoDetallado.hora}}</span>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-3 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">person</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block py-1">Registrado Por: </strong>
								<span class="d-block py-1">{{eventoDetallado.registradoPor}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-3 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">person</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block py-1">Registrado A: </strong>
								<span class="d-block py-1">{{eventoDetallado.registradoA}}</span>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-3 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">view_agenda</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block py-1">Estado: </strong>
								<span class="badge badge-{{eventoDetallado.colorEstado}} text-center mb-1">
									<span class="py-1 d-block">{{eventoDetallado.estado}}</span>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center mt-4">
					<div class="col-md-8 col-sm-5 text-center mx-1 mx-sm-2 mx-md-3 mx-lg-4 border-bottom">
						<strong class="ml-1 py-1">Observación </strong>
						<p class="text-justify" [innerHTML]="eventoDetallado.observacion"></p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Mirar Informacion Detallada Del Evento -->