<app-loading *ngIf="loading"></app-loading>
<div class="main-content">
    <div class="container-fluid">

        <div class="row justify-content-center mb-3">
            <div class="col-md-10">
                <h2 class="font-weight-bolder text-break text-center mb-3">GESTIÓN DE EMPLEADOS</h2>
                <p class="text-center text-silver px-3 pb-2">
                    <span class="material-icons text-silver pointer" matTooltip="Ayuda"
                        [matTooltipPosition]="'below'">help</span>
                    En esta sección encontrará la relación de empleados asociados a la empresa. También podrá filtrar la
                    información desde el apartado "Buscar Empleado"
                </p>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row justify-content-end mb-3 mb-md-3">
                <div class="col-md-6 text-md-right text-center">
                    <button type="button" class="btn btn-optimus-black" (click)="crearEmpleado()"
                        matTooltip="Agregar Empleado" [matTooltipPosition]="'below'">
                        <i class="material-icons">add_circle_outline</i> Nuevo
                    </button>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 px-0">
                    <div class="card my-0">
                        <div id="accordion" role="tablist">
                            <div class="card-collapse card-optimus m-0">
                                <div class="card-header pt-3" role="tab" id="headingOne">
                                    <h4 class="mx-4">
                                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="false"
                                            aria-controls="collapseOne" class="collapsed text-white">
                                            <span class="material-icons md-48">groups</span> BUSCAR EMPLEADO
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <p class="text-center text-silver d-flex pb-2">
                                            <span class="material-icons text-silver p-1 ml-auto pointer"
                                                matTooltip="Ayuda" [matTooltipPosition]="'below'">help</span>
                                            <span class="py-1 mr-auto">Realice la búsqueda de empleado filtrando la
                                                información por los parámetros:
                                                documento, nombres o apellido</span>
                                        </p>
                                        <div class="row justify-content-center">
                                            <form class="mt-3" class="col-md-6" ngNativeValidate
                                                [formGroup]="buscarEmpleadoFormGroup"
                                                (ngSubmit)="onSubmitBuscarEmpleado()">
                                                <div class="row justify-content-center">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput formControlName="filtroEmpleado"
                                                            placeholder="Parámetro de busqueda" name="filtroEmpleado"
                                                            type="text" required>
                                                        <mat-error
                                                            *ngIf="buscarEmpleadoFormGroup.get('filtroEmpleado').hasError('required') && buscarEmpleadoFormGroup.get('filtroEmpleado').touched">
                                                            Este campo es <strong>requerido</strong>
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                                <div class="row justify-content-center">
                                                    <div class="col-md-12 col-sm-12 text-center">
                                                        <button mat-raised-button
                                                            [disabled]="buscarEmpleadoFormGroup.get('filtroEmpleado').hasError('required')"
                                                            class="btn btn-fill btn-optimus-green mx-2"
                                                            (click)="limpiarFormulario()">
                                                            <i class="material-icons">delete</i> Limpiar
                                                        </button>
                                                        <button mat-raised-button
                                                            [disabled]="buscarEmpleadoFormGroup.get('filtroEmpleado').hasError('required')"
                                                            class="btn btn-fill btn-optimus-black mx-2">
                                                            <i class="material-icons">search</i> Buscar
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="mat-elevation-z8">
                    <div class="card">
                        <div class="card-body m-0 p-0">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered table-optimus">
                                    <thead>
                                        <tr>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[0] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[1] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[2] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[3] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[4] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[5] }}
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let row of dataTable.dataRows; let i=index">
                                            <th scope="row" class="text-center">{{i+1}}</th>
                                            <td class="text-left"><strong>{{row?.tipoDoc}}</strong>
                                                {{row?.documento}}</td>
                                            <td class="text-left">{{row?.nombres | uppercase}}
                                                {{row?.apellidos | uppercase}}</td>
                                            <td class="text-center">{{row?.cargo}}</td>
                                            <td class="text-center">{{row?.estado}}</td>
                                            <td class="text-center">
                                                <!-- <button class="btn btn-link btn-optimus-green btn-just-icon editaccount_box" (click)="buscarIdCliente(row?.id)" matTooltip="Ver hoja de vida" [matTooltipPosition]="'below'">
                                                    <i class="material-icons">account_box</i>
                                                    </button> -->
                                                <button
                                                    class="btn btn-link btn-optimus-green btn-just-icon editaccount_box"
                                                    (click)="fichaEmpleado(row?.id)" matTooltip="Ver Ficha Empleado"
                                                    [matTooltipPosition]="'below'">
                                                    <i class="material-icons">account_box</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr *ngIf="(dataTable.dataRows.length === 0)">
                                            <td colspan="6" class="text-center">
                                                <ng-container *ngIf="consultaVaciaCargarSpinner; else bloqueCargaDatosRCA">
                                                    No hay datos para mostrar
                                                </ng-container>
                                                <ng-template #bloqueCargaDatosRCA>
                                                    <app-loading-spinner></app-loading-spinner>
                                                </ng-template>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="container text-muted">
                            <div class="row justify-content-center">
                                <div class="col-md-7">
                                    <div
                                        class="pt-2 ml-0 ml-sm-3 ml-md-3 ml-lg-3 text-center text-sm-left text-md-left text-lg-left">
                                        Total Registros: {{total_item_count}}
                                    </div>
                                </div>
                                <div class="col-md-4 text-center text-silver">
                                    <nav aria-label="..." class="align-items-center">
                                        <ul class="pagination align-items-center">
                                            <li class="page-item">
                                                <p class="mx-4 my-2">Página {{page_actual}} de {{total_pages}}</p>
                                            </li>
                                            <li class="page-item pointer">
                                                <a routerLinkActive="router-link-active" matTooltip="Primera página"
                                                    [matTooltipPosition]="'below'"
                                                    (click)="listarEmpleadosPorFiltro(opcion, filtroBusqueda, 1)">
                                                    <i class="material-icons">first_page</i>
                                                </a>
                                            </li>
                                            <li class="page-item pointer">
                                                <a routerLinkActive="router-link-active" matTooltip="Atrás"
                                                    [matTooltipPosition]="'below'"
                                                    (click)="listarEmpleadosPorFiltro(opcion, filtroBusqueda, page_prev)">
                                                    <i class="material-icons">navigate_before</i>
                                                </a>
                                            </li>
                                            <li class="page-item pointer">
                                                <a routerLinkActive="router-link-active" matTooltip="Siguiente"
                                                    [matTooltipPosition]="'below'"
                                                    (click)="listarEmpleadosPorFiltro(opcion, filtroBusqueda, page_next)">
                                                    <i class="material-icons">navigate_next</i>
                                                </a>
                                            </li>
                                            <li class="page-item pointer">
                                                <a routerLinkActive="router-link-active" matTooltip="Última página"
                                                    [matTooltipPosition]="'below'"
                                                    (click)="listarEmpleadosPorFiltro(opcion, filtroBusqueda, total_pages)">
                                                    <i class="material-icons">last_page</i>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!-- end content-->
                    </div>
                    <!--  end card  -->
                </div>
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>