<nav class="navbar navbar-expand-lg bg-primary navbar-transparent navbar-absolute" color-on-scroll="500">
    <div class="container">
        <div class="navbar-wrapper">
            <a class="navbar-brand d-none d-sm-none d-md-block" [routerLink]="['/dashboard']"><img src="{{urlImg}}logo-olgaviria-large.png" width="120"></a>
            <a class="navbar-brand d-block d-sm-block d-md-none" [routerLink]="['/dashboard']"><img src="{{urlImg}}favicon.png" width="40"></a>
        </div>
        <button mat-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
			<span class="sr-only">Toggle navigation</span>
			<span class="navbar-toggler-icon icon-bar"></span>
			<span class="navbar-toggler-icon icon-bar"></span>
			<span class="navbar-toggler-icon icon-bar"></span>
		</button>
        <!-- <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item" routerLinkActive="active">
					<a class="nav-link" [routerLink]="['/registrarse']">
					<i class="material-icons">person_add</i> Registrarse
					</a>
				</li>
				<li class="nav-item" routerLinkActive="active">
					<a class="nav-link" [routerLink]="['/iniciar-sesion']">
					<i class="material-icons">fingerprint</i> Inicir Sesión
					</a>
				</li>
            </ul>
        </div> -->
    </div>
</nav>
<router-outlet></router-outlet>