<app-loading *ngIf="loading"></app-loading>
<div class="main-content">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center text-md-left pb-md-4 pb-3">
				<button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresar()">
					<i class="material-icons">arrow_back</i> Regresar
				</button>
			</div>
		</div>

		<div class="row justify-content-center mb-3">
			<div class="col-md-10">
				<h2 class="font-weight-bolder text-break text-center mb-5">LISTA DE CLIENTES CON PROCESOS DE VENTAS</h2>
				<p class="mb-4 mb-md-5">
					A continuación se lista la información de los clientes con procesos de venta.
				</p>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="mat-elevation-z8">
					<div class="card">
						<div class="card-body m-0 p-0">
							<div class="table-responsive">
								<table class="table table-hover table-bordered table-optimus">
									<thead>
										<tr>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[0] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[1] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[2] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[3] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[4] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[5] }}
											</th>
											<th class="text-center text-white" scope="col"> {{ dataTable.headerRow[6] }}
											</th>
											<th class="text-center text-white" scope="col"> {{ dataTable.headerRow[7] }}
											</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let row of dataTable.dataRows; let i=index">
											<th scope="row" class="text-center">{{i+1}}</th>
											<td class="text-left">
												<strong>{{row?.tipoDocPersona}}:</strong>
												{{row?.documentoPersona}}
											</td>
											<td class="text-left">
												{{row?.nombresPersona | uppercase}}
												{{row?.apellidosPersona | uppercase}}
											</td>
											<td class="text-center">{{row?.fechaInicioProceso | date: "short"}}</td>
											<td class="text-center">
												{{row?.precioFinalVenta == '- - -' ? '- - -' : row?.precioFinalVenta |
												currency: 'COP':true: '1.0'}}
											</td>
											<td class="text-left">{{row?.asesor | uppercase}}</td>
											<td class="text-center">
												<button class="btn btn-link btn-optimus-yellow btn-just-icon visibility" (click)="verProcesoVentas(row)"
													matTooltip="Proceso de Venta Detalladamente" [matTooltipPosition]="'below'">
													<i class="material-icons">visibility</i>
												</button>
											</td>
											<td class="text-center">
												<button class="btn btn-link btn-optimus-green btn-just-icon account_box" (click)="buscarIdCliente(row?.idIngreso)"
													matTooltip="Ver Cliente" [matTooltipPosition]="'below'">
													<i class="material-icons">account_box</i>
												</button>
											</td>
										</tr>
										<tr *ngIf="(dataTable.dataRows.length === 0)">
											<td colspan="8" class="text-center">
												<ng-container *ngIf="consultaVaciaCargarSpinner; else bloqueCargaDatosRPV">
													No hay datos para mostrar
												</ng-container>
												<ng-template #bloqueCargaDatosRPV>
													<app-loading-spinner></app-loading-spinner>
												</ng-template>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="container text-muted">
							<div class="row justify-content-center">
								<div class="col-md-7">
									<div
										class="pt-2 ml-0 ml-sm-3 ml-md-3 ml-lg-3 text-center text-sm-left text-md-left text-lg-left">
										Total Registros: {{total_item_count}}
									</div>
								</div>
								<div class="col-md-4 text-center text-silver">
									<nav aria-label="..." class="align-items-center">
										<ul class="pagination align-items-center">
											<li class="page-item">
												<p class="mx-4 my-2">Página {{page_actual}} de {{total_pages}}</p>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Primera página"
													[matTooltipPosition]="'below'" (click)="listarEstadisticas(1)">
													<i class="material-icons">first_page</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Atrás"
													[matTooltipPosition]="'below'"
													(click)="listarEstadisticas(page_prev)">
													<i class="material-icons">navigate_before</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Siguiente"
													[matTooltipPosition]="'below'"
													(click)="listarEstadisticas(page_next)">
													<i class="material-icons">navigate_next</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Última página"
													[matTooltipPosition]="'below'"
													(click)="listarEstadisticas(total_pages)">
													<i class="material-icons">last_page</i>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
						<!-- end content-->
					</div>
					<!--  end card  -->
				</div>
			</div>
			<!-- end col-md-12 -->
		</div>
		<!-- end row -->
	</div>
</div>

<!-- Modal Mirar Informacion Detallada -->
<div class="modal fade bg-modal" id="modalInformacionDetalladaPV" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Información Detallada del Proceso de Ventas
				</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row justify-content-center py-0">
					<h3 class="d-block my-0 text-center font-weight-bold text-uppercase py-1">
						Cliente <br>
						{{procesoVentasDetalles.tipoDocPersona}}:
						{{procesoVentasDetalles.documentoPersona}} -
						{{procesoVentasDetalles.nombresPersona | uppercase}}
						{{procesoVentasDetalles.apellidosPersona | uppercase}}
					</h3>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-5 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-2 mr-md-2 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">person</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block py-1">Asesor:</strong>
								<span class="d-block py-1">
									{{procesoVentasDetalles.asesor | uppercase}}
								</span>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-2 mr-md-2 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">list_alt</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block pt-1">No. Cotizacion: </strong>
								<span class="d-block pb-1">{{procesoVentasDetalles.cotizacionNum}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-5 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-2 mr-md-2 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block pt-1">Fecha Inicio del Proceso:</strong>
								<span class="d-block pb-1">{{procesoVentasDetalles.fechaInicioProceso | date:
									"short"}}</span>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-2 mr-md-2 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block pt-1">Fecha de Facturación: </strong>
								<span class="d-block pb-1">{{procesoVentasDetalles.fechaFacturacion == '- - -' ? '- - -'
									: procesoVentasDetalles.fechaFacturacion | date: "short"}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-5 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-2 mr-md-2 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block pt-1">Fecha envío de Matrícula:</strong>
								<span class="d-block pb-1">{{procesoVentasDetalles.fechaEnvioMatricula == '- - -' ? '- -
									-' : procesoVentasDetalles.fechaEnvioMatricula | date: "short"}}</span>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-2 mr-md-2 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block pt-1">Fecha Recepción de Matrícula: </strong>
								<span class="d-block pb-1">{{procesoVentasDetalles.fechaRecepcionMatricula == '- - -' ?
									'- - -' : procesoVentasDetalles.fechaRecepcionMatricula | date: "short"}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-5 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-2 mr-md-2 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block pt-1">Fecha SOAT:</strong>
								<span class="d-block pb-1">{{procesoVentasDetalles.fechaSoat == '- - -' ? '- - -' :
									procesoVentasDetalles.fechaSoat | date: "short"}}</span>
							</div>
						</div>
					</div>
					<ng-container *ngIf="camposProcesoVentasChevy">
						<div class="col-md-5 col-sm-5 mx-3 mx-lg-3 py-2">
							<div class="row">
								<div class="col-3 col-md-2 mr-md-2 col-sm-3">
									<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
								</div>
								<div class="col-9 col-md-9 col-sm-9">
									<strong class="d-block pt-1">Fecha de Activación Chevystar / OnStar:
									</strong>
									<span class="d-block pb-1">{{procesoVentasDetalles.fechaActivacionChevy == '- - -' ?
										'- - -' : procesoVentasDetalles.fechaActivacionChevy | date: "short"}}</span>
								</div>
							</div>
						</div>
					</ng-container>
					<div class="col-md-5 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row"></div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-5 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-2 mr-md-2 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block pt-1">Fecha de Entrega:</strong>
								<span class="d-block pb-1">{{procesoVentasDetalles.fechaEntrega == '- - -' ? '- - -' :
									procesoVentasDetalles.fechaEntrega | date: "short"}}</span>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-2 mr-md-2 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block pt-1">Fecha Firma del Contrato: </strong>
								<span class="d-block pb-1">{{procesoVentasDetalles.fechaFirmaContrato == '- - -' ? '- -
									-' : procesoVentasDetalles.fechaFirmaContrato | date: "short"}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-5 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-2 mr-md-2 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">date_range</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block pt-1">Fecha de Consignación:</strong>
								<span class="d-block pb-1">{{procesoVentasDetalles.fechaConsignacion == '- - -' ? '- -
									-' : procesoVentasDetalles.fechaConsignacion | date: "short"}}</span>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-2 mr-md-2 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">local_atm</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block pt-1">Precio Final de la Venta: </strong>
								<span class="d-block pb-1">{{procesoVentasDetalles.precioFinalVenta == '- - -' ? '- - -'
									: procesoVentasDetalles.precioFinalVenta | currency: 'COP':true: '1.0'}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-5 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-2 mr-md-2 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">money</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block pt-1">Placa:</strong>
								<span class="d-block pb-1">{{procesoVentasDetalles.placa}}</span>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-2 mr-md-2 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">filter_9_plus</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block pt-1">VIN: </strong>
								<span class="d-block pb-1">{{procesoVentasDetalles.vin}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-5 col-sm-5 mx-3 mx-lg-3 py-2">
						<div class="row">
							<div class="col-3 col-md-2 mr-md-2 col-sm-3">
								<i class="material-icons py-2 mx-1 font-size-icono">directions_car</i>
							</div>
							<div class="col-9 col-md-9 col-sm-9">
								<strong class="d-block pt-1">Kilometraje:</strong>
								<span class="d-block pb-1">{{procesoVentasDetalles.kilometraje == '' ? '- - -' :
									procesoVentasDetalles.kilometraje}}
									KM</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center mt-4">
					<div class="col-md-8 col-sm-5 text-center mx-1 mx-sm-2 mx-md-3 mx-lg-4 border-bottom">
						<strong class="ml-1 py-1">Observación </strong>
						<p class="text-justify" [innerHTML]="procesoVentasDetalles.observacion"></p>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Mirar Informacion Detallada -->