#categoria,
#categoriaParametro {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ddd;
}

#categoria:focus,
#categoriaParametro:focus {
  outline: 1px solid #ddd;
  padding: 2px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content,
.dropdown-content-parametro {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a,
.dropdown-content-parametro a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show, .show-parametro {
  display: block;
}

.scrollCategorias,
.scrollCategoriasParametro {
  background-color: #fff;
  width: 100%;
  height: 25vh;
  overflow: scroll;
}


/* Tamaño del scroll */

.scrollCategorias::-webkit-scrollbar,
.scrollCategoriasParametro::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Estilos barra (thumb) de scroll */

.scrollCategorias::-webkit-scrollbar-thumb,
.scrollCategoriasParametro::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.scrollCategorias::-webkit-scrollbar-thumb:active,
.scrollCategoriasParametro::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

.scrollCategorias::-webkit-scrollbar-thumb:hover,
.scrollCategoriasParametro::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Estilos track de scroll */

.scrollCategorias::-webkit-scrollbar-track,
.scrollCategoriasParametro::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

.scrollCategorias::-webkit-scrollbar-track:hover,
.scrollCategoriasParametro::-webkit-scrollbar-track:hover,
.scrollCategorias::-webkit-scrollbar-track:active,
.scrollCategoriasParametro::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

.scrollTime {
  width: 100%;
  height: 35vh;
  overflow: scroll;
}

/* Tamaño del scroll */

.scrollTime::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Estilos barra (thumb) de scroll */

.scrollTime::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.scrollTime::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

.scrollTime::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Estilos track de scroll */

.scrollTime::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

.scrollTime::-webkit-scrollbar-track:hover,
.scrollTime::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}