/* Estilos paginación  */
.color-icono .material-icons {
  padding: 13px;
  border-radius: 10px;
  background: linear-gradient(60deg, #ffa726, #fb8c00);
  color: #fff;
}

.color-icono span {
  font-size: 1em;
  color: #3C4858;
}

/*Icono fecha*/
.icono-espacio .material-icons {
	margin: 0 6px;
}

/* Boton nueva cotizacion */
.color1-icono .material-icons {
  padding: 13px;
  border-radius: 10px;
  background: linear-gradient(60deg, #ffa726, #fb8c00);
  color: #fff;
}

.color1-icono span {
  font-size: 1em;
  color: #3C4858;
}