<app-loading *ngIf="loading"></app-loading>
<div class="main-content">
	<div class="container-fluid">

		<div class="row justify-content-center mb-3">
			<div class="col-md-10">
				<h2 class="font-weight-bolder text-break text-center mb-5">LISTA DE ASESORES</h2>
				<p class="mb-4 mb-md-5">
					A continuación se lista la información de los asesores registrados en el sistema.
				</p>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row justify-content-end mb-3 mb-md-3">
				<div class="col-md-10 text-md-right text-center">
					<button type="button" class="btn btn-optimus-black" (click)="crearAsesor()"
						matTooltip="Nuevo Asesor" [matTooltipPosition]="'below'">
						<i class="material-icons">add_circle_outline</i> Nuevo Asesor
					</button>
					<button type="button" class="btn btn-optimus-black" (click)="reasignarAsesores()"
						matTooltip="Reasignar Asesores" [matTooltipPosition]="'below'">
						<i class="material-icons">add_circle_outline</i> Reasignar Asesores
					</button>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="mat-elevation-z8">
					<div class="card">
						<div class="card-body m-0 p-0">
							<div class="table-responsive">
								<table class="table table-hover table-bordered table-optimus">
									<thead>
										<tr>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[0] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[1] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[2] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[3] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[4] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[5] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[6] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[7] }}
											</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let row of dataTable.dataRows; let i=index">
											<th scope="row" class="text-center">{{i+1}}</th>
											<td class="text-left"><strong>{{row?.tipoDoc}}</strong> {{row?.documento}}
											</td>
											<td class="text-left">{{row?.nombres | uppercase}}
												{{row?.apellidos | uppercase}}</td>
											<td class="text-center">{{row?.usuario}}</td>
											<td class="text-center">{{row?.rol}}</td>
											<td class="text-center">{{row?.ultimaSesion == '- - -' ? '- - -' :
												row?.ultimaSesion | date: "short"}}</td>
											<td class="text-center">{{row?.sesiones}}</td>
											<td class="text-center">{{row?.estado}}</td>
											<!--<td class="text-center">
													<button class="btn btn-link btn-optimus-green btn-just-icon editaccount_box" 
														(click)="buscarIdCliente(row?.documento)" 
														matTooltip="Ver Ingresos Cliente" 
														[matTooltipPosition]="'below'">
													<i class="material-icons">account_box</i>
													</button>
												</td>-->
										</tr>
										<tr *ngIf="(dataTable.dataRows.length === 0)">
											<td colspan="8" class="text-center">
												<ng-container *ngIf="consultaVaciaCargarSpinner; else bloqueCargaDatosA">
													No hay datos para mostrar
												</ng-container>
												<ng-template #bloqueCargaDatosA>
													<app-loading-spinner></app-loading-spinner>
												</ng-template>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="container text-muted">
							<div class="row justify-content-center">
								<div class="col-md-7">
									<div
										class="pt-2 ml-0 ml-sm-3 ml-md-3 ml-lg-3 text-center text-sm-left text-md-left text-lg-left">
										Total Registros: {{total_item_count}}
									</div>
								</div>
								<div class="col-md-4 text-center text-silver">
									<nav aria-label="..." class="align-items-center">
										<ul class="pagination align-items-center">
											<li class="page-item">
												<p class="mx-4 my-2">Página {{page_actual}} de {{total_pages}}</p>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Primera página"
													[matTooltipPosition]="'below'" (click)="listarUsuariosFiltro(1)">
													<i class="material-icons">first_page</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Atrás"
													[matTooltipPosition]="'below'"
													(click)="listarUsuariosFiltro(page_prev)">
													<i class="material-icons">navigate_before</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Siguiente"
													[matTooltipPosition]="'below'"
													(click)="listarUsuariosFiltro(page_next)">
													<i class="material-icons">navigate_next</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Última página"
													[matTooltipPosition]="'below'"
													(click)="listarUsuariosFiltro(total_pages)">
													<i class="material-icons">last_page</i>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Reasignar clientes a Otro asesor -->
<div class="modal fade bg-modal" id="modalReasignarClientesAsesores" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Reasignar Clientes a un Asesor</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<form ngNativeValidate [formGroup]="reasignarClientesAsesoresForm"
					(ngSubmit)="onSubmitReasignarClientesAsesores()" autocomplete="off">
					<div class="card-body">
						<div class="row justify-content-center">
							<div class="col-sm-10 mb-2">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Asesor Antiguo"
										name="asesorAnterior" id="asesorAnterior" formControlName="asesorAnterior"
										required>
										<mat-option *ngFor="let item1 of todosAsesoresArray" [value]="item1.id">
											{{ item1.nombre }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="reasignarClientesAsesoresForm.get('asesorAnterior').hasError('required') && reasignarClientesAsesoresForm.get('asesorAnterior').touched">
										El campo Asesor Anterior es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-10 mb-2">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Asesor Nuevo"
										name="asesorNuevo" id="asesorNuevo" formControlName="asesorNuevo" required>
										<mat-option *ngFor="let item2 of todosAsesoresArray" [value]="item2.id">
											{{ item2.nombre }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="reasignarClientesAsesoresForm.get('asesorNuevo').hasError('required') && reasignarClientesAsesoresForm.get('asesorNuevo').touched">
										El campo Asesor Nuevo es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-md-6 text-center my-3">
								<button mat-raised-button [disabled]="reasignarClientesAsesoresForm.invalid"
									class="btn btn-fill btn-optimus-black">Guardar</button>
							</div>
						</div>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Reasignar clientes a Otro asesor -->