<app-loading *ngIf="loading"></app-loading>

<div class="main-content pt-0">
	<div class="container-fluid">
		<h2 class="text-center bold mb-5">GESTIÓN DE USUARIOS</h2>
	</div>

	<div class="container-fluid">
		<div class="row justify-content-end mb-3 mb-md-3">
			<div class="col-md-6 text-md-right text-center">
				<button type="button" class="btn btn-optimus-black" (click)="crearUsuario()"
					matTooltip="Agregar Usuario" [matTooltipPosition]="'below'">
					<i class="material-icons">add_circle_outline</i> Nuevo
				</button>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card my-0">
					<div id="accordion" role="tablist">
						<div class="card-collapse card-optimus m-0">
							<div class="card-header pt-3" role="tab" id="headingOne">
								<h4 class="mx-4">
									<a data-toggle="collapse" href="#collapseOne" aria-expanded="false"
										aria-controls="collapseOne" class="collapsed text-white">
										<span class="material-icons md-48">search</span> BUSCAR USUARIO
										<i class="material-icons">keyboard_arrow_down</i>
									</a>
								</h4>
							</div>
							<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
								data-parent="#accordion">
								<div class="card-body">
									<p class="text-center text-silver d-flex pb-2">
										<span class="material-icons text-silver p-1 ml-auto" matTooltip="Ayuda"
											[matTooltipPosition]="'below'">help</span>
										<span class="py-1 mr-auto">Realice la búsqueda de usuarios por los parámetros:
											documento, nombres o rol</span>
									</p>
									<div class="row justify-content-center">
										<div class="col-md-6">
											<div class="row justify-content-center">
												<div class="col-md-8 col-sm-8 mx-5 mx-sm-1 mx-md-1 mx-lg-1 text-center">
													<form class="my-4" ngNativeValidate
														[formGroup]="buscarUsuarioFormGroup"
														(ngSubmit)="onSubmitBuscarUsuariosFiltros('1')">
														<mat-form-field>
															<input matInput formControlName="filtroUsuario"
																placeholder="Parámetro de busqueda" name="filtroUsuario"
																type="text" required>
															<mat-error
																*ngIf="buscarUsuarioFormGroup.get('filtroUsuario').hasError('required') && buscarUsuarioFormGroup.get('filtroUsuario').touched">
																Este campo es <strong>requerido</strong>
															</mat-error>
														</mat-form-field>
														<button mat-raised-button
															[disabled]="buscarUsuarioFormGroup.get('filtroUsuario').hasError('required')"
															class="btn btn-fill btn-optimus-black mx-2">
															<i class="material-icons">search</i> Buscar
														</button>
													</form>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="row justify-content-center">
												<div
													class="col-md-8 col-sm-8 mx-5 mx-sm-1 mx-md-1 mx-lg-1 my-3 text-center">
													<mat-form-field class="example-full-width">
														<mat-select [compareWith]="compararDato"
															placeholder="Rol del usuario" name="rolUsuario"
															id="rolUsuario" [(ngModel)]="buscarRol.rolUsuario"
															#rolUsuario="ngModel">
															<mat-option *ngFor="let tipo of rolesExistentes"
																[value]="tipo.valor"
																(click)="onSubmitBuscarUsuariosFiltros('2')">
																{{ tipo.nombre }}
															</mat-option>
														</mat-select>
													</mat-form-field>
													<button mat-raised-button
														class="btn btn-fill btn-optimus-green mx-2"
														(click)="limpiarFormulario('1')">
														<i class="material-icons">delete</i> Limpiar
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="mat-elevation-z8">
					<div class="card">
						<div class="card-body m-0 p-0">
							<div class="table-responsive">
								<table class="table table-hover table-bordered table-optimus">
									<thead>
										<tr>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[0] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[1] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[2] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[3] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[4] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[5] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[6] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[7] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[8] }}
											</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let row of dataTable.dataRows; let i=index">
											<th scope="row" class="text-center">{{i+1}}</th>
											<td class="text-left"><strong>{{row?.tipoDoc}}: </strong>{{row?.documento}}
											</td>
											<td class="text-left">{{row?.nombres | uppercase}}</td>
											<td class="text-center">{{row?.usuario}}</td>
											<td class="text-center">{{row?.rol}}</td>
											<td class="text-center">{{row?.ultimaSesion}}</td>
											<td class="text-center">{{row?.sesiones}}</td>
											<td class="text-center">{{row?.estado}}</td>
											<td class="text-center">
												<button
													class="btn btn-link btn-optimus-black btn-just-icon assignment_ind"
													data-toggle="modal" (click)="buscarIdCliente(row?.id)"
													matTooltip="Actualizar Cliente" [matTooltipPosition]="'below'">
													<i class="material-icons">assignment_ind</i>
												</button>
												<ng-container *ngIf="(row?.rol_valor == 'CL'); else bloqueTipoPersona">
													<button
														class="btn btn-link btn-optimus-green btn-just-icon perm_contact_calendar"
														data-toggle="modal"
														(click)="buscarIdInformacionPersonal(row?.id)"
														matTooltip="Actualizar Información Personal"
														[matTooltipPosition]="'below'">
														<i class="material-icons">perm_contact_calendar</i>
													</button>
												</ng-container>
												<ng-template #bloqueTipoPersona>
													<button
														class="btn btn-link btn-optimus-green btn-just-icon perm_contact_calendar"
														data-toggle="modal"
														(click)="buscarIdInformacionGeneral(row?.id)"
														matTooltip="Actualizar Información General"
														[matTooltipPosition]="'below'">
														<i class="material-icons">perm_contact_calendar</i>
													</button>
												</ng-template>
												<button class="btn btn-link btn-optimus-black btn-just-icon password"
													data-toggle="modal" (click)="actualizarContrasenia(row)"
													matTooltip="Actualizar Contraseña" [matTooltipPosition]="'below'">
													<i class="material-icons">password</i>
												</button>
											</td>
										</tr>
										<tr *ngIf="(dataTable.dataRows.length === 0)">
											<td colspan="9" class="text-center">
												<ng-container
													*ngIf="consultaVaciaCargarSpinner; else bloqueCargaDatosRCA">
													No hay datos para mostrar
												</ng-container>
												<ng-template #bloqueCargaDatosRCA>
													<app-loading-spinner></app-loading-spinner>
												</ng-template>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="container text-muted">
							<div class="row justify-content-center">
								<div class="col-md-7">
									<div
										class="pt-2 ml-0 ml-sm-3 ml-md-3 ml-lg-3 text-center text-sm-left text-md-left text-lg-left text-silver">
										Total Registros: {{total_item_count}}
									</div>
								</div>
								<div class="col-md-4 text-center text-silver">
									<nav aria-label="..." class="align-items-center">
										<ul class="pagination align-items-center">
											<li class="page-item">
												<p class="mx-4 my-2">Página {{page_actual}} de {{total_pages}}</p>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Primera página"
													[matTooltipPosition]="'below'"
													(click)="listarUsuarios(opcion, 1, filtroBusqueda)">
													<i class="material-icons">first_page</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Atrás"
													[matTooltipPosition]="'below'"
													(click)="listarUsuarios(opcion, page_prev, filtroBusqueda)">
													<i class="material-icons">navigate_before</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Siguiente"
													[matTooltipPosition]="'below'"
													(click)="listarUsuarios(opcion, page_next, filtroBusqueda)">
													<i class="material-icons">navigate_next</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Última página"
													[matTooltipPosition]="'below'"
													(click)="listarUsuarios(opcion, total_pages, filtroBusqueda)">
													<i class="material-icons">last_page</i>
												</a>
											</li>

										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Actualizar Contraseña -->
<div class="modal fade bg-modal" id="modalCambiarContrasenia" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Actualizar Contraseña</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<form class="mt-3" ngNativeValidate [formGroup]="cambiarContraseniaForm"
					(ngSubmit)="onSubmitCambiarContrasenia()" autocomplete="off">
					<div class="card-body ">
						<div class="row justify-content-center">
							<div class="col-sm-10 mb-2">
								<mat-form-field class="example-full-width">
									<input matInput formControlName="documento" placeholder="Documento como contraseña"
										name="documento" id="documento" type="text" required>
									<mat-error
										*ngIf="cambiarContraseniaForm.get('documento').hasError('required') && cambiarContraseniaForm.get('documento').touched">
										El campo documento es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center" *ngIf="checkPass">
							<div class="col-sm-10 mb-2">
								<mat-form-field class="example-full-width">
									<input matInput formControlName="password" placeholder="Nueva Contraseña"
										name="password" type="text" required>
									<mat-error
										*ngIf="cambiarContraseniaForm.get('password').hasError('required') && cambiarContraseniaForm.get('password').touched">
										El campo password es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-10 mb-2">
								<div class="form-check">
									<label class="form-check-label">
										<input formControlName="checkPassword" class="form-check-input"
											id="cambioPassword" type="checkbox"
											(change)="checkConfirmarPassword($event)">
										<span class="form-check-sign">
											<span class="check"></span> Escribir nueva contraseña
										</span>
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-md-6 text-center my-3">
								<button mat-raised-button class="btn btn-fill btn-optimus-black">Guardar</button>
							</div>
						</div>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Actualizar Contraseña -->