<app-loading *ngIf="loading"></app-loading>

<div class="main-content pt-0">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center text-md-left pb-md-4 pb-3">
				<button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresar()">
					<i class="material-icons">arrow_back</i> Regresar
				</button>
			</div>
		</div>
		<div class="row justify-content-center mb-3">
			<div class="col-md-10">
				<h2 class="font-weight-bolder text-break text-center text-uppercase mb-5">Ficha Cliente</h2>
				<p class="mb-4 mb-md-5">
					En esta sección puede actualizar la información personal. Recuerde que los campos marcados con
					asterisco * son obligatorios.
				</p>
			</div>
		</div>

		<ng-container *ngIf="finalizarAtencionVentana">
			<div class="row justify-content-center mb-3">
				<div class="col-md-8 text-center border rounded p-2 my-2 my-md-3"
					style="border-color: #ccc; background-color: #fff;">
					<h3 class="card-title py-0 mb-1"> <strong>{{nombreUsuarioAtencion | uppercase }}</strong> </h3>
					<h4 class="card-title py-0 mt-1"> <strong class="text-uppercase font-weight-bolder">Ocupado</strong>
					</h4>
					Atención iniciada el: <strong>{{fechaInicial}}</strong>,<br> con el cliente
					<strong>{{nombreCliente | uppercase}}</strong> y documento de identificación
					<strong>{{documento}}</strong><br>
					<button mat-raised-button class="my-3 btn btn-optimus-black" data-toggle="modal"
						(click)="finalizarAtencion(''+idAtencion)">
						<i class="material-icons mr-1">pan_tool</i> Finalizar Atención
					</button>
				</div>
			</div>
			<div class="row justify-content-end mb-3 mb-md-3">
				<div class="col-md-6 text-md-right text-center">
					<button type="button" class="btn btn-optimus-black ml-md-1" (click)="agendar()"
						matTooltip="Agendar Cita" [matTooltipPosition]="'below'">
						<i class="material-icons">view_agenda</i> Agendar Cita
					</button>
				</div>
			</div>
		</ng-container>

		<ng-container *ngIf="cambiarEstadoForm === 2">
			<div class="row justify-content-end mb-3 mb-md-3">
				<div class="col-md-6 text-md-right text-center" *ngIf="botonIniciarAtencion">
					<button type="button" class="btn btn-black" (click)="crearAtencion()" matTooltip="Crear Atención"
						[matTooltipPosition]="'below'">
						<i class="material-icons">add_circle_outline</i> Atención
					</button>
					<button type="button" class="btn btn-optimus-black ml-md-1" (click)="agendar()"
						matTooltip="Agendar Cita" [matTooltipPosition]="'below'">
						<i class="material-icons">view_agenda</i> Agendar Cita
					</button>
				</div>
			</div>
		</ng-container>

		<div class="row justify-content-center">
			<div class="col-md-10">

				<div class="">
					<div class="page-categories">
						<ul class="nav nav-pills nav-pills-optimus-black nav-pills-icons justify-content-center"
							role="tablist">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#clienteSC" role="tablist">
									<i class="material-icons">person</i> Cliente
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#historialSC" role="tablist">
									<i class="material-icons">restore</i> Historial
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#vehiculosSC" role="tablist">
									<i class="material-icons">directions_car</i> Vehículos
								</a>
							</li>
						</ul>
						<div class="tab-content tab-space tab-subcategories">
							<div class="tab-pane active" id="clienteSC">
								<div class="card card-optimus py-1">
									<div class="card-header">
										<h4 class="card-title d-flex">
											<i class="material-icons p-1">person</i>
											<span class="py-1 text-uppercase">Cliente</span>
										</h4>
									</div>
									<div class="card-body">

										<form class="mt-4" ngNativeValidate [formGroup]="clienteSiembraCosechaForm"
											autocomplete="off" (ngSubmit)="onSubmitCrearCliente(cambiarEstadoForm)">
											<ng-template matStepLabel>Información Personal</ng-template>
											<div class="card-body text-center">
												<div class="row justify-content-center">
													<div class="col-sm-6 mb-2">
														<mat-form-field>
															<mat-select [compareWith]="compararDato"
																placeholder="Tipo documento" name="tipoDoc" id="tipoDoc"
																formControlName="tipoDoc" required>
																<mat-option *ngFor="let tipo of tipoDocumentosArray"
																	[value]="tipo.valor">
																	{{ tipo.nombre }}
																</mat-option>
															</mat-select>
															<mat-error
																*ngIf="clienteSiembraCosechaForm.get('tipoDoc').hasError('required') && clienteSiembraCosechaForm.get('tipoDoc').touched">
																El campo tipo documento es
																<strong>requerido</strong>
															</mat-error>
														</mat-form-field>
													</div>
													<div class="col-sm-6 mb-2">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="documento"
																placeholder="No. Documento" name="documento"
																id="documento" type="number" required>
															<mat-error
																*ngIf="clienteSiembraCosechaForm.get('documento').hasError('required') && clienteSiembraCosechaForm.get('documento').touched">
																El campo documento es <strong>requerido</strong>
															</mat-error>
															<mat-error
																*ngIf="clienteSiembraCosechaForm.get('documento').hasError('pattern')">
																El documento debe tener el siguiente formato
																<strong>Ejm: 1085100100</strong>
															</mat-error>
														</mat-form-field>
													</div>
												</div>
												<div class="row justify-content-center">
													<div class="col-sm-6 mb-2">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="nombres"
																placeholder="Nombres" name="nombres" id="nombres"
																type="text" required>
															<mat-error
																*ngIf="clienteSiembraCosechaForm.get('nombres').hasError('required') && clienteSiembraCosechaForm.get('nombres').touched">
																El campo nombre es <strong>requerido</strong>
															</mat-error>
														</mat-form-field>
													</div>
													<div class="col-sm-6 mb-2">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="apellidos"
																placeholder="Apellidos" name="apellidos" id="apellidos"
																type="text" required>
															<mat-error
																*ngIf="clienteSiembraCosechaForm.get('apellidos').hasError('required') && clienteSiembraCosechaForm.get('apellidos').touched">
																El apellido es <strong>requerido</strong>
															</mat-error>
														</mat-form-field>
													</div>
												</div>
												<div class="row justify-content-center">
													<div class="col-sm-6 mb-2">
														<mat-form-field class="example-full-width">
															<input matInput formControlName="correo"
																placeholder="Correo" name="correo" id="correo"
																type="text" required>
															<mat-error
																*ngIf="clienteSiembraCosechaForm.get('correo').hasError('required') && clienteSiembraCosechaForm.get('correo').touched">
																El correo es <strong>requerido</strong>
															</mat-error>
															<mat-error
																*ngIf="clienteSiembraCosechaForm.get('correo').hasError('pattern') && clienteSiembraCosechaForm.get('correo').touched">
																El correo debe tener el siguiente formato
																<strong>Ejm: correo@correo.com</strong>
															</mat-error>
														</mat-form-field>
													</div>
													<ng-container *ngIf="rolUsuario === 'A'">
														<div class="col-sm-6 mb-2">
															<mat-form-field>
																<mat-select [compareWith]="compararDato"
																	placeholder="Tipo de Entrada" name="tipoEntrada"
																	id="tipoEntrada" formControlName="tipoEntrada"
																	required>
																	<mat-option *ngFor="let tipo of tipoEntradaArray"
																		[value]="tipo.valor">
																		{{ tipo.nombre }}
																	</mat-option>
																</mat-select>
															</mat-form-field>
														</div>
													</ng-container>
												</div>
											</div>
											<div class="row justify-content-center">
												<div class="col-md-10 text-center my-3">
													<button mat-button [disabled]="clienteSiembraCosechaForm.invalid"
														class="btn btn-optimus-black">{{cambiarEstadoForm === 1 ?
														'Guardar' :'Actualizar'}}</button>
												</div>
											</div>
										</form>

									</div>
								</div>
							</div>
							<div class="tab-pane" id="historialSC">
								<div class="card card-optimus py-1">
									<div class="card-header">
										<h4 class="card-title d-flex">
											<i class="material-icons p-1">restore</i>
											<span class="py-1 text-uppercase">Historial</span>
										</h4>
									</div>
									<div class="card-body">
										<ng-container *ngIf="atencionesAgente; else bloqueAtencionesAgente">
											<div class="container my-2">
												<div class="my-4 p-0 p-sm-1 p-md-1 p-lg-1"
													*ngFor="let item of totalAtencionesArray; let i=index;">
													<div class="p-0 m-0">
														<div class="container-fluid my-2 px-0">
															<div class="mat-elevation-z2 rounded py-3"
																style="border-color: #ddd;">
																<div class="row justify-content-between">
																	<div class="col-md-4 col-sm-8 py-2">
																		<div class="d-flex px-2">
																			<i
																				class="material-icons mx-1 py-1 pointer">person</i>
																			<span class="py-1">{{item?.agente |
																				uppercase}}</span>
																		</div>
																	</div>
																	<div class="col-md-2 col-sm-8 py-2">
																		<div class="d-flex px-2">
																			<i class="material-icons mx-1 py-1 pointer"
																				matTooltip="Tiempo de atención"
																				[matTooltipPosition]="'below'">timer</i>
																			<span
																				class="py-1">{{item?.tiempoAtencion}}</span>
																		</div>
																	</div>
																</div>
																<div class="row justify-content-center">
																	<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
																		<div class="row">
																			<div class="col-3 col-md-3 col-sm-3">
																				<i
																					class="material-icons py-2 mx-1 font-size-icono">date_range</i>
																			</div>
																			<div class="col-9 col-md-9 col-sm-9">
																				<strong class="d-block py-1">Fecha de
																					Inicio: </strong>
																				<span
																					class="d-block py-1">{{item?.fechaInicial
																					| date: "short"}}</span>
																			</div>
																		</div>
																	</div>
																	<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
																		<div class="row">
																			<div class="col-3 col-md-3 col-sm-3">
																				<i
																					class="material-icons py-2 mx-1 font-size-icono">date_range</i>
																			</div>
																			<div class="col-9 col-md-9 col-sm-9">
																				<strong class="d-block py-1">Fecha
																					Final:</strong>
																				<span
																					class="d-block py-1">{{item?.fechaFinal
																					== '- - -' ? '- - -' :
																					item?.fechaFinal | date:
																					"short"}}</span>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="row justify-content-center">
																	<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
																		<div class="row">
																			<div class="col-3 col-md-3 col-sm-3">
																				<i
																					class="material-icons py-2 mx-1 font-size-icono">pan_tool</i>
																			</div>
																			<div class="col-9 col-md-9 col-sm-9">
																				<strong
																					class="d-block py-1">Tipificación:
																				</strong>
																				<span
																					class="d-block py-1">{{item?.tipificacion}}</span>
																			</div>
																		</div>
																	</div>
																	<div class="col-md-4 col-sm-5 mx-3 mx-lg-3 py-2">
																		<div class="row">
																			<div class="col-3 col-md-3 col-sm-3">
																				<i
																					class="material-icons py-2 mx-1 font-size-icono">person_pin</i>
																			</div>
																			<div class="col-9 col-md-9 col-sm-9">
																				<strong class="d-block py-1">Estado:
																				</strong>
																				<span
																					class="d-block py-1">{{item?.estado}}</span>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="row justify-content-center">
																	<div
																		class="col-md-8 col-sm-8 mx-3 py-2 text-center">
																		<strong class="py-1">Observación</strong>
																		<p class="text-left"
																			[innerHTML]="item?.observacion"></p>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-12">
													<div class="card">
														<div class="container text-muted">
															<div class="row justify-content-center">
																<div class="col-md-7">
																	<div
																		class="pt-2 ml-0 ml-sm-3 ml-md-3 ml-lg-3 text-center text-sm-left text-md-left text-lg-left">
																		Total Registros: {{total_item_count}}
																	</div>
																</div>
																<div class="col-md-4 text-center">
																	<nav aria-label="..." class="align-items-center">
																		<ul class="pagination align-items-center">
																			<li class="page-item">
																				<p class="mx-4 my-2">Página
																					{{page_actual}} de
																					{{total_pages}}</p>
																			</li>
																			<li class="page-item pointer">
																				<a routerLinkActive="router-link-active"
																					matTooltip="Primera página"
																					[matTooltipPosition]="'below'"
																					(click)="historialLlamadasCliente(idCliente, '1')">
																					<i
																						class="material-icons">first_page</i>
																				</a>
																			</li>
																			<li class="page-item pointer">
																				<a routerLinkActive="router-link-active"
																					matTooltip="Atrás"
																					[matTooltipPosition]="'below'"
																					(click)="historialLlamadasCliente(idCliente, '' + page_prev)">
																					<i
																						class="material-icons">navigate_before</i>
																				</a>
																			</li>
																			<li class="page-item pointer">
																				<a routerLinkActive="router-link-active"
																					matTooltip="Siguiente"
																					[matTooltipPosition]="'below'"
																					(click)="historialLlamadasCliente(idCliente, '' + page_next)">
																					<i
																						class="material-icons">navigate_next</i>
																				</a>
																			</li>
																			<li class="page-item pointer">
																				<a routerLinkActive="router-link-active"
																					matTooltip="Última página"
																					[matTooltipPosition]="'below'"
																					(click)="historialLlamadasCliente(idCliente, '' + total_pages)">
																					<i
																						class="material-icons">last_page</i>
																				</a>
																			</li>
																		</ul>
																	</nav>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</ng-container>
										<ng-template #bloqueAtencionesAgente>
											<div class="container my-2">
												<div class="mat-elevation-z2 border rounded"
													style="border-color: #ccc;">
													<div class="row justify-content-center">
														<div class="col-md-12">
															<span class="d-block p-2 text-center">
																No existen datos para mostrar
															</span>
														</div>
													</div>
												</div>
											</div>
										</ng-template>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="vehiculosSC">
								<div class="card card-optimus py-1">
									<div class="card-header">
										<h4 class="card-title d-flex">
											<i class="material-icons p-1">directions_car</i>
											<span class="py-1 text-uppercase">Vehículos</span>
										</h4>
									</div>
									<div class="card-body">
										<ng-container *ngIf="existenVehiculos; else bloqueExistenVehiculo">
											<div class="container text-center">
												<h3 class="text-center">Puedes registrar otro vehículo</h3>
												<button mat-raised-button class="btn btn-optimus-black"
													data-toggle="modal" (click)="modalRegistrarVehiculo()">
													<i class="material-icons">edit</i> Registrar vehículo
												</button>
											</div>
											<div class="row justify-content-center mb-3">
												<div class="col-md-12">
													<div class="card">
														<mat-accordion class="accord-headers-align">
															<mat-expansion-panel hideToggle>
																<mat-expansion-panel-header>
																	<mat-panel-title>
																		<strong>Listado de vehículos</strong>
																	</mat-panel-title>
																	<mat-panel-description>
																		Dar clic
																	</mat-panel-description>
																	<mat-icon>edit_attributes</mat-icon>
																</mat-expansion-panel-header>
																<div class="my-4 p-0 p-sm-1 p-md-1 p-lg-1"
																	*ngFor="let item of vehiculosArray; let i=index;">
																	<div class="mat-elevation-z2 border rounded"
																		style="background: #f7f7f7;">
																		<div class="card-body">
																			<div class="row justify-content-center">
																				<div
																					class="col-md-4 col-sm-4 mx-3 mx-lg-3 py-2">
																					<div class="row">
																						<div class="col-md-3 col-sm-3">
																							<i
																								class="material-icons py-2 mx-1 font-size-icono">money</i>
																						</div>
																						<div class="col-md-9 col-sm-9">
																							<strong
																								class="d-block py-1">Placa:</strong>
																							<span
																								class="d-block py-1">{{item?.placa}}</span>
																						</div>
																					</div>
																				</div>
																				<div
																					class="col-md-4 col-sm-4 mx-3 mx-lg-3 py-2">
																					<div class="row">
																						<div class="col-md-3 col-sm-3">
																							<i
																								class="material-icons py-2 mx-1 font-size-icono">directions_car</i>
																						</div>
																						<div class="col-md-9 col-sm-9">
																							<strong
																								class="d-block py-1">Tipo
																								Vehículo:</strong>
																							<span
																								class="d-block py-1">{{item?.version.nombre}}</span>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="row justify-content-center">
																				<div
																					class="col-md-4 col-sm-4 mx-3 mx-lg-3 py-2">
																					<div class="row">
																						<div class="col-md-3 col-sm-3">
																							<i
																								class="material-icons py-2 mx-1 font-size-icono">date_range</i>
																						</div>
																						<div class="col-md-9 col-sm-9">
																							<strong
																								class="d-block py-1">Modelo:</strong>
																							<span
																								class="d-block py-1">{{item?.modelo}}</span>
																						</div>
																					</div>
																				</div>
																				<div
																					class="col-md-4 col-sm-4 mx-3 mx-lg-3 py-2">
																					<div class="row">
																						<div class="col-md-3 col-sm-3">
																							<i
																								class="material-icons py-2 mx-1 font-size-icono">local_car_wash</i>
																						</div>
																						<div class="col-md-9 col-sm-9">
																							<strong
																								class="d-block py-1">Tipo
																								de Aceite:</strong>
																							<span
																								class="d-block py-1">{{item?.tipoAceite.nombre}}</span>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="row justify-content-center">
																				<div
																					class="col-md-4 col-sm-4 mx-3 mx-lg-3 py-2">
																					<div class="row">
																						<div class="col-md-3 col-sm-3">
																							<i
																								class="material-icons py-2 mx-1 font-size-icono">filter_9_plus</i>
																						</div>
																						<div class="col-md-9 col-sm-9">
																							<strong
																								class="d-block py-1">VIN:</strong>
																							<span
																								class="d-block py-1">{{item?.vin}}</span>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div
																				class="row justify-content-center py-3">
																				<div
																					class="col-md-12 col-sm-12 text-center">
																					<button mat-raised-button
																						class="btn btn-optimus-green"
																						data-toggle="modal"
																						(click)="modalActualizarVehiculo(item)">
																						<i
																							class="material-icons">edit</i>
																						Editar
																						Vehículo
																					</button>
																					<button mat-raised-button
																						class="btn btn-optimus-green"
																						data-toggle="modal"
																						(click)="modalProyeccionVehiculo(item)">
																						<i
																							class="material-icons">assessment</i>
																						Proyección
																					</button>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</mat-expansion-panel>
														</mat-accordion>
													</div>
												</div>
											</div>
										</ng-container>
										<ng-template #bloqueExistenVehiculo>
											<div class="container text-center">
												<ng-container
													*ngIf="cambiarEstadoForm === 2; else bloqueRegitrarVehiculo">
													<h3 class="text-center">Aún no tiene vehículos registrados</h3>
													<h4 class="text-center">¿Desea registrar un vehículo?</h4>
													<button mat-raised-button class="btn btn-optimus-black"
														data-toggle="modal" (click)="modalRegistrarVehiculo()">
														<i class="material-icons">edit</i> Registrar vehículo
													</button>
												</ng-container>
												<ng-template #bloqueRegitrarVehiculo>
													<div class="container my-2">
														<div class="mat-elevation-z2 border rounded"
															style="border-color: #ccc;">
															<div class="row justify-content-center">
																<div class="col-md-12">
																	<span class="d-block p-2 text-center">
																		No existen datos para mostrar
																	</span>
																</div>
															</div>
														</div>
													</div>
												</ng-template>
											</div>
										</ng-template>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
</div>

<!-- Inicia Modal Finalizar Atención -->
<div class="modal fade bg-modal" id="modalFinalizarAtencionAgente" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Finalizar Atención</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form ngNativeValidate [formGroup]="finalizarAtencionAgenteForm"
					(ngSubmit)="onSubmitFinalizarAtencion()" autocomplete="off">
					<div class="row justify-content-center">
						<div class="col-md-9 text-center">
							<mat-form-field>
								<mat-select [compareWith]="compararDato" placeholder="Tipificación" name="tipificacion"
									formControlName="tipificacion">
									<mat-option *ngFor="let tipo of tipificacionArray" [value]="tipo.valor">
										{{ tipo.nombre }}
									</mat-option>
								</mat-select>
								<mat-error
									*ngIf="finalizarAtencionAgenteForm.get('tipificacion').hasError('required') && finalizarAtencionAgenteForm.get('tipificacion').touched">
									El campo tipificación es <strong>requerido</strong>
								</mat-error>
							</mat-form-field>
						</div>
					</div>
					<div class="row justify-content-center pt-3">
						<div class="col-md-9 text-center">
							<mat-form-field class="example-full-width">
								<textarea matInput formControlName="observacion" placeholder="Observación"
									name="observacion"></textarea>
							</mat-form-field>
						</div>
					</div>
					<div class="row justify-content-center py-3">
						<div class="col-md-6 text-center">
							<button mat-raised-button [disabled]="finalizarAtencionAgenteForm.invalid"
								class="btn btn-optimus-black">
								Finalizar Atención
							</button>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Finaliza Modal Finalizar Atención -->

<!-- Modal Actualizar Vehiculos-->
<div class="modal fade bg-modal" id="modalVehiculoCliente" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">{{tituloModal}} Vehículo</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<form class="my-4" ngNativeValidate [formGroup]="vehiculoClienteRegActFormGroup"
					(ngSubmit)="onSubmitVehiculoForm(opcionForm)">
					<div class="card-body ">
						<div class="row justify-content-center">
							<div class="col-sm-5 mb-2">
								<mat-form-field class="example-full-width">
									<input matInput formControlName="placa" placeholder="Placa" name="placa" id="placa"
										(keyup)="mayusculas($event)" type="text" required>
									<mat-error
										*ngIf="vehiculoClienteRegActFormGroup.get('placa').hasError('required') && vehiculoClienteRegActFormGroup.get('placa').touched">
										El campo placa es <strong>requerido</strong>
									</mat-error>
									<mat-error
										*ngIf="vehiculoClienteRegActFormGroup.get('placa').hasError('pattern') && vehiculoClienteRegActFormGroup.get('placa').touched">
										La placa debe tener el siguiente formato <strong>Ejm: ABC123</strong>
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col-sm-5 mb-2">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Tipo Vehículo" name="version"
										id="version" formControlName="version" required>
										<mat-option *ngFor="let tipo of versionVehiculoArray" [value]="tipo.valor">
											{{ tipo.nombre }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="vehiculoClienteRegActFormGroup.get('version').hasError('required') && vehiculoClienteRegActFormGroup.get('version').touched">
										El campo tipo de vehículo es <strong>requerido</strong></mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-5 mb-2">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Modelo" name="modelo"
										id="modelo" formControlName="modelo">
										<mat-option *ngFor="let tipo of modeloArray" [value]="tipo.valor">
											{{ tipo.nombre }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="vehiculoClienteRegActFormGroup.get('modelo').hasError('required') && vehiculoClienteRegActFormGroup.get('modelo').touched">
										El campo modelo es <strong>requerido</strong></mat-error>
								</mat-form-field>
							</div>
							<div class="col-sm-5 mb-2">
								<mat-form-field class="example-full-width">
									<input matInput formControlName="vin" placeholder="VIN" name="vin" id="vin"
										type="text">
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-5 mb-2">
								<mat-form-field>
									<mat-select [compareWith]="compararDato" placeholder="Tipo de Aceite"
										name="tipoAceite" id="tipoAceite" formControlName="tipoAceite" required>
										<mat-option *ngFor="let tipo of tipoAceiteArray" [value]="tipo.valor">
											{{ tipo.nombre }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="vehiculoClienteRegActFormGroup.get('tipoAceite').hasError('required') && vehiculoClienteRegActFormGroup.get('tipoAceite').touched">
										El campo modelo es <strong>requerido</strong></mat-error>
								</mat-form-field>
							</div>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-md-8 col-sm-5 my-3 text-center">
							<button mat-raised-button [disabled]="vehiculoClienteRegActFormGroup.invalid"
								class="btn btn-fill btn-optimus-black">
								<i class="material-icons">edit</i> Guardar
							</button>
						</div>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Actualizar Vehiculos-->

<!-- Modal Calcular Proyeccion vehicular-->
<div class="modal fade bg-modal" id="modalCalcularProyeccionVehiculosCliente" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Kilometraje a Proyectar</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<h4 class="d-block py-0 my-2 text-uppercase text-break text-center font-weight-bold">
					Vehículo: {{nombreVehiculo}}
				</h4>

				<form class="my-4" ngNativeValidate [formGroup]="calcularProyeccionVehiculoFormGroup"
					(ngSubmit)="onSubmitCalcularProyeccionVehiculoCliente()">
					<div class="card-body ">
						<div class="row justify-content-center">
							<div class="col-sm-10 mb-2">
								<mat-form-field class="">
									<input matInput formControlName="kmActual" placeholder="Kilometraje Actual"
										name="kmActual" id="kmActual" type="text">
									<span matSuffix> KM</span>
									<mat-error
										*ngIf="calcularProyeccionVehiculoFormGroup.get('kmActual').hasError('pattern') && calcularProyeccionVehiculoFormGroup.get('kmActual').touched">
										El kilometraje actual debe tener el siguiente formato <strong>Ejm:
											1000</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<ng-container *ngIf="ocultarCampoKM">
							<div class="row justify-content-center">
								<div class="col-sm-10 mb-2">
									<mat-form-field class="">
										<input matInput formControlName="kmProyectar"
											placeholder="Kilometraje a Proyectar" name="kmProyectar" id="kmProyectar"
											type="text">
										<span matSuffix> KM</span>
										<mat-error
											*ngIf="calcularProyeccionVehiculoFormGroup.get('kmProyectar').hasError('pattern') && calcularProyeccionVehiculoFormGroup.get('kmProyectar').touched">
											El kilometraje a proyectar debe tener el siguiente formato <strong>Ejm:
												1000</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
						</ng-container>
					</div>
					<div class="row justify-content-center">
						<div class="col-md-8 col-sm-5 my-3 text-center">
							<button mat-raised-button [disabled]="calcularProyeccionVehiculoFormGroup.invalid"
								class="btn btn-fill btn-optimus-black">
								<i class="material-icons">edit</i> Guardar
							</button>
						</div>
					</div>
				</form>
				<!-- </ng-container>
				<ng-template #bloqueOcultarCampoKM>
					<form class="my-4" ngNativeValidate [formGroup]="calcularProyeccionVehiculoFormGroup"
						(ngSubmit)="onSubmitCalcularProyeccionVehiculoCliente()">
						<div class="card-body ">
							<div class="row justify-content-center">
								<div class="col-sm-10 mb-2">
									<mat-form-field class="">
										<input matInput formControlName="kmActual" placeholder="Kilometraje Actual"
											name="kmActual" id="kmActual" type="text">
										<span matSuffix> KM</span>
										<mat-error
											*ngIf="calcularProyeccionVehiculoFormGroup.get('kmActual').hasError('pattern') && calcularProyeccionVehiculoFormGroup.get('kmActual').touched">
											El kilometraje actual debe tener el siguiente formato <strong>Ejm:
												1000</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-md-8 col-sm-5 my-3 text-center">
								<button mat-raised-button [disabled]="calcularProyeccionVehiculoFormGroup.invalid"
									class="btn btn-fill btn-optimus-black">
									<i class="material-icons">edit</i> Guardar
								</button>
							</div>
						</div>
					</form>
				</ng-template> -->

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Calcular Proyeccion vehicular-->