<footer class="footer ">
    <div class="container">
        <div class="copyright pull-left">
            &copy; {{test | date: 'yyyy'}}, Desarrollado por: <i class="material-icons">directions_car</i> OL Gaviria SCS
        </div>
        <div class="copyright pull-right">
            <i class="material-icons">biotech</i> {{version}}
        </div>
    </div>
</footer>