<app-loading *ngIf="loading"></app-loading>

<div class="main-content">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center text-md-left pb-md-4 pb-3">
				<button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresar()">
					<i class="material-icons">arrow_back</i> Regresar
				</button>
			</div>
		</div>
		<ng-container *ngIf="mostrarFormBuscarDocumento; else bloqueBuscarCliente">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="card card-optimus py-1">
						<div class="card-header">
							<h4 class="card-title d-flex">
								<i class="material-icons p-1">view_list</i>
								<span class="py-1 text-uppercase">Busqueda de Clientes</span>
							</h4>
						</div>
						<form class="my-4" ngNativeValidate [formGroup]="buscarDocumentoForm"
							(ngSubmit)="onSubmitBuscarDocumento()">
							<div class="row justify-content-center">
								<div class="col-md-10 mx-3 text-center">
									<mat-form-field class="example-full-width">
										<input matInput formControlName="documento" placeholder="Documento"
											name="documento" type="text" required>
										<mat-error
											*ngIf="buscarDocumentoForm.get('documento').hasError('required')&& buscarDocumentoForm.get('documento').touched">
											El campo documento es <strong>requerido</strong>
										</mat-error>
										<mat-error
											*ngIf="buscarDocumentoForm.get('documento').hasError('pattern')&& buscarDocumentoForm.get('documento').touched">
											El documento debe tener el siguiente formato <strong>Ejm:
												1085100100</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-md-6 text-center">
									<button mat-raised-button
										[disabled]="buscarDocumentoForm.get('documento').hasError('required') || buscarDocumentoForm.get('documento').hasError('pattern')"
										class="btn btn-fill btn-optimus-black">
										<i class="material-icons">search</i> Buscar
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</ng-container>
		<ng-template #bloqueBuscarCliente>

			<div class="row justify-content-center mb-3">
				<div class="col-md-10">
					<div class="card card-profile">
						<div class="card-avatar mt-2">
							<img class="img" src="./assets/img/faces/avatar.png" />
						</div>
						<h3 class="font-weight-bolder text-break text-center mt-5">CLIENTE:
							{{cliente.nombres | uppercase}} {{cliente.apellidos | uppercase}}</h3>
					</div>
				</div>
			</div>

			<ng-container *ngIf="mostrarFormularios; else bloqueFormularios">
				<div class="row justify-content-center">
					<div class="col-md-10">
						<div class="card card-optimus py-1">
							<div class="card-header">
								<h4 class="card-title d-flex">
									<i class="material-icons p-1">mail_outline</i>
									<span class="py-1 text-uppercase">Agendamiento de citas</span>
								</h4>
							</div>
							<div class="card-body ">
								<h5 class="text-center text-muted">Seleccione una fecha y el técnico de su
									preferencia</h5>
								<div class="row justify-content-center">
									<div class="col-sm-5 my-4">
										<mat-form-field>
											<mat-label>Selecionar fecha</mat-label>
											<input matInput [matDatepickerFilter]="filtroDiasBloqueados"
												[matDatepicker]="picker" placeholder="Fecha cita"
												(click)="picker.open()" (dateChange)="activarSelectTecnivo($event)"
												[(ngModel)]="disponibilidadHoras.fecha" id="fecha" #fecha="ngModel"
												[disabled]="iconoDataPicker" required>
											<mat-datepicker-toggle matSuffix [for]="picker"
												[disabled]="iconoDataPicker">
											</mat-datepicker-toggle>
											<mat-datepicker #picker></mat-datepicker>
										</mat-form-field>
									</div>
									<div class="col-sm-5 my-4">
										<mat-form-field>
											<mat-select [compareWith]="compararDato" placeholder="Técnico"
												name="tecnico" id="tecnico" [(ngModel)]="disponibilidadHoras.tecnico"
												#tecnico="ngModel" required>
												<mat-option *ngFor="let tecnico of tecnicosArray" [value]="tecnico.id"
													(click)="onSubmitConsultarDisponibilidadTecnico()">
													<span>{{ tecnico.nombre }}</span>
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
								</div>

								<div class="row justify-content-center">
									<div class="col-md-4 text-center">
										<button [disabled]="fecha.invalid && tecnico.invalid" mat-raised-button
											class="btn btn-fill btn-optimus-green" type="button"
											(click)="limpiarCamposAgenda()"><i class="material-icons">search</i> Nueva
											consulta</button>
									</div>
									<div class="col-md-4 text-center" *ngIf="botonClienteEncontrado">
										<button mat-raised-button class="btn btn-fill btn-optimus-black" type="button"
											(click)="buscarOtroCliente()"><i class="material-icons">search</i> buscar
											nuevo
											cliente</button>
									</div>
								</div>

								<ng-container *ngIf="mensajeNoDisponibilidad">
									<hr>
									<div class="my-4 text-center text-danger">
										<h4 class="mb-3">El técnico seleccionado no posee horas disponibles para la
											fecha
											insertada.</h4>
									</div>
									<hr>
								</ng-container>

								<ng-container *ngIf="mostrarHoras">
									<div class="my-3">
										<hr>
										<div class="border" style="border-radius: 6px; background: #f9f9f9;">
											<div class="text-center py-2" style="color: #171717 !important;">
												<h4 class="my-0 text-break"><strong>Fecha Agendada:</strong>
													{{mostrarFecha}}
												</h4>
											</div>
											<div class="text-center py-2" style="color: #171717 !important;">
												<h4 class="mb-3">Si desea agendar con otro técnico de clic en el botón
													<strong>Nueva
														Consulta</strong>.
												</h4>
											</div>
										</div>
										<hr>
										<div class="row justify-content-center">
											<div class="col-sm-6">
												<mat-form-field>
													<mat-select [compareWith]="compararDato"
														placeholder="Horas disponibles" name="horas" id="horas"
														[(ngModel)]="horasDisponibles.horas" #horas="ngModel" required>
														<mat-option *ngFor="let horas of horasArray"
															[value]="horas.valor" (click)="seleccionarHora()">
															<span>{{ horas.hora }}</span>
														</mat-option>
													</mat-select>
												</mat-form-field>
											</div>
										</div>
									</div>

									<ng-container *ngIf="mostrarFormVehiculos">
										<form ngNativeValidate [formGroup]="agendarCitaForm"
											(ngSubmit)="onSubmitAgendarCita()" autocomplete="off" class="form border"
											style="border-radius: 6px; background: #f9f9f9;">
											<div class="card-body">

												<div class="row justify-content-center">
													<div class="col-sm-10 text-center my-sm-2 my-md-2 my-3">
														<h5 class="text-muted">{{mensajeCliente}}</h5>
													</div>
												</div>
												<div class="row justify-content-center">
													<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field>
															<mat-select [compareWith]="compararDato"
																placeholder="Vehículos" name="vehiculo" id="vehiculo"
																formControlName="vehiculo">
																<mat-option *ngFor="let vehiculo of vehiculosArray"
																	[value]="vehiculo.id">
																	{{ vehiculo.placa }} - {{ vehiculo.modelo }}
																</mat-option>
															</mat-select>
														</mat-form-field>
														<mat-error
															*ngIf="agendarCitaForm.get('vehiculo').hasError('required') && agendarCitaForm.get('vehiculo').touched">
															El campo vehículo es <strong>requerido</strong>
														</mat-error>
													</div>
													<div class="col-sm-5 text-center my-sm-2 my-md-2 my-3">
														<mat-form-field class="example-full-width">
															<textarea matInput rows="2" formControlName="observacion"
																placeholder="Observaciones" name="observacion"
																id="observacion" type="text"></textarea>
														</mat-form-field>
													</div>
												</div>
											</div>
											<div class="container">
												<div class="row justify-content-center">
													<div class="col-md-6 text-center my-3">
														<button mat-raised-button [disabled]="agendarCitaForm.invalid"
															class="btn btn-fill btn-optimus-black">Agendar Cita</button>
													</div>
												</div>
											</div>
										</form>
									</ng-container>
								</ng-container>
							</div>
						</div>
					</div>
				</div>
			</ng-container>
			<ng-template #bloqueFormularios>
				<hr>
				<div class="text-center" style="color: #171717 !important;">
					<h5 class="mb-3">El cliente seleccionado no posee vehículos. Actualice los datos
						del cliente y registre los vehículos que este posea.
					</h5>
				</div>
			</ng-template>

		</ng-template>
	</div>
</div>