<app-loading *ngIf="loading"></app-loading>
<div class="main-content">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center text-md-left pb-md-4 pb-3">
				<button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresar()">
					<i class="material-icons">arrow_back</i> Regresar
				</button>
			</div>
		</div>

		<div class="row justify-content-center mb-2">
			<div class="col-md-10">
				<h2 class="font-weight-bolder text-break text-center mb-5">GESTIÓN DE FUNCIONES DEL CARGO
					{{nombreCargoVariable | uppercase}}</h2>
				<p class="mb-4 mb-md-5">
					A continuación se lista las funciones del cargo {{nombreCargoVariable}}.
				</p>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row justify-content-end mb-3 mb-md-3">
				<div class="col-md-6 text-md-right text-center">
					<button type="button" class="btn btn-optimus-black" (click)="crearNuevaFuncion()"
						matTooltip="Agregar nueva función al cargo" [matTooltipPosition]="'below'">
						<i class="material-icons">add_circle_outline</i> Nueva Función
					</button>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="card my-0">
					<div id="accordion" role="tablist">
						<div class="card-collapse card-optimus m-0">
							<div class="card-header pt-3" role="tab" id="headingOne">
								<h4 class="mx-4">
									<a data-toggle="collapse" href="#collapseOne" aria-expanded="false"
										aria-controls="collapseOne" class="collapsed text-white text-uppercase">
										<span class="material-icons md-48">visibility</span> Visualizar Información del
										Cargo
										<i class="material-icons">keyboard_arrow_down</i>
									</a>
								</h4>
							</div>
							<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
								data-parent="#accordion">
								<div class="card-body">

									<div class="row justify-content-center">
										<div class="col-md-5 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-2 mr-md-2 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">person</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block py-1">Nombre del Cargo:</strong>
													<span class="d-block py-1">
														{{cargoEmpleado.nombre | uppercase}}
													</span>
												</div>
											</div>
										</div>
										<div class="col-md-5 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-2 mr-md-2 col-sm-3">
													<i
														class="material-icons py-2 mx-1 font-size-icono">reduce_capacity</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block pt-1">Área: </strong>
													<span class="d-block pb-1">{{cargoEmpleado.area}}</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-md-5 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-2 mr-md-2 col-sm-3">
													<i
														class="material-icons py-2 mx-1 font-size-icono">safety_divider</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block py-1">Dependencia:</strong>
													<span class="d-block py-1">
														{{cargoEmpleado.dependencia}}
													</span>
												</div>
											</div>
										</div>
										<div class="col-md-5 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-2 mr-md-2 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">linear_scale</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block pt-1">Periodo de Pago: </strong>
													<span class="d-block pb-1">{{cargoEmpleado.periodoPago}}</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-md-5 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-2 mr-md-2 col-sm-3">
													<i
														class="material-icons py-2 mx-1 font-size-icono">filter_9_plus</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block py-1">Número de Cargos:</strong>
													<span class="d-block py-1">
														{{cargoEmpleado.numCargos}}
													</span>
												</div>
											</div>
										</div>
										<div class="col-md-5 col-sm-5 mx-3 mx-lg-3 py-2">
											<div class="row">
												<div class="col-3 col-md-2 mr-md-2 col-sm-3">
													<i class="material-icons py-2 mx-1 font-size-icono">account_tree</i>
												</div>
												<div class="col-9 col-md-9 col-sm-9">
													<strong class="d-block pt-1">Ubicación Organigrama: </strong>
													<span
														class="d-block pb-1">{{cargoEmpleado.ubicacionOrganigrama}}</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row justify-content-center mt-4">
										<div class="col-md-8 col-sm-5 text-center mx-1 mx-sm-2 mx-md-3 mx-lg-4">
											<strong class="ml-1 py-1">Misión </strong>
											<p class="text-justify" [innerHTML]="cargoEmpleado.mision"></p>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="mat-elevation-z8">
					<div class="card">
						<div class="card-body m-0 p-0">
							<div class="table-responsive">
								<table class="table table-hover table-bordered table-optimus">
									<thead>
										<tr>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[0] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[1] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[2] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[3] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[4] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[5] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[6] }}
											</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let row of dataTable.dataRows; let i=index">
											<th scope="row" class="text-center">{{i+1}}</th>
											<td class="text-center">{{row?.titulo}}</td>
											<td class="text-center">
												<button class="btn btn-link btn-optimus-green"
													(click)="observarTexto(row?.accionEspecifica)">
													Ver más
												</button>
											</td>
											<td class="text-center">{{row?.resultadosObtenidos}}</td>
											<td class="text-center">{{row?.tiempoEjecucion}}</td>
											<td class="text-center">{{row?.recursosUtilizados}}</td>
											<td class="text-center">
												<button class="btn btn-link btn-optimus-green btn-just-icon edit"
													(click)="actualizarCargo(row)" matTooltip="Actualizar Función"
													[matTooltipPosition]="'below'">
													<i class="material-icons">edit</i>
												</button>
											</td>
										</tr>
										<tr *ngIf="(dataTable.dataRows.length === 0)">
											<td colspan="7" class="text-center">
												<ng-container *ngIf="consultaVaciaCargarSpinner; else bloqueCargaDatosRCA">
													No hay datos para mostrar
												</ng-container>
												<ng-template #bloqueCargaDatosRCA>
													<app-loading-spinner></app-loading-spinner>
												</ng-template>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="container text-muted">
							<div class="row justify-content-center">
								<div class="col-md-7">
									<div
										class="pt-2 ml-0 ml-sm-3 ml-md-3 ml-lg-3 text-center text-sm-left text-md-left text-lg-left text-silver">
										Total Registros: {{total_item_count}}
									</div>
								</div>
								<div class="col-md-4 text-center text-silver">
									<nav aria-label="..." class="align-items-center">
										<ul class="pagination align-items-center">
											<li class="page-item">
												<p class="mx-4 my-2">Página {{page_actual}} de {{total_pages}}</p>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Primera página"
													[matTooltipPosition]="'below'" (click)="listarFuncionesCargos(1)">
													<i class="material-icons">first_page</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Atrás"
													[matTooltipPosition]="'below'"
													(click)="listarFuncionesCargos(page_prev)">
													<i class="material-icons">navigate_before</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Siguiente"
													[matTooltipPosition]="'below'"
													(click)="listarFuncionesCargos(page_next)">
													<i class="material-icons">navigate_next</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Última página"
													[matTooltipPosition]="'below'"
													(click)="listarFuncionesCargos(total_pages)">
													<i class="material-icons">last_page</i>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
						<!-- end content-->
					</div>
					<!--  end card  -->
				</div>
			</div>
			<!-- end col-md-12 -->
		</div>
		<!-- end row -->
	</div>
</div>

<!-- Modal Crear cargos-->
<div class="modal fade bg-modal" id="modalFuncionesCargosCrear" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Agregar nueva función al cargo</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<form class="mt-3" ngNativeValidate [formGroup]="crearFuncionesCargoFormGroup"
					(ngSubmit)="onSubmitCrearFuncionCargo()">
					<div class="card-body ">
						<div class="row justify-content-center">
							<div class="col-sm-5 mb-2">
								<mat-form-field class="example-full-width">
									<input matInput formControlName="titulo" placeholder="Título" name="titulo"
										id="titulo" type="text" required>
									<mat-error
										*ngIf="crearFuncionesCargoFormGroup.get('titulo').hasError('required') && crearFuncionesCargoFormGroup.get('titulo').touched">
										El campo título es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col-sm-5 mb-2">
								<mat-form-field class="example-full-width">
									<input matInput formControlName="resultadosObtenidos"
										placeholder="Resultados obtenidos" name="resultadosObtenidos"
										id="resultadosObtenidos" type="text" required>
									<mat-error
										*ngIf="crearFuncionesCargoFormGroup.get('resultadosObtenidos').hasError('required') && crearFuncionesCargoFormGroup.get('resultadosObtenidos').touched">
										El campo resultados obtenidos es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-5 mb-2">
								<mat-form-field class="example-full-width">
									<input matInput formControlName="tiempoEjecucion" placeholder="Tiempo de ejecución"
										name="tiempoEjecucion" id="tiempoEjecucion" type="text" required>
									<mat-error
										*ngIf="crearFuncionesCargoFormGroup.get('tiempoEjecucion').hasError('required') && crearFuncionesCargoFormGroup.get('tiempoEjecucion').touched">
										El campo tiempo de ejecución es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col-sm-5 mb-2">
								<mat-form-field class="example-full-width">
									<input matInput formControlName="recursosUtilizados"
										placeholder="Recursos utilizados" name="recursosUtilizados"
										id="recursosUtilizados" type="text" required>
									<mat-error
										*ngIf="crearFuncionesCargoFormGroup.get('recursosUtilizados').hasError('required') && crearFuncionesCargoFormGroup.get('recursosUtilizados').touched">
										El campo recursos utilizados es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-10">
								<mat-form-field class="example-full-width">
									<textarea matInput formControlName="accionEspecifica" rows="5"
										placeholder="Acción específica" name="accionEspecifica" id="accionEspecifica"
										required></textarea>
									<mat-error
										*ngIf="crearFuncionesCargoFormGroup.get('accionEspecifica').hasError('required') && crearFuncionesCargoFormGroup.get('accionEspecifica').touched">
										El campo acción específica es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-md-5 col-sm-5 text-center">
								<button mat-raised-button class="btn btn-fill btn-optimus-green"
									(click)="limpiarFormulario()">
									<i class="material-icons">delete</i> Limpiar
								</button>
							</div>
							<div class="col-md-5 col-sm-5 text-center">
								<button mat-raised-button [disabled]="crearFuncionesCargoFormGroup.invalid"
									class="btn btn-fill btn-optimus-black">
									<i class="material-icons">edit</i> Guardar
								</button>
							</div>
						</div>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Crear cargos-->

<!-- Modal Actualizar cargos-->
<div class="modal fade bg-modal" id="modalFuncionesCargos" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Actualizar Función del Cargo</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<form class="my-4" ngNativeValidate [formGroup]="actualizarFuncionCargoFormGroup"
					(ngSubmit)="onSubmitActualizarFuncionesCargo()">
					<div class="card-body ">
						<div class="row justify-content-center">
							<div class="col-sm-5">
								<mat-form-field class="example-full-width">
									<input matInput formControlName="titulo" placeholder="Título" name="titulo"
										id="titulo" type="text" required>
									<mat-error
										*ngIf="actualizarFuncionCargoFormGroup.get('titulo').hasError('required') && actualizarFuncionCargoFormGroup.get('titulo').touched">
										El campo título es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col-sm-5">
								<mat-form-field class="example-full-width">
									<input matInput formControlName="resultadosObtenidos"
										placeholder="Resultados obtenidos" name="resultadosObtenidos"
										id="resultadosObtenidos" type="text" required>
									<mat-error
										*ngIf="actualizarFuncionCargoFormGroup.get('resultadosObtenidos').hasError('required') && actualizarFuncionCargoFormGroup.get('resultadosObtenidos').touched">
										El campo resultados obtenidos es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-5">
								<mat-form-field class="example-full-width">
									<input matInput formControlName="tiempoEjecucion" placeholder="Tiempo de ejecución"
										name="tiempoEjecucion" id="tiempoEjecucion" type="text" required>
									<mat-error
										*ngIf="actualizarFuncionCargoFormGroup.get('tiempoEjecucion').hasError('required') && actualizarFuncionCargoFormGroup.get('tiempoEjecucion').touched">
										El campo tiempo de ejecución es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col-sm-5">
								<mat-form-field class="example-full-width">
									<input matInput formControlName="recursosUtilizados"
										placeholder="Recursos utilizados" name="recursosUtilizados"
										id="recursosUtilizados" type="text" required>
									<mat-error
										*ngIf="actualizarFuncionCargoFormGroup.get('recursosUtilizados').hasError('required') && actualizarFuncionCargoFormGroup.get('recursosUtilizados').touched">
										El campo recursos utilizados es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-10">
								<mat-form-field class="example-full-width">
									<textarea matInput formControlName="accionEspecifica" rows="10"
										placeholder="Acción específica" name="accionEspecifica" id="accionEspecifica"
										required></textarea>
									<mat-error
										*ngIf="actualizarFuncionCargoFormGroup.get('accionEspecifica').hasError('required') && actualizarFuncionCargoFormGroup.get('accionEspecifica').touched">
										El campo acción específica es <strong>requerido</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
					</div>

					<div class="row justify-content-center">
						<div class="col-md-8 col-sm-5 text-center">
							<button mat-raised-button [disabled]="actualizarFuncionCargoFormGroup.invalid"
								class="btn btn-fill btn-optimus-black">
								<i class="material-icons">edit</i> Guardar
							</button>
						</div>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Actualizar cargos-->

<!-- Modal Mirar Acción Especifica -->
<div class="modal fade bg-modal" id="modalAccionEspecifica" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Acción Específica</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<div class="container">
					<p class="text-justify" [innerHTML]="textoExtendido"></p>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Mirar Acción Especifica -->