/* Estilos paginación  */
.pointer {
    cursor: pointer;
}

/* Boton nueva cotizacion */
.color-icono .material-icons {
    padding: 13px;
    border-radius: 10px;
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    color: #fff;
}

.color-icono span {
    font-size: 1em;
    color: #3C4858;
}

/*Icono fecha*/
.icono-espacio .material-icons {
    margin: 0 6px;
}


/* Boton nueva cotizacion */
.color1-icono .material-icons {
    padding: 13px;
    border-radius: 10px;
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    color: #fff;
}

.color1-icono span {
    font-size: 1em;
    color: #3C4858;
}

/* acorderon */
.accord-headers-align .mat-expansion-panel-header-title,
.accord-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.accord-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.accord-headers-align {
	width: 100%;
	margin: 0 0 2px 0;
}