<app-loading *ngIf="loading"></app-loading>
<div class="main-content">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center text-md-left pb-md-4 pb-3">
				<button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresar()">
					<i class="material-icons">arrow_back</i> Regresar
				</button>
			</div>
		</div>

		<div class="row justify-content-center mb-3">
			<div class="col-md-10">
				<h2 class="font-weight-bolder text-break text-center mb-5">LISTA DE CLIENTES EN ESPERA</h2>
				<p class="mb-4 mb-md-5">
					A continuación se lista la información de los clientes en espera.
				</p>
			</div>
		</div>

		<ng-container *ngIf="downloadMostrar">
			<div class="container-fluid">
				<div class="row justify-content-end mb-3 mb-md-3">
					<div class="col-md-3 text-md-right text-center">
						<button mat-button class="btn btn-optimus-green" (click)="descargarArchivoEstadisticasAlert()"
							matTooltip="Descargar Estadísticas" [matTooltipPosition]="'below'">
							<i class="fa fa-file-excel-o" aria-hidden="true"></i>
						</button>
					</div>
				</div>
			</div>
		</ng-container>

		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="card card-optimus py-1">
					<div class="card-header">
						<h4 class="card-title d-flex">
							<i class="material-icons p-1">search</i>
							<span class="py-1 text-uppercase">Generar reporte</span>
						</h4>
					</div>

					<form ngNativeValidate [formGroup]="buscarFiltrosForm" (ngSubmit)="onSubmitBuscarReporte()"
						autocomplete="off" class="p-4 mt-3">
						<div class="row justify-content-center">
							<div class="col-sm-5 mb-2">
								<mat-form-field>
									<input matInput placeholder="Fecha Inicial" [matDatepicker]="picker1"
										(click)="picker1.open()" formControlName="fechaInicial" name="fechaInicial"
										id="fechaInicial" required>
									<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
									<mat-datepicker #picker1></mat-datepicker>
									<mat-error
										*ngIf="buscarFiltrosForm.get('fechaInicial').hasError('required') && buscarFiltrosForm.get('fechaInicial').touched">
										El campo fecha inicial es <strong>requerido</strong></mat-error>
								</mat-form-field>
							</div>
							<div class="col-sm-5 mb-2">
								<mat-form-field>
									<input matInput placeholder="Fecha Final" [matDatepicker]="picker2"
										(click)="picker2.open()" formControlName="fechaFinal" name="fechaFinal"
										id="fechaFinal" required>
									<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
									<mat-datepicker #picker2></mat-datepicker>
									<mat-error
										*ngIf="buscarFiltrosForm.get('fechaFinal').hasError('required') && buscarFiltrosForm.get('fechaFinal').touched">
										El campo fecha final es <strong>requerido</strong></mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-md-6 text-center my-3">
									<button mat-raised-button class="btn btn-fill btn-optimus-green" type="button"
										(click)="limpiarFiltros()"><i class="material-icons">search</i> Limpiar
										filtros</button>
								</div>
								<div class="col-md-6 text-center my-3">
									<button mat-raised-button class="btn btn-fill btn-optimus-black"
										[disabled]="buscarFiltrosForm.invalid"><i class="material-icons">search</i>
										Consultar</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="mat-elevation-z8">
					<div class="card">
						<div class="card-body m-0 p-0">
							<div class="table-responsive">
								<table class="table table-hover table-bordered table-optimus">
									<thead>
										<tr>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[0] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[1] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[2] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[3] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[4] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[5] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[6] }}
											</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let row of dataTable.dataRows; let i=index">
											<th scope="row" class="text-center">{{i+1}}</th>
											<td class="text-left"><strong>{{row?.tipoDoc}}</strong> {{row?.documento}}
											</td>
											<td class="text-left">{{row?.nombres | uppercase}}
												{{row?.apellidos | uppercase}}</td>
											<td class="text-center">{{row?.fechaIngreso | date: "short"}}</td>
											<td class="text-center">{{row?.canalIngreso}}</td>
											<td class="text-left">{{row?.asesor | uppercase}}</td>
											<td class="text-center">
												<button
													class="btn btn-link btn-optimus-green btn-just-icon editaccount_box"
													(click)="buscarIdCliente(row?.id)"
													matTooltip="Ver Ingresos Cliente" [matTooltipPosition]="'below'">
													<i class="material-icons">account_box</i>
												</button>
											</td>
										</tr>
										<tr *ngIf="(dataTable.dataRows.length === 0)">
											<td colspan="7" class="text-center">
												<ng-container *ngIf="consultaVaciaCargarSpinner; else bloqueCargaDatosRCA">
													No hay datos para mostrar
												</ng-container>
												<ng-template #bloqueCargaDatosRCA>
													<app-loading-spinner></app-loading-spinner>
												</ng-template>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="container text-muted">
							<div class="row justify-content-center">
								<div class="col-md-7">
									<div
										class="pt-2 ml-0 ml-sm-3 ml-md-3 ml-lg-3 text-center text-sm-left text-md-left text-lg-left">
										Total Registros: {{total_item_count}}
									</div>
								</div>
								<div class="col-md-4 text-center text-silver">
									<nav aria-label="..." class="align-items-center">
										<ul class="pagination align-items-center">
											<li class="page-item">
												<p class="mx-4 my-2">Página {{page_actual}} de {{total_pages}}</p>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Primera página"
													[matTooltipPosition]="'below'" (click)="listarEstadisticas(1)">
													<i class="material-icons">first_page</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Atrás"
													[matTooltipPosition]="'below'"
													(click)="listarEstadisticas(page_prev)">
													<i class="material-icons">navigate_before</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Siguiente"
													[matTooltipPosition]="'below'"
													(click)="listarEstadisticas(page_next)">
													<i class="material-icons">navigate_next</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Última página"
													[matTooltipPosition]="'below'"
													(click)="listarEstadisticas(total_pages)">
													<i class="material-icons">last_page</i>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
						<!-- end content-->
					</div>
					<!--  end card  -->
				</div>
			</div>
			<!-- end col-md-12 -->
		</div>
		<!-- end row -->
	</div>
</div>